Repository SAP/terraform-provider-btp: changes, and which lefthook commands are due for each by the changed paths.
All: gofmt, golangci-lint, terraformfmt

gofmt:
  run: go fmt ./...

golangci-lint:
  run: golangci-lint run --fix

terraformfmt:
  run: terraform fmt {staged_files}

Copilot review fix
  btp/provider/datasource_subaccount_destination_certificates_test.go
  btp/provider/fixtures/datasource_subaccount_destination_certificates.read_certificates.yaml
Due: gofmt, golangci-lint

fix: Fixing validation_duration attribute type (#1626)
  btp/provider/datasource_subaccount_destination_certificate.go
  btp/provider/datasource_subaccount_destination_certificate_test.go
  btp/provider/datasource_subaccount_destination_certificates.go
  btp/provider/datasource_subaccount_destination_certificates_test.go
  btp/provider/fixtures/data_source_subaccount_destination_certificate.read_pem_certificate.yaml
  btp/provider/fixtures/data_source_subaccount_destination_certificate.read_pfx_certificate.yaml
  btp/provider/fixtures/data_source_subaccount_destination_certificate.service_instance.read_p12_certificate.yaml
  btp/provider/fixtures/data_source_subaccount_destination_certificate.service_instance.read_pem_certificate.yaml
  btp/provider/fixtures/data_source_subaccount_destination_certificates.read_certificates.yaml
  btp/provider/fixtures/datasource_subaccount_destination_certificate.read_p12_certificate.yaml
  btp/provider/fixtures/datasource_subaccount_destination_certificate.read_pem_certificate.yaml
  btp/provider/fixtures/datasource_subaccount_destination_certificate.read_pfx_certificate.yaml
  btp/provider/fixtures/datasource_subaccount_destination_certificate.service_instance.read_p12_certificate.yaml
  btp/provider/fixtures/datasource_subaccount_destination_certificate.service_instance.read_pem_certificate.yaml
  btp/provider/fixtures/datasource_subaccount_destination_certificate.service_instance.read_pfx_certificate.yaml
  btp/provider/fixtures/datasource_subaccount_destination_certificates.read_certificates.yaml
  btp/provider/fixtures/resource_subaccount_destination_certificate.create_p12_certificate.yaml
  btp/provider/fixtures/resource_subaccount_destination_certificate.create_pem_certificate.yaml
  btp/provider/fixtures/resource_subaccount_destination_certificate.create_pfx_certificate.yaml
  btp/provider/fixtures/resource_subaccount_destination_certificate.service_instance.create_p12_certificate.yaml
  btp/provider/fixtures/resource_subaccount_destination_certificate.service_instance.create_pfx_certificate.yaml
  btp/provider/resource_subaccount_destination_certificate.go
  btp/provider/resource_subaccount_destination_certificate_test.go
  btp/provider/type_subaccount_destination_certificate.go
  docs/data-sources/subaccount_destination_certificate.md
  docs/data-sources/subaccount_destination_certificates.md
  docs/resources/subaccount_destination_certificate.md
  internal/btpcli/types/destinations/destination_certificate_response_object.go
Due: gofmt, golangci-lint

fix: replacement of service instance upon update
  btp/provider/resource_subaccount_service_instance.go
Due: gofmt, golangci-lint

fix: planmodifier to use state for unknown
  btp/provider/resource_subaccount_service_instance.go
Due: gofmt, golangci-lint

fix: record test fixtures
  btp/provider/fixtures/resource_subaccount_service_instance.creation_error.yaml
  btp/provider/fixtures/resource_subaccount_service_instance.import_error.yaml
  btp/provider/fixtures/resource_subaccount_service_instance.sharing_error.yaml
  btp/provider/fixtures/resource_subaccount_service_instance.with_labels.yaml
  btp/provider/fixtures/resource_subaccount_service_instance.with_labels_change.yaml
  btp/provider/fixtures/resource_subaccount_service_instance.with_parameters.yaml
  btp/provider/fixtures/resource_subaccount_service_instance.with_sharing_conf_changed.yaml
  btp/provider/fixtures/resource_subaccount_service_instance.with_sharing_enabled.yaml
  btp/provider/fixtures/resource_subaccount_service_instance.wo_parameters.yaml
  btp/provider/fixtures/resource_subaccount_service_instance.wo_parameters_by_name.yaml
  btp/provider/fixtures/resource_subaccount_service_instance.wo_parameters_plan_change.yaml
  btp/provider/fixtures/resource_subaccount_service_instance.wo_parameters_plan_change_by_name.yaml
  btp/provider/fixtures/resource_subaccount_service_instance.wo_parameters_with_import.yaml
  btp/provider/fixtures/resource_subaccount_service_instance_with_timeouts.yaml
Due: none

fix: replacement of service instance upon update (#1630)
  btp/provider/fixtures/resource_subaccount_service_instance.creation_error.yaml
  btp/provider/fixtures/resource_subaccount_service_instance.import_error.yaml
  btp/provider/fixtures/resource_subaccount_service_instance.sharing_error.yaml
  btp/provider/fixtures/resource_subaccount_service_instance.with_labels.yaml
  btp/provider/fixtures/resource_subaccount_service_instance.with_labels_change.yaml
  btp/provider/fixtures/resource_subaccount_service_instance.with_parameters.yaml
  btp/provider/fixtures/resource_subaccount_service_instance.with_sharing_conf_changed.yaml
  btp/provider/fixtures/resource_subaccount_service_instance.with_sharing_enabled.yaml
  btp/provider/fixtures/resource_subaccount_service_instance.wo_parameters.yaml
  btp/provider/fixtures/resource_subaccount_service_instance.wo_parameters_by_name.yaml
  btp/provider/fixtures/resource_subaccount_service_instance.wo_parameters_plan_change.yaml
  btp/provider/fixtures/resource_subaccount_service_instance.wo_parameters_plan_change_by_name.yaml
  btp/provider/fixtures/resource_subaccount_service_instance.wo_parameters_with_import.yaml
  btp/provider/fixtures/resource_subaccount_service_instance_with_timeouts.yaml
  btp/provider/resource_subaccount_service_instance.go
Due: gofmt, golangci-lint

chore: prep release 1.25.0
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/binary-integrity-check.yml
  docs/index.md
  examples/provider/provider.tf
Due: terraformfmt

chore: prep release 1.25.0 (#1633)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/binary-integrity-check.yml
  docs/index.md
  examples/provider/provider.tf
Due: terraformfmt

chore: remove go report card as retired
  README.md
Due: none

docs: fix subject-verb agreement and typos in CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

chore: remove go report card as retired (#1640)
  README.md
Due: none

fix: deserialize service instance parameters returned as a flat object
  internal/btpcli/types/servicemanager/model_service_instance_parameters.go
  internal/btpcli/types/servicemanager/model_service_instance_parameters_test.go
Due: gofmt, golangci-lint

Updated failure reporting for integration and regression tests
  .github/workflows/create-issue-on-failure.yml
Due: none

Update test_v1.yml
  .github/workflows/test_v1.yml
Due: none

Copilot review fixes
  .github/workflows/create-issue-on-failure.yml
  .github/workflows/test_v1.yml
Due: none

chore: Updated failure reporting for integration and regression tests (#1646)
  .github/workflows/create-issue-on-failure.yml
  .github/workflows/test_v1.yml
Due: none

Added dependency modification rules to test workflow
  .github/workflows/test_v1.yml
Due: none

chore: Added dependency modification rules to test workflow (#1649)
  .github/workflows/test_v1.yml
Due: none

added adidtional get call to fetch roles on the basis of subaccount id
  btp/provider/helper.go
  btp/provider/resource_directory_role_collection_assignment.go
  btp/provider/resource_globalaccount_role_collection_assignment.go
  btp/provider/resource_subaccount_role_collection_assignment.go
Due: gofmt, golangci-lint

fixtures re record
  btp/provider/fixtures/resource_directory_role_collection_assignment.import_error.yaml
  btp/provider/fixtures/resource_directory_role_collection_assignment.with_origin.yaml
  btp/provider/fixtures/resource_directory_role_collection_assignment.with_origin_and_attribute.yaml
  btp/provider/fixtures/resource_directory_role_collection_assignment.with_origin_and_group.yaml
  btp/provider/fixtures/resource_directory_role_collection_assignment.yaml
  btp/provider/fixtures/resource_globalaccount_role_collection_assignment.import_error.yaml
  btp/provider/fixtures/resource_globalaccount_role_collection_assignment.with_origin.yaml
  btp/provider/fixtures/resource_globalaccount_role_collection_assignment.with_origin_and_attribute.yaml
  btp/provider/fixtures/resource_globalaccount_role_collection_assignment.with_origin_and_group.yaml
  btp/provider/fixtures/resource_globalaccount_role_collection_assignment.yaml
  btp/provider/fixtures/resource_subaccount_role_collection_assignment.import_error.yaml
  btp/provider/fixtures/resource_subaccount_role_collection_assignment.with_origin.yaml
  btp/provider/fixtures/resource_subaccount_role_collection_assignment.with_origin_and_attribute.yaml
  btp/provider/fixtures/resource_subaccount_role_collection_assignment.with_origin_and_group.yaml
  btp/provider/fixtures/resource_subaccount_role_collection_assignment.yaml
Due: none

comments resolve
  btp/provider/resource_directory_role_collection_assignment.go
  btp/provider/resource_globalaccount_role_collection_assignment.go
  btp/provider/resource_subaccount_role_collection_assignment.go
Due: gofmt, golangci-lint

document edit for drift detection
  guides/DRIFTDETECTION.md
Due: none

feat: added additional get call to fetch roles on the basis of subaccount id (#1652)
  btp/provider/fixtures/resource_directory_role_collection_assignment.import_error.yaml
  btp/provider/fixtures/resource_directory_role_collection_assignment.with_origin.yaml
  btp/provider/fixtures/resource_directory_role_collection_assignment.with_origin_and_attribute.yaml
  btp/provider/fixtures/resource_directory_role_collection_assignment.with_origin_and_group.yaml
  btp/provider/fixtures/resource_directory_role_collection_assignment.yaml
  btp/provider/fixtures/resource_globalaccount_role_collection_assignment.import_error.yaml
  btp/provider/fixtures/resource_globalaccount_role_collection_assignment.with_origin.yaml
  btp/provider/fixtures/resource_globalaccount_role_collection_assignment.with_origin_and_attribute.yaml
  btp/provider/fixtures/resource_globalaccount_role_collection_assignment.with_origin_and_group.yaml
  btp/provider/fixtures/resource_globalaccount_role_collection_assignment.yaml
  btp/provider/fixtures/resource_subaccount_role_collection_assignment.import_error.yaml
  btp/provider/fixtures/resource_subaccount_role_collection_assignment.with_origin.yaml
  btp/provider/fixtures/resource_subaccount_role_collection_assignment.with_origin_and_attribute.yaml
  btp/provider/fixtures/resource_subaccount_role_collection_assignment.with_origin_and_group.yaml
  btp/provider/fixtures/resource_subaccount_role_collection_assignment.yaml
  btp/provider/helper.go
  btp/provider/resource_directory_role_collection_assignment.go
  btp/provider/resource_globalaccount_role_collection_assignment.go
  btp/provider/resource_subaccount_role_collection_assignment.go
  guides/DRIFTDETECTION.md
Due: gofmt, golangci-lint

Prep release v1.26.0
  .github/ISSUE_TEMPLATE/bug_report.yml
  docs/index.md
  examples/provider/provider.tf
Due: terraformfmt

Prep release v1.26.0 (#1665)
  .github/ISSUE_TEMPLATE/bug_report.yml
  docs/index.md
  examples/provider/provider.tf
Due: terraformfmt

Added new test workflow to release and pre-release check
  .github/workflows/prerelease-check.yml
  .github/workflows/release.yml
Due: none

Added new test workflow to release and pre-release check (#1666)
  .github/workflows/prerelease-check.yml
  .github/workflows/release.yml
Due: none

Replaced the testing workflow for PRs
  .github/workflows/prerelease-check.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .github/workflows/test_v1.yml
Due: none

Replaced the testing workflow for PRs (#1667)
  .github/workflows/prerelease-check.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .github/workflows/test_v1.yml
Due: none

Improved function label extraction to support legacy labels
  btp/provider/helper_extract_environment_label.go
  btp/provider/helper_extract_environment_label_test.go
Due: gofmt, golangci-lint

Improved function label extraction to support legacy labels (#1668)
  btp/provider/helper_extract_environment_label.go
  btp/provider/helper_extract_environment_label_test.go
Due: gofmt, golangci-lint

Path conditions:
  gofmt: any of: *.go, but not: vendor/*
  golangci-lint: any of: *.go, but not: vendor/*
  terraformfmt: any of: *.tf, but not: vendor/*
