Repository SAP/terraform-provider-btp: changes, and which lefthook commands are due for each by the changed paths.
All: gofmt, golangci-lint, terraformfmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    gofmt:
      glob: "*.go"
      run: go fmt ./...
      exclude: "vendor/*"
    golangci-lint:
      glob: "*.go"
      run: golangci-lint run --fix
      exclude: "vendor/*"
    terraformfmt:
      glob: "*.tf"
      run: terraform fmt {staged_files}
      exclude: "vendor/*"

chore: Rename file
  .github/workflows/binary-integrity-check.yml
Due: none

chore: Rename file (#1479)
  .github/workflows/binary-integrity-check.yml
Due: none

chore: gpg check in release and pre-release workflows
  .github/workflows/binary-integrity-check.yml
  .github/workflows/prerelease-check.yml
  .github/workflows/release.yml
Due: none

chore: gpg check in release and pre-release workflows (#1480)
  .github/workflows/binary-integrity-check.yml
  .github/workflows/prerelease-check.yml
  .github/workflows/release.yml
Due: none

Refactor and new implementation for integration tests for terraform provider
  .github/workflows/TF/canary-integration-test-main.yml
  .github/workflows/TF/canary-integration-test-stable.yml
  .github/workflows/TF/live-integration-test-main.yml
  .github/workflows/TF/live-integration-test-stable.yml
  .github/workflows/common-failure-handler.yml
  .github/workflows/integration-test.yml
  fixture-test-setup/README.md
  fixture-test-setup/main.tf
  fixture-test-setup/provider.tf
  fixture-test-setup/variables.tf
  tests/integration-test/canary.tfvars
  tests/integration-test/live.tfvars
  tests/integration-test/main.tf
  tests/integration-test/provider.tf
  tests/integration-test/variables.tf
Due: terraformfmt

Changed folder structure and some more refactoring
  .github/workflows/canary-regression-test.yml
  integration/README.md
  integration/main.tf
  integration/provider.tf
  integration/variables.tf
Due: terraformfmt

Claude reviews fix
  .github/workflows/TF/canary-integration-test-main.yml
  .github/workflows/TF/canary-integration-test-stable.yml
  .github/workflows/TF/live-integration-test-main.yml
  .github/workflows/TF/live-integration-test-stable.yml
Due: none

Updated names for workflows
  .github/workflows/integration-test.yml
  .github/workflows/tf-canary-integration-test-main.yml
  .github/workflows/tf-canary-integration-test-stable.yml
  .github/workflows/tf-live-integration-test-main.yml
  .github/workflows/tf-live-integration-test-stable.yml
Due: none

feat: btp CLI authentication for Terraform (#1469)
  .devcontainer/withbtpcli/devcontainer.json
  btp/provider/provider.go
  docs/index.md
  go.mod
  go.sum
  internal/btpcli/client.go
  internal/btpcli/clienttypes.go
  internal/btpclisession/btpclisession.go
  internal/btpclisession/btpclisession_test.go
  templates/index.md.tmpl
Due: gofmt, golangci-lint

Changed name of workflow
  .github/workflows/integration-test-issue-reporter.yml
  .github/workflows/integration-test.yml
Due: none

chore: Refactor and new implementation for integration tests for terraform provider (#1481)
  .github/workflows/canary-regression-test.yml
  .github/workflows/integration-test-issue-reporter.yml
  .github/workflows/integration-test.yml
  .github/workflows/tf-canary-integration-test-main.yml
  .github/workflows/tf-canary-integration-test-stable.yml
  .github/workflows/tf-live-integration-test-main.yml
  .github/workflows/tf-live-integration-test-stable.yml
  fixture-test-setup/README.md
  fixture-test-setup/main.tf
  fixture-test-setup/provider.tf
  fixture-test-setup/variables.tf
  tests/integration-test/canary.tfvars
  tests/integration-test/live.tfvars
  tests/integration-test/main.tf
  tests/integration-test/provider.tf
  tests/integration-test/variables.tf
Due: terraformfmt

Integration tests for OpenTofu Provider
  .github/workflows/integration-test-opentofu.yml
  .github/workflows/ot-canary-integration-test-main.yml
  .github/workflows/ot-canary-integration-test-stable.yml
  .github/workflows/ot-live-integration-test-main.yml
  .github/workflows/ot-live-integration-test-stable.yml
Due: none

Changes as per claude review
  .github/workflows/ot-canary-integration-test-main.yml
  .github/workflows/ot-canary-integration-test-stable.yml
  .github/workflows/ot-live-integration-test-main.yml
  .github/workflows/ot-live-integration-test-stable.yml
  .github/workflows/tf-canary-integration-test-stable.yml
  .github/workflows/tf-live-integration-test-stable.yml
Due: none

chore: Integration tests for OpenTofu Provider (#1484)
  .github/workflows/integration-test-opentofu.yml
  .github/workflows/ot-canary-integration-test-main.yml
  .github/workflows/ot-canary-integration-test-stable.yml
  .github/workflows/ot-live-integration-test-main.yml
  .github/workflows/ot-live-integration-test-stable.yml
Due: none

Integration Tests Script Changed to avoid conflicts
  tests/integration-test/main.tf
  tests/integration-test/provider.tf
Due: terraformfmt

Integration Tests Script Changed to avoid conflicts (#1485)
  tests/integration-test/main.tf
  tests/integration-test/provider.tf
Due: terraformfmt

Fixing Integration Tests
  .github/workflows/ot-canary-integration-test-main.yml
  .github/workflows/ot-canary-integration-test-stable.yml
  .github/workflows/ot-live-integration-test-main.yml
  .github/workflows/ot-live-integration-test-stable.yml
  .github/workflows/tf-canary-integration-test-main.yml
  .github/workflows/tf-canary-integration-test-stable.yml
  .github/workflows/tf-live-integration-test-main.yml
  .github/workflows/tf-live-integration-test-stable.yml
Due: none

Update integration-test-issue-reporter.yml
  .github/workflows/integration-test-issue-reporter.yml
Due: none

Updated go-pkcs and other dependencies
  go.mod
  go.sum
Due: none

Updated go-pkcs and other dependencies (#1489)
  go.mod
  go.sum
Due: none

fix: Fixing Integration Tests (#1488)
  .github/workflows/integration-test-issue-reporter.yml
  .github/workflows/ot-canary-integration-test-main.yml
  .github/workflows/ot-canary-integration-test-stable.yml
  .github/workflows/ot-live-integration-test-main.yml
  .github/workflows/ot-live-integration-test-stable.yml
  .github/workflows/tf-canary-integration-test-main.yml
  .github/workflows/tf-canary-integration-test-stable.yml
  .github/workflows/tf-live-integration-test-main.yml
  .github/workflows/tf-live-integration-test-stable.yml
Due: none

setting retries in workflows
  .github/workflows/ot-canary-integration-test-main.yml
  .github/workflows/ot-canary-integration-test-stable.yml
  .github/workflows/ot-live-integration-test-main.yml
  .github/workflows/ot-live-integration-test-stable.yml
  .github/workflows/tf-canary-integration-test-main.yml
  .github/workflows/tf-canary-integration-test-stable.yml
  .github/workflows/tf-live-integration-test-main.yml
  .github/workflows/tf-live-integration-test-stable.yml
Due: none

setting retries in workflows (#1491)
  .github/workflows/ot-canary-integration-test-main.yml
  .github/workflows/ot-canary-integration-test-stable.yml
  .github/workflows/ot-live-integration-test-main.yml
  .github/workflows/ot-live-integration-test-stable.yml
  .github/workflows/tf-canary-integration-test-main.yml
  .github/workflows/tf-canary-integration-test-stable.yml
  .github/workflows/tf-live-integration-test-main.yml
  .github/workflows/tf-live-integration-test-stable.yml
Due: none

Fixing terraform apply to fix integration tests
  .github/workflows/ot-canary-integration-test-main.yml
  .github/workflows/ot-canary-integration-test-stable.yml
  .github/workflows/ot-live-integration-test-main.yml
  .github/workflows/ot-live-integration-test-stable.yml
  .github/workflows/tf-canary-integration-test-main.yml
  .github/workflows/tf-canary-integration-test-stable.yml
  .github/workflows/tf-live-integration-test-main.yml
  .github/workflows/tf-live-integration-test-stable.yml
Due: none

Fixing terraform apply to fix integration tests (#1493)
  .github/workflows/ot-canary-integration-test-main.yml
  .github/workflows/ot-canary-integration-test-stable.yml
  .github/workflows/ot-live-integration-test-main.yml
  .github/workflows/ot-live-integration-test-stable.yml
  .github/workflows/tf-canary-integration-test-main.yml
  .github/workflows/tf-canary-integration-test-stable.yml
  .github/workflows/tf-live-integration-test-main.yml
  .github/workflows/tf-live-integration-test-stable.yml
Due: none

Regression Tests for Canary Terraform
  .github/workflows/canary-regression-test.yml
  .github/workflows/schema-regression-test.yml
  tests/regression-test/canary.tfvars
  tests/regression-test/main.tf
  tests/regression-test/provider.tf
  tests/regression-test/subscriptions/canary.tfvars
  tests/regression-test/subscriptions/main.tf
  tests/regression-test/subscriptions/provider.tf
  tests/regression-test/subscriptions/variables.tf
  tests/regression-test/variables.tf
Due: terraformfmt

Update canary-regression-test.yml
  .github/workflows/canary-regression-test.yml
Due: none

Changes to opentofu workflow
  .github/workflows/canary-regression-test.yml
  .github/workflows/schema-regression-test-opentofu.yml
Due: none

chore: Regression Tests for Canary Terraform (#1494)
  .github/workflows/canary-regression-test.yml
  .github/workflows/schema-regression-test-opentofu.yml
  .github/workflows/schema-regression-test.yml
  tests/regression-test/canary.tfvars
  tests/regression-test/main.tf
  tests/regression-test/provider.tf
  tests/regression-test/subscriptions/canary.tfvars
  tests/regression-test/subscriptions/main.tf
  tests/regression-test/subscriptions/provider.tf
  tests/regression-test/subscriptions/variables.tf
  tests/regression-test/variables.tf
Due: terraformfmt

fixing regression test script and workflow
  .github/workflows/canary-regression-test.yml
  tests/regression-test/main.tf
Due: terraformfmt

fixing regression test script and workflow (#1495)
  .github/workflows/canary-regression-test.yml
  tests/regression-test/main.tf
Due: terraformfmt

rerfine error code
  internal/btpcli/facade_accounts_subaccount.go
Due: gofmt, golangci-lint

feat: support pending deletion of subsccounts
  btp/provider/resource_subaccount.go
  internal/btpcli/facade_accounts_subaccount.go
Due: gofmt, golangci-lint

refinement pending deletion
  btp/provider/resource_subaccount.go
  internal/btpcli/facade_accounts_subaccount.go
Due: gofmt, golangci-lint

docs: adjustment of docs
  docs/resources/subaccount.md
  templates/resources/subaccount.md.tmpl
Due: none

feat: add action to restore subaccount
  btp/provider/action_restore_subacount.go
  btp/provider/provider.go
  btp/provider/provider_test.go
  docs/actions/restore_subaccount.md
  examples/actions/btp_restore_subaccount/action.tf
Due: gofmt, golangci-lint, terraformfmt

feat: support pending deletion of subsccounts (#1467)
  btp/provider/resource_subaccount.go
  docs/resources/subaccount.md
  internal/btpcli/facade_accounts_subaccount.go
  templates/resources/subaccount.md.tmpl
Due: gofmt, golangci-lint

feat: enhance facade
  internal/btpcli/actions.go
  internal/btpcli/facade_accounts_subaccount.go
  internal/btpcli/facade_accounts_subaccount_test.go
Due: gofmt, golangci-lint

feat: refine docs, update invoke and validation
  btp/provider/action_restore_subacount.go
  docs/actions/restore_subaccount.md
Due: gofmt, golangci-lint

feat: implement action flow with progress message
  btp/provider/action_restore_subacount.go
  btp/provider/provider.go
  btp/provider/provider_test.go
  internal/btpcli/actions.go
Due: gofmt, golangci-lint
