Repository SAP/terraform-provider-btp: changes, and which lefthook commands are due for each by the changed paths.
All: gofmt, golangci-lint, terraformfmt

gofmt:
  run: go fmt ./...

golangci-lint:
  run: golangci-lint run --fix

terraformfmt:
  run: terraform fmt {staged_files}

chore: regression setup update (#697)
  regression-test/README.md
  regression-test/main.tf
  regression-test/variables.tf
Due: terraformfmt

chore: fix regression setup
  regression-test/main.tf
Due: terraformfmt

chore: fix regression setup (#699)
  regression-test/main.tf
Due: terraformfmt

chore: prep release 1.0.0
  .github/ISSUE_TEMPLATE/bug_report.yml
  docs/index.md
  examples/provider/provider.tf
  integration/provider.tf
Due: terraformfmt

chore: prep release 1.0.0 (#700)
  .github/ISSUE_TEMPLATE/bug_report.yml
  docs/index.md
  examples/provider/provider.tf
  integration/provider.tf
Due: terraformfmt

chore: pin GA version for regression
  .github/release.yml
  regression-test/provider.tf
Due: terraformfmt

enabling directory feature
  internal/btpcli/facade_accounts_directory.go
  internal/btpcli/facade_accounts_directory_test.go
  internal/provider/resource_directory.go
Due: gofmt, golangci-lint

chore: pin GA version for regression (#704)
  .github/release.yml
  regression-test/provider.tf
Due: terraformfmt

feat: removed plan modifierfor subdomain
  internal/provider/fixtures/resource_directory.error_change_features.yaml
  internal/provider/fixtures/resource_directory.full_config.yaml
  internal/provider/fixtures/resource_directory.with_features.yaml
  internal/provider/fixtures/resource_directory.yaml
  internal/provider/resource_directory.go
  internal/provider/resource_directory_test.go
Due: gofmt, golangci-lint

fix: adapt globalAccount parameter
  internal/btpcli/facade_accounts_subaccount.go
  internal/btpcli/facade_accounts_subaccount_test.go
Due: gofmt, golangci-lint

fix: modified the "usage" attribute
  internal/provider/datasource_subaccount_test.go
Due: gofmt, golangci-lint

removing comments
  internal/provider/resource_directory.go
Due: gofmt, golangci-lint

new response objects
  internal/btpcli/types/cis/directoryHierarchy_response_object.go
  internal/btpcli/types/cis/subaccountHierarchy_response_object.go
Due: gofmt, golangci-lint

new subaccount response object
  internal/btpcli/types/cis/subaccount_response_object.go
Due: gofmt, golangci-lint

new subaccount and directory types
  internal/provider/type_directoryHierarchy.go
  internal/provider/type_subaccountHierarchy.go
Due: gofmt, golangci-lint

update fixture name
  internal/provider/fixtures/resource_directory.change_with_features.yaml
  internal/provider/resource_directory_test.go
Due: gofmt, golangci-lint

modified new directory type and added global account type
  internal/provider/type_directoryHierarchy.go
  internal/provider/type_globalaccount_hierarchy.go
Due: gofmt, golangci-lint

modified update method
  internal/provider/resource_directory.go
Due: gofmt, golangci-lint

code refactoring
  internal/provider/fixtures/resource_directory.change_with_features.yaml
  internal/provider/resource_directory.go
Due: gofmt, golangci-lint

minor modifications to the types
  internal/provider/type_directoryHierarchy.go
  internal/provider/type_subaccountHierarchy.go
Due: gofmt, golangci-lint

new datasource with updated schema
  internal/provider/datasource_globalaccount_with_hierarchy.go
Due: gofmt, golangci-lint

modified the response objects
  internal/btpcli/types/cis/directoryHierarchy_response_object.go
  internal/btpcli/types/cis/globalaccount_Hierarchy_response_object.go
Due: gofmt, golangci-lint

chore: Update Go Module
  .devcontainer/default/devcontainer.json
  .devcontainer/withenvfile/devcontainer.json
  README.md
  go.mod
Due: none

chore(deps): Update dependencies
  go.mod
  go.sum
Due: none

chore: Upgrade Go version to 1.22 (#710)
  .devcontainer/default/devcontainer.json
  .devcontainer/withenvfile/devcontainer.json
  README.md
  go.mod
  go.sum
Due: none

fix: minor changes
  internal/provider/fixtures/resource_directory.error_change_features.yaml
  internal/provider/resource_directory.go
Due: gofmt, golangci-lint

feat: Support enabling of features for directories (#706)
  internal/btpcli/facade_accounts_directory.go
  internal/btpcli/facade_accounts_directory_test.go
  internal/provider/fixtures/resource_directory.change_with_features.yaml
  internal/provider/fixtures/resource_directory.error_change_features.yaml
  internal/provider/fixtures/resource_directory.full_config.yaml
  internal/provider/fixtures/resource_directory.with_features.yaml
  internal/provider/resource_directory.go
  internal/provider/resource_directory_test.go
Due: gofmt, golangci-lint

fix: increase test timeout
  Makefile
Due: none

fix: increase test timeout (#712)
  Makefile
Due: none

Update user agent
  internal/provider/provider.go
Due: gofmt, golangci-lint

update user agent configuration
  internal/provider/provider.go
  templates/index.md.tmpl
Due: gofmt, golangci-lint

Update documentation
  docs/index.md
Due: none

docs: minor adjustment on new section
  docs/index.md
  templates/index.md.tmpl
Due: none

feat: Support for User-Agent configuration via TF_APPEND_USER_AGENT env variable (#713)
  docs/index.md
  internal/provider/provider.go
  templates/index.md.tmpl
Due: gofmt, golangci-lint

read function for datasource
  internal/btpcli/facade_accounts_global_account.go
  internal/provider/datasource_globalaccount_with_hierarchy.go
  internal/provider/provider.go
  internal/provider/type_directoryHierarchy.go
  internal/provider/type_globalaccount_hierarchy.go
  internal/provider/type_subaccountHierarchy.go
Due: gofmt, golangci-lint

minor fix
  internal/provider/type_directoryHierarchy.go
Due: gofmt, golangci-lint

Path conditions:
  gofmt: any of: *.go, but not: vendor/*
  golangci-lint: any of: *.go, but not: vendor/*
  terraformfmt: any of: *.tf, but not: vendor/*
