Repository SAP/terraform-provider-btp: changes, and which lefthook commands are due for each by the changed paths.
All: gofmt, golangci-lint, terraformfmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    gofmt:
      glob: "*.go"
      run: go fmt ./...
      exclude: "vendor/*"
    golangci-lint:
      glob: "*.go"
      run: golangci-lint run --fix
      exclude: "vendor/*"
    terraformfmt:
      glob: "*.tf"
      run: terraform fmt {staged_files}
      exclude: "vendor/*"

Update docs/index.md
  docs/index.md
Due: none

docs: update authentication information (#1171)
  docs/index.md
  templates/index.md.tmpl
Due: none

feat: add skip of entitlements to subaccount resource
  .devcontainer/default/devcontainer.json
  .devcontainer/withenvfile/devcontainer.json
  btp/provider/fixtures/resource_subaccount.change_to_used_for_production.yaml
  btp/provider/fixtures/resource_subaccount.skip_entitlements.yaml
  btp/provider/fixtures/resource_subaccount.used_for_production.yaml
  btp/provider/fixtures/resource_subaccount.with_managed_parent.yaml
  btp/provider/fixtures/resource_subaccount.with_parent_hierarchy.yaml
  btp/provider/fixtures/resource_subaccount.yaml
  btp/provider/resource_subaccount.go
  btp/provider/resource_subaccount_test.go
  btp/provider/type_subaccount.go
  docs/resources/subaccount.md
  internal/btpcli/facade_accounts_subaccount.go
Due: gofmt, golangci-lint

feat: added requires replace for skip flag
  btp/provider/fixtures/resource_subaccount.change_to_used_for_production.yaml
  btp/provider/fixtures/resource_subaccount.full_config.yaml
  btp/provider/fixtures/resource_subaccount.skip_entitlements.yaml
  btp/provider/fixtures/resource_subaccount.used_for_production.yaml
  btp/provider/fixtures/resource_subaccount.with_managed_parent.yaml
  btp/provider/fixtures/resource_subaccount.with_parent_hierarchy.yaml
  btp/provider/fixtures/resource_subaccount.yaml
  btp/provider/resource_subaccount.go
Due: gofmt, golangci-lint

docs: upate subaccount documentation
  docs/resources/subaccount.md
  guides/IMPORT.md
  templates/resources/subaccount.md.tmpl
Due: none

fix: client test
  internal/btpcli/facade_accounts_subaccount_test.go
Due: gofmt, golangci-lint

feat: adjust internal types for subaccount datasources
  btp/provider/datasource_subaccount.go
  btp/provider/datasource_subaccounts.go
  btp/provider/type_subaccount.go
Due: gofmt, golangci-lint

test: relax timeout
  .github/workflows/test.yml
Due: none

fix: undo some review proposal
  btp/provider/resource_subaccount.go
Due: gofmt, golangci-lint

feat: support attribute for skipping automatic entitlements (#1176)
  .devcontainer/default/devcontainer.json
  .devcontainer/withenvfile/devcontainer.json
  .github/workflows/test.yml
  btp/provider/datasource_subaccount.go
  btp/provider/datasource_subaccounts.go
  btp/provider/fixtures/resource_subaccount.change_to_used_for_production.yaml
  btp/provider/fixtures/resource_subaccount.full_config.yaml
  btp/provider/fixtures/resource_subaccount.skip_entitlements.yaml
  btp/provider/fixtures/resource_subaccount.with_managed_parent.yaml
  btp/provider/fixtures/resource_subaccount.with_parent_hierarchy.yaml
  btp/provider/fixtures/resource_subaccount.yaml
  btp/provider/resource_subaccount.go
  btp/provider/resource_subaccount_test.go
  btp/provider/type_subaccount.go
  docs/resources/subaccount.md
  guides/IMPORT.md
  internal/btpcli/facade_accounts_subaccount.go
  internal/btpcli/facade_accounts_subaccount_test.go
  templates/resources/subaccount.md.tmpl
Due: gofmt, golangci-lint

docs: limitation for drift detection of directories and features
  docs/resources/directory.md
  guides/DRIFTDETECTION.md
  templates/resources/directory.md.tmpl
Due: none

docs: update the drift documentation
  docs/index.md
  docs/resources/directory.md
  guides/DRIFTDETECTION.md
  templates/index.md.tmpl
  templates/resources/directory.md.tmpl
Due: none

fix: typo
  guides/DRIFTDETECTION.md
Due: none

minor change to the documentation
  docs/index.md
  guides/DRIFTDETECTION.md
  templates/index.md.tmpl
Due: none

docs: limitation for drift detection of directories and features (#1178)
  docs/index.md
  guides/DRIFTDETECTION.md
  templates/index.md.tmpl
Due: none

chore: prep release 1.16.0
  .github/ISSUE_TEMPLATE/bug_report.yml
  docs/index.md
  examples/provider/provider.tf
  integration/provider.tf
Due: terraformfmt

chore: prep release 1.16.0 (#1185)
  .github/ISSUE_TEMPLATE/bug_report.yml
  docs/index.md
  examples/provider/provider.tf
  integration/provider.tf
Due: terraformfmt

fix: label validator on unkown errors
  internal/validation/labelvalidator/labelvalidator.go
Due: gofmt, golangci-lint

added additional test cases
  internal/validation/labelvalidator/labelvalidator.go
  internal/validation/labelvalidator/labelvalidator_test.go
Due: gofmt, golangci-lint

fix: label validator on unknown errors (#1186)
  internal/validation/labelvalidator/labelvalidator.go
  internal/validation/labelvalidator/labelvalidator_test.go
Due: gofmt, golangci-lint

chore: Prep hotfix v1.16.1
  .github/ISSUE_TEMPLATE/bug_report.yml
  docs/index.md
  examples/provider/provider.tf
  integration/provider.tf
Due: terraformfmt

chore: Prep hotfix v1.16.1 (#1188)
  .github/ISSUE_TEMPLATE/bug_report.yml
  docs/index.md
  examples/provider/provider.tf
  integration/provider.tf
Due: terraformfmt

chore: update workflow configuration for links
  .github/workflows/links-watcher-cron.yml
Due: none

chore: update workflow configuration for links (#1196)
  .github/workflows/links-watcher-cron.yml
Due: none

Fix to set ias application origin key in configuration
  btp/provider/resource_subaccount_trust_configuration.go
  docs/resources/subaccount_trust_configuration.md
  examples/resources/btp_subaccount_trust_configuration/resource.tf
  internal/validation/labelvalidator/labelvalidator_test.go
Due: gofmt, golangci-lint, terraformfmt

Make Trust Origin Key Customisable (#1207)
  btp/provider/resource_subaccount_trust_configuration.go
  docs/resources/subaccount_trust_configuration.md
  examples/resources/btp_subaccount_trust_configuration/resource.tf
  internal/validation/labelvalidator/labelvalidator_test.go
Due: gofmt, golangci-lint, terraformfmt

chore: Prep release v1.17.0
  .github/ISSUE_TEMPLATE/bug_report.yml
  docs/index.md
  examples/provider/provider.tf
  integration/provider.tf
Due: terraformfmt

chore: Prep release v1.17.0 (#1208)
  .github/ISSUE_TEMPLATE/bug_report.yml
  docs/index.md
  examples/provider/provider.tf
  integration/provider.tf
Due: terraformfmt

fix: computed amount in entitlements
  btp/provider/resource_subaccount_entitlement.go
  btp/provider/type_subaccount_entitlement.go
Due: gofmt, golangci-lint

fix: entitlements without quota on directory level
  btp/provider/fixtures/resource_directory_entitlement.amount_set.yaml
  btp/provider/fixtures/resource_directory_entitlement.import_by_resource_identity.yaml
  btp/provider/fixtures/resource_directory_entitlement.no_amount.yaml
  btp/provider/fixtures/resource_directory_entitlement.no_amount_with_flags.yaml
  btp/provider/fixtures/resource_directory_entitlement.plan_unique_identifier.amount_set.yaml
  btp/provider/fixtures/resource_directory_entitlement.plan_unique_identifier.yaml
  btp/provider/fixtures/resource_directory_entitlement.update.yaml
  btp/provider/fixtures/resource_directory_entitlement.update_with_flags.yaml
  btp/provider/resource_directory_entitlement.go
  btp/provider/resource_directory_entitlement_test.go
  btp/provider/type_directory_entitlement.go
Due: gofmt, golangci-lint

fix: adjust logic based on review comment
  btp/provider/resource_directory_entitlement.go
  btp/provider/resource_subaccount_entitlement.go
  btp/provider/type_directory_entitlement.go
  btp/provider/type_subaccount_entitlement.go
Due: gofmt, golangci-lint

fix: update tests for data source directory
  btp/provider/datasource_directory_test.go
  btp/provider/fixtures/datasource_directory.invalid_id.yaml
  btp/provider/fixtures/datasource_directory.yaml
Due: gofmt, golangci-lint

fix: adjust code for invalid parent UUID
  btp/provider/type_subaccount.go
Due: gofmt, golangci-lint

fix: update tests for data source subaccount_entitlements
  btp/provider/datasource_subaccount_entitlements_test.go
  btp/provider/fixtures/datasource_subaccount_entitlements.subacount_id_invalid.yaml
  btp/provider/fixtures/datasource_subaccount_entitlements.yaml
Due: gofmt, golangci-lint

fix: update tests for data source subaccount_entitlements
  btp/provider/datasource_subaccount_entitlement_test.go
  btp/provider/fixtures/datasource_subaccount_entitlement.subacount_id_invalid.yaml
  btp/provider/fixtures/datasource_subaccount_entitlement.yaml
  btp/provider/fixtures/datasource_subaccount_entitlement_invalid.yaml
Due: gofmt, golangci-lint

fix: infinite loop for non-existent ID (#1213)
  btp/provider/datasource_directory_test.go
  btp/provider/datasource_subaccount_entitlement_test.go
  btp/provider/datasource_subaccount_entitlements_test.go
  btp/provider/fixtures/datasource_directory.invalid_id.yaml
  btp/provider/fixtures/datasource_directory.yaml
  btp/provider/fixtures/datasource_subaccount_entitlement.subacount_id_invalid.yaml
  btp/provider/fixtures/datasource_subaccount_entitlement.yaml
  btp/provider/fixtures/datasource_subaccount_entitlement_invalid.yaml
  btp/provider/fixtures/datasource_subaccount_entitlements.subacount_id_invalid.yaml
  btp/provider/fixtures/datasource_subaccount_entitlements.yaml
  btp/provider/type_subaccount.go
Due: gofmt, golangci-lint

docs: improve descritpion of plan_unique_identifier for entitlements
  btp/provider/resource_directory_entitlement.go
  btp/provider/resource_subaccount_entitlement.go
  docs/resources/directory_entitlement.md
  docs/resources/subaccount_entitlement.md
Due: gofmt, golangci-lint

fix: framework upgrade issue
  btp/provider/fixtures/resource_subaccount_security_settings.complete.yaml
  btp/provider/fixtures/resource_subaccount_security_settings.destroy.yaml
  btp/provider/fixtures/resource_subaccount_security_settings.destroy_list.yaml
  btp/provider/fixtures/resource_subaccount_security_settings_with_iframe_domains_list.complete.yaml
  btp/provider/resource_subaccount_security_settings.go
Due: gofmt, golangci-lint
