Repository SAP/terraform-provider-btp: changes, and which lefthook commands are due for each by the changed paths.
All: gofmt, golangci-lint, terraformfmt

gofmt:
  run: go fmt ./...

golangci-lint:
  run: golangci-lint run --fix

terraformfmt:
  run: terraform fmt {staged_files}

fix: import of security settings via configuration generation (#1138)
  btp/provider/fixtures/resource_subaccount_security_settings.destroy.yaml
  btp/provider/fixtures/resource_subaccount_security_settings.destroy_list.yaml
  btp/provider/fixtures/resource_subaccount_security_settings_with_iframe_domains_list.complete.yaml
  btp/provider/resource_subaccount_security_settings.go
  btp/provider/resource_subaccount_security_settings_test.go
  btp/provider/type_subaccount_security_settings.go
  docs/resources/subaccount_security_settings.md
Due: gofmt, golangci-lint

chore: align login flows to wire protocoll (#1142)
  btp/provider/datasource_whoami.go
  internal/btpcli/client.go
  internal/btpcli/client_test.go
  internal/btpcli/clienttypes.go
  internal/btpcli/session.go
Due: gofmt, golangci-lint

feat: adding regression tests against canary landscape
  .github/workflows/canary-regression-test.yml
Due: none

fix: update test job name to reflect canary landscape focus
  .github/workflows/canary-regression-test.yml
Due: none

feat: adding regression tests against canary landscape (#1143)
  .github/workflows/canary-regression-test.yml
Due: none

feat: update Terraform scripts for canary landscape compatibility
  .github/workflows/canary-regression-test.yml
Due: none

feat: update Terraform scripts for canary landscape compatibility (#1146)
  .github/workflows/canary-regression-test.yml
Due: none

chore: Prep v1.15.0
  .github/ISSUE_TEMPLATE/bug_report.yml
  docs/index.md
  examples/provider/provider.tf
  integration/provider.tf
Due: terraformfmt

chore: Prep v1.15.0 (#1147)
  .github/ISSUE_TEMPLATE/bug_report.yml
  docs/index.md
  examples/provider/provider.tf
  integration/provider.tf
Due: terraformfmt

chore: Update Regression Test Provider Version
  regression-test/provider.tf
Due: terraformfmt

fix: update environment variable secrets for canary regression test workflow
  .github/workflows/canary-regression-test.yml
Due: none

fix: update variable replacement canary landscape compatibility
  .github/workflows/canary-regression-test.yml
Due: none

fix: add pause before subaccount creation to ensure proper sequencing
  regression-test/main.tf
Due: terraformfmt

fix: remove unnecessary pause before subaccount creation
  regression-test/main.tf
Due: terraformfmt

fix: update enviroment variable secrets for canary regression test workflow (#1149)
  .github/workflows/canary-regression-test.yml
Due: none

fix: consider non-idempotent API implementations
  btp/provider/fixtures/resource_subaccount_subscription.import_by_resource_identity.yaml
  btp/provider/fixtures/resource_subaccount_subscription.import_error.yaml
  btp/provider/fixtures/resource_subaccount_subscription.yaml
  btp/provider/fixtures/resource_subaccount_subscription_commercialapp_name.yaml
  btp/provider/fixtures/resource_subaccount_subscription_techapp_name.yaml
  btp/provider/fixtures/resource_subaccount_subscription_update.yaml
  btp/provider/fixtures/resource_subaccount_subscription_update_timeouts.yaml
  btp/provider/fixtures/resource_subaccount_subscription_with_timeouts.yaml
  btp/provider/resource_subaccount_subscription.go
  btp/provider/resource_subaccount_subscription_test.go
Due: gofmt, golangci-lint

Fix typo
  btp/provider/resource_subaccount_subscription.go
Due: gofmt, golangci-lint

Fix formatting
  btp/provider/resource_subaccount_subscription.go
Due: gofmt, golangci-lint

fix: consider non-idempotent API implementations (#1150)
  btp/provider/fixtures/resource_subaccount_subscription.import_by_resource_identity.yaml
  btp/provider/fixtures/resource_subaccount_subscription.import_error.yaml
  btp/provider/fixtures/resource_subaccount_subscription.yaml
  btp/provider/fixtures/resource_subaccount_subscription_commercialapp_name.yaml
  btp/provider/fixtures/resource_subaccount_subscription_techapp_name.yaml
  btp/provider/fixtures/resource_subaccount_subscription_update.yaml
  btp/provider/fixtures/resource_subaccount_subscription_update_timeouts.yaml
  btp/provider/fixtures/resource_subaccount_subscription_with_timeouts.yaml
  btp/provider/resource_subaccount_subscription.go
  btp/provider/resource_subaccount_subscription_test.go
Due: gofmt, golangci-lint

chore: prep hotfix release 1.15.1
  .github/ISSUE_TEMPLATE/bug_report.yml
  docs/index.md
  examples/provider/provider.tf
  integration/provider.tf
Due: terraformfmt

chore: prep hotfix release 1.15.1 (#1151)
  .github/ISSUE_TEMPLATE/bug_report.yml
  docs/index.md
  examples/provider/provider.tf
  integration/provider.tf
Due: terraformfmt

fix: add label validation for subaccount
  btp/provider/resource_subaccount.go
  internal/validation/labelvalidator/labelvalidator.go
  internal/validation/labelvalidator/labelvalidator_test.go
Due: gofmt, golangci-lint

fix: adjust error message text
  internal/validation/labelvalidator/labelvalidator.go
Due: gofmt, golangci-lint

docs: typo and formatting
  docs/resources/directory.md
  docs/resources/directory_entitlement.md
  docs/resources/directory_role.md
  docs/resources/directory_role_collection.md
  docs/resources/globalaccount_role.md
  docs/resources/subaccount_entitlement.md
  docs/resources/subaccount_role.md
  docs/resources/subaccount_role_collection.md
  docs/resources/subaccount_subscription.md
  examples/resources/btp_directory/import.sh
  examples/resources/btp_directory_entitlement/import.sh
  examples/resources/btp_directory_role/import.sh
  examples/resources/btp_directory_role_collection/import.sh
  examples/resources/btp_globalaccount_role/import.sh
  examples/resources/btp_subaccount_entitlement/import.sh
  examples/resources/btp_subaccount_role/import.sh
  examples/resources/btp_subaccount_role_collection/import.sh
  examples/resources/btp_subaccount_subscription/import.sh
Due: none

Fix typo in comment
  internal/validation/labelvalidator/labelvalidator.go
Due: gofmt, golangci-lint

docs: import samples - typo and formatting (#1153)
  docs/resources/directory.md
  docs/resources/directory_entitlement.md
  docs/resources/directory_role.md
  docs/resources/directory_role_collection.md
  docs/resources/globalaccount_role.md
  docs/resources/subaccount_entitlement.md
  docs/resources/subaccount_role.md
  docs/resources/subaccount_role_collection.md
  docs/resources/subaccount_subscription.md
  examples/resources/btp_directory/import.sh
  examples/resources/btp_directory_entitlement/import.sh
  examples/resources/btp_directory_role/import.sh
  examples/resources/btp_directory_role_collection/import.sh
  examples/resources/btp_globalaccount_role/import.sh
  examples/resources/btp_subaccount_entitlement/import.sh
  examples/resources/btp_subaccount_role/import.sh
  examples/resources/btp_subaccount_role_collection/import.sh
  examples/resources/btp_subaccount_subscription/import.sh
Due: none

chore: limit terraform apply parallelism to avoid rate limits
  .github/workflows/canary-regression-test.yml
Due: none

fix: validate labels for subaccount (#1152)
  btp/provider/resource_subaccount.go
  internal/validation/labelvalidator/labelvalidator.go
  internal/validation/labelvalidator/labelvalidator_test.go
Due: gofmt, golangci-lint

docs: remove BTP CLI specific information from documentation of subscription
  btp/provider/datasource_subaccount_subscription.go
  docs/data-sources/subaccount_subscription.md
Due: gofmt, golangci-lint

docs: remove BTP CLI specific information from documentation of subscription (#1165)
  btp/provider/datasource_subaccount_subscription.go
  docs/data-sources/subaccount_subscription.md
Due: gofmt, golangci-lint

chore: update Terraform test matrix
  .github/workflows/test.yml
Due: none

fix: typo
  .github/workflows/test.yml
Due: none

chore: update Terraform test matrix (#1167)
  .github/workflows/test.yml
Due: none

chore: include dependencies to release notes
  .github/release.yml
Due: none

chore: include dependencies to release notes (#1168)
  .github/release.yml
Due: none

docs: updates to authentication description
  docs/index.md
  templates/index.md.tmpl
Due: none

docs: update documentation about authentication
  docs/index.md
Due: none

chore(deps): update go version to 1.25
  README.md
  go.mod
Due: none

chore(deps): update go version to 1.25 (#1172)
  README.md
  go.mod
Due: none

Update templates/index.md.tmpl
  templates/index.md.tmpl
Due: none

Path conditions:
  gofmt: any of: *.go, but not: vendor/*
  golangci-lint: any of: *.go, but not: vendor/*
  terraformfmt: any of: *.tf, but not: vendor/*
