Repository SAP/terraform-provider-btp: changes, and which lefthook commands are due for each by the changed paths.
All: gofmt, golangci-lint, terraformfmt

gofmt:
  run: go fmt ./...

golangci-lint:
  run: golangci-lint run --fix

terraformfmt:
  run: terraform fmt {staged_files}

minor fixes to the directory level api-credential resource + recorded the fixtures
  internal/provider/fixtures/resource_directory_api_credential.error_invalid_certificate.yaml
  internal/provider/fixtures/resource_directory_api_credential.read_only_credentials.yaml
  internal/provider/fixtures/resource_directory_api_credential.with_certificate.yaml
  internal/provider/fixtures/resource_directory_api_credential.with_secret.yaml
  internal/provider/resource_directory_api_credential_test.go
Due: gofmt, golangci-lint

added the new resources to the tests
  internal/provider/provider_test.go
Due: gofmt, golangci-lint

chore(refactor): code styling
  internal/btpcli/client_test.go
  internal/btpcli/clienttypes.go
  internal/btpcli/facade_accounts_entitlement_test.go
  internal/btpcli/facade_accounts_global_account.go
  internal/btpcli/facade_services_instance.go
  internal/provider/datasource_globalaccount_security_settings_test.go
  internal/provider/datasource_globalaccount_test.go
  internal/provider/datasource_globalaccount_with_hierarchy.go
  internal/provider/resource_globalaccount_role_collection_test.go
  internal/provider/resource_subaccount_role_collection_assignment_test.go
  internal/provider/resource_subaccount_role_collection_test.go
  internal/provider/type_globalaccount_hierarchy.go
  internal/provider/type_subaccount.go
Due: gofmt, golangci-lint

chore(refactor): code styling (#852)
  internal/btpcli/client_test.go
  internal/btpcli/clienttypes.go
  internal/btpcli/facade_accounts_entitlement_test.go
  internal/btpcli/facade_accounts_global_account.go
  internal/btpcli/facade_services_instance.go
  internal/provider/datasource_globalaccount_security_settings_test.go
  internal/provider/datasource_globalaccount_test.go
  internal/provider/datasource_globalaccount_with_hierarchy.go
  internal/provider/resource_globalaccount_role_collection_test.go
  internal/provider/resource_subaccount_role_collection_assignment_test.go
  internal/provider/resource_subaccount_role_collection_test.go
  internal/provider/type_globalaccount_hierarchy.go
  internal/provider/type_subaccount.go
Due: gofmt, golangci-lint

fix: check for multiple auth parameters
  internal/provider/provider.go
Due: gofmt, golangci-lint

modified timeout for subaccount subscription
  internal/provider/resource_subaccount_subscription.go
Due: gofmt, golangci-lint

modified timeout for subaccount subscription (#856)
  internal/provider/resource_subaccount_subscription.go
Due: gofmt, golangci-lint

feat: subaccount service broker
  docs/data-sources/subaccount_service_broker.md
  docs/data-sources/subaccount_service_brokers.md
  docs/resources/subaccount_service_broker.md
  examples/resources/btp_subaccount_service_broker/import.sh
  examples/resources/btp_subaccount_service_broker/resource.tf
  internal/btpcli/facade_services_broker.go
  internal/btpcli/facade_services_broker_test.go
  internal/provider/datasource_subaccount_service_broker.go
  internal/provider/datasource_subaccount_service_brokers.go
  internal/provider/provider.go
  internal/provider/provider_test.go
  internal/provider/resource_subaccount_service_broker.go
Due: gofmt, golangci-lint, terraformfmt

docs
  docs/resources/subaccount_service_broker.md
  examples/resources/btp_subaccount_service_broker/resource.tf
Due: terraformfmt

chore: cleanup
  internal/provider/resource_subaccount_service_broker.go
Due: gofmt, golangci-lint

test
  internal/provider/fixtures/resource_subaccount_service_broker.yaml
  internal/provider/resource_subaccount_service_broker_test.go
Due: gofmt, golangci-lint

test broker update
  internal/provider/fixtures/resource_subaccount_service_broker.yaml
  internal/provider/resource_subaccount_service_broker_test.go
Due: gofmt, golangci-lint

add resource to create role
  internal/btpcli/facade_security_role.go
  internal/provider/fixtures/resource_directory_role.not_security_enabled.yaml
  internal/provider/fixtures/resource_directory_role.yaml
  internal/provider/fixtures/resource_globalaccount_role.yaml
  internal/provider/fixtures/resource_subaccount_role.yaml
  internal/provider/provider.go
  internal/provider/resource_directory_role.go
  internal/provider/resource_directory_role_test.go
  internal/provider/resource_globalaccount_role.go
  internal/provider/resource_globalaccount_role_test.go
  internal/provider/resource_subaccount_role.go
  internal/provider/resource_subaccount_role_test.go
  internal/provider/type_directory_role.go
  sonar-project.properties
Due: gofmt, golangci-lint

adding docs
  docs/resources/directory_role.md
  docs/resources/globalaccount_role.md
  docs/resources/subaccount_role.md
Due: none

chore(btpcli): remove todo comment
  internal/btpcli/facade_services_broker.go
Due: gofmt, golangci-lint

fix: wait for broker to become ready after create and update
  internal/provider/resource_subaccount_service_broker.go
Due: gofmt, golangci-lint

update tests
  internal/btpcli/facade_security_role_test.go
  internal/provider/provider_test.go
Due: gofmt, golangci-lint

chore: test import + wait for readyness
  internal/provider/fixtures/resource_subaccount_service_broker.yaml
  internal/provider/resource_subaccount_service_broker.go
  internal/provider/resource_subaccount_service_broker_test.go
Due: gofmt, golangci-lint

fix: check for multiple auth parameters (#854)
  internal/provider/provider.go
Due: gofmt, golangci-lint

chore: tests for datasources
  internal/provider/datasource_subaccount_service_broker_test.go
  internal/provider/datasource_subaccount_service_brokers_test.go
  internal/provider/fixtures/datasource_subaccount_service_broker.by_id.yaml
  internal/provider/fixtures/datasource_subaccount_service_brokers.yaml
Due: gofmt, golangci-lint

chore: remove unused function
  internal/provider/datasource_subaccount_service_broker_test.go
Due: gofmt, golangci-lint

rerecord fixture
  internal/provider/fixtures/resource_directory_role.not_security_enabled.yaml
  internal/provider/fixtures/resource_directory_role.yaml
  internal/provider/fixtures/resource_globalaccount_role.yaml
  internal/provider/fixtures/resource_subaccount_role.yaml
Due: none

update fixture
  internal/provider/fixtures/resource_directory_role.not_security_enabled.yaml
  internal/provider/fixtures/resource_directory_role.yaml
  internal/provider/fixtures/resource_globalaccount_role.yaml
  internal/provider/fixtures/resource_subaccount_role.update.yaml
  internal/provider/resource_subaccount_role_test.go
Due: gofmt, golangci-lint

chore: terraform fmt
  docs/data-sources/subaccount.md
  docs/resources/directory.md
  docs/resources/directory_entitlement.md
  examples/data-sources/btp_subaccount/data-source.tf
  examples/resources/btp_directory/resource.tf
  examples/resources/btp_directory_entitlement/resource.tf
  integration/main.tf
  integration/variables.tf
  regression-test/variables.tf
Due: terraformfmt

updated btpcli version in fixture
  internal/provider/fixtures/resource_globalaccount_role.update.yaml
  internal/provider/resource_globalaccount_role_test.go
Due: gofmt, golangci-lint

chore: terraform fmt (#860)
  docs/data-sources/subaccount.md
  docs/resources/directory.md
  docs/resources/directory_entitlement.md
  examples/data-sources/btp_subaccount/data-source.tf
  examples/resources/btp_directory/resource.tf
  examples/resources/btp_directory_entitlement/resource.tf
  integration/main.tf
  integration/variables.tf
  regression-test/variables.tf
Due: terraformfmt

feat: subaccount service broker (#857)
  docs/data-sources/subaccount_service_broker.md
  docs/data-sources/subaccount_service_brokers.md
  docs/resources/subaccount_service_broker.md
  examples/resources/btp_subaccount_service_broker/import.sh
  examples/resources/btp_subaccount_service_broker/resource.tf
  internal/btpcli/facade_services_broker.go
  internal/btpcli/facade_services_broker_test.go
  internal/provider/datasource_subaccount_service_broker.go
  internal/provider/datasource_subaccount_service_broker_test.go
  internal/provider/datasource_subaccount_service_brokers.go
  internal/provider/datasource_subaccount_service_brokers_test.go
  internal/provider/fixtures/datasource_subaccount_service_broker.by_id.yaml
  internal/provider/fixtures/datasource_subaccount_service_brokers.yaml
  internal/provider/fixtures/resource_subaccount_service_broker.yaml
  internal/provider/provider.go
  internal/provider/provider_test.go
  internal/provider/resource_subaccount_service_broker.go
  internal/provider/resource_subaccount_service_broker_test.go
Due: gofmt, golangci-lint, terraformfmt

chore: timeout for test runs
  .github/workflows/test.yml
Due: none

adding tests
  internal/provider/fixtures/resource_directory_role.error_import.yaml
  internal/provider/fixtures/resource_directory_role.not_security_enabled.yaml
  internal/provider/fixtures/resource_directory_role.update.yaml
  internal/provider/fixtures/resource_directory_role.yaml
  internal/provider/fixtures/resource_subaccount_role.error_import.yaml
  internal/provider/fixtures/resource_subaccount_role.yaml
  internal/provider/resource_directory_role_test.go
  internal/provider/resource_subaccount_role_test.go
Due: gofmt, golangci-lint

chore: timeout for test runs (#861)
  .github/workflows/test.yml
Due: none

adding tests for import
  internal/provider/fixtures/resource_directory_role.error_import.yaml
  internal/provider/fixtures/resource_directory_role.not_security_enabled.yaml
  internal/provider/fixtures/resource_directory_role.update.yaml
  internal/provider/fixtures/resource_directory_role.yaml
  internal/provider/fixtures/resource_globalaccount_role.update.yaml
  internal/provider/fixtures/resource_globalaccount_role.yaml
  internal/provider/fixtures/resource_subaccount_role.error_import.yaml
  internal/provider/fixtures/resource_subaccount_role.update.yaml
  internal/provider/fixtures/resource_subaccount_role.yaml
  internal/provider/resource_directory_role.go
  internal/provider/resource_directory_role_test.go
  internal/provider/resource_globalaccount_role_test.go
  internal/provider/resource_subaccount_role_test.go
Due: gofmt, golangci-lint

feat: Resource to create roles (#858)
  docs/resources/directory_role.md
  docs/resources/globalaccount_role.md
  docs/resources/subaccount_role.md
  internal/btpcli/facade_security_role.go
  internal/btpcli/facade_security_role_test.go
  internal/provider/fixtures/resource_directory_role.error_import.yaml
  internal/provider/fixtures/resource_directory_role.not_security_enabled.yaml
  internal/provider/fixtures/resource_directory_role.update.yaml
  internal/provider/fixtures/resource_directory_role.yaml
  internal/provider/fixtures/resource_globalaccount_role.update.yaml
  internal/provider/fixtures/resource_globalaccount_role.yaml
  internal/provider/fixtures/resource_subaccount_role.error_import.yaml
  internal/provider/fixtures/resource_subaccount_role.update.yaml
  internal/provider/fixtures/resource_subaccount_role.yaml
  internal/provider/provider.go
  internal/provider/provider_test.go
  internal/provider/resource_directory_role.go
  internal/provider/resource_directory_role_test.go
  internal/provider/resource_globalaccount_role.go
  internal/provider/resource_globalaccount_role_test.go
  internal/provider/resource_subaccount_role.go
  internal/provider/resource_subaccount_role_test.go
  internal/provider/type_directory_role.go
  sonar-project.properties
Due: gofmt, golangci-lint

chore: Prep Release v1.5.0
  .github/ISSUE_TEMPLATE/bug_report.yml
  docs/index.md
  examples/provider/provider.tf
  integration/provider.tf
Due: terraformfmt

chore: Prep Release v1.5.0 (#862)
  .github/ISSUE_TEMPLATE/bug_report.yml
  docs/index.md
  examples/provider/provider.tf
  integration/provider.tf
Due: terraformfmt

feat: add dashboard URL to service instance
  internal/provider/datasource_subaccount_service_instance.go
  internal/provider/datasource_subaccount_service_instances.go
  internal/provider/resource_subaccount_service_instance.go
  internal/provider/type_subaccount_service_instance.go
Due: gofmt, golangci-lint

feat: updated documentation
  docs/data-sources/subaccount_service_instance.md
  docs/data-sources/subaccount_service_instances.md
  docs/resources/subaccount_service_instance.md
Due: none

Path conditions:
  gofmt: any of: *.go, but not: vendor/*
  golangci-lint: any of: *.go, but not: vendor/*
  terraformfmt: any of: *.tf, but not: vendor/*
