Repository SAP/terraform-provider-btp: changes, and which lefthook commands are due for each by the changed paths.
All: gofmt, golangci-lint, terraformfmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    gofmt:
      glob: "*.go"
      run: go fmt ./...
      exclude: "vendor/*"
    golangci-lint:
      glob: "*.go"
      run: golangci-lint run --fix
      exclude: "vendor/*"
    terraformfmt:
      glob: "*.tf"
      run: terraform fmt {staged_files}
      exclude: "vendor/*"

Changes as per discussion
  btp/provider/datasource_subaccount_destination_trust.go
  btp/provider/datasource_subaccount_destination_trust_test.go
  btp/provider/fixtures/datasource_subaccount_destination_trust_active.yaml
  btp/provider/fixtures/datasource_subaccount_destination_trust_not_found.yaml
  btp/provider/fixtures/datasource_subaccount_destination_trust_passive.yaml
  docs/data-sources/subaccount_destination_trust.md
  internal/btpcli/types/connectivity/destination_trust.go
Due: gofmt, golangci-lint

Update provider_test.go
  btp/provider/provider_test.go
Due: gofmt, golangci-lint

Changes as per copilot review
  btp/provider/datasource_subaccount_destination_trust.go
  btp/provider/datasource_subaccount_destination_trust_test.go
Due: gofmt, golangci-lint

Improved documentation
  btp/provider/datasource_subaccount_destination_trust.go
  docs/data-sources/subaccount_destination_trust.md
Due: gofmt, golangci-lint

feat: Data source for destination trust (#1266)
  btp/provider/datasource_subaccount_destination_trust.go
  btp/provider/datasource_subaccount_destination_trust_test.go
  btp/provider/fixtures/datasource_subaccount_destination_trust_active.yaml
  btp/provider/fixtures/datasource_subaccount_destination_trust_not_found.yaml
  btp/provider/fixtures/datasource_subaccount_destination_trust_passive.yaml
  btp/provider/fixtures/datasource_subaccount_destination_trust_subaccount_required.yaml
  btp/provider/provider.go
  btp/provider/provider_test.go
  docs/data-sources/subaccount_destination_trust.md
  examples/data-sources/btp_subaccount_destination_trust/data-source.tf
  internal/btpcli/client.go
  internal/btpcli/facade.go
  internal/btpcli/facade_connectivity.go
  internal/btpcli/facade_connectivity_destination_trust.go
  internal/btpcli/facade_connectivity_destination_trust_test.go
  internal/btpcli/types/connectivity/destination_trust.go
Due: gofmt, golangci-lint, terraformfmt

Implementation of data source for destination fragments
  btp/provider/datasource_subaccount_destination_fragment.go
  btp/provider/datasource_subaccount_destination_fragment_test.go
  btp/provider/datasource_subaccount_destination_fragments.go
  btp/provider/datasource_subaccount_destination_fragments_test.go
  btp/provider/fixtures/datasource_subaccount_destination_fragment.yaml
  btp/provider/fixtures/datasource_subaccount_destination_fragment_not_found_service_instance_level.yaml
  btp/provider/fixtures/datasource_subaccount_destination_fragment_not_found_subaccount_level.yaml
  btp/provider/fixtures/datasource_subaccount_destination_fragment_subaccount_required.yaml
  btp/provider/fixtures/datasource_subaccount_destination_fragment_with_service_instance.yaml
  btp/provider/fixtures/datasource_subaccount_destination_fragments.yaml
  btp/provider/fixtures/datasource_subaccount_destination_fragments_subaccount_required.yaml
  btp/provider/fixtures/datasource_subaccount_destination_fragments_with_service_instance.yaml
  btp/provider/provider.go
  btp/provider/provider_test.go
  docs/data-sources/subaccount_destination_fragment.md
  docs/data-sources/subaccount_destination_fragments.md
  internal/btpcli/facade_connectivity.go
  internal/btpcli/facade_connectivity_destination_fragment.go
  internal/btpcli/types/connectivity/destination_fragment.go
Due: gofmt, golangci-lint

fix: sideeffects from calculated fields of envionment instance
  btp/provider/resource_subaccount_environment_instance.go
Due: gofmt, golangci-lint

Implementation of data source for destination fragments (#1270)
  btp/provider/datasource_subaccount_destination_fragment.go
  btp/provider/datasource_subaccount_destination_fragment_test.go
  btp/provider/datasource_subaccount_destination_fragments.go
  btp/provider/datasource_subaccount_destination_fragments_test.go
  btp/provider/fixtures/datasource_subaccount_destination_fragment.yaml
  btp/provider/fixtures/datasource_subaccount_destination_fragment_not_found_service_instance_level.yaml
  btp/provider/fixtures/datasource_subaccount_destination_fragment_not_found_subaccount_level.yaml
  btp/provider/fixtures/datasource_subaccount_destination_fragment_subaccount_required.yaml
  btp/provider/fixtures/datasource_subaccount_destination_fragment_with_service_instance.yaml
  btp/provider/fixtures/datasource_subaccount_destination_fragments.yaml
  btp/provider/fixtures/datasource_subaccount_destination_fragments_subaccount_required.yaml
  btp/provider/fixtures/datasource_subaccount_destination_fragments_with_service_instance.yaml
  btp/provider/provider.go
  btp/provider/provider_test.go
  docs/data-sources/subaccount_destination_fragment.md
  docs/data-sources/subaccount_destination_fragments.md
  internal/btpcli/facade_connectivity.go
  internal/btpcli/facade_connectivity_destination_fragment.go
  internal/btpcli/types/connectivity/destination_fragment.go
Due: gofmt, golangci-lint

feat: provider function
  btp/provider/function_extract_cf_org_id.go
  btp/provider/function_extract_kyma_api_server_url.go
  btp/provider/function_extract_kyma_api_server_url_test.go
  btp/provider/helper_extract_environment_label.go
  btp/provider/helper_extract_environment_label_test.go
  btp/provider/provider.go
  btp/provider/provider_test.go
  examples/functions/extract_cf_api_url/function.tf
  examples/functions/extract_cf_org_id/function.tf
  examples/functions/extract_kyma_api_server_url/function.tf
Due: gofmt, golangci-lint, terraformfmt

feat: Terraform provider-defined functions
  btp/provider/function_extract_cf_api_url.go
  btp/provider/function_extract_cf_api_url_test.go
  btp/provider/function_helper_extract_environment_label.go
  btp/provider/function_helper_extract_environment_label_test.go
  btp/provider/provider.go
  btp/provider/provider_test.go
  docs/functions/extract_cf_api_url.md
  examples/functions/extract_cf_api_url/function.tf
  templates/functions.md.tmpl
Due: gofmt, golangci-lint, terraformfmt

feat: Terraform provider-defined functions
  btp/provider/function_extract_cf_org_id.go
  btp/provider/function_extract_cf_org_id_test.go
  btp/provider/provider.go
  btp/provider/provider_test.go
  examples/functions/extract_cf_org_id/function.tf
Due: gofmt, golangci-lint, terraformfmt

feat: provider function
  btp/provider/function_extract_kyma_kubeconfig_url.go
  btp/provider/function_extract_kyma_kubeconfig_url_test.go
  btp/provider/provider.go
  btp/provider/provider_test.go
  examples/functions/extract_cf_api_url/function.tf
  examples/functions/extract_cf_org_id/function.tf
  examples/functions/extract_kyma_api_server_url/function.tf
  examples/functions/extract_kyma_kubeconfig_url/function.tf
Due: gofmt, golangci-lint, terraformfmt

feat: provider functions docs
  docs/functions/extract_cf_api_url.md
  docs/functions/extract_cf_org_id.md
  docs/functions/extract_kyma_api_server_url.md
  docs/functions/extract_kyma_kubeconfig_url.md
Due: none

fix: sideeffects from calculated fields of envionment instance (#1272)
  btp/provider/resource_subaccount_environment_instance.go
Due: gofmt, golangci-lint

Update btp/provider/function_extract_cf_api_url.go
  btp/provider/function_extract_cf_api_url.go
Due: gofmt, golangci-lint

Update btp/provider/function_extract_cf_org_id.go
  btp/provider/function_extract_cf_org_id.go
Due: gofmt, golangci-lint

Implementation for resource of destination fragment
  btp/provider/datasource_subaccount_destination_fragment.go
  btp/provider/datasource_subaccount_destination_fragments.go
  btp/provider/fixtures/resource_subaccount_destination_fragment.import_by_resource_identity.yaml
  btp/provider/fixtures/resource_subaccount_destination_fragment_with_service_instance.import_by_resource_identity.yaml
  btp/provider/fixtures/resource_subaccount_destination_fragment_with_service_instance.yaml
  btp/provider/fixtures/resource_subaccount_destination_fragment_without_service_instance.yaml
  btp/provider/provider.go
  btp/provider/resource_subaccount_destination_fragment.go
  btp/provider/resource_subaccount_destination_fragment_test.go
  docs/data-sources/subaccount_destination_fragment.md
  docs/data-sources/subaccount_destination_fragments.md
  docs/resources/subaccount_destination_fragment.md
  examples/resources/btp_subaccount_destination_fragment/import.sh
  examples/resources/btp_subaccount_destination_fragment/resource.tf
  internal/btpcli/facade_connectivity_destination_fragment.go
Due: gofmt, golangci-lint, terraformfmt

fix: codereview comments
  btp/provider/function_extract_cf_api_url.go
  btp/provider/function_extract_cf_org_id.go
  btp/provider/function_extract_kyma_api_server_url.go
  btp/provider/function_extract_kyma_kubeconfig_url.go
Due: gofmt, golangci-lint

fix: improvement of error message
  btp/provider/helper_extract_environment_label.go
Due: gofmt, golangci-lint

fix: formating
  btp/provider/helper_extract_environment_label.go
  btp/provider/helper_extract_environment_label_test.go
Due: gofmt, golangci-lint

feat: provider-defined functions for environments (#1269)
  btp/provider/function_extract_cf_api_url.go
  btp/provider/function_extract_cf_api_url_test.go
  btp/provider/function_extract_cf_org_id.go
  btp/provider/function_extract_cf_org_id_test.go
  btp/provider/function_extract_kyma_api_server_url.go
  btp/provider/function_extract_kyma_api_server_url_test.go
  btp/provider/function_extract_kyma_kubeconfig_url.go
  btp/provider/function_extract_kyma_kubeconfig_url_test.go
  btp/provider/helper_extract_environment_label.go
  btp/provider/helper_extract_environment_label_test.go
  btp/provider/provider.go
  btp/provider/provider_test.go
  docs/functions/extract_cf_api_url.md
  docs/functions/extract_cf_org_id.md
  docs/functions/extract_kyma_api_server_url.md
  docs/functions/extract_kyma_kubeconfig_url.md
  examples/functions/extract_cf_api_url/function.tf
  examples/functions/extract_cf_org_id/function.tf
  examples/functions/extract_kyma_api_server_url/function.tf
  examples/functions/extract_kyma_kubeconfig_url/function.tf
  templates/functions.md.tmpl
Due: gofmt, golangci-lint, terraformfmt

Changes in documentation and fixes for sonar
  btp/provider/datasource_subaccount_destination_fragment.go
  btp/provider/datasource_subaccount_destination_fragments.go
  btp/provider/datasource_subaccount_destination_trust.go
  btp/provider/resource_subaccount_destination_fragment.go
  docs/data-sources/subaccount_destination_fragment.md
  docs/data-sources/subaccount_destination_fragments.md
  docs/data-sources/subaccount_destination_trust.md
  docs/resources/subaccount_destination_fragment.md
  examples/resources/btp_subaccount_destination_fragment/import.sh
  internal/btpcli/facade_connectivity_destination_fragment.go
  internal/btpcli/facade_connectivity_destination_fragment_test.go
Due: gofmt, golangci-lint

Changes as per review
  btp/provider/datasource_subaccount_destination_fragment.go
  btp/provider/datasource_subaccount_destination_fragments.go
  btp/provider/resource_subaccount_destination_fragment.go
  docs/data-sources/subaccount_destination_fragment.md
  docs/data-sources/subaccount_destination_fragments.md
  docs/resources/subaccount_destination_fragment.md
Due: gofmt, golangci-lint

feat: destination certificate
  btp/provider/datasource_subaccount_destination_certificate.go
  btp/provider/datasource_subaccount_destination_certificate_test.go
  btp/provider/datasource_subaccount_destination_certificates.go
  btp/provider/datasource_subaccount_destination_certificates_test.go
  btp/provider/fixtures/data_source_subaccount_destination_certificate.read_p12_certificate.yaml
  btp/provider/fixtures/data_source_subaccount_destination_certificate.read_pem_certificate.yaml
  btp/provider/fixtures/data_source_subaccount_destination_certificate.read_pfx_certificate.yaml
  btp/provider/fixtures/data_source_subaccount_destination_certificate.service_instance.read_p12_certificate.yaml
  btp/provider/fixtures/data_source_subaccount_destination_certificate.service_instance.read_pem_certificate.yaml
  btp/provider/fixtures/data_source_subaccount_destination_certificate.service_instance.read_pfx_certificate.yaml
  btp/provider/fixtures/data_source_subaccount_destination_certificates.read_certificates.yaml
  btp/provider/fixtures/resource_subaccount_destination_certificate.create_p12_certificate.yaml
  btp/provider/fixtures/resource_subaccount_destination_certificate.create_pem_certificate.yaml
  btp/provider/fixtures/resource_subaccount_destination_certificate.create_pfx_certificate.yaml
  btp/provider/fixtures/resource_subaccount_destination_certificate.service_instance.create_p12_certificate.yaml
  btp/provider/fixtures/resource_subaccount_destination_certificate.service_instance.create_pem_certificate.yaml
  btp/provider/fixtures/resource_subaccount_destination_certificate.service_instance.create_pfx_certificate.yaml
  btp/provider/provider.go
  btp/provider/provider_test.go
  btp/provider/resource_directory_api_credential_test.go
  btp/provider/resource_globalaccount_api_credential_test.go
  btp/provider/resource_subaccount_api_credential_test.go
  btp/provider/resource_subaccount_destination_certificate.go
  btp/provider/resource_subaccount_destination_certificate_test.go
  btp/provider/type_subaccount_destination_certificate.go
  docs/data-sources/subaccount_destination_certificate.md
  docs/data-sources/subaccount_destination_certificates.md
  docs/resources/subaccount_destination_certificate.md
  go.mod
  go.sum
  internal/btpcli/client.go
  internal/btpcli/facade.go
  internal/btpcli/facade_connectivity.go
  internal/btpcli/facade_connectivity_destination_certificates.go
  internal/btpcli/facade_connectivity_destination_certificates_test.go
  internal/btpcli/types/destinations/destination_certificate_response_object.go
  internal/tfutils/certificate_generator.go
  internal/tfutils/certificate_generator_test.go
Due: gofmt, golangci-lint

Changes as per review and import functionality
  btp/provider/fixtures/resource_subaccount_destination_fragment.import_by_resource_identity.yaml
  btp/provider/fixtures/resource_subaccount_destination_fragment_with_service_instance.import_by_resource_identity.yaml
  btp/provider/fixtures/resource_subaccount_destination_fragment_with_service_instance.yaml
  btp/provider/fixtures/resource_subaccount_destination_fragment_without_service_instance.yaml
  btp/provider/resource_subaccount_destination_fragment.go
  btp/provider/resource_subaccount_destination_fragment_test.go
  docs/resources/subaccount_destination_fragment.md
Due: gofmt, golangci-lint

feat: implementation of data sources for destination certificates
  btp/provider/datasource_subaccount_destination_certificate_test.go
  btp/provider/fixtures/resource_subaccount_destination_certificate.create_p12_certificate.yaml
  btp/provider/fixtures/resource_subaccount_destination_certificate.create_pem_certificate.yaml
  btp/provider/fixtures/resource_subaccount_destination_certificate.create_pfx_certificate.yaml
  btp/provider/fixtures/resource_subaccount_destination_certificate.service_instance.create_p12_certificate.yaml
  btp/provider/fixtures/resource_subaccount_destination_certificate.service_instance.create_pem_certificate.yaml
  btp/provider/fixtures/resource_subaccount_destination_certificate.service_instance.create_pfx_certificate.yaml
  btp/provider/provider.go
  btp/provider/provider_test.go
  btp/provider/resource_subaccount_destination_certificate.go
  btp/provider/resource_subaccount_destination_certificate_test.go
  docs/data-sources/subaccount_destination_certificates.md
  docs/resources/subaccount_destination_certificate.md
  internal/btpcli/facade_connectivity.go
  internal/btpcli/facade_connectivity_destination_certificates.go
  internal/btpcli/facade_connectivity_destination_certificates_test.go
  internal/tfutils/certificate_generator.go
  internal/tfutils/certificate_generator_test.go
Due: gofmt, golangci-lint

minor fixes
  docs/data-sources/subaccount_destination_certificate.md
  docs/data-sources/subaccount_destination_certificates.md
  examples/data-sources/btp_subaccount_destination_certificate/data-source.tf
  examples/data-sources/btp_subaccount_destination_certificates/data-source.tf
  go.mod
  go.sum
Due: terraformfmt

Change in import documentation
  docs/resources/subaccount_destination_fragment.md
  examples/resources/btp_subaccount_destination_fragment/import.sh
Due: none

minor fixes
  btp/provider/resource_subaccount_destination_certificate_test.go
  docs/resources/subaccount_destination_certificate.md
  examples/resources/btp_subaccount_destination_certificate/resource.tf
Due: gofmt, golangci-lint, terraformfmt

minor fixes
  docs/data-sources/subaccount_destination_certificate.md
  docs/data-sources/subaccount_destination_certificates.md
  examples/data-sources/btp_subaccount_destination_certificate/data-source.tf
  examples/data-sources/btp_subaccount_destination_certificates/data-source.tf
Due: terraformfmt

feat: datasource destination-certificate (#1278)
  btp/provider/datasource_subaccount_destination_certificate.go
  btp/provider/datasource_subaccount_destination_certificate_test.go
  btp/provider/datasource_subaccount_destination_certificates.go
  btp/provider/datasource_subaccount_destination_certificates_test.go
  btp/provider/fixtures/data_source_subaccount_destination_certificate.read_p12_certificate.yaml
  btp/provider/fixtures/data_source_subaccount_destination_certificate.read_pem_certificate.yaml
  btp/provider/fixtures/data_source_subaccount_destination_certificate.read_pfx_certificate.yaml
  btp/provider/fixtures/data_source_subaccount_destination_certificate.service_instance.read_p12_certificate.yaml
  btp/provider/fixtures/data_source_subaccount_destination_certificate.service_instance.read_pem_certificate.yaml
  btp/provider/fixtures/data_source_subaccount_destination_certificate.service_instance.read_pfx_certificate.yaml
  btp/provider/fixtures/data_source_subaccount_destination_certificates.read_certificates.yaml
  btp/provider/provider.go
  btp/provider/provider_test.go
  btp/provider/resource_directory_api_credential_test.go
  btp/provider/resource_globalaccount_api_credential_test.go
  btp/provider/resource_subaccount_api_credential_test.go
  btp/provider/type_subaccount_destination_certificate.go
  docs/data-sources/subaccount_destination_certificate.md
  docs/data-sources/subaccount_destination_certificates.md
  examples/data-sources/btp_subaccount_destination_certificate/data-source.tf
  examples/data-sources/btp_subaccount_destination_certificates/data-source.tf
  internal/btpcli/facade_connectivity.go
  internal/btpcli/facade_connectivity_destination_certificates.go
  internal/btpcli/facade_connectivity_destination_certificates_test.go
  internal/btpcli/types/destinations/destination_certificate_response_object.go
  internal/tfutils/certificate_generator.go
  internal/tfutils/certificate_generator_test.go
Due: gofmt, golangci-lint, terraformfmt

feat: Implementation for resource of destination fragment (#1276)
  btp/provider/datasource_subaccount_destination_fragment.go
  btp/provider/datasource_subaccount_destination_fragments.go
  btp/provider/datasource_subaccount_destination_trust.go
  btp/provider/fixtures/resource_subaccount_destination_fragment.import_by_resource_identity.yaml
  btp/provider/fixtures/resource_subaccount_destination_fragment_with_service_instance.import_by_resource_identity.yaml
  btp/provider/fixtures/resource_subaccount_destination_fragment_with_service_instance.yaml
  btp/provider/fixtures/resource_subaccount_destination_fragment_without_service_instance.yaml
  btp/provider/provider.go
  btp/provider/provider_test.go
  btp/provider/resource_subaccount_destination_fragment.go
  btp/provider/resource_subaccount_destination_fragment_test.go
  docs/data-sources/subaccount_destination_fragment.md
  docs/data-sources/subaccount_destination_fragments.md
  docs/data-sources/subaccount_destination_trust.md
  docs/resources/subaccount_destination_fragment.md
  examples/resources/btp_subaccount_destination_fragment/import.sh
  examples/resources/btp_subaccount_destination_fragment/resource.tf
  internal/btpcli/facade_connectivity_destination_fragment.go
  internal/btpcli/facade_connectivity_destination_fragment_test.go
Due: gofmt, golangci-lint, terraformfmt

updated the fixture
  btp/provider/fixtures/datasource_subaccount_destination.yaml
Due: none

changed the names
  btp/provider/datasource_subaccount_destination.go
  btp/provider/datasource_subaccount_destination_test.go
  btp/provider/type_destination.go
  docs/data-sources/subaccount_destination.md
  internal/btpcli/facade_connectivity_destination.go
  internal/btpcli/facade_connectivity_destination_test.go
Due: gofmt, golangci-lint

resolved copilot comments
  btp/provider/type_destination.go
Due: gofmt, golangci-lint

re_recorded fixtures
  btp/provider/datasource_subaccount_destination_test.go
  btp/provider/fixtures/datasource_subaccount_destination.yaml
  btp/provider/fixtures/datasource_subaccount_destination_not_found.yaml
  btp/provider/fixtures/datasource_subaccount_destination_with_service_instance.yaml
  btp/provider/fixtures/datasource_subaccount_destination_without_service_instance.yaml
Due: gofmt, golangci-lint

updated the test and fixture
  btp/provider/datasource_subaccount_destination_test.go
  btp/provider/fixtures/datasource_subaccount_destination.yaml
Due: gofmt, golangci-lint

fix: linting error
  btp/provider/type_destination.go
Due: gofmt, golangci-lint

Data source for destinations
  btp/provider/datasource_subaccount_destination.go
  btp/provider/datasource_subaccount_destination_test.go
  btp/provider/fixtures/datasource_subaccount_destination.yaml
  btp/provider/provider.go
  btp/provider/provider_test.go
  btp/provider/type_destination.go
  examples/data-sources/btp_subaccount_destination/data-source.tf
  internal/btpcli/facade_connectivity.go
  internal/btpcli/facade_connectivity_destination.go
  internal/btpcli/facade_connectivity_destination_test.go
  internal/btpcli/types/connectivity/destination_response_object.go
Due: gofmt, golangci-lint, terraformfmt
