Repository SAP/terraform-provider-btp: changes, and which lefthook commands are due for each by the changed paths.
All: gofmt, golangci-lint, terraformfmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    gofmt:
      glob: "*.go"
      run: go fmt ./...
      exclude: "vendor/*"
    golangci-lint:
      glob: "*.go"
      run: golangci-lint run --fix
      exclude: "vendor/*"
    terraformfmt:
      glob: "*.tf"
      run: terraform fmt {staged_files}
      exclude: "vendor/*"

document
  docs/resources/subaccount_destination.md
Due: none

fix terraform format issue
  examples/data-sources/btp_subaccount_destination/data-source.tf
  examples/data-sources/btp_subaccount_destination_certificate/data-source.tf
  examples/data-sources/btp_subaccount_destination_certificates/data-source.tf
  examples/data-sources/btp_subaccount_destinations/data-source.tf
  examples/resources/btp_directory_api_credential/resource.tf
  examples/resources/btp_globalaccount_api_credential/resource.tf
  examples/resources/btp_globalaccount_resource_provider/resource.tf
  examples/resources/btp_globalaccount_security_settings/resource.tf
  examples/resources/btp_subaccount_api_credential/resource.tf
  examples/resources/btp_subaccount_destination/resource.tf
  examples/resources/btp_subaccount_destination_certificate/resource.tf
  examples/resources/btp_subaccount_destination_fragment/resource.tf
  examples/resources/btp_subaccount_security_settings/resource.tf
Due: terraformfmt

document update
  docs/resources/subaccount_destination.md
Due: none

minor model changes
  btp/provider/resource_subaccount_destination.go
  btp/provider/type_destination.go
  docs/resources/subaccount_destination.md
  examples/resources/btp_subaccount_destination/resource.tf
Due: gofmt, golangci-lint, terraformfmt

minor changes
  btp/provider/datasource_subaccount_destination.go
  btp/provider/datasource_subaccount_destinations.go
  btp/provider/fixtures/resource_subaccount_destination_without_service_instance_with_additional_variables.yaml
  btp/provider/resource_subaccount_destination.go
  btp/provider/resource_subaccount_destination_test.go
  btp/provider/type_destination.go
  docs/resources/subaccount_destination.md
  examples/resources/btp_subaccount_destination/import.sh
Due: gofmt, golangci-lint

feat: add resource destination (#1288)
  btp/provider/datasource_subaccount_destination.go
  btp/provider/datasource_subaccount_destinations.go
  btp/provider/fixtures/resource_subaccount_destination_update.yaml
  btp/provider/fixtures/resource_subaccount_destination_with_additional_variables_with_service_instance.yaml
  btp/provider/fixtures/resource_subaccount_destination_with_additional_variables_without_service_instance.yaml
  btp/provider/fixtures/resource_subaccount_destination_without_service_instance_with_additional_variables.yaml
  btp/provider/provider.go
  btp/provider/provider_test.go
  btp/provider/resource_subaccount_destination.go
  btp/provider/resource_subaccount_destination_test.go
  btp/provider/type_destination.go
  docs/resources/subaccount_destination.md
  examples/resources/btp_subaccount_destination/import.sh
  examples/resources/btp_subaccount_destination/resource.tf
  internal/btpcli/facade_connectivity_destination.go
  internal/btpcli/facade_connectivity_destination_test.go
Due: gofmt, golangci-lint, terraformfmt

fix: modify canary regression test workflow
  .github/workflows/canary-regression-test.yml
  regression-test/provider.tf
Due: terraformfmt

minor fix
  .github/workflows/canary-regression-test.yml
Due: none

reverted btp provider version
  regression-test/provider.tf
Due: terraformfmt

chore: Prep for v1.18
  .github/ISSUE_TEMPLATE/bug_report.yml
  docs/index.md
  examples/provider/provider.tf
  integration/provider.tf
Due: terraformfmt

chore: Prep for v1.18 (#1289)
  .github/ISSUE_TEMPLATE/bug_report.yml
  docs/index.md
  examples/provider/provider.tf
  integration/provider.tf
Due: terraformfmt

modified secret names in the worfklow
  .github/workflows/canary-regression-test.yml
Due: none

modified idp name for trust configuration
  .github/workflows/canary-regression-test.yml
Due: none

fix: regression of amount for entitlements
  btp/provider/type_subaccount_entitlement.go
Due: gofmt, golangci-lint

fix: regression of amount for entitlements (#1291)
  btp/provider/type_subaccount_entitlement.go
Due: gofmt, golangci-lint

chore: prep release 1.18.1
  .github/ISSUE_TEMPLATE/bug_report.yml
  docs/index.md
  examples/provider/provider.tf
  integration/provider.tf
Due: terraformfmt

chore: prep release 1.18.1 (#1292)
  .github/ISSUE_TEMPLATE/bug_report.yml
  docs/index.md
  examples/provider/provider.tf
  integration/provider.tf
Due: terraformfmt

fix: modified regression workflow (#1293)
  .github/workflows/canary-regression-test.yml
Due: none

feat: add function to download kubeconfig of Kyma instance
  btp/provider/function_download_kyma_kubeconfig.go
  btp/provider/provider.go
  btp/provider/provider_test.go
  docs/functions/download_kyma_kubeconfig.md
  examples/functions/download_kyma_kubeconfig/function.tf
Due: gofmt, golangci-lint, terraformfmt

fix: add 504 as error to be retried
  internal/btpcli/client.go
Due: gofmt, golangci-lint

fix: adjust test cases for new retry
  internal/btpcli/client_test.go
Due: gofmt, golangci-lint

fix: add 504 as error to be retried (#1300)
  internal/btpcli/client.go
  internal/btpcli/client_test.go
Due: gofmt, golangci-lint

feat: add function to download kubeconfig of Kyma instance (#1297)
  btp/provider/function_download_kyma_kubeconfig.go
  btp/provider/provider.go
  btp/provider/provider_test.go
  docs/functions/download_kyma_kubeconfig.md
  examples/functions/download_kyma_kubeconfig/function.tf
Due: gofmt, golangci-lint, terraformfmt

fix: resolve drift issues and add support for multiple destination types
  btp/provider/fixtures/resource_subaccount_destination_ldap_with_additional_configuration.yaml
  btp/provider/fixtures/resource_subaccount_destination_mail_with_additional_configuration.yaml
  btp/provider/fixtures/resource_subaccount_destination_rfc_with_additional_configuration.yaml
  btp/provider/fixtures/resource_subaccount_destination_tcp_with_additional_variables.yaml
  btp/provider/fixtures/resource_subaccount_destination_update.yaml
  btp/provider/fixtures/resource_subaccount_destination_with_additional_variables_with_service_instance.yaml
  btp/provider/fixtures/resource_subaccount_destination_with_additional_variables_without_service_instance.yaml
  btp/provider/fixtures/resource_subaccount_destination_without_service_instance_with_additional_variables.yaml
  btp/provider/resource_subaccount_destination.go
  btp/provider/resource_subaccount_destination_test.go
  btp/provider/type_destination.go
  docs/resources/subaccount_destination.md
  examples/resources/btp_subaccount_destination/resource.tf
Due: gofmt, golangci-lint, terraformfmt

fix: document update terraform format
  docs/resources/subaccount_destination.md
  examples/resources/btp_subaccount_destination/resource.tf
Due: terraformfmt

fix: terraform format
  docs/resources/subaccount_destination.md
  examples/resources/btp_subaccount_destination/resource.tf
Due: terraformfmt

fix: example of terraform code
  docs/resources/subaccount_destination.md
  examples/resources/btp_subaccount_destination/resource.tf
Due: terraformfmt

fix: error names
  btp/provider/resource_subaccount_destination.go
Due: gofmt, golangci-lint

added test case
  btp/provider/fixtures/resource_subaccount_destination_without_service_instance_with_additional_variables_for_import_id.yaml
  btp/provider/resource_subaccount_destination_test.go
Due: gofmt, golangci-lint

chorew: update license files
  README.md
  REUSE.toml
  guides/DRIFTDETECTION.md
  guides/IMPORT.md
Due: none

chorew: update license files (#1307)
  README.md
  REUSE.toml
  guides/DRIFTDETECTION.md
  guides/IMPORT.md
Due: none

resolved naming comments
  btp/provider/fixtures/resource_subaccount_destination_tcp_with_additional_configuration.yaml
  btp/provider/fixtures/resource_subaccount_destination_with_additional_configuration_with_service_instance.yaml
  btp/provider/fixtures/resource_subaccount_destination_with_additional_configuration_without_service_instance.yaml
  btp/provider/fixtures/resource_subaccount_destination_without_service_instance_with_additional_configuration_for_import_id.yaml
  btp/provider/resource_subaccount_destination.go
  btp/provider/resource_subaccount_destination_test.go
  btp/provider/type_destination.go
Due: gofmt, golangci-lint

deleted extra old fixture
  btp/provider/fixtures/resource_subaccount_destination_tcp_with_additional_variables.yaml
  btp/provider/fixtures/resource_subaccount_destination_with_additional_variables_with_service_instance.yaml
  btp/provider/fixtures/resource_subaccount_destination_with_additional_variables_without_service_instance.yaml
  btp/provider/fixtures/resource_subaccount_destination_without_service_instance_with_additional_variables_for_import_id.yaml
Due: none

Added logging information to provider config
  btp/provider/provider.go
Due: gofmt, golangci-lint

Added logging information to provider config (#1314)
  btp/provider/provider.go
Due: gofmt, golangci-lint

enhance read identity block
  btp/provider/resource_subaccount_destination.go
Due: gofmt, golangci-lint

added identity block for environment instance
  btp/provider/fixtures/resource_subaccount_environment_instance.update.yaml
  btp/provider/fixtures/resource_subaccount_environment_instance.with_timeout.yaml
  btp/provider/fixtures/resource_subaccount_environment_instance.yaml
  btp/provider/fixtures/resource_subaccount_environment_instance_import.with_timeout.yaml
  btp/provider/resource_subaccount_environment_instance.go
  btp/provider/resource_subaccount_environment_instance_test.go
  docs/resources/subaccount_environment_instance.md
  examples/resources/btp_subaccount_environment_instance/import.sh
Due: gofmt, golangci-lint

removed identity block updation while update
  btp/provider/resource_subaccount_environment_instance.go
Due: gofmt, golangci-lint

corrected the example
  docs/resources/subaccount_environment_instance.md
  examples/resources/btp_subaccount_environment_instance/import.sh
Due: none
