Repository SAP/terraform-provider-btp: changes, and which lefthook commands are due for each by the changed paths.
All: gofmt, golangci-lint, terraformfmt

gofmt:
  run: go fmt ./...

golangci-lint:
  run: golangci-lint run --fix

terraformfmt:
  run: terraform fmt {staged_files}

feat: additional error messages
  internal/provider/provider.go
  internal/provider/provider_test.go
Due: gofmt, golangci-lint

feat: improve error messages of provider login (#485)
  internal/provider/fixtures/provider.error_user_pwd.yaml
  internal/provider/fixtures/provider.error_x509.yaml
  internal/provider/provider.go
  internal/provider/provider_test.go
Due: gofmt, golangci-lint

increase timeout to 15m
  .github/workflows/test.yml
Due: none

fix: adjust imorted IDs for trust configuration
  docs/resources/subaccount_trust_configuration.md
  examples/resources/btp_subaccount_trust_configuration/import.sh
  internal/provider/fixtures/resource_subaccount_trust_configuration.complete.yaml
  internal/provider/fixtures/resource_subaccount_trust_configuration.import_error.yaml
  internal/provider/fixtures/resource_subaccount_trust_configuration.minimal.yaml
  internal/provider/resource_subaccount_trust_configuration.go
  internal/provider/resource_subaccount_trust_configuration_test.go
Due: gofmt, golangci-lint

fix: sync import and docu for global account trust configuration
  docs/resources/globalaccount_trust_configuration.md
  examples/resources/btp_globalaccount_trust_configuration/import.sh
  internal/provider/fixtures/resource_globalaccount_trust_configuration.complete.yaml
  internal/provider/fixtures/resource_globalaccount_trust_configuration.invalid_idp.yaml
  internal/provider/fixtures/resource_globalaccount_trust_configuration.minimal.yaml
  internal/provider/resource_globalaccount_trust_configuration.go
  internal/provider/resource_globalaccount_trust_configuration_test.go
Due: gofmt, golangci-lint

fix: recording of test fixtures
  internal/provider/fixtures/resource_globalaccount_trust_configuration.complete.yaml
  internal/provider/fixtures/resource_globalaccount_trust_configuration.invalid_idp.yaml
  internal/provider/fixtures/resource_globalaccount_trust_configuration.minimal.yaml
  internal/provider/fixtures/resource_subaccount_trust_configuration.complete.yaml
  internal/provider/fixtures/resource_subaccount_trust_configuration.import_error.yaml
  internal/provider/fixtures/resource_subaccount_trust_configuration.minimal.yaml
Due: none

fix: sonar cloud finding
  internal/provider/provider.go
Due: gofmt, golangci-lint

fix: sonar cloud finding (#493)
  internal/provider/provider.go
Due: gofmt, golangci-lint

fix: failing import of subaccount trust configuration (#492)
  docs/resources/globalaccount_trust_configuration.md
  docs/resources/subaccount_trust_configuration.md
  examples/resources/btp_globalaccount_trust_configuration/import.sh
  examples/resources/btp_subaccount_trust_configuration/import.sh
  internal/provider/fixtures/resource_globalaccount_trust_configuration.invalid_idp.yaml
  internal/provider/fixtures/resource_globalaccount_trust_configuration.minimal.yaml
  internal/provider/fixtures/resource_subaccount_trust_configuration.complete.yaml
  internal/provider/fixtures/resource_subaccount_trust_configuration.import_error.yaml
  internal/provider/fixtures/resource_subaccount_trust_configuration.minimal.yaml
  internal/provider/resource_globalaccount_trust_configuration.go
  internal/provider/resource_globalaccount_trust_configuration_test.go
  internal/provider/resource_subaccount_trust_configuration.go
  internal/provider/resource_subaccount_trust_configuration_test.go
Due: gofmt, golangci-lint

fix: removed plan modifier
  internal/provider/resource_directory.go
  internal/provider/resource_subaccount.go
Due: gofmt, golangci-lint

fix: remove computed from labels test cases
  internal/provider/resource_directory_test.go
  internal/provider/resource_subaccount.go
  internal/provider/resource_subaccount_test.go
Due: gofmt, golangci-lint

fix: removed imports
  internal/provider/resource_directory.go
  internal/provider/resource_subaccount.go
Due: gofmt, golangci-lint

fix: remove computed from labels
  internal/provider/resource_directory.go
  internal/provider/resource_subaccount.go
Due: gofmt, golangci-lint

send enpty map if labels are null
  internal/provider/fixtures/resource_directory.full_config.yaml
  internal/provider/fixtures/resource_subaccount.full_config.yaml
  internal/provider/resource_directory.go
  internal/provider/resource_directory_test.go
  internal/provider/resource_subaccount.go
  internal/provider/resource_subaccount_test.go
Due: gofmt, golangci-lint

fix: recording of test fixtures
  internal/provider/fixtures/resource_directory.error_change_features.yaml
  internal/provider/fixtures/resource_directory.full_config.yaml
  internal/provider/fixtures/resource_directory.with_features.yaml
  internal/provider/fixtures/resource_directory.yaml
  internal/provider/fixtures/resource_subaccount.change_to_used_for_production.yaml
  internal/provider/fixtures/resource_subaccount.full_config.yaml
  internal/provider/fixtures/resource_subaccount.used_for_production.yaml
  internal/provider/fixtures/resource_subaccount.yaml
Due: none

fix: handling of labels on subaccount and directory (#494)
  internal/provider/fixtures/resource_directory.error_change_features.yaml
  internal/provider/fixtures/resource_directory.full_config.yaml
  internal/provider/fixtures/resource_directory.with_features.yaml
  internal/provider/fixtures/resource_directory.yaml
  internal/provider/fixtures/resource_subaccount.change_to_used_for_production.yaml
  internal/provider/fixtures/resource_subaccount.full_config.yaml
  internal/provider/fixtures/resource_subaccount.used_for_production.yaml
  internal/provider/fixtures/resource_subaccount.yaml
  internal/provider/resource_directory.go
  internal/provider/resource_directory_test.go
  internal/provider/resource_subaccount.go
  internal/provider/resource_subaccount_test.go
Due: gofmt, golangci-lint

fix: remove workaround for directory deletion
  internal/provider/resource_directory.go
Due: gofmt, golangci-lint

fix: remove workaround for directory deletion (#495)
  internal/provider/resource_directory.go
Due: gofmt, golangci-lint

bug: remove unsued code for logout
  internal/btpcli/client.go
  internal/btpcli/client_test.go
  internal/btpcli/clienttypes.go
  internal/btpcli/clienttypes_test.go
Due: gofmt, golangci-lint

generating docs
  docs/index.md
Due: none

fix: remove workaround for service instance creation
  internal/btpcli/facade_services_instance.go
Due: gofmt, golangci-lint

fix: remove workaround for name when updating a service instance
  internal/btpcli/facade_services_instance.go
  internal/provider/fixtures/resource_subaccount_service_instance.import_error.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.with_labels.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.with_labels_change.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.with_parameters.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.wo_parameters.yaml
  internal/provider/fixtures/resource_subaccount_service_instance_with_timeouts.yaml
  internal/provider/resource_subaccount_service_instance.go
Due: gofmt, golangci-lint

fix: description of handling of updates
  internal/btpcli/facade_services_instance.go
Due: gofmt, golangci-lint

fix: record fixtures after rebase
  internal/provider/fixtures/resource_subaccount_service_instance.import_error.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.with_labels.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.with_labels_change.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.with_parameters.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.wo_parameters.yaml
  internal/provider/fixtures/resource_subaccount_service_instance_with_timeouts.yaml
Due: none

fix: remove unused code for logout (#496)
  internal/btpcli/client.go
  internal/btpcli/client_test.go
  internal/btpcli/clienttypes.go
  internal/btpcli/clienttypes_test.go
Due: gofmt, golangci-lint

fix: remove workarounds from service instance creation (#498)
  internal/btpcli/facade_services_instance.go
  internal/provider/fixtures/resource_subaccount_service_instance.import_error.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.with_labels.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.with_labels_change.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.with_parameters.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.wo_parameters.yaml
  internal/provider/fixtures/resource_subaccount_service_instance_with_timeouts.yaml
  internal/provider/resource_subaccount_service_instance.go
Due: gofmt, golangci-lint

chore: refine sonar settings for generated types from platform APIs
  sonar-project.properties
Due: none

chore: refine sonar settings for generated types from platform APIs (#501)
  sonar-project.properties
Due: none

chore: refine sonar setting, excluded directories for types
  sonar-project.properties
Due: none

chore: refine sonar setting, excluded directories for types (#502)
  sonar-project.properties
Due: none

fix: handling of trust configuration for SAP default idp
  internal/provider/fixtures/resource_subaccount_trust_configuration.error_missing_identityprovider.yaml
  internal/provider/resource_subaccount_trust_configuration.go
  internal/provider/resource_subaccount_trust_configuration_test.go
Due: gofmt, golangci-lint

fix: typos in error message
  internal/provider/resource_subaccount_trust_configuration.go
Due: gofmt, golangci-lint

fix: handling of trust configuration for SAP default idp (#505)
  internal/provider/fixtures/resource_subaccount_trust_configuration.error_missing_identityprovider.yaml
  internal/provider/resource_subaccount_trust_configuration.go
  internal/provider/resource_subaccount_trust_configuration_test.go
Due: gofmt, golangci-lint

feat: remove state in case of 404 errors to enable recreation
  internal/provider/fixtures/resource_subaccount_trust_configuration.error_notfound.yaml
  internal/provider/resource_subaccount_trust_configuration.go
  internal/provider/resource_subaccount_trust_configuration_test.go
Due: gofmt, golangci-lint

docu: switch to release 0.6.0 for provider docu
  docs/index.md
  examples/provider/provider.tf
Due: terraformfmt

Path conditions:
  gofmt: any of: *.go, but not: vendor/*
  golangci-lint: any of: *.go, but not: vendor/*
  terraformfmt: any of: *.tf, but not: vendor/*
