Repository SAP/terraform-provider-btp: changes, and which lefthook commands are due for each by the changed paths.
All: gofmt, golangci-lint, terraformfmt

gofmt:
  run: go fmt ./...

golangci-lint:
  run: golangci-lint run --fix

terraformfmt:
  run: terraform fmt {staged_files}

feat : added trust configuration import block
  btp/provider/fixtures/resource_subaccount_trust_configuration.complete.yaml
  btp/provider/fixtures/resource_subaccount_trust_configuration.error_missing_identityprovider.yaml
  btp/provider/fixtures/resource_subaccount_trust_configuration.import_error.yaml
  btp/provider/fixtures/resource_subaccount_trust_configuration.minimal.yaml
  btp/provider/fixtures/resource_subaccount_trust_configuration_with_import_block.yaml
  btp/provider/resource_subaccount_trust_configuration.go
  btp/provider/resource_subaccount_trust_configuration_test.go
  docs/resources/subaccount_trust_configuration.md
  examples/resources/btp_subaccount_trust_configuration/import.sh
Due: gofmt, golangci-lint

refactor: remove obsolete comments and cleanup code
  btp/provider/resource_subaccount_role_collection_base.go
  btp/provider/resource_subaccount_role_collection_role.go
  btp/provider/resource_subaccount_role_collection_role_test.go
Due: gofmt, golangci-lint

doc edit
  btp/provider/resource_subaccount_trust_configuration_test.go
  docs/resources/subaccount_trust_configuration.md
  examples/resources/btp_subaccount_trust_configuration/import.sh
Due: gofmt, golangci-lint

feat: added trust configuration import block (#1337)
  btp/provider/fixtures/resource_subaccount_trust_configuration.complete.yaml
  btp/provider/fixtures/resource_subaccount_trust_configuration.error_missing_identityprovider.yaml
  btp/provider/fixtures/resource_subaccount_trust_configuration.import_error.yaml
  btp/provider/fixtures/resource_subaccount_trust_configuration.minimal.yaml
  btp/provider/fixtures/resource_subaccount_trust_configuration_with_import_block.yaml
  btp/provider/resource_subaccount_trust_configuration.go
  btp/provider/resource_subaccount_trust_configuration_test.go
  docs/resources/subaccount_trust_configuration.md
  examples/resources/btp_subaccount_trust_configuration/import.sh
Due: gofmt, golangci-lint

feat: added suppaort for identity import block for global account resource provider
  btp/provider/fixtures/resource_globalaccount_resource_provider.update_with_import.yaml
  btp/provider/resource_globalaccount_resource_provider.go
  btp/provider/resource_globalaccount_resource_provider_test.go
  docs/resources/globalaccount_resource_provider.md
  examples/resources/btp_globalaccount_resource_provider/import.sh
Due: gofmt, golangci-lint

feat: add role collection base and role resources
  btp/provider/fixtures/resource_subaccount_role_collection_base.import_error.yaml
  btp/provider/fixtures/resource_subaccount_role_collection_base.import_resource_identity.yaml
  btp/provider/fixtures/resource_subaccount_role_collection_base.update.yaml
  btp/provider/fixtures/resource_subaccount_role_collection_base.update_rm_desc.yaml
  btp/provider/fixtures/resource_subaccount_role_collection_base.update_wo_desc.yaml
  btp/provider/fixtures/resource_subaccount_role_collection_base.yaml
  btp/provider/fixtures/resource_subaccount_role_collection_role.import_error.yaml
  btp/provider/fixtures/resource_subaccount_role_collection_role.import_identity.yaml
  btp/provider/fixtures/resource_subaccount_role_collection_role.yaml
  btp/provider/resource_subaccount_role_collection_base.go
  btp/provider/resource_subaccount_role_collection_base_test.go
  btp/provider/resource_subaccount_role_collection_role.go
  btp/provider/resource_subaccount_role_collection_role_test.go
Due: gofmt, golangci-lint

docs: add schema descriptions and conflict warnings for resources
  docs/resources/subaccount_role_collection_base.md
  docs/resources/subaccount_role_collection_role.md
  examples/resources/btp_subaccount_role_collection_base/import.sh
  examples/resources/btp_subaccount_role_collection_base/resource.tf
  examples/resources/btp_subaccount_role_collection_role/import.sh
  examples/resources/btp_subaccount_role_collection_role/resource.tf
Due: terraformfmt

feat: register new resource in provider
  btp/provider/provider.go
  btp/provider/provider_test.go
Due: gofmt, golangci-lint

docs: add documentation for role collection data sources
  docs/data-sources/subaccount_role_collection_base.md
  docs/data-sources/subaccount_role_collection_bases.md
  docs/data-sources/subaccount_role_collection_role.md
  docs/data-sources/subaccount_role_collection_roles.md
  examples/data-sources/btp_subaccount_role_collection_base/data-source.tf
  examples/data-sources/btp_subaccount_role_collection_bases/data-source.tf
  examples/data-sources/btp_subaccount_role_collection_role/data-source.tf
  examples/data-sources/btp_subaccount_role_collection_roles/data-source.tf
Due: terraformfmt

feat: add data sources for role collection bases and roles
  btp/provider/datasource_subaccount_role_collection_base.go
  btp/provider/datasource_subaccount_role_collection_base_test.go
  btp/provider/datasource_subaccount_role_collection_bases.go
  btp/provider/datasource_subaccount_role_collection_bases_test.go
  btp/provider/datasource_subaccount_role_collection_role.go
  btp/provider/datasource_subaccount_role_collection_role_test.go
  btp/provider/datasource_subaccount_role_collection_roles.go
  btp/provider/datasource_subaccount_role_collection_roles_test.go
  btp/provider/fixtures/datasource_subaccount_role_collection_base.yaml
  btp/provider/fixtures/datasource_subaccount_role_collection_bases.yaml
  btp/provider/fixtures/datasource_subaccount_role_collection_role.not_found.yaml
  btp/provider/fixtures/datasource_subaccount_role_collection_role.yaml
  btp/provider/fixtures/datasource_subaccount_role_collection_roles.yaml
  btp/provider/provider.go
  btp/provider/provider_test.go
Due: gofmt, golangci-lint

refactor: remove resource registration from provider
  btp/provider/provider.go
  btp/provider/provider_test.go
Due: gofmt, golangci-lint

doc updation
  docs/resources/globalaccount_resource_provider.md
  examples/resources/btp_globalaccount_resource_provider/import.sh
Due: none

feat: added support for identity import block for global account res… (#1339)
  btp/provider/fixtures/resource_globalaccount_resource_provider.update_with_import.yaml
  btp/provider/resource_globalaccount_resource_provider.go
  btp/provider/resource_globalaccount_resource_provider_test.go
  docs/resources/globalaccount_resource_provider.md
  examples/resources/btp_globalaccount_resource_provider/import.sh
Due: gofmt, golangci-lint

docs: add import information
  docs/resources/subaccount_destination_generic.md
  templates/resources/subaccount_destination_generic.md.tmpl
Due: none

feat: Create new datasources role collection role (#1341)
  btp/provider/datasource_subaccount_role_collection_base.go
  btp/provider/datasource_subaccount_role_collection_base_test.go
  btp/provider/datasource_subaccount_role_collection_bases.go
  btp/provider/datasource_subaccount_role_collection_bases_test.go
  btp/provider/datasource_subaccount_role_collection_role.go
  btp/provider/datasource_subaccount_role_collection_role_test.go
  btp/provider/datasource_subaccount_role_collection_roles.go
  btp/provider/datasource_subaccount_role_collection_roles_test.go
  btp/provider/fixtures/datasource_subaccount_role_collection_base.yaml
  btp/provider/fixtures/datasource_subaccount_role_collection_bases.yaml
  btp/provider/fixtures/datasource_subaccount_role_collection_role.not_found.yaml
  btp/provider/fixtures/datasource_subaccount_role_collection_role.yaml
  btp/provider/fixtures/datasource_subaccount_role_collection_roles.yaml
  btp/provider/provider.go
  btp/provider/provider_test.go
  docs/data-sources/subaccount_role_collection_base.md
  docs/data-sources/subaccount_role_collection_bases.md
  docs/data-sources/subaccount_role_collection_role.md
  docs/data-sources/subaccount_role_collection_roles.md
  examples/data-sources/btp_subaccount_role_collection_base/data-source.tf
  examples/data-sources/btp_subaccount_role_collection_bases/data-source.tf
  examples/data-sources/btp_subaccount_role_collection_role/data-source.tf
  examples/data-sources/btp_subaccount_role_collection_roles/data-source.tf
Due: gofmt, golangci-lint, terraformfmt

fix: improve error message for destinations
  internal/btpcli/client.go
Due: gofmt, golangci-lint

feat: enforce replacement for immutable role attributes
  btp/provider/resource_subaccount_role_collection_base.go
  btp/provider/resource_subaccount_role_collection_role.go
Due: gofmt, golangci-lint

fix: format of example
  docs/data-sources/globalaccount_entitlement_with_data_centers.md
  examples/data-sources/btp_globalaccount_entitlement_with_data_centers/data-source.tf
Due: terraformfmt

docs: add examples to data sources
  docs/data-sources/subaccount_destination.md
  docs/data-sources/subaccount_destination_generic.md
  docs/data-sources/subaccount_destinations.md
  docs/data-sources/subaccount_destinations_generic.md
  docs/data-sources/subaccount_destinations_names.md
  examples/data-sources/btp_subaccount_destination_generic/data-source.tf
  examples/data-sources/btp_subaccount_destinations/data-source.tf
  examples/data-sources/btp_subaccount_destinations_generic/data-source.tf
  examples/data-sources/btp_subaccount_destinations_names/data-source.tf
Due: terraformfmt

added address and url validation
  btp/provider/resource_subaccount_destination_generic.go
  btp/provider/type_destination_generic.go
Due: gofmt, golangci-lint

test case for error case
  btp/provider/fixtures/resource_subaccount_destination_generic_http_url_error.yaml
  btp/provider/resource_subaccount_destination_generic_test.go
Due: gofmt, golangci-lint

fix: copilot review comments
  btp/provider/datasource_subaccount_destinations_generic_test.go
  btp/provider/datasource_subaccount_destinations_names.go
  btp/provider/resource_subaccount_destination_generic.go
  btp/provider/type_destination_generic.go
  docs/data-sources/subaccount_destinations_names.md
  docs/resources/subaccount_destination_generic.md
Due: gofmt, golangci-lint

feat: Create new resource btp_subaccount_role_collection_role (#1340)
  btp/provider/fixtures/resource_subaccount_role_collection_base.import_error.yaml
  btp/provider/fixtures/resource_subaccount_role_collection_base.import_resource_identity.yaml
  btp/provider/fixtures/resource_subaccount_role_collection_base.update.yaml
  btp/provider/fixtures/resource_subaccount_role_collection_base.update_rm_desc.yaml
  btp/provider/fixtures/resource_subaccount_role_collection_base.update_wo_desc.yaml
  btp/provider/fixtures/resource_subaccount_role_collection_base.yaml
  btp/provider/fixtures/resource_subaccount_role_collection_role.import_error.yaml
  btp/provider/fixtures/resource_subaccount_role_collection_role.import_identity.yaml
  btp/provider/fixtures/resource_subaccount_role_collection_role.yaml
  btp/provider/provider.go
  btp/provider/provider_test.go
  btp/provider/resource_subaccount_role_collection_base.go
  btp/provider/resource_subaccount_role_collection_base_test.go
  btp/provider/resource_subaccount_role_collection_role.go
  btp/provider/resource_subaccount_role_collection_role_test.go
  docs/resources/subaccount_role_collection_base.md
  docs/resources/subaccount_role_collection_role.md
  examples/resources/btp_subaccount_role_collection_base/import.sh
  examples/resources/btp_subaccount_role_collection_base/resource.tf
  examples/resources/btp_subaccount_role_collection_role/import.sh
  examples/resources/btp_subaccount_role_collection_role/resource.tf
Due: gofmt, golangci-lint, terraformfmt

redesign name retreaving logic
  btp/provider/type_destination_generic.go
Due: gofmt, golangci-lint

feat: add identity provider data sources for subaccount and global account
  btp/provider/datasource_globalaccount_security_identity_provider.go
  btp/provider/datasource_globalaccount_security_identity_provider_test.go
  btp/provider/datasource_globalaccount_security_identity_providers.go
  btp/provider/datasource_globalaccount_security_identity_providers_test.go
  btp/provider/datasource_subaccount_security_identity_provider.go
  btp/provider/datasource_subaccount_security_identity_provider_test.go
  btp/provider/datasource_subaccount_security_identity_providers.go
  btp/provider/datasource_subaccount_security_identity_providers_test.go
  btp/provider/fixtures/datasource_globalaccount_identity_provider.by_host.yaml
  btp/provider/fixtures/datasource_globalaccount_identity_providers.list_all.yaml
  btp/provider/fixtures/datasource_subaccount_identity_provider.by_host.yaml
  btp/provider/fixtures/datasource_subaccount_identity_provider.subaccount_not_found.yaml
  btp/provider/fixtures/datasource_subaccount_identity_providers.list_all.yaml
  btp/provider/fixtures/datasource_subaccount_identity_providers.subaccount_not_found.yaml
  btp/provider/provider.go
  btp/provider/provider_test.go
  internal/btpcli/facade_security.go
  internal/btpcli/facade_security_identity_provider.go
  internal/btpcli/types/xsuaa_authz/model_security_identity_provider.go
Due: gofmt, golangci-lint

docs: add documentation and examples for identity provider data sources
  docs/data-sources/globalaccount_identity_provider.md
  docs/data-sources/globalaccount_identity_providers.md
  docs/data-sources/subaccount_identity_provider.md
  docs/data-sources/subaccount_identity_providers.md
  examples/data-sources/btp_globalaccount_identity_provider/data-source.tf
  examples/data-sources/btp_globalaccount_identity_providers/data-source.tf
  examples/data-sources/btp_subaccount_identity_provider/data-source.tf
  examples/data-sources/btp_subaccount_identity_providers/data-source.tf
Due: terraformfmt

feat: added the merge function
  btp/provider/resource_subaccount_destination_generic.go
  btp/provider/type_destination_generic.go
Due: gofmt, golangci-lint

feat: added the merge function (#1344)
  btp/provider/resource_subaccount_destination_generic.go
  btp/provider/type_destination_generic.go
Due: gofmt, golangci-lint

test: add unit tests for security identity provider facade
  internal/btpcli/facade_security_identity_provider_test.go
Due: gofmt, golangci-lint

doc: format doc
  docs/data-sources/globalaccount_identity_provider.md
  docs/data-sources/subaccount_identity_provider.md
  examples/data-sources/btp_globalaccount_identity_provider/data-source.tf
  examples/data-sources/btp_subaccount_identity_provider/data-source.tf
Due: terraformfmt

chore: v1.19.0 prep work
  .github/ISSUE_TEMPLATE/bug_report.yml
  docs/index.md
  examples/provider/provider.tf
  integration/provider.tf
Due: terraformfmt

chore: v1.19.0 prep work (#1346)
  .github/ISSUE_TEMPLATE/bug_report.yml
  docs/index.md
  examples/provider/provider.tf
  integration/provider.tf
Due: terraformfmt

refactor: remove duplicate code
  btp/provider/datasource_globalaccount_security_identity_provider.go
  btp/provider/datasource_globalaccount_security_identity_providers.go
  btp/provider/datasource_subaccount_security_identity_provider.go
  btp/provider/datasource_subaccount_security_identity_providers.go
  btp/provider/type_security_identity_provider.go
  examples/data-sources/btp_subaccount_identity_provider/data-source.tf
  internal/btpcli/types/xsuaa_authz/model_security_identity_provider.go
Due: gofmt, golangci-lint, terraformfmt

doc: refactor doc
  btp/provider/datasource_globalaccount_security_identity_provider.go
  btp/provider/datasource_globalaccount_security_identity_providers.go
  docs/data-sources/globalaccount_identity_provider.md
  docs/data-sources/globalaccount_identity_providers.md
Due: gofmt, golangci-lint

Path conditions:
  gofmt: any of: *.go, but not: vendor/*
  golangci-lint: any of: *.go, but not: vendor/*
  terraformfmt: any of: *.tf, but not: vendor/*
