Repository SAP/terraform-provider-btp: changes, and which lefthook commands are due for each by the changed paths.
All: gofmt, golangci-lint, terraformfmt

gofmt:
  run: go fmt ./...

golangci-lint:
  run: golangci-lint run --fix

terraformfmt:
  run: terraform fmt {staged_files}

feat: add optional plan_unique_identifier to directory and subaccount entitlement datasources
  btp/provider/datasource_directory_entitlement.go
  btp/provider/datasource_subaccount_entitlement.go
  docs/data-sources/directory_entitlement.md
  docs/data-sources/subaccount_entitlement.md
  examples/data-sources/btp_directory_entitlement/data-source.tf
  examples/data-sources/btp_subaccount_entitlement/data-source.tf
Due: gofmt, golangci-lint, terraformfmt

fix: fix lint issue
  btp/provider/resource_directory_entitlement_test.go
Due: gofmt, golangci-lint

fix: restore request body in VCR matcher to support duplicate-URL interactions
  btp/provider/provider_test.go
Due: gofmt, golangci-lint

Added plan_unique_identifier to test scripts
  tests/integration-test/canary.tfvars
  tests/integration-test/live.tfvars
  tests/integration-test/main.tf
  tests/regression-test/main.tf
Due: terraformfmt

Added plan_unique_identifier to test scripts (#1595)
  tests/integration-test/canary.tfvars
  tests/integration-test/live.tfvars
  tests/integration-test/main.tf
  tests/regression-test/main.tf
Due: terraformfmt

Update main.tf
  tests/regression-test/main.tf
Due: terraformfmt

Update main.tf (#1597)
  tests/regression-test/main.tf
Due: terraformfmt

Fixing Landscape label for environment instance and removing directory entitlement
  tests/integration-test/main.tf
  tests/regression-test/main.tf
Due: terraformfmt

Fixing Landscape label for environment instance and removing directory entitlement (#1598)
  tests/integration-test/main.tf
  tests/regression-test/main.tf
Due: terraformfmt

docs: use styled warning callout for role collection conflict of authority
  btp/provider/resource_subaccount_role_collection_base.go
  btp/provider/resource_subaccount_role_collection_role.go
  docs/resources/subaccount_role_collection_base.md
  docs/resources/subaccount_role_collection_role.md
Due: gofmt, golangci-lint

docs: use styled warning callout for role collection conflict of authority (#1604)
  btp/provider/resource_subaccount_role_collection_base.go
  btp/provider/resource_subaccount_role_collection_role.go
  docs/resources/subaccount_role_collection_base.md
  docs/resources/subaccount_role_collection_role.md
Due: gofmt, golangci-lint

fix(test): record test fixtures
  btp/provider/fixtures/resource_subaccount_trust_configuration.complete.yaml
  btp/provider/fixtures/resource_subaccount_trust_configuration.error_missing_identityprovider.yaml
  btp/provider/fixtures/resource_subaccount_trust_configuration.import_error.yaml
  btp/provider/fixtures/resource_subaccount_trust_configuration.minimal.yaml
  btp/provider/fixtures/resource_subaccount_trust_configuration_with_import_block.yaml
Due: none

fix: remove refresh from trust update
  internal/btpcli/facade_security_trust.go
Due: gofmt, golangci-lint

fix: adjust unit tests and refine comment
  internal/btpcli/facade_security_trust.go
  internal/btpcli/facade_security_trust_test.go
Due: gofmt, golangci-lint

fix(test): re-record test fixtures for global account
  btp/provider/fixtures/resource_globalaccount_trust_configuration.complete.yaml
  btp/provider/fixtures/resource_globalaccount_trust_configuration.import_block.yaml
  btp/provider/fixtures/resource_globalaccount_trust_configuration.invalid_idp.yaml
  btp/provider/fixtures/resource_globalaccount_trust_configuration.minimal.yaml
Due: none

fix: refresh trust during update (#1605)
  btp/provider/fixtures/resource_globalaccount_trust_configuration.complete.yaml
  btp/provider/fixtures/resource_globalaccount_trust_configuration.import_block.yaml
  btp/provider/fixtures/resource_globalaccount_trust_configuration.invalid_idp.yaml
  btp/provider/fixtures/resource_globalaccount_trust_configuration.minimal.yaml
  btp/provider/fixtures/resource_subaccount_trust_configuration.complete.yaml
  btp/provider/fixtures/resource_subaccount_trust_configuration.error_missing_identityprovider.yaml
  btp/provider/fixtures/resource_subaccount_trust_configuration.import_error.yaml
  btp/provider/fixtures/resource_subaccount_trust_configuration.minimal.yaml
  btp/provider/fixtures/resource_subaccount_trust_configuration_with_import_block.yaml
  internal/btpcli/facade_security_trust.go
  internal/btpcli/facade_security_trust_test.go
Due: gofmt, golangci-lint

chore: prep release 1.24.0
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/binary-integrity-check.yml
  docs/index.md
  examples/provider/provider.tf
Due: terraformfmt

chore: prep release 1.24.0 (#1609)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/binary-integrity-check.yml
  docs/index.md
  examples/provider/provider.tf
Due: terraformfmt

fix: deprecate sso login
  btp/provider/provider.go
  docs/index.md
  templates/index.md.tmpl
Due: gofmt, golangci-lint

fix: auth flow precedence
  btp/provider/provider.go
  btp/provider/provider_test.go
  btp/provider/resource_directory_entitlement_test.go
Due: gofmt, golangci-lint

fix: update docs with precedence
  docs/index.md
  templates/index.md.tmpl
Due: none

fix(review): Warning for sso login
  btp/provider/provider.go
Due: gofmt, golangci-lint

fix(review): behavior on empty string
  btp/provider/provider.go
  btp/provider/provider_test.go
  docs/index.md
  templates/index.md.tmpl
Due: gofmt, golangci-lint

fix(review): conflict with bt CLI login and SSO
  btp/provider/provider.go
  btp/provider/provider_test.go
Due: gofmt, golangci-lint

fix(review): refinement after Claude Code review
  btp/provider/provider.go
  btp/provider/provider_test.go
Due: gofmt, golangci-lint

fix: precedence of auth flows and parameters (#1615)
  btp/provider/provider.go
  btp/provider/provider_test.go
  btp/provider/resource_directory_entitlement_test.go
  docs/index.md
  templates/index.md.tmpl
Due: gofmt, golangci-lint

added user assingment
  btp/provider/datasource_directory_role_collection.go
  btp/provider/datasource_directory_role_collection_test.go
  btp/provider/datasource_globalaccount_role_collection.go
  btp/provider/datasource_globalaccount_role_collection_test.go
  btp/provider/datasource_subaccount_role_collection.go
  btp/provider/datasource_subaccount_role_collection_test.go
  btp/provider/fixtures/datasource_directory_role_collection_with_user_assignments.yaml
  btp/provider/fixtures/datasource_globalaccount_role_collection.role_collection_exists_with_user_assignments.yaml
  btp/provider/fixtures/datasource_subaccount_role_collection_with_user_assignments.yaml
  docs/data-sources/directory_role_collection.md
  docs/data-sources/globalaccount_role_collection.md
  docs/data-sources/subaccount_role_collection.md
  examples/data-sources/btp_directory_role_collection/data-source.tf
  examples/data-sources/btp_globalaccount_role_collection/data-source.tf
  examples/data-sources/btp_subaccount_role_collection/data-source.tf
  internal/btpcli/facade_security_role_collection.go
  internal/btpcli/types/xsuaa_authz/model_user_assignments_page.go
Due: gofmt, golangci-lint, terraformfmt

added examples
  docs/data-sources/directory_role_collection.md
  docs/data-sources/globalaccount_role_collection.md
  docs/data-sources/subaccount_role_collection.md
  examples/data-sources/btp_directory_role_collection/data-source.tf
  examples/data-sources/btp_globalaccount_role_collection/data-source.tf
  examples/data-sources/btp_subaccount_role_collection/data-source.tf
Due: terraformfmt

comments resolve
  btp/provider/datasource_directory_role_collection.go
  btp/provider/datasource_directory_role_collection_test.go
  btp/provider/datasource_globalaccount_role_collection.go
  btp/provider/datasource_subaccount_role_collection.go
  btp/provider/fixtures/datasource_directory_role_collection_with_user_assignments.yaml
  btp/provider/fixtures/datasource_globalaccount_role_collection.role_collection_exists_with_user_assignments.yaml
  btp/provider/fixtures/datasource_subaccount_role_collection_with_user_assignments.yaml
  docs/data-sources/directory_role_collection.md
  docs/data-sources/globalaccount_role_collection.md
  docs/data-sources/subaccount_role_collection.md
  internal/btpcli/facade_security_role_collection.go
Due: gofmt, golangci-lint

feat: added user assignment (#1617)
  btp/provider/datasource_directory_role_collection.go
  btp/provider/datasource_directory_role_collection_test.go
  btp/provider/datasource_globalaccount_role_collection.go
  btp/provider/datasource_globalaccount_role_collection_test.go
  btp/provider/datasource_subaccount_role_collection.go
  btp/provider/datasource_subaccount_role_collection_test.go
  btp/provider/fixtures/datasource_directory_role_collection_with_user_assignments.yaml
  btp/provider/fixtures/datasource_globalaccount_role_collection.role_collection_exists_with_user_assignments.yaml
  btp/provider/fixtures/datasource_subaccount_role_collection_with_user_assignments.yaml
  docs/data-sources/directory_role_collection.md
  docs/data-sources/globalaccount_role_collection.md
  docs/data-sources/subaccount_role_collection.md
  examples/data-sources/btp_directory_role_collection/data-source.tf
  examples/data-sources/btp_globalaccount_role_collection/data-source.tf
  examples/data-sources/btp_subaccount_role_collection/data-source.tf
  internal/btpcli/facade_security_role_collection.go
  internal/btpcli/types/xsuaa_authz/model_user_assignments_page.go
Due: gofmt, golangci-lint, terraformfmt

fix: surface release lookup failure with clear message
  .github/workflows/inform-crossplane.yml
Due: none

fix: resolve release tag from SHA and dedup crossplane issue
  .github/workflows/inform-crossplane.yml
Due: none

docs: capitalize Upjet in crossplane issue body
  .github/workflows/inform-crossplane.yml
Due: none

chore: add issue creation to crossplane after release
  .github/workflows/inform-crossplane.yml
Due: none

chore: add issue creation to crossplane after release (#1621)
  .github/workflows/inform-crossplane.yml
Due: none

Fixing validation_duration attribute type
  btp/provider/datasource_subaccount_destination_certificate.go
  btp/provider/datasource_subaccount_destination_certificate_test.go
  btp/provider/datasource_subaccount_destination_certificates.go
  btp/provider/datasource_subaccount_destination_certificates_test.go
  btp/provider/fixtures/data_source_subaccount_destination_certificate.read_pem_certificate.yaml
  btp/provider/fixtures/data_source_subaccount_destination_certificate.read_pfx_certificate.yaml
  btp/provider/fixtures/data_source_subaccount_destination_certificate.service_instance.read_p12_certificate.yaml
  btp/provider/fixtures/data_source_subaccount_destination_certificate.service_instance.read_pem_certificate.yaml
  btp/provider/fixtures/data_source_subaccount_destination_certificates.read_certificates.yaml
  btp/provider/fixtures/datasource_subaccount_destination_certificate.read_p12_certificate.yaml
  btp/provider/fixtures/datasource_subaccount_destination_certificate.read_pem_certificate.yaml
  btp/provider/fixtures/datasource_subaccount_destination_certificate.read_pfx_certificate.yaml
  btp/provider/fixtures/datasource_subaccount_destination_certificate.service_instance.read_p12_certificate.yaml
  btp/provider/fixtures/datasource_subaccount_destination_certificate.service_instance.read_pem_certificate.yaml
  btp/provider/fixtures/datasource_subaccount_destination_certificate.service_instance.read_pfx_certificate.yaml
  btp/provider/fixtures/datasource_subaccount_destination_certificates.read_certificates.yaml
  btp/provider/fixtures/resource_subaccount_destination_certificate.create_p12_certificate.yaml
  btp/provider/fixtures/resource_subaccount_destination_certificate.create_pem_certificate.yaml
  btp/provider/fixtures/resource_subaccount_destination_certificate.create_pfx_certificate.yaml
  btp/provider/fixtures/resource_subaccount_destination_certificate.service_instance.create_p12_certificate.yaml
  btp/provider/fixtures/resource_subaccount_destination_certificate.service_instance.create_pem_certificate.yaml
  btp/provider/fixtures/resource_subaccount_destination_certificate.service_instance.create_pfx_certificate.yaml
  btp/provider/resource_subaccount_destination_certificate.go
  btp/provider/resource_subaccount_destination_certificate_test.go
  btp/provider/type_subaccount_destination_certificate.go
  docs/data-sources/subaccount_destination_certificate.md
  docs/data-sources/subaccount_destination_certificates.md
  docs/resources/subaccount_destination_certificate.md
  internal/btpcli/types/destinations/destination_certificate_response_object.go
Due: gofmt, golangci-lint

Schema migration for resource
  btp/provider/fixtures/resource_subaccount_destination_certificate.create_p12_certificate.yaml
  btp/provider/fixtures/resource_subaccount_destination_certificate.create_pem_certificate.yaml
  btp/provider/fixtures/resource_subaccount_destination_certificate.create_pfx_certificate.yaml
  btp/provider/fixtures/resource_subaccount_destination_certificate.service_instance.create_p12_certificate.yaml
  btp/provider/fixtures/resource_subaccount_destination_certificate.service_instance.create_pem_certificate.yaml
  btp/provider/fixtures/resource_subaccount_destination_certificate.service_instance.create_pfx_certificate.yaml
  btp/provider/resource_subaccount_destination_certificate.go
  btp/provider/type_subaccount_destination_certificate.go
Due: gofmt, golangci-lint

Potential fix for pull request finding
  btp/provider/resource_subaccount_destination_certificate.go
Due: gofmt, golangci-lint

Path conditions:
  gofmt: any of: *.go, but not: vendor/*
  golangci-lint: any of: *.go, but not: vendor/*
  terraformfmt: any of: *.tf, but not: vendor/*
