Repository SAP/terraform-provider-btp: changes, and which lefthook commands are due for each by the changed paths.
All: gofmt, golangci-lint, terraformfmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    gofmt:
      glob: "*.go"
      run: go fmt ./...
      exclude: "vendor/*"
    golangci-lint:
      glob: "*.go"
      run: golangci-lint run --fix
      exclude: "vendor/*"
    terraformfmt:
      glob: "*.tf"
      run: terraform fmt {staged_files}
      exclude: "vendor/*"

feat(resource): add import to resource_subaccount_role
  docs/resources/subaccount_role.md
  examples/resources/btp_subaccount_role/import.sh
  internal/provider/resource_subaccount_role.go
Due: gofmt, golangci-lint

feat(resource): update of documentation
  docs/resources/subaccount_role.md
  examples/resources/btp_subaccount_role/import.sh
Due: none

chore(vscode): add launch configuration for provider debugging
  .vscode/launch.json
Due: none

feat(resource): add import to directory_role
  examples/resources/btp_directory_role/import.sh
  internal/provider/resource_directory_role.go
Due: gofmt, golangci-lint

feat(resource): finalizing documentation
  docs/resources/subaccount_role.md
  examples/resources/btp_subaccount_role/import.sh
  internal/provider/resource_subaccount_role.go
Due: gofmt, golangci-lint

feat(resource): sync role schema with subaccount, adding to published resources
  docs/resources/directory_role.md
  internal/provider/provider.go
  internal/provider/resource_directory_role.go
Due: gofmt, golangci-lint

feat(resource): recreated documentation
  docs/resources/directory_role.md
  internal/provider/resource_directory_role.go
Due: gofmt, golangci-lint

feat(resource): inclusion in test setup
  internal/provider/provider_test.go
Due: gofmt, golangci-lint

feat: support custom idp login when recording test fixtures
  internal/provider/provider.go
  internal/provider/provider_test.go
Due: gofmt, golangci-lint

feat(resource): add import of subaccount role collection
  docs/resources/subaccount_role_collection.md
  examples/resources/btp_subaccount_role_collection/import.sh
  internal/provider/resource_subaccount_role_collection.go
Due: gofmt, golangci-lint

feat(resource): refinement of import
  docs/resources/subaccount_role_collection.md
  examples/resources/btp_subaccount_role_collection/import.sh
  internal/provider/resource_subaccount_role_collection.go
Due: gofmt, golangci-lint

feat(resource): add import to resource directory_role_collection
  docs/resources/directory_role_collection.md
  examples/resources/btp_directory_role_collection/import.sh
  internal/provider/resource_directory_role_collection.go
Due: gofmt, golangci-lint

feat: test speedup by enabling 'SkipRequestLatency' (#242)
  internal/provider/provider_test.go
Due: gofmt, golangci-lint

feat(resource): import of roles and role collections on global account
  docs/resources/globalaccount_role.md
  docs/resources/globalaccount_role_collection.md
  examples/resources/btp_globalaccount_role/import.sh
  examples/resources/btp_globalaccount_role_collection/import.sh
  internal/provider/provider.go
  internal/provider/resource_globalaccount_role.go
  internal/provider/resource_globalaccount_role_collection.go
Due: gofmt, golangci-lint

update import example role collection
  docs/resources/globalaccount_role_collection.md
  examples/resources/btp_globalaccount_role_collection/import.sh
Due: none

add resource for role to provider_test
  internal/provider/provider_test.go
Due: gofmt, golangci-lint

Update index.md
  docs/index.md
Due: none

Update provider.tf
  examples/provider/provider.tf
Due: terraformfmt

adjusted intro chapter of doc
  docs/index.md
  internal/provider/provider.go
  templates/index.md.tmpl
Due: gofmt, golangci-lint

chore(vscode): add launch configuration for provider debugging (#245)
  .vscode/launch.json
Due: none

chore(workflow): add terraform ecosystem to dependabot (#237)
  .github/dependabot.yml
Due: none

fix(documentation): regenerate to fix mismatch
  docs/index.md
Due: none

fix(documentation): regenerate to fix mismatch (#258)
  docs/index.md
Due: none

fix(facade): transfer global account value when creating subaccount
  internal/btpcli/facade_accounts_subaccount.go
  internal/btpcli/facade_accounts_subaccount_test.go
Due: gofmt, golangci-lint

add test for import of resource
  internal/provider/fixtures/resource_subaccount_role_collection.yaml
  internal/provider/resource_subaccount_role_collection.go
  internal/provider/resource_subaccount_role_collection_test.go
Due: gofmt, golangci-lint

documentation resource global account provider
  docs/resources/globalaccount_resource_provider.md
  internal/provider/resource_globalaccount_resource_provider.go
Due: gofmt, golangci-lint

documentation resources
  docs/resources/directory_role_collection_assignment.md
  docs/resources/globalaccount_resource_provider.md
  docs/resources/subaccount.md
  docs/resources/subaccount_entitlement.md
  docs/resources/subaccount_environment_instance.md
  docs/resources/subaccount_role_collection_assignment.md
  internal/provider/resource_directory_role_collection_assignment.go
  internal/provider/resource_subaccount.go
  internal/provider/resource_subaccount_entitlement.go
  internal/provider/resource_subaccount_environment_instance.go
  internal/provider/resource_subaccount_role_collection_assignment.go
  internal/provider/resource_subaccount_subscription.go
Due: gofmt, golangci-lint

docs: resources documentation - improvement (#260)
  docs/resources/directory_role_collection_assignment.md
  docs/resources/globalaccount_resource_provider.md
  docs/resources/subaccount.md
  docs/resources/subaccount_entitlement.md
  docs/resources/subaccount_environment_instance.md
  docs/resources/subaccount_role_collection_assignment.md
  internal/provider/resource_directory_role_collection_assignment.go
  internal/provider/resource_globalaccount_resource_provider.go
  internal/provider/resource_subaccount.go
  internal/provider/resource_subaccount_entitlement.go
  internal/provider/resource_subaccount_environment_instance.go
  internal/provider/resource_subaccount_role_collection_assignment.go
  internal/provider/resource_subaccount_subscription.go
Due: gofmt, golangci-lint

feat: enhance error state
  internal/provider/fixtures/resource_subaccount_role_collection_import_error.yaml
  internal/provider/resource_subaccount_role_collection_test.go
Due: gofmt, golangci-lint

feat: testing of import
  internal/provider/fixtures/resource_directory_role_collection.error_import.yaml
  internal/provider/fixtures/resource_directory_role_collection.multiple_roles.yaml
  internal/provider/fixtures/resource_directory_role_collection.with_description.yaml
  internal/provider/resource_directory_role_collection.go
  internal/provider/resource_directory_role_collection_test.go
Due: gofmt, golangci-lint

feat: test coverage for import of role collection
  internal/provider/fixtures/resource_globalaccount_role_collection_import_error.yaml
  internal/provider/resource_globalaccount_role_collection.go
  internal/provider/resource_globalaccount_role_collection_test.go
Due: gofmt, golangci-lint

now including the index.md
  docs/index.md
Due: none

fix(temp): temporary fix for inconsistent status response for directory deletion
  internal/provider/fixtures/resource_directory.parent_directory.yaml
  internal/provider/resource_directory.go
Due: gofmt, golangci-lint

fix(documentation): typo and description of provider.tf (#262)
  docs/index.md
  examples/provider/provider.tf
Due: terraformfmt

make usage flag optional and writable
  docs/resources/subaccount.md
  internal/provider/resource_subaccount.go
Due: gofmt, golangci-lint
