Repository SAP/terraform-provider-btp: changes, and which lefthook commands are due for each by the changed paths.
All: gofmt, golangci-lint, terraformfmt

gofmt:
  run: go fmt ./...

golangci-lint:
  run: golangci-lint run --fix

terraformfmt:
  run: terraform fmt {staged_files}

test: recording of test fixtures
  btp/provider/action_restore_subaccount.go
  btp/provider/action_restore_subaccount_test.go
  btp/provider/fixtures/action_restore_subaccount.yaml
  btp/provider/fixtures/action_restore_subaccount_fail_active.yaml
  btp/provider/fixtures/action_restore_subaccount_fail_non_existing.yaml
Due: gofmt, golangci-lint

fix: Copilot review comments
  btp/provider/action_restore_subaccount.go
  btp/provider/action_restore_subaccount_test.go
  btp/provider/fixtures/action_restore_subaccount.yaml
  btp/provider/fixtures/action_restore_subaccount_fail_active.yaml
  btp/provider/fixtures/action_restore_subaccount_fail_non_existing.yaml
  docs/actions/restore_subaccount.md
  docs/resources/subaccount.md
  templates/resources/subaccount.md.tmpl
Due: gofmt, golangci-lint

docs: refine subacount description
  docs/resources/subaccount.md
  templates/resources/subaccount.md.tmpl
Due: none

feat: Terraform action to restore a subaccount in pending deletion (#1497)
  btp/provider/action_restore_subaccount.go
  btp/provider/action_restore_subaccount_test.go
  btp/provider/fixtures/action_restore_subaccount.yaml
  btp/provider/fixtures/action_restore_subaccount_fail_active.yaml
  btp/provider/fixtures/action_restore_subaccount_fail_non_existing.yaml
  btp/provider/provider.go
  btp/provider/provider_test.go
  docs/actions/restore_subaccount.md
  docs/resources/subaccount.md
  examples/actions/btp_restore_subaccount/action.tf
  internal/btpcli/actions.go
  internal/btpcli/facade_accounts_subaccount.go
  internal/btpcli/facade_accounts_subaccount_test.go
  templates/resources/subaccount.md.tmpl
Due: gofmt, golangci-lint, terraformfmt

changes in READ
  btp/provider/resource_subaccount_service_instance.go
Due: gofmt, golangci-lint

test: re-recording of test fixtures with enhanced test scope
  btp/provider/fixtures/resource_subaccount_service_instance.creation_error.yaml
  btp/provider/fixtures/resource_subaccount_service_instance.import_error.yaml
  btp/provider/fixtures/resource_subaccount_service_instance.with_labels.yaml
  btp/provider/fixtures/resource_subaccount_service_instance.with_labels_change.yaml
  btp/provider/fixtures/resource_subaccount_service_instance.with_parameters.yaml
  btp/provider/fixtures/resource_subaccount_service_instance.with_sharing_enabled.yaml
  btp/provider/fixtures/resource_subaccount_service_instance.wo_parameters.yaml
  btp/provider/fixtures/resource_subaccount_service_instance.wo_parameters_by_name.yaml
  btp/provider/fixtures/resource_subaccount_service_instance.wo_parameters_with import.yaml
  btp/provider/fixtures/resource_subaccount_service_instance.wo_parameters_with_import.yaml
  btp/provider/fixtures/resource_subaccount_service_instance_with_timeouts.yaml
  btp/provider/resource_subaccount_service_instance_test.go
Due: gofmt, golangci-lint

docs: enhance documentation for service instance
  docs/resources/subaccount_service_instance.md
  templates/resources/subaccount_service_instance.md.tmpl
Due: none

fix: fix failing generate step
  .github/workflows/test.yml
Due: none

fix: fix typo
  .github/workflows/test.yml
Due: none

fix: fix failing generate step (#1502)
  .github/workflows/test.yml
Due: none

fix: added explicit dependencies for service-instances
  tests/integration-test/main.tf
Due: terraformfmt

fix: prevent the creation of duplicate issues
  .github/workflows/integration-test-issue-reporter.yml
Due: none

feat: enhance service instance resource
  btp/provider/resource_subaccount_service_instance.go
  btp/provider/type_subaccount_service_instance.go
  docs/resources/subaccount_service_instance.md
Due: gofmt, golangci-lint

refinement
  btp/provider/resource_subaccount_service_instance.go
Due: gofmt, golangci-lint

reuse fecthing of plan and offering name
  btp/provider/resource_subaccount_service_instance.go
Due: gofmt, golangci-lint

tests: re-recording after changes in code
  btp/provider/fixtures/resource_subaccount_service_instance.creation_error.yaml
  btp/provider/fixtures/resource_subaccount_service_instance.import_error.yaml
  btp/provider/fixtures/resource_subaccount_service_instance.sharing_error.yaml
  btp/provider/fixtures/resource_subaccount_service_instance.with_labels.yaml
  btp/provider/fixtures/resource_subaccount_service_instance.with_labels_change.yaml
  btp/provider/fixtures/resource_subaccount_service_instance.with_parameters.yaml
  btp/provider/fixtures/resource_subaccount_service_instance.with_sharing_conf_changed.yaml
  btp/provider/fixtures/resource_subaccount_service_instance.with_sharing_enabled.yaml
  btp/provider/fixtures/resource_subaccount_service_instance.wo_parameters_by_name.yaml
  btp/provider/fixtures/resource_subaccount_service_instance.wo_parameters_plan_change.yaml
  btp/provider/fixtures/resource_subaccount_service_instance.wo_parameters_plan_change_by_name.yaml
  btp/provider/fixtures/resource_subaccount_service_instance.wo_parameters_with_import.yaml
  btp/provider/fixtures/resource_subaccount_service_instance_with_timeouts.yaml
Due: none

docs: typos
  docs/resources/subaccount_service_instance.md
  templates/resources/subaccount_service_instance.md.tmpl
Due: none

refinement after changes, new test cases
  btp/provider/resource_subaccount_service_instance.go
  btp/provider/resource_subaccount_service_instance_test.go
Due: gofmt, golangci-lint

feat: improvements service instance
  btp/provider/resource_subaccount_service_instance.go
  btp/provider/resource_subaccount_service_instance_test.go
Due: gofmt, golangci-lint

recording of fixtures
  btp/provider/fixtures/resource_subaccount_service_instance.creation_error.yaml
  btp/provider/fixtures/resource_subaccount_service_instance.import_error.yaml
  btp/provider/fixtures/resource_subaccount_service_instance.sharing_error.yaml
  btp/provider/fixtures/resource_subaccount_service_instance.with_labels.yaml
  btp/provider/fixtures/resource_subaccount_service_instance.with_labels_change.yaml
  btp/provider/fixtures/resource_subaccount_service_instance.with_parameters.yaml
  btp/provider/fixtures/resource_subaccount_service_instance.with_sharing_conf_changed.yaml
  btp/provider/fixtures/resource_subaccount_service_instance.with_sharing_enabled.yaml
  btp/provider/fixtures/resource_subaccount_service_instance.wo_parameters.yaml
  btp/provider/fixtures/resource_subaccount_service_instance.wo_parameters_by_name.yaml
  btp/provider/fixtures/resource_subaccount_service_instance.wo_parameters_with import.yaml
  btp/provider/fixtures/resource_subaccount_service_instance_with_timeouts.yaml
  btp/provider/resource_subaccount_service_instance_test.go
Due: gofmt, golangci-lint

docs: add example for new option
  docs/resources/subaccount_service_instance.md
  examples/resources/btp_subaccount_service_instance/resource.tf
Due: terraformfmt

feat: enable service instance creation without datasource for plan_id (#1498)
  btp/provider/fixtures/resource_subaccount_service_instance.creation_error.yaml
  btp/provider/fixtures/resource_subaccount_service_instance.sharing_error.yaml
  btp/provider/fixtures/resource_subaccount_service_instance.with_labels.yaml
  btp/provider/fixtures/resource_subaccount_service_instance.with_labels_change.yaml
  btp/provider/fixtures/resource_subaccount_service_instance.with_parameters.yaml
  btp/provider/fixtures/resource_subaccount_service_instance.with_sharing_conf_changed.yaml
  btp/provider/fixtures/resource_subaccount_service_instance.with_sharing_enabled.yaml
  btp/provider/fixtures/resource_subaccount_service_instance.wo_parameters_by_name.yaml
  btp/provider/fixtures/resource_subaccount_service_instance.wo_parameters_plan_change.yaml
  btp/provider/fixtures/resource_subaccount_service_instance.wo_parameters_plan_change_by_name.yaml
  btp/provider/fixtures/resource_subaccount_service_instance.wo_parameters_with import.yaml
  btp/provider/fixtures/resource_subaccount_service_instance.wo_parameters_with_import.yaml
  btp/provider/fixtures/resource_subaccount_service_instance_with_timeouts.yaml
  btp/provider/resource_subaccount_service_instance.go
  btp/provider/resource_subaccount_service_instance_test.go
  btp/provider/type_subaccount_service_instance.go
  docs/resources/subaccount_service_instance.md
  examples/resources/btp_subaccount_service_instance/resource.tf
  templates/resources/subaccount_service_instance.md.tmpl
Due: gofmt, golangci-lint, terraformfmt

fix: modified terraform integration test workflow
  .github/workflows/integration-test-issue-reporter.yml
  .github/workflows/integration-test.yml
Due: none

chore: update CLAUDE.md with latest changes
  CLAUDE.md
Due: none

chore: update CLAUDE.md with latest changes (#1510)
  CLAUDE.md
Due: none

fix: modify issue reporter worfklow
  .github/workflows/integration-test-issue-reporter.yml
Due: none

minor fix
  .github/workflows/integration-test-issue-reporter.yml
Due: none

fix: remove variable declaration for runId
  .github/workflows/integration-test-issue-reporter.yml
Due: none

Enhance workflow issue creation and removed extra regression test folder
  .github/workflows/canary-regression-test.yml
  .github/workflows/create-issue-on-failure.yml
  .github/workflows/integration-test-issue-reporter.yml
  .github/workflows/integration-test-opentofu.yml
  .github/workflows/integration-test.yml
  regression-test/main.tf
  regression-test/provider.tf
  regression-test/variables.tf
Due: terraformfmt

fixes as per review
  .github/workflows/canary-regression-test.yml
  .github/workflows/create-issue-on-failure.yml
  .github/workflows/integration-test-opentofu.yml
  .github/workflows/integration-test.yml
Due: none

chore: Enhance workflow issue creation and removed extra regression test folder (#1517)
  .github/workflows/canary-regression-test.yml
  .github/workflows/create-issue-on-failure.yml
  .github/workflows/integration-test-issue-reporter.yml
  .github/workflows/integration-test-opentofu.yml
  .github/workflows/integration-test.yml
  regression-test/main.tf
  regression-test/provider.tf
  regression-test/variables.tf
Due: terraformfmt

chore: prepare release 1.22.0
  .github/ISSUE_TEMPLATE/bug_report.yml
  docs/index.md
  examples/provider/provider.tf
Due: terraformfmt

chore: prepare release 1.22.0 (#1518)
  .github/ISSUE_TEMPLATE/bug_report.yml
  docs/index.md
  examples/provider/provider.tf
Due: terraformfmt

chore: Modify Release workflows
  .github/workflows/prerelease-check.yml
  .github/workflows/release.yml
Due: none

chore: Modify Release workflows (#1520)
  .github/workflows/prerelease-check.yml
  .github/workflows/release.yml
Due: none

Path conditions:
  gofmt: any of: *.go, but not: vendor/*
  golangci-lint: any of: *.go, but not: vendor/*
  terraformfmt: any of: *.tf, but not: vendor/*
