Repository SAP/terraform-provider-btp: changes, and which lefthook commands are due for each by the changed paths.
All: gofmt, golangci-lint, terraformfmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    gofmt:
      glob: "*.go"
      run: go fmt ./...
      exclude: "vendor/*"
    golangci-lint:
      glob: "*.go"
      run: golangci-lint run --fix
      exclude: "vendor/*"
    terraformfmt:
      glob: "*.tf"
      run: terraform fmt {staged_files}
      exclude: "vendor/*"

chore: Fix release workflow
  .github/workflows/release.yml
Due: none

chore: Fix release workflow (#1521)
  .github/workflows/release.yml
Due: none

chore: Add ref tag to binary check
  .github/workflows/binary-integrity-check.yml
  .github/workflows/release.yml
Due: none

chore: Add ref tag to binary check (#1522)
  .github/workflows/binary-integrity-check.yml
  .github/workflows/release.yml
Due: none

chore: Release workflow fix
  .github/workflows/release.yml
Due: none

chore: Release workflow fix (#1523)
  .github/workflows/release.yml
Due: none

chore: Disable binary check on release workflow
  .github/workflows/release.yml
Due: none

chore: Disable binary check on release workflow (#1524)
  .github/workflows/release.yml
Due: none

docs: fix typo in example and add examples
  docs/resources/subaccount_service_instance.md
  examples/resources/btp_subaccount_service_instance/resource.tf
Due: terraformfmt

docs: fix typo in example and add examples (#1526)
  docs/resources/subaccount_service_instance.md
  examples/resources/btp_subaccount_service_instance/resource.tf
Due: terraformfmt

Update test.yml
  .github/workflows/test.yml
Due: none

Fix formatting using terraform fmt throughout provider
  examples/list-resources/btp_directory/list-resource.tfquery.hcl
  examples/list-resources/btp_directory_entitlement/list-resource.tfquery.hcl
  examples/list-resources/btp_directory_role/list-resource.tfquery.hcl
  examples/list-resources/btp_directory_role_collection/list-resource.tfquery.hcl
  examples/list-resources/btp_globalaccount_trust_configuration/list-resource.tfquery.hcl
  examples/list-resources/btp_subaccount/list-resource.tfquery.hcl
  examples/list-resources/btp_subaccount_destination_fragment/list-resource.tfquery.hcl
  examples/list-resources/btp_subaccount_destination_generic/list-resource.tfquery.hcl
  examples/list-resources/btp_subaccount_entitlement/list-resource.tfquery.hcl
  examples/list-resources/btp_subaccount_environment_instance/list-resource.tfquery.hcl
  examples/list-resources/btp_subaccount_role/list-resource.tfquery.hcl
  examples/list-resources/btp_subaccount_role_collection/list-resource.tfquery.hcl
  examples/list-resources/btp_subaccount_role_collection_base/list-resource.tfquery.hcl
  examples/list-resources/btp_subaccount_role_collection_role/list-resource.tfquery.hcl
  examples/list-resources/btp_subaccount_security_settings/list-resource.tfquery.hcl
  examples/list-resources/btp_subaccount_service_binding/list-resource.tfquery.hcl
  examples/list-resources/btp_subaccount_service_broker/list-resource.tfquery.hcl
  examples/list-resources/btp_subaccount_service_instance/list-resource.tfquery.hcl
  examples/list-resources/btp_subaccount_subscription/list-resource.tfquery.hcl
  examples/list-resources/btp_subaccount_trust_configuration/list-resource.tfquery.hcl
  tests/regression-test/subscriptions/canary.tfvars
  tests/regression-test/subscriptions/main.tf
Due: terraformfmt

Documentation changes
  docs/list-resources/directory.md
  docs/list-resources/directory_entitlement.md
  docs/list-resources/directory_role.md
  docs/list-resources/directory_role_collection.md
  docs/list-resources/globalaccount_trust_configuration.md
  docs/list-resources/subaccount.md
  docs/list-resources/subaccount_destination_fragment.md
  docs/list-resources/subaccount_destination_generic.md
  docs/list-resources/subaccount_entitlement.md
  docs/list-resources/subaccount_environment_instance.md
  docs/list-resources/subaccount_role.md
  docs/list-resources/subaccount_role_collection.md
  docs/list-resources/subaccount_role_collection_base.md
  docs/list-resources/subaccount_role_collection_role.md
  docs/list-resources/subaccount_security_settings.md
  docs/list-resources/subaccount_service_binding.md
  docs/list-resources/subaccount_service_broker.md
  docs/list-resources/subaccount_service_instance.md
  docs/list-resources/subaccount_subscription.md
  docs/list-resources/subaccount_trust_configuration.md
Due: none

Update terraform cli version and sonar dependency version
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/test.yml
Due: none

Update terraform cli version and sonar dependency version (#1531)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/test.yml
Due: none

Removed dependency between canary and live integration tests
  .github/workflows/integration-test-opentofu.yml
  .github/workflows/integration-test.yml
Due: none

Removed dependency between canary and live integration tests (#1534)
  .github/workflows/integration-test-opentofu.yml
  .github/workflows/integration-test.yml
Due: none

docs: add guide to switch from serviceplan to names
  docs/resources/subaccount_service_instance.md
  guides/SERVICEINSTANCEBYNAME.md
  templates/resources/subaccount_service_instance.md.tmpl
Due: none

docs: refinement of guide
  assets/service-instance-apply-refresh.png
  assets/service-instance-plan-refresh.png
  guides/SERVICEINSTANCEBYNAME.md
Due: none

docs: rephrasing based on review comment
  guides/SERVICEINSTANCEBYNAME.md
Due: none

docs: add guide to switch from serviceplan to names (#1535)
  assets/service-instance-apply-refresh.png
  assets/service-instance-plan-refresh.png
  docs/resources/subaccount_service_instance.md
  guides/SERVICEINSTANCEBYNAME.md
  templates/resources/subaccount_service_instance.md.tmpl
Due: none

subscription changed from BAS to MDS
  tests/integration-test/main.tf
Due: terraformfmt

subscription changed from BAS to MDS for regression tests
  tests/regression-test/subscriptions/main.tf
Due: terraformfmt

minor fix
  tests/regression-test/subscriptions/main.tf
Due: terraformfmt

modified to feature-flags-service subscription
  tests/integration-test/main.tf
  tests/regression-test/subscriptions/main.tf
Due: terraformfmt

fix: modify integration and regression workflow tests (#1539)
  tests/integration-test/main.tf
  tests/regression-test/subscriptions/main.tf
Due: terraformfmt

chore: update GH token access in actions
  .github/workflows/assign-issue-to-project.yml
  .github/workflows/binary-integrity-check.yml
  .github/workflows/cleanup-action-caches.yml
  .github/workflows/create-issue-on-failure.yml
  .github/workflows/feature-request-response.yml
  .github/workflows/issue-comment-created.yml
  .github/workflows/links-watcher-cron.yml
  .github/workflows/ot-canary-integration-test-main.yml
  .github/workflows/ot-canary-integration-test-stable.yml
  .github/workflows/ot-live-integration-test-main.yml
  .github/workflows/ot-live-integration-test-stable.yml
  .github/workflows/prerelease-check.yml
  .github/workflows/release.yml
  .github/workflows/reuse-check.yml
  .github/workflows/sbom-creation.yml
  .github/workflows/schema-regression-test-opentofu.yml
  .github/workflows/schema-regression-test.yml
  .github/workflows/set-default-values-pr.yml
  .github/workflows/stale-handling.yml
  .github/workflows/terraform_format_check.yml
  .github/workflows/test.yml
  .github/workflows/tf-canary-integration-test-main.yml
  .github/workflows/tf-canary-integration-test-stable.yml
  .github/workflows/tf-live-integration-test-main.yml
  .github/workflows/tf-live-integration-test-stable.yml
Due: none

Add permission for cleanup
  .github/workflows/cleanup-action-caches.yml
Due: none

chore: update GH token access in actions (#1542)
  .github/workflows/assign-issue-to-project.yml
  .github/workflows/binary-integrity-check.yml
  .github/workflows/cleanup-action-caches.yml
  .github/workflows/create-issue-on-failure.yml
  .github/workflows/feature-request-response.yml
  .github/workflows/issue-comment-created.yml
  .github/workflows/links-watcher-cron.yml
  .github/workflows/ot-canary-integration-test-main.yml
  .github/workflows/ot-canary-integration-test-stable.yml
  .github/workflows/ot-live-integration-test-main.yml
  .github/workflows/ot-live-integration-test-stable.yml
  .github/workflows/prerelease-check.yml
  .github/workflows/release.yml
  .github/workflows/reuse-check.yml
  .github/workflows/sbom-creation.yml
  .github/workflows/schema-regression-test-opentofu.yml
  .github/workflows/schema-regression-test.yml
  .github/workflows/set-default-values-pr.yml
  .github/workflows/stale-handling.yml
  .github/workflows/terraform_format_check.yml
  .github/workflows/test.yml
  .github/workflows/tf-canary-integration-test-main.yml
  .github/workflows/tf-canary-integration-test-stable.yml
  .github/workflows/tf-live-integration-test-main.yml
  .github/workflows/tf-live-integration-test-stable.yml
Due: none

feat: Terraform action to assign current user as subaccount admin
  btp/provider/action_add_me_as_subaccount_admin.go
  btp/provider/action_add_me_as_subaccount_admin_test.go
  btp/provider/fixtures/action_add_me_as_subaccount_admin.yaml
  btp/provider/fixtures/action_add_me_as_subaccount_admin_fail_non_existing.yaml
  btp/provider/provider.go
  btp/provider/provider_test.go
  docs/actions/add_me_as_subaccount_admin.md
  internal/btpcli/facade_accounts_subaccount.go
Due: gofmt, golangci-lint

fix documentation markdown
  btp/provider/resource_subaccount_role_collection_base.go
  btp/provider/resource_subaccount_role_collection_role.go
  docs/resources/subaccount_role_collection_base.md
  docs/resources/subaccount_role_collection_role.md
Due: gofmt, golangci-lint

fix documentation markdown (#1547)
  btp/provider/resource_subaccount_role_collection_base.go
  btp/provider/resource_subaccount_role_collection_role.go
  docs/resources/subaccount_role_collection_base.md
  docs/resources/subaccount_role_collection_role.md
Due: gofmt, golangci-lint

docs: fix list of valid service offering environments
  btp/provider/datasource_subaccount_service_offerings.go
  docs/data-sources/subaccount_service_offerings.md
Due: gofmt, golangci-lint

docs: fix list of valid service offering environments (#1549)
  btp/provider/datasource_subaccount_service_offerings.go
  docs/data-sources/subaccount_service_offerings.md
Due: gofmt, golangci-lint

fix: use constants for state
  btp/provider/list_resource_subaccount_subscription.go
Due: gofmt, golangci-lint

fix: consider state in subscription listing
  .gitignore
  btp/provider/fixtures/list_resource_subaccount_subscription.yaml
  btp/provider/fixtures/list_resource_subaccount_subscription_bad_request.yaml
  btp/provider/list_resource_subaccount_subscription.go
  btp/provider/list_resource_subaccount_subscription_test.go
  docs/list-resources/subaccount_subscription.md
Due: gofmt, golangci-lint

feat: Terraform action to assign current user as subaccount admin (#1543)
  btp/provider/action_add_me_as_subaccount_admin.go
  btp/provider/action_add_me_as_subaccount_admin_test.go
  btp/provider/fixtures/action_add_me_as_subaccount_admin.yaml
  btp/provider/fixtures/action_add_me_as_subaccount_admin_fail_non_existing.yaml
  btp/provider/provider.go
  btp/provider/provider_test.go
  docs/actions/add_me_as_subaccount_admin.md
  internal/btpcli/facade_accounts_subaccount.go
Due: gofmt, golangci-lint
