Repository SAP/terraform-provider-btp: changes, and which lefthook commands are due for each by the changed paths.
All: gofmt, golangci-lint, terraformfmt

gofmt:
  run: go fmt ./...

golangci-lint:
  run: golangci-lint run --fix

terraformfmt:
  run: terraform fmt {staged_files}

docs: add examples
  docs/list-resources/directory.md
  docs/list-resources/directory_role.md
  examples/list-resources/btp_directory/list-resource.tfquery.hcl
  examples/list-resources/btp_directory_role/list-resource.tfquery.hcl
Due: none

feat: added integration test for destinatioons
  integration/main.tf
Due: terraformfmt

fix: record fixture for directory
  btp/provider/fixtures/list_resource_directory.yaml
  btp/provider/list_resource-directory_test.go
Due: gofmt, golangci-lint

more changes in script
  integration/main.tf
Due: terraformfmt

added regression tests
  regression-test/main.tf
Due: terraformfmt

change provider version
  regression-test/main.tf
  regression-test/provider.tf
Due: terraformfmt

added dependency
  regression-test/main.tf
Due: terraformfmt

added entitlement
  regression-test/main.tf
Due: terraformfmt

changed plan
  regression-test/main.tf
Due: terraformfmt

edit entitlements
  regression-test/main.tf
Due: terraformfmt

remove 1 destination
  regression-test/main.tf
Due: terraformfmt

regression test added
  integration/main.tf
  regression-test/main.tf
  regression-test/provider.tf
Due: terraformfmt

minor name changes
  integration/main.tf
  regression-test/main.tf
Due: terraformfmt

feat: Integration and regression tests terraform scripts for destinations (#1412)
  integration/main.tf
  regression-test/main.tf
  regression-test/provider.tf
Due: terraformfmt

feat: prep pending deletion
  btp/provider/datasource_subaccount.go
  btp/provider/datasource_subaccount_test.go
  btp/provider/datasource_subaccounts.go
  btp/provider/datasource_subaccounts_test.go
  btp/provider/fixtures/datasource_subaccount.err_invalid_subdomain.yaml
  btp/provider/fixtures/datasource_subaccount.err_subaccount_doesnt_exist.yaml
  btp/provider/fixtures/datasource_subaccount.yaml
  btp/provider/fixtures/datasource_subaccount_by_subdomain.yaml
  btp/provider/fixtures/datasource_subaccounts.all.yaml
  btp/provider/fixtures/resource_subaccount.change_to_used_for_production.yaml
  btp/provider/fixtures/resource_subaccount.full_config.yaml
  btp/provider/fixtures/resource_subaccount.skip_entitlements.yaml
  btp/provider/fixtures/resource_subaccount.used_for_production.yaml
  btp/provider/fixtures/resource_subaccount.with_managed_parent.yaml
  btp/provider/fixtures/resource_subaccount.with_parent_hierarchy.yaml
  btp/provider/fixtures/resource_subaccount.yaml
  btp/provider/fixtures/resource_subaccount_with_import.yaml
  btp/provider/resource_subaccount.go
  btp/provider/resource_subaccount_test.go
  btp/provider/type_subaccount.go
  internal/btpcli/facade_accounts_subaccount.go
  internal/btpcli/types/cis/subaccount_response_object.go
Due: gofmt, golangci-lint

feat: prework for pending deletion
  btp/provider/resource_subaccount.go
  internal/btpcli/facade_accounts_subaccount.go
Due: gofmt, golangci-lint

docs: update docs for changed resources
  docs/data-sources/subaccount.md
  docs/data-sources/subaccounts.md
  docs/resources/subaccount.md
Due: none

fix: re-recording of test cases
  btp/provider/fixtures/resource_subaccount.change_to_used_for_production.yaml
  btp/provider/fixtures/resource_subaccount.full_config.yaml
  btp/provider/fixtures/resource_subaccount.skip_entitlements.yaml
  btp/provider/fixtures/resource_subaccount.used_for_production.yaml
  btp/provider/fixtures/resource_subaccount.with_managed_parent.yaml
  btp/provider/fixtures/resource_subaccount.with_parent_hierarchy.yaml
  btp/provider/fixtures/resource_subaccount.yaml
  btp/provider/fixtures/resource_subaccount_with_import.yaml
Due: none

fix: facade test with new default
  internal/btpcli/facade_accounts_subaccount_test.go
Due: gofmt, golangci-lint

feat: add list functionality for destination generic and subscription
  btp/provider/fixtures/list_resource_subaccount_destination_generic.yaml
  btp/provider/fixtures/list_resource_subaccount_destionation_generic_bad_request.yaml
  btp/provider/fixtures/list_resource_subaccount_subscription.yaml
  btp/provider/fixtures/list_resource_subaccount_subscription_bad_request.yaml
  btp/provider/list_resource_subaccount_destination_generic.go
  btp/provider/list_resource_subaccount_destination_generic_test.go
  btp/provider/list_resource_subaccount_subscription.go
  btp/provider/list_resource_subaccount_subscription_test.go
  btp/provider/provider.go
  btp/provider/provider_test.go
Due: gofmt, golangci-lint

docs: add examples
  docs/list-resources/subaccount_destination_generic.md
  docs/list-resources/subaccount_subscription.md
  examples/list-resources/btp_subaccount_destination_generic/list-resource.tfquery.hcl
  examples/list-resources/btp_subaccount_subscription/list-resource.tfquery.hcl
Due: none

fix: record fixture
  btp/provider/fixtures/list_resource_directory_role.yaml
  btp/provider/fixtures/list_resource_directory_role_bad_request.yaml
  btp/provider/list_resource-directory_role.go
  btp/provider/list_resource-directory_role_test.go
Due: gofmt, golangci-lint

feat: Implement list functionality for directory and directory role (#1409)
  btp/provider/fixtures/list_resource_directory.yaml
  btp/provider/fixtures/list_resource_directory_role.yaml
  btp/provider/fixtures/list_resource_directory_role_bad_request.yaml
  btp/provider/list_resource-directory.go
  btp/provider/list_resource-directory_role.go
  btp/provider/list_resource-directory_role_test.go
  btp/provider/list_resource-directory_test.go
  btp/provider/provider.go
  btp/provider/provider_test.go
  docs/list-resources/directory.md
  docs/list-resources/directory_role.md
  examples/list-resources/btp_directory/list-resource.tfquery.hcl
  examples/list-resources/btp_directory_role/list-resource.tfquery.hcl
Due: gofmt, golangci-lint

feat: add test fixutres for data source
  btp/provider/datasource_disaster_recovery_subaccount_pair_test.go
  btp/provider/fixtures/datasource_disaster_recovery_subaccount_pair.invalid_id.yaml
  btp/provider/fixtures/datasource_disaster_recovery_subaccount_pair.yaml
  btp/provider/type_disaster_recovery_subaccount_pair.go
Due: gofmt, golangci-lint

feat: enhance btpcli facade for cdr command
  internal/btpcli/facade.go
  internal/btpcli/facade_disaster_recovery.go
  internal/btpcli/facade_disaster_recovery_subaccount_pair.go
  internal/btpcli/facade_disaster_recovery_subaccount_pair_test.go
  internal/btpcli/types/cdr/model_create_subaccount_pair_request.go
  internal/btpcli/types/cdr/model_create_subaccount_pair_response.go
  internal/btpcli/types/cdr/model_delete_subaccount_pair_response.go
  internal/btpcli/types/cdr/model_error_message.go
  internal/btpcli/types/cdr/model_get_subaccount_pair_response.go
  internal/btpcli/types/cdr/model_subaccount_dr_metadata.go
Due: gofmt, golangci-lint

feat: add data source for disaster recovery
  btp/provider/datasource_disaster_recovery_subaccount_pair.go
  btp/provider/provider.go
  btp/provider/provider_test.go
  btp/provider/type_disaster_recovery_subaccount_pair.go
Due: gofmt, golangci-lint

feat: initial setup of resource and datasource for dr
  btp/provider/datasource_disaster_recovery_subaccount_pair.go
  btp/provider/provider.go
  btp/provider/provider_test.go
  btp/provider/resource_disaster_recovery_subacount_pair.go
  btp/provider/type_disaster_recovery_subaccount_pair.go
  docs/data-sources/disaster_recovery_subaccount_pair.md
  docs/resources/disaster_recovery_subaccount_pair.md
  examples/data-sources/btp_disaster_recovery_subaccount_pair/data-source.tf
  examples/resources/btp_disaster_recovery_subaccount_pair/import.sh
  examples/resources/btp_disaster_recovery_subaccount_pair/resource.tf
Due: gofmt, golangci-lint, terraformfmt

adjustments and test recording
  btp/provider/datasource_disaster_recovery_subaccount_pair.go
  btp/provider/datasource_disaster_recovery_subaccount_pair_test.go
  btp/provider/fixtures/resource_disaster_recovery_subaccount_pair.error_existing.yaml
  btp/provider/fixtures/resource_disaster_recovery_subaccount_pair.yaml
  btp/provider/resource_disaster_recovery_subaccount_pair.go
  btp/provider/resource_disaster_recovery_subaccount_pair_test.go
  btp/provider/type_disaster_recovery_subaccount_pair.go
  docs/data-sources/disaster_recovery_subaccount_pair.md
  docs/resources/disaster_recovery_subaccount_pair.md
  examples/resources/btp_disaster_recovery_subaccount_pair/import.sh
  internal/btpcli/client.go
  internal/btpcli/facade_disaster_recovery_subaccount_pair.go
Due: gofmt, golangci-lint

fixes from COpilot review
  btp/provider/resource_disaster_recovery_subaccount_pair.go
  docs/data-sources/disaster_recovery_subaccount_pair.md
  docs/resources/disaster_recovery_subaccount_pair.md
  examples/data-sources/btp_disaster_recovery_subaccount_pair/data-source.tf
  examples/resources/btp_disaster_recovery_subaccount_pair/import.sh
  examples/resources/btp_disaster_recovery_subaccount_pair/resource.tf
  internal/btpcli/facade_disaster_recovery_subaccount_pair_test.go
Due: gofmt, golangci-lint, terraformfmt

fix: fix typo
  btp/provider/list_resource_subaccount_subscription.go
  btp/provider/list_resource_subaccount_subscription_test.go
  btp/provider/provider.go
  docs/list-resources/subaccount_destination_generic.md
  examples/list-resources/btp_subaccount_destination_generic/list-resource.tfquery.hcl
Due: gofmt, golangci-lint

feat: pre-work for pending deletion (#1394)
  btp/provider/datasource_subaccount.go
  btp/provider/datasource_subaccount_test.go
  btp/provider/datasource_subaccounts.go
  btp/provider/datasource_subaccounts_test.go
  btp/provider/fixtures/datasource_subaccount.err_invalid_subdomain.yaml
  btp/provider/fixtures/datasource_subaccount.err_subaccount_doesnt_exist.yaml
  btp/provider/fixtures/datasource_subaccount.yaml
  btp/provider/fixtures/datasource_subaccount_by_subdomain.yaml
  btp/provider/fixtures/datasource_subaccounts.all.yaml
  btp/provider/fixtures/resource_subaccount.change_to_used_for_production.yaml
  btp/provider/fixtures/resource_subaccount.full_config.yaml
  btp/provider/fixtures/resource_subaccount.skip_entitlements.yaml
  btp/provider/fixtures/resource_subaccount.used_for_production.yaml
  btp/provider/fixtures/resource_subaccount.with_managed_parent.yaml
  btp/provider/fixtures/resource_subaccount.with_parent_hierarchy.yaml
  btp/provider/fixtures/resource_subaccount.yaml
  btp/provider/fixtures/resource_subaccount_with_import.yaml
  btp/provider/resource_subaccount.go
  btp/provider/resource_subaccount_test.go
  btp/provider/type_subaccount.go
  docs/data-sources/subaccount.md
  docs/data-sources/subaccounts.md
  docs/resources/subaccount.md
  internal/btpcli/facade_accounts_subaccount.go
  internal/btpcli/facade_accounts_subaccount_test.go
  internal/btpcli/types/cis/subaccount_response_object.go
Due: gofmt, golangci-lint

feat: Implement list functionality for destination and subscription (#1414)
  btp/provider/fixtures/list_resource_subaccount_destination_generic.yaml
  btp/provider/fixtures/list_resource_subaccount_destionation_generic_bad_request.yaml
  btp/provider/fixtures/list_resource_subaccount_subscription.yaml
  btp/provider/fixtures/list_resource_subaccount_subscription_bad_request.yaml
  btp/provider/list_resource_subaccount_destination_generic.go
  btp/provider/list_resource_subaccount_destination_generic_test.go
  btp/provider/list_resource_subaccount_subscription.go
  btp/provider/list_resource_subaccount_subscription_test.go
  btp/provider/provider.go
  btp/provider/provider_test.go
  docs/list-resources/subaccount_destination_generic.md
  docs/list-resources/subaccount_subscription.md
  examples/list-resources/btp_subaccount_destination_generic/list-resource.tfquery.hcl
  examples/list-resources/btp_subaccount_subscription/list-resource.tfquery.hcl
Due: gofmt, golangci-lint

feat: resource for central disaster recovery (#1416)
  btp/provider/datasource_disaster_recovery_subaccount_pair.go
  btp/provider/datasource_disaster_recovery_subaccount_pair_test.go
  btp/provider/fixtures/datasource_disaster_recovery_subaccount_pair.invalid_id.yaml
  btp/provider/fixtures/datasource_disaster_recovery_subaccount_pair.yaml
  btp/provider/fixtures/resource_disaster_recovery_subaccount_pair.error_existing.yaml
  btp/provider/fixtures/resource_disaster_recovery_subaccount_pair.yaml
  btp/provider/provider.go
  btp/provider/provider_test.go
  btp/provider/resource_disaster_recovery_subaccount_pair.go
  btp/provider/resource_disaster_recovery_subaccount_pair_test.go
  btp/provider/type_disaster_recovery_subaccount_pair.go
  docs/data-sources/disaster_recovery_subaccount_pair.md
  docs/resources/disaster_recovery_subaccount_pair.md
  examples/data-sources/btp_disaster_recovery_subaccount_pair/data-source.tf
  examples/resources/btp_disaster_recovery_subaccount_pair/import.sh
  examples/resources/btp_disaster_recovery_subaccount_pair/resource.tf
  internal/btpcli/client.go
  internal/btpcli/facade.go
  internal/btpcli/facade_disaster_recovery.go
  internal/btpcli/facade_disaster_recovery_subaccount_pair.go
  internal/btpcli/facade_disaster_recovery_subaccount_pair_test.go
  internal/btpcli/types/cdr/model_create_subaccount_pair_request.go
  internal/btpcli/types/cdr/model_create_subaccount_pair_response.go
  internal/btpcli/types/cdr/model_delete_subaccount_pair_response.go
  internal/btpcli/types/cdr/model_error_message.go
  internal/btpcli/types/cdr/model_get_subaccount_pair_response.go
  internal/btpcli/types/cdr/model_subaccount_dr_metadata.go
Due: gofmt, golangci-lint, terraformfmt

chore: add claude.md file
  CLAUDE.md
Due: none

chore: add claude.md file (#1417)
  CLAUDE.md
Due: none

docs: fix typos and inconsistencies
  .gitignore
  examples/data-sources/btp_subaccount_service_plan/data-source.tf
  examples/resources/btp_directory/import.sh
  examples/resources/btp_directory_entitlement/import.sh
  examples/resources/btp_directory_role/import.sh
  examples/resources/btp_directory_role_collection/import.sh
  examples/resources/btp_disaster_recovery_subaccount_pair/import.sh
  examples/resources/btp_globalaccount_resource_provider/import.sh
  examples/resources/btp_globalaccount_role/import.sh
  examples/resources/btp_globalaccount_role_collection/import.sh
  examples/resources/btp_globalaccount_security_settings/import.sh
  examples/resources/btp_globalaccount_trust_configuration/import.sh
  examples/resources/btp_subaccount/import.sh
  examples/resources/btp_subaccount_destination/import.sh
  examples/resources/btp_subaccount_destination/resource.tf
  examples/resources/btp_subaccount_destination_fragment/import.sh
  examples/resources/btp_subaccount_destination_generic/import.sh
  examples/resources/btp_subaccount_entitlement/import.sh
  examples/resources/btp_subaccount_environment_instance/import.sh
  examples/resources/btp_subaccount_environment_instance/resource.tf
  examples/resources/btp_subaccount_role/import.sh
  examples/resources/btp_subaccount_role_collection/import.sh
  examples/resources/btp_subaccount_role_collection_assignment/resource.tf
  examples/resources/btp_subaccount_role_collection_base/import.sh
  examples/resources/btp_subaccount_role_collection_role/import.sh
  examples/resources/btp_subaccount_security_settings/import.sh
  examples/resources/btp_subaccount_service_binding/import.sh
  examples/resources/btp_subaccount_service_broker/import.sh
  examples/resources/btp_subaccount_service_instance/import.sh
  examples/resources/btp_subaccount_subscription/import.sh
  examples/resources/btp_subaccount_trust_configuration/import.sh
  templates/data-sources/globalaccount_with_hierarchy.md.tmpl
  templates/resources/subaccount_service_instance.md.tmpl
Due: terraformfmt

docs: regenerate markdown files
  docs/data-sources/globalaccount_with_hierarchy.md
  docs/data-sources/subaccount_service_plan.md
  docs/resources/directory.md
  docs/resources/directory_entitlement.md
  docs/resources/directory_role.md
  docs/resources/directory_role_collection.md
  docs/resources/disaster_recovery_subaccount_pair.md
  docs/resources/globalaccount_resource_provider.md
  docs/resources/globalaccount_role.md
  docs/resources/globalaccount_role_collection.md
  docs/resources/globalaccount_security_settings.md
  docs/resources/globalaccount_trust_configuration.md
  docs/resources/subaccount.md
  docs/resources/subaccount_destination.md
  docs/resources/subaccount_destination_fragment.md
  docs/resources/subaccount_destination_generic.md
  docs/resources/subaccount_entitlement.md
  docs/resources/subaccount_environment_instance.md
  docs/resources/subaccount_role.md
  docs/resources/subaccount_role_collection.md
  docs/resources/subaccount_role_collection_assignment.md
  docs/resources/subaccount_role_collection_base.md
  docs/resources/subaccount_role_collection_role.md
  docs/resources/subaccount_security_settings.md
  docs/resources/subaccount_service_binding.md
  docs/resources/subaccount_service_broker.md
  docs/resources/subaccount_service_instance.md
  docs/resources/subaccount_subscription.md
  docs/resources/subaccount_trust_configuration.md
Due: none

docs: fix comment formatting and typos in resource examples
  examples/resources/btp_subaccount_destination/resource.tf
  examples/resources/btp_subaccount_environment_instance/resource.tf
Due: terraformfmt

regenerate docs
  docs/resources/subaccount_destination.md
  docs/resources/subaccount_environment_instance.md
Due: none

more typo fixes
  docs/data-sources/globalaccount_with_hierarchy.md
  templates/data-sources/globalaccount_with_hierarchy.md.tmpl
Due: none

Path conditions:
  gofmt: any of: *.go, but not: vendor/*
  golangci-lint: any of: *.go, but not: vendor/*
  terraformfmt: any of: *.tf, but not: vendor/*
