Repository SAP/terraform-provider-btp: changes, and which lefthook commands are due for each by the changed paths.
All: gofmt, golangci-lint, terraformfmt

gofmt:
  run: go fmt ./...

golangci-lint:
  run: golangci-lint run --fix

terraformfmt:
  run: terraform fmt {staged_files}

chore: update issue template for bug reports (#543)
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

feat: enhance dev container to enable remote state configuration (#540)
  .devcontainer/default_remote/devcontainer.json
  .devcontainer/withenvfile_remote/devcontainer.json
  DEVELOPER.md
  assets/credentials.tfrc.json.txt
Due: none

fix: refactoring of parent ID determination
  internal/provider/resource_subaccount_entitlement.go
  internal/provider/type_subaccount.go
  internal/provider/type_subaccount_entitlement.go
Due: gofmt, golangci-lint

fix: refactoring of parent ID for deletion
  internal/btpcli/facade_accounts_subaccount.go
  internal/btpcli/facade_accounts_subaccount_test.go
  internal/provider/datasource_subaccount_entitlements.go
  internal/provider/resource_subaccount.go
Due: gofmt, golangci-lint

fix: recording of fixtures
  internal/btpcli/facade_accounts_subaccount.go
  internal/btpcli/facade_accounts_subaccount_test.go
  internal/provider/fixtures/resource_subaccount.change_to_used_for_production.yaml
  internal/provider/fixtures/resource_subaccount.full_config.yaml
  internal/provider/fixtures/resource_subaccount.used_for_production.yaml
  internal/provider/fixtures/resource_subaccount.yaml
  internal/provider/resource_subaccount.go
Due: gofmt, golangci-lint

adding basic resources for global account setup
  integration/README.md
  integration/main.tf
  integration/provider.tf
  integration/variables.tf
Due: terraformfmt

adding role collection assignments for subaccounts
  integration/README.md
  integration/main.tf
Due: terraformfmt

adding directory entitlement
  integration/README.md
  integration/main.tf
Due: terraformfmt

adding resource provider
  integration/main.tf
Due: terraformfmt

removing dir users
  integration/main.tf
Due: terraformfmt

adding entitlement documentation
  integration/README.md
Due: none

adding hana cloud entitlement
  integration/README.md
  integration/main.tf
Due: terraformfmt

adding role collection assignment
  integration/README.md
  integration/main.tf
Due: terraformfmt

adding services to sa
  integration/README.md
  integration/main.tf
Due: terraformfmt

adding sa entitlement for auditlog-viewer
  integration/main.tf
Due: terraformfmt

adding users and entitlements
  integration/README.md
  integration/main.tf
Due: terraformfmt

adding app subscription
  integration/README.md
  integration/main.tf
Due: terraformfmt

enabeling beta feature on sa
  integration/main.tf
Due: terraformfmt

adding users and refactoring
  integration/main.tf
Due: terraformfmt

minor indentation adjustment
  integration/main.tf
Due: terraformfmt

adding subaccount viewer
  integration/main.tf
Due: terraformfmt

replacing iban service with malware-scanner service
  integration/README.md
  integration/main.tf
Due: terraformfmt

ci: Terraform Integration Landscape Setup (#532)
  integration/README.md
  integration/main.tf
  integration/provider.tf
  integration/variables.tf
Due: terraformfmt

fix: deletion of subaccounts under managed directories (#545)
  internal/btpcli/facade_accounts_subaccount.go
  internal/btpcli/facade_accounts_subaccount_test.go
  internal/provider/datasource_subaccount_entitlements.go
  internal/provider/fixtures/resource_subaccount.change_to_used_for_production.yaml
  internal/provider/fixtures/resource_subaccount.full_config.yaml
  internal/provider/fixtures/resource_subaccount.used_for_production.yaml
  internal/provider/fixtures/resource_subaccount.yaml
  internal/provider/resource_subaccount.go
  internal/provider/resource_subaccount_entitlement.go
  internal/provider/type_subaccount.go
  internal/provider/type_subaccount_entitlement.go
Due: gofmt, golangci-lint

docs: refine origin description
  docs/data-sources/directory_user.md
  docs/data-sources/directory_users.md
  docs/data-sources/globalaccount_user.md
  docs/data-sources/globalaccount_users.md
  docs/data-sources/subaccount_user.md
  docs/data-sources/subaccount_users.md
  docs/resources/directory_role_collection_assignment.md
  docs/resources/globalaccount_role_collection_assignment.md
  docs/resources/subaccount_role_collection_assignment.md
  internal/provider/datasource_directory_user.go
  internal/provider/datasource_directory_users.go
  internal/provider/datasource_globalaccount_user.go
  internal/provider/datasource_globalaccount_users.go
  internal/provider/datasource_subaccount_user.go
  internal/provider/datasource_subaccount_users.go
  internal/provider/resource_directory_role_collection_assignment.go
  internal/provider/resource_globalaccount_role_collection_assignment.go
  internal/provider/resource_subaccount_role_collection_assignment.go
Due: gofmt, golangci-lint

fix: typo
  docs/data-sources/directory_users.md
  docs/data-sources/globalaccount_users.md
  docs/data-sources/subaccount_users.md
  docs/resources/directory_role_collection_assignment.md
  docs/resources/globalaccount_role_collection_assignment.md
  internal/provider/datasource_directory_users.go
  internal/provider/datasource_globalaccount_users.go
  internal/provider/datasource_subaccount_users.go
  internal/provider/resource_directory_role_collection_assignment.go
  internal/provider/resource_globalaccount_role_collection_assignment.go
Due: gofmt, golangci-lint

chore: refine of GH Action execution
  .github/workflows/codeql.yml
  .github/workflows/semantic-pr.yml
  .github/workflows/test.yml
Due: none

docs: refine origin description (#549)
  docs/data-sources/directory_user.md
  docs/data-sources/directory_users.md
  docs/data-sources/globalaccount_user.md
  docs/data-sources/globalaccount_users.md
  docs/data-sources/subaccount_user.md
  docs/data-sources/subaccount_users.md
  docs/resources/directory_role_collection_assignment.md
  docs/resources/globalaccount_role_collection_assignment.md
  docs/resources/subaccount_role_collection_assignment.md
  internal/provider/datasource_directory_user.go
  internal/provider/datasource_directory_users.go
  internal/provider/datasource_globalaccount_user.go
  internal/provider/datasource_globalaccount_users.go
  internal/provider/datasource_subaccount_user.go
  internal/provider/datasource_subaccount_users.go
  internal/provider/resource_directory_role_collection_assignment.go
  internal/provider/resource_globalaccount_role_collection_assignment.go
  internal/provider/resource_subaccount_role_collection_assignment.go
Due: gofmt, golangci-lint

chore: refine of GH Action execution (#550)
  .github/workflows/codeql.yml
  .github/workflows/semantic-pr.yml
  .github/workflows/test.yml
Due: none

fixing fixture
  internal/provider/fixtures/datasource_directories.all.yaml
Due: none

fixes provider test
  internal/provider/provider_test.go
Due: gofmt, golangci-lint

adds datasource for directories
  internal/btpcli/facade_accounts_global_account.go
  internal/provider/datasource_directories.go
  internal/provider/datasource_directories_test.go
  internal/provider/datasource_directory.go
  internal/provider/fixtures/datasource_directories.all.yaml
  internal/provider/provider.go
Due: gofmt, golangci-lint

moving mapping logic to type_directory.go
  internal/provider/datasource_directories.go
  internal/provider/type_directory.go
Due: gofmt, golangci-lint

fixes docs
  internal/provider/datasource_directories.go
Due: gofmt, golangci-lint

doc generation
  docs/data-sources/directories.md
Due: none

docs: regnerate documentation
  docs/data-sources/directories.md
Due: none

fix: text of model
  internal/btpcli/types/servicemanager/model_error_broker_error.go
Due: gofmt, golangci-lint

feat: Directories Datasource (#548)
  docs/data-sources/directories.md
  internal/btpcli/facade_accounts_global_account.go
  internal/provider/datasource_directories.go
  internal/provider/datasource_directories_test.go
  internal/provider/datasource_directory.go
  internal/provider/fixtures/datasource_directories.all.yaml
  internal/provider/provider.go
  internal/provider/provider_test.go
  internal/provider/type_directory.go
Due: gofmt, golangci-lint

Path conditions:
  gofmt: any of: *.go, but not: vendor/*
  golangci-lint: any of: *.go, but not: vendor/*
  terraformfmt: any of: *.tf, but not: vendor/*
