Repository SAP/terraform-provider-btp: changes, and which lefthook commands are due for each by the changed paths.
All: gofmt, golangci-lint, terraformfmt

gofmt:
  run: go fmt ./...

golangci-lint:
  run: golangci-lint run --fix

terraformfmt:
  run: terraform fmt {staged_files}

fix(docs): provider version
  docs/index.md
  examples/provider/provider.tf
Due: terraformfmt

fix(docs): provider version (#331)
  docs/index.md
  examples/provider/provider.tf
Due: terraformfmt

fix: misformated docu
  docs/resources/directory.md
  internal/provider/resource_directory.go
Due: gofmt, golangci-lint

docu: sync usage of backticks in docu
  docs/data-sources/globalaccount.md
  docs/data-sources/subaccount_service_binding.md
  docs/data-sources/subaccount_service_offerings.md
  docs/resources/subaccount_service_binding.md
  internal/provider/datasource_globalaccount.go
  internal/provider/datasource_globalaccount_resource_provider.go
  internal/provider/datasource_globalaccount_resource_providers.go
  internal/provider/datasource_subaccount_service_binding.go
  internal/provider/datasource_subaccount_service_offerings.go
  internal/provider/resource_subaccount_service_binding.go
Due: gofmt, golangci-lint

doc: fix for wrong format of tables in terraform registry (#333)
  docs/data-sources/globalaccount.md
  docs/data-sources/subaccount_service_binding.md
  docs/data-sources/subaccount_service_offerings.md
  docs/resources/directory.md
  docs/resources/subaccount_service_binding.md
  internal/provider/datasource_globalaccount.go
  internal/provider/datasource_globalaccount_resource_provider.go
  internal/provider/datasource_globalaccount_resource_providers.go
  internal/provider/datasource_subaccount_service_binding.go
  internal/provider/datasource_subaccount_service_offerings.go
  internal/provider/resource_directory.go
  internal/provider/resource_subaccount_service_binding.go
Due: gofmt, golangci-lint

chore: prepare 0.2.0-beta2 release
  docs/index.md
  examples/provider/provider.tf
Due: terraformfmt

fix(resource): fix schema and add tests for resource provider
  docs/resources/globalaccount_resource_provider.md
  internal/btpcli/facade_accounts_resource_provider.go
  internal/btpcli/facade_accounts_resource_provider_test.go
  internal/btpcli/types/provisioning/resource_provider.go
  internal/provider/datasource_globalaccount_resource_provider.go
  internal/provider/datasource_globalaccount_resource_provider_test.go
  internal/provider/datasource_globalaccount_resource_providers.go
  internal/provider/datasource_globalaccount_resource_providers_test.go
  internal/provider/fixtures/datasource_globalaccount_resource_provider.yaml
  internal/provider/fixtures/datasource_globalaccount_resource_providers.yaml
  internal/provider/fixtures/resource_globalaccount_resource_provider.create.yaml
  internal/provider/resource_globalaccount_resource_provider.go
  internal/provider/resource_globalaccount_resource_provider_test.go
  internal/provider/type_globalaccount_resource_provider.go
Due: gofmt, golangci-lint

fix(resource): fix schema and add tests for resource provider (#339)
  docs/resources/globalaccount_resource_provider.md
  internal/btpcli/facade_accounts_resource_provider.go
  internal/btpcli/facade_accounts_resource_provider_test.go
  internal/btpcli/types/provisioning/resource_provider.go
  internal/provider/datasource_globalaccount_resource_provider.go
  internal/provider/datasource_globalaccount_resource_provider_test.go
  internal/provider/datasource_globalaccount_resource_providers.go
  internal/provider/datasource_globalaccount_resource_providers_test.go
  internal/provider/fixtures/datasource_globalaccount_resource_provider.yaml
  internal/provider/fixtures/datasource_globalaccount_resource_providers.yaml
  internal/provider/fixtures/resource_globalaccount_resource_provider.create.yaml
  internal/provider/resource_globalaccount_resource_provider.go
  internal/provider/resource_globalaccount_resource_provider_test.go
  internal/provider/type_globalaccount_resource_provider.go
Due: gofmt, golangci-lint

chore: add stale handling for issues and prs
  .github/workflows/cleanup-action-caches.yml
  .github/workflows/stale-handling.yml
Due: none

chore: add stale handling for issues and prs (#340)
  .github/workflows/cleanup-action-caches.yml
  .github/workflows/stale-handling.yml
Due: none

feat(resource): support update of "btp_globalaccount_resource_provider"
  internal/btpcli/facade_accounts_resource_provider.go
  internal/btpcli/facade_accounts_resource_provider_test.go
  internal/provider/fixtures/resource_globalaccount_resource_provider.update.yaml
  internal/provider/resource_globalaccount_resource_provider.go
  internal/provider/resource_globalaccount_resource_provider_test.go
Due: gofmt, golangci-lint

feat(resource): support update of "btp_globalaccount_resource_provider" (#343)
  internal/btpcli/facade_accounts_resource_provider.go
  internal/btpcli/facade_accounts_resource_provider_test.go
  internal/provider/fixtures/resource_globalaccount_resource_provider.update.yaml
  internal/provider/resource_globalaccount_resource_provider.go
  internal/provider/resource_globalaccount_resource_provider_test.go
Due: gofmt, golangci-lint

chore: refine bug issue template
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

chore: adjust goreleaser.yaml for release note creation
  .goreleaser.yml
Due: none

chore: refine bug issue template (#347)
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

chore: adjust goreleaser.yaml for release note creation (#348)
  .goreleaser.yml
Due: none

fix: mapping of role names
  internal/provider/datasource_directory_roles.go
  internal/provider/datasource_globalaccount_roles.go
  internal/provider/datasource_subaccount_roles.go
Due: gofmt, golangci-lint

fix: mapping of role names (#350)
  internal/provider/datasource_directory_roles.go
  internal/provider/datasource_globalaccount_roles.go
  internal/provider/datasource_subaccount_roles.go
Due: gofmt, golangci-lint

fix: handling of erros for services, subscriptions and bindings
  internal/provider/resource_subaccount_service_binding.go
  internal/provider/resource_subaccount_service_instance.go
  internal/provider/resource_subaccount_subscription.go
Due: gofmt, golangci-lint

fix: handling of errors for services, subscriptions and bindings (#352)
  internal/provider/resource_subaccount_service_binding.go
  internal/provider/resource_subaccount_service_instance.go
  internal/provider/resource_subaccount_subscription.go
Due: gofmt, golangci-lint

fix: error handling of entitlement polling
  internal/provider/resource_subaccount_entitlement.go
Due: gofmt, golangci-lint

fix: error handling of entitlement polling (#354)
  internal/provider/resource_subaccount_entitlement.go
Due: gofmt, golangci-lint

docu: enhance provider setup documentation
  internal/provider/provider.go
Due: gofmt, golangci-lint

docu: regenerate docu
  docs/index.md
Due: none

docs: enhance provider setup documentation (#355)
  docs/index.md
  internal/provider/provider.go
Due: gofmt, golangci-lint

remove polling interactions to shorten fixtures for SA env instance tests
  internal/provider/fixtures/resource_subaccount_environment_instance.update.yaml
  internal/provider/fixtures/resource_subaccount_environment_instance.yaml
Due: none

re-enable subaccount trust configuration tests
  internal/provider/datasource_subaccount_trust_configurations_test.go
  internal/provider/fixtures/resource_subaccount_trust_configuration.complete.yaml
  internal/provider/fixtures/resource_subaccount_trust_configuration.minimal.yaml
  internal/provider/resource_globalaccount_trust_configuration_test.go
  internal/provider/resource_subaccount_trust_configuration_test.go
Due: gofmt, golangci-lint

feat(test): fixture drift detection
  .github/scripts/fixtureDriftDetect.sh
Due: none

add to workflow
  .github/workflows/test.yml
Due: none

fix command call
  .github/workflows/test.yml
Due: none

disable acc test
  .github/workflows/test.yml
Due: none

disable sonarcloud
  .github/workflows/test.yml
Due: none

fix exit code
  .github/scripts/fixtureDriftDetect.sh
Due: none

test pwd
  .github/scripts/fixtureDriftDetect.sh
  .github/workflows/test.yml
Due: none

test git
  .github/workflows/test.yml
Due: none

Path conditions:
  gofmt: any of: *.go, but not: vendor/*
  golangci-lint: any of: *.go, but not: vendor/*
  terraformfmt: any of: *.tf, but not: vendor/*
