Repository SAP/terraform-provider-btp: changes, and which lefthook commands are due for each by the changed paths.
All: gofmt, golangci-lint, terraformfmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    gofmt:
      glob: "*.go"
      run: go fmt ./...
      exclude: "vendor/*"
    golangci-lint:
      glob: "*.go"
      run: golangci-lint run --fix
      exclude: "vendor/*"
    terraformfmt:
      glob: "*.tf"
      run: terraform fmt {staged_files}
      exclude: "vendor/*"

add datasource for directory and subaccount user
  internal/provider/datasource_directory_user_test.go
  internal/provider/datasource_subaccount_user_test.go
  internal/provider/fixtures/datasource_directory_user.yaml
  internal/provider/fixtures/datasource_subaccount_user.yaml
Due: gofmt, golangci-lint

add jenny.doe@test.com to user tests
  internal/provider/datasource_directory_user_test.go
  internal/provider/datasource_globalaccount_user_test.go
  internal/provider/datasource_subaccount_user_test.go
Due: gofmt, golangci-lint

fixed issues with datarsources with users
  internal/provider/datasource_directory_user_test.go
  internal/provider/datasource_globalaccount_user_test.go
  internal/provider/datasource_subaccount_user_test.go
  internal/provider/fixtures/datasource_directory_user.yaml
  internal/provider/fixtures/datasource_globalaccount_user.yaml
  internal/provider/fixtures/datasource_subaccount_user.yaml
Due: gofmt, golangci-lint

update user and subaccount ID
  internal/provider/datasource_subaccount_user_test.go
  internal/provider/fixtures/datasource_directory_user.yaml
  internal/provider/fixtures/datasource_globalaccount_user.yaml
  internal/provider/fixtures/datasource_subaccount_user.yaml
Due: gofmt, golangci-lint

fix: dependabot
  .github/dependabot.yml
Due: none

chore: remove local CODE OF CONDUCT
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
Due: none

fix issues with expected attributes
  internal/provider/datasource_globalaccount_user_test.go
  internal/provider/datasource_subaccount_user_test.go
  internal/provider/fixtures/datasource_directory_user.yaml
  internal/provider/fixtures/datasource_globalaccount_user.yaml
  internal/provider/fixtures/datasource_subaccount_user.yaml
Due: gofmt, golangci-lint

fix: dependabot (#55)
  .github/dependabot.yml
Due: none

chore: remove local CODE OF CONDUCT (#56)
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
Due: none

uncomment username and password
  internal/provider/provider_test.go
Due: gofmt, golangci-lint

Add fixture for various datasource with users (#58)
  internal/provider/datasource_directory_user_test.go
  internal/provider/datasource_globalaccount_user_test.go
  internal/provider/datasource_subaccount_user_test.go
  internal/provider/fixtures/datasource_directory_user.yaml
  internal/provider/fixtures/datasource_globalaccount_user.yaml
  internal/provider/fixtures/datasource_subaccount_user.yaml
Due: gofmt, golangci-lint

feat: support login with custom IDP
  docs/index.md
  internal/provider/provider.go
Due: gofmt, golangci-lint

feat: support login with custom IDP
  docs/index.md
  examples/provider/provider.tf
  internal/btpcli/client.go
  internal/btpcli/client_test.go
  internal/btpcli/clienttypes.go
  internal/btpcli/session.go
  internal/provider/datasource_whoami.go
Due: gofmt, golangci-lint, terraformfmt

add test for datasource_directory_entitlements
  internal/provider/datasource_directory_entitlements.go
  internal/provider/datasource_directory_entitlements_test.go
  internal/provider/fixtures/datasource_directory_entitlements.yaml
  internal/provider/provider_test.go
Due: gofmt, golangci-lint

Feat/support custom idp login (#60)
  docs/index.md
  examples/provider/provider.tf
  internal/btpcli/client.go
  internal/btpcli/client_test.go
  internal/btpcli/clienttypes.go
  internal/btpcli/session.go
  internal/provider/datasource_whoami.go
  internal/provider/provider.go
Due: gofmt, golangci-lint, terraformfmt

add globalaccount entitlement tests
  internal/provider/datasource_globalaccount_entitlements.go
  internal/provider/datasource_globalaccount_entitlements_test.go
  internal/provider/fixtures/datasource_directory_entitlements.yaml
  internal/provider/fixtures/datasource_globalaccount_entitlements.yaml
Due: gofmt, golangci-lint

add subaccount entitlement test
  internal/provider/datasource_globalaccount_entitlements.go
  internal/provider/datasource_subaccount_entitlements.go
  internal/provider/datasource_subaccount_entitlements_test.go
  internal/provider/fixtures/datasource_subaccount_entitlements.yaml
Due: gofmt, golangci-lint

align tests with used examples in documentation
  internal/provider/datasource_directory_entitlements_test.go
  internal/provider/datasource_directory_user_test.go
  internal/provider/datasource_globalaccount_entitlements_test.go
  internal/provider/datasource_globalaccount_user_test.go
  internal/provider/datasource_subaccount_user_test.go
Due: gofmt, golangci-lint

update fixture files for entitlements
  internal/provider/fixtures/datasource_directory_entitlements.yaml
  internal/provider/fixtures/datasource_globalaccount_entitlements.yaml
  internal/provider/fixtures/datasource_subaccount_entitlements.yaml
Due: none

update user in provider
  internal/provider/provider_test.go
Due: gofmt, golangci-lint

add terraform-plugin-docs
  go.mod
  go.sum
Due: none

update md files for entitlements
  docs/data-sources/directory_entitlements.md
  docs/data-sources/globalaccount_entitlements.md
  docs/data-sources/subaccount_entitlements.md
Due: none

add datasource unit tests for labels
  docs/data-sources/directory_labels.md
  docs/data-sources/subaccount_labels.md
  internal/provider/datasource_directory_labels.go
  internal/provider/datasource_directory_labels_test.go
  internal/provider/datasource_subaccount_labels.go
  internal/provider/datasource_subaccount_labels_test.go
  internal/provider/fixtures/datasource_directory_labels.yaml
  internal/provider/fixtures/datasource_subaccount_labels.yaml
Due: gofmt, golangci-lint

feat: send User-Agent with every API request
  .goreleaser.yml
  internal/btpcli/client.go
  internal/btpcli/client_test.go
  internal/provider/provider.go
  internal/version/version.go
Due: gofmt, golangci-lint

initial commit
  internal/provider/datasource_directory_users.go
  internal/provider/datasource_directory_users_test.go
  internal/provider/datasource_globalaccount_users.go
  internal/provider/datasource_globalaccount_users_test.go
  internal/provider/fixtures/datasource_directory_users.default_idp.yaml
  internal/provider/fixtures/datasource_globalaccount_users.yaml
Due: gofmt, golangci-lint

add datasource unit tests for labels (#65)
  docs/data-sources/directory_labels.md
  docs/data-sources/subaccount_labels.md
  internal/provider/datasource_directory_labels.go
  internal/provider/datasource_directory_labels_test.go
  internal/provider/datasource_subaccount_labels.go
  internal/provider/datasource_subaccount_labels_test.go
  internal/provider/fixtures/datasource_directory_labels.yaml
  internal/provider/fixtures/datasource_subaccount_labels.yaml
Due: gofmt, golangci-lint

address review findings
  go.mod
  internal/provider/datasource_directory_user_test.go
  internal/provider/datasource_globalaccount_user_test.go
  internal/provider/datasource_subaccount_user_test.go
Due: gofmt, golangci-lint

update documentation
  docs/data-sources/directory_users.md
  docs/data-sources/globalaccount_users.md
Due: none

update subaccount users
  internal/provider/datasource_subaccount_users.go
  internal/provider/datasource_subaccount_users_test.go
  internal/provider/fixtures/datasource_subaccount_users.default_idp.yaml
  internal/provider/provider_test.go
Due: gofmt, golangci-lint

remove missed entries for terraform-plugin-docs
  go.sum
Due: none

feat(subaccount): support update
  internal/btpcli/client_test.go
  internal/btpcli/facade_accounts_subaccount.go
  internal/btpcli/facade_accounts_subaccount_test.go
  internal/provider/resource_subaccount.go
Due: gofmt, golangci-lint

finish subaccount users
  internal/provider/datasource_subaccount_users.go
  internal/provider/datasource_subaccount_users_test.go
  internal/provider/fixtures/datasource_subaccount_users.custom_idp.yaml
  internal/provider/fixtures/datasource_subaccount_users.default_idp.yaml
Due: gofmt, golangci-lint

fix: fmt
  internal/btpcli/client_test.go
Due: gofmt, golangci-lint

uncomment user
  internal/provider/provider_test.go
Due: gofmt, golangci-lint

Fixture for all entitlements (#63)
  docs/data-sources/directory_entitlements.md
  docs/data-sources/globalaccount_entitlements.md
  docs/data-sources/subaccount_entitlements.md
  internal/provider/datasource_directory_entitlements.go
  internal/provider/datasource_directory_entitlements_test.go
  internal/provider/datasource_globalaccount_entitlements.go
  internal/provider/datasource_globalaccount_entitlements_test.go
  internal/provider/datasource_subaccount_entitlements.go
  internal/provider/datasource_subaccount_entitlements_test.go
  internal/provider/fixtures/datasource_directory_entitlements.yaml
  internal/provider/fixtures/datasource_globalaccount_entitlements.yaml
  internal/provider/fixtures/datasource_subaccount_entitlements.yaml
Due: gofmt, golangci-lint

fix: fmt (#68)
  internal/btpcli/client_test.go
Due: gofmt, golangci-lint

comment out unused function
  internal/provider/datasource_subaccount_users_test.go
Due: gofmt, golangci-lint

update generated documentation
  docs/data-sources/subaccount_users.md
Due: none

comment out unused function
  internal/provider/datasource_directory_users_test.go
Due: gofmt, golangci-lint

Update internal/provider/datasource_subaccount_users_test.go
  internal/provider/datasource_subaccount_users_test.go
Due: gofmt, golangci-lint
