Repository SAP/terraform-provider-btp: changes, and which lefthook commands are due for each by the changed paths.
All: gofmt, golangci-lint, terraformfmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    gofmt:
      glob: "*.go"
      run: go fmt ./...
      exclude: "vendor/*"
    golangci-lint:
      glob: "*.go"
      run: golangci-lint run --fix
      exclude: "vendor/*"
    terraformfmt:
      glob: "*.tf"
      run: terraform fmt {staged_files}
      exclude: "vendor/*"

docs: update docs for action 'add-me-as-admin'
  btp/provider/action_add_me_as_subaccount_admin.go
  docs/actions/add_me_as_subaccount_admin.md
Due: gofmt, golangci-lint

docs: fix review comment
  btp/provider/action_add_me_as_subaccount_admin.go
Due: gofmt, golangci-lint

docs: re-generated markdown
  docs/actions/add_me_as_subaccount_admin.md
Due: none

docs: update docs for action 'add-me-as-admin' (#1553)
  btp/provider/action_add_me_as_subaccount_admin.go
  docs/actions/add_me_as_subaccount_admin.md
Due: gofmt, golangci-lint

fix mapping of destination configuration
  btp/provider/resource_subaccount_destination_generic.go
  btp/provider/type_destination_generic.go
Due: gofmt, golangci-lint

Fixes
  btp/provider/resource_subaccount_destination_generic.go
  btp/provider/type_destination_generic.go
Due: gofmt, golangci-lint

Added regression test
  btp/provider/fixtures/resource_subaccount_destination_generic_sensitive_regression.yaml
  btp/provider/resource_subaccount_destination_generic_test.go
Due: gofmt, golangci-lint

Update resource_subaccount_destination_generic_test.go
  btp/provider/resource_subaccount_destination_generic_test.go
Due: gofmt, golangci-lint

fix: mapping of destination configuration to avoid inconsistent apply (#1556)
  btp/provider/fixtures/resource_subaccount_destination_generic_sensitive_regression.yaml
  btp/provider/resource_subaccount_destination_generic.go
  btp/provider/resource_subaccount_destination_generic_test.go
  btp/provider/type_destination_generic.go
Due: gofmt, golangci-lint

fix for security control
  .github/workflows/ot-canary-integration-test-main.yml
  .github/workflows/ot-canary-integration-test-stable.yml
  .github/workflows/ot-live-integration-test-main.yml
  .github/workflows/ot-live-integration-test-stable.yml
  .github/workflows/semantic-pr.yml
  .github/workflows/tf-canary-integration-test-main.yml
  .github/workflows/tf-canary-integration-test-stable.yml
  .github/workflows/tf-live-integration-test-main.yml
  .github/workflows/tf-live-integration-test-stable.yml
Due: none

Updated files for secrets
  .github/workflows/schema-regression-test-opentofu.yml
  .github/workflows/schema-regression-test.yml
Due: none

claude review fix
  .github/workflows/canary-regression-test.yml
  .github/workflows/integration-test-opentofu.yml
  .github/workflows/integration-test.yml
  .github/workflows/ot-canary-integration-test-main.yml
  .github/workflows/ot-canary-integration-test-stable.yml
  .github/workflows/ot-live-integration-test-main.yml
  .github/workflows/ot-live-integration-test-stable.yml
  .github/workflows/schema-regression-test-opentofu.yml
  .github/workflows/schema-regression-test.yml
  .github/workflows/tf-canary-integration-test-main.yml
  .github/workflows/tf-canary-integration-test-stable.yml
  .github/workflows/tf-live-integration-test-main.yml
  .github/workflows/tf-live-integration-test-stable.yml
Due: none

chore: fix for security control (#1558)
  .github/workflows/canary-regression-test.yml
  .github/workflows/integration-test-opentofu.yml
  .github/workflows/integration-test.yml
  .github/workflows/ot-canary-integration-test-main.yml
  .github/workflows/ot-canary-integration-test-stable.yml
  .github/workflows/ot-live-integration-test-main.yml
  .github/workflows/ot-live-integration-test-stable.yml
  .github/workflows/schema-regression-test-opentofu.yml
  .github/workflows/schema-regression-test.yml
  .github/workflows/semantic-pr.yml
  .github/workflows/tf-canary-integration-test-main.yml
  .github/workflows/tf-canary-integration-test-stable.yml
  .github/workflows/tf-live-integration-test-main.yml
  .github/workflows/tf-live-integration-test-stable.yml
Due: none

Ruleset updated for workflows
  .github/workflows/ot-canary-integration-test-main.yml
  .github/workflows/ot-canary-integration-test-stable.yml
  .github/workflows/ot-live-integration-test-main.yml
  .github/workflows/ot-live-integration-test-stable.yml
  .github/workflows/tf-canary-integration-test-main.yml
  .github/workflows/tf-canary-integration-test-stable.yml
  .github/workflows/tf-live-integration-test-main.yml
  .github/workflows/tf-live-integration-test-stable.yml
Due: none

chore: security control (#1559)
  .github/workflows/ot-canary-integration-test-main.yml
  .github/workflows/ot-canary-integration-test-stable.yml
  .github/workflows/ot-live-integration-test-main.yml
  .github/workflows/ot-live-integration-test-stable.yml
  .github/workflows/tf-canary-integration-test-main.yml
  .github/workflows/tf-canary-integration-test-stable.yml
  .github/workflows/tf-live-integration-test-main.yml
  .github/workflows/tf-live-integration-test-stable.yml
Due: none

chore: update environment secrets
  .github/workflows/assign-issue-to-project.yml
  .github/workflows/binary-integrity-check.yml
  .github/workflows/canary-regression-test.yml
  .github/workflows/integration-test-opentofu.yml
  .github/workflows/integration-test.yml
  .github/workflows/ot-canary-integration-test-main.yml
  .github/workflows/ot-canary-integration-test-stable.yml
  .github/workflows/ot-live-integration-test-main.yml
  .github/workflows/ot-live-integration-test-stable.yml
  .github/workflows/release.yml
  .github/workflows/schema-regression-test-opentofu.yml
  .github/workflows/schema-regression-test.yml
  .github/workflows/set-default-values-pr.yml
  .github/workflows/test.yml
  .github/workflows/tf-canary-integration-test-main.yml
  .github/workflows/tf-canary-integration-test-stable.yml
  .github/workflows/tf-live-integration-test-main.yml
  .github/workflows/tf-live-integration-test-stable.yml
Due: none

chore: update environment secrets (#1564)
  .github/workflows/assign-issue-to-project.yml
  .github/workflows/binary-integrity-check.yml
  .github/workflows/canary-regression-test.yml
  .github/workflows/integration-test-opentofu.yml
  .github/workflows/integration-test.yml
  .github/workflows/ot-canary-integration-test-main.yml
  .github/workflows/ot-canary-integration-test-stable.yml
  .github/workflows/ot-live-integration-test-main.yml
  .github/workflows/ot-live-integration-test-stable.yml
  .github/workflows/release.yml
  .github/workflows/schema-regression-test-opentofu.yml
  .github/workflows/schema-regression-test.yml
  .github/workflows/set-default-values-pr.yml
  .github/workflows/test.yml
  .github/workflows/tf-canary-integration-test-main.yml
  .github/workflows/tf-canary-integration-test-stable.yml
  .github/workflows/tf-live-integration-test-main.yml
  .github/workflows/tf-live-integration-test-stable.yml
Due: none

chore: Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

chore: improve setup of devcontainer setup (default)
  .devcontainer/default/devcontainer.json
  .devcontainer/scripts/install-tflint.sh
Due: none

chore: update devcontainer feature install
  .devcontainer/default/devcontainer.json
  .devcontainer/withbtpcli/devcontainer.json
  .devcontainer/withenvfile/devcontainer.json
Due: none

chore: missing opentofu update
  .devcontainer/default/devcontainer.json
Due: none

chore: update SHA handling
  .devcontainer/scripts/install-tflint.sh
Due: none

chore: devcontainer feature install (#1569)
  .devcontainer/default/devcontainer.json
  .devcontainer/scripts/install-tflint.sh
  .devcontainer/withbtpcli/devcontainer.json
  .devcontainer/withenvfile/devcontainer.json
Due: none

Added missing attribute to security settings
  btp/provider/datasource_globalaccount_security_settings.go
  btp/provider/datasource_globalaccount_security_settings_test.go
  btp/provider/datasource_subaccount_security_settings.go
  btp/provider/datasource_subaccount_security_settings_test.go
  btp/provider/fixtures/datasource_globalaccount_security_settings.yaml
  btp/provider/fixtures/datasource_subaccount_security_settings.by_id.yaml
  btp/provider/fixtures/resource_globalaccount_security_settings.complete.yaml
  btp/provider/fixtures/resource_globalaccount_security_settings.complete_import_block.yaml
  btp/provider/fixtures/resource_globalaccount_security_settings.destroy.yaml
  btp/provider/fixtures/resource_subaccount_security_settings.complete.yaml
  btp/provider/fixtures/resource_subaccount_security_settings.destroy.yaml
  btp/provider/fixtures/resource_subaccount_security_settings.destroy_list.yaml
  btp/provider/fixtures/resource_subaccount_security_settings_with_iframe_domains_list.complete.yaml
  btp/provider/fixtures/resource_subaccount_security_settings_with_import.yaml
  btp/provider/resource_globalaccount_security_settings.go
  btp/provider/resource_globalaccount_security_settings_test.go
  btp/provider/resource_subaccount_security_settings.go
  btp/provider/resource_subaccount_security_settings_test.go
  btp/provider/type_globalaccount_security_settings.go
  btp/provider/type_subaccount_security_settings.go
  docs/data-sources/globalaccount_security_settings.md
  docs/data-sources/subaccount_security_settings.md
  docs/resources/globalaccount_security_settings.md
  docs/resources/subaccount_security_settings.md
  internal/btpcli/facade_security_settings.go
  internal/btpcli/types/xsuaa_settings/tenant_settings_resp.go
Due: gofmt, golangci-lint

Update type_subaccount_security_settings.go
  btp/provider/type_subaccount_security_settings.go
Due: gofmt, golangci-lint

Update facade_security_settings_test.go
  internal/btpcli/facade_security_settings_test.go
Due: gofmt, golangci-lint

fix: Added missing attribute to security settings (#1570)
  btp/provider/datasource_globalaccount_security_settings.go
  btp/provider/datasource_globalaccount_security_settings_test.go
  btp/provider/datasource_subaccount_security_settings.go
  btp/provider/datasource_subaccount_security_settings_test.go
  btp/provider/fixtures/datasource_globalaccount_security_settings.yaml
  btp/provider/fixtures/datasource_subaccount_security_settings.by_id.yaml
  btp/provider/fixtures/resource_globalaccount_security_settings.complete.yaml
  btp/provider/fixtures/resource_globalaccount_security_settings.complete_import_block.yaml
  btp/provider/fixtures/resource_globalaccount_security_settings.destroy.yaml
  btp/provider/fixtures/resource_subaccount_security_settings.complete.yaml
  btp/provider/fixtures/resource_subaccount_security_settings.destroy.yaml
  btp/provider/fixtures/resource_subaccount_security_settings.destroy_list.yaml
  btp/provider/fixtures/resource_subaccount_security_settings_with_iframe_domains_list.complete.yaml
  btp/provider/fixtures/resource_subaccount_security_settings_with_import.yaml
  btp/provider/resource_globalaccount_security_settings.go
  btp/provider/resource_globalaccount_security_settings_test.go
  btp/provider/resource_subaccount_security_settings.go
  btp/provider/resource_subaccount_security_settings_test.go
  btp/provider/type_globalaccount_security_settings.go
  btp/provider/type_subaccount_security_settings.go
  docs/data-sources/globalaccount_security_settings.md
  docs/data-sources/subaccount_security_settings.md
  docs/resources/globalaccount_security_settings.md
  docs/resources/subaccount_security_settings.md
  internal/btpcli/facade_security_settings.go
  internal/btpcli/facade_security_settings_test.go
  internal/btpcli/types/xsuaa_settings/tenant_settings_resp.go
Due: gofmt, golangci-lint

Fixing ga_trust_configuration for integration tests
  tests/integration-test/canary.tfvars
  tests/integration-test/live.tfvars
  tests/integration-test/main.tf
Due: terraformfmt

Fixing ga_trust_configuration for integration tests (#1573)
  tests/integration-test/canary.tfvars
  tests/integration-test/live.tfvars
  tests/integration-test/main.tf
Due: terraformfmt

Update variables.tf
  tests/integration-test/variables.tf
Due: terraformfmt

chore: Updated variables.tf (#1575)
  tests/integration-test/variables.tf
Due: terraformfmt

prep-release v1.23.0
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/binary-integrity-check.yml
  docs/index.md
  examples/provider/provider.tf
Due: terraformfmt

prep-release v1.23.0 (#1577)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/binary-integrity-check.yml
  docs/index.md
  examples/provider/provider.tf
Due: terraformfmt

fix: overwriting of description with default value
  btp/provider/resource_subaccount_trust_configuration.go
  internal/btpcli/facade_security_trust.go
Due: gofmt, golangci-lint

test: record test fixtures after fix for subaccount
  btp/provider/fixtures/resource_subaccount_trust_configuration.complete.yaml
  btp/provider/fixtures/resource_subaccount_trust_configuration.error_missing_identityprovider.yaml
  btp/provider/fixtures/resource_subaccount_trust_configuration.import_error.yaml
  btp/provider/fixtures/resource_subaccount_trust_configuration.minimal.yaml
  btp/provider/fixtures/resource_subaccount_trust_configuration_with_import_block.yaml
Due: none

test: enhance unit test of facade for trust config
  internal/btpcli/facade_security_trust_test.go
Due: gofmt, golangci-lint

chore: prep patch release 1.23.1
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/binary-integrity-check.yml
  docs/index.md
  examples/provider/provider.tf
Due: terraformfmt

fix: btp_subaccount_trust_configuration description inconsistent result after apply (#1579)
  btp/provider/fixtures/resource_subaccount_trust_configuration.complete.yaml
  btp/provider/fixtures/resource_subaccount_trust_configuration.error_missing_identityprovider.yaml
  btp/provider/fixtures/resource_subaccount_trust_configuration.import_error.yaml
  btp/provider/fixtures/resource_subaccount_trust_configuration.minimal.yaml
  btp/provider/fixtures/resource_subaccount_trust_configuration_with_import_block.yaml
  btp/provider/resource_subaccount_trust_configuration.go
  internal/btpcli/facade_security_trust.go
  internal/btpcli/facade_security_trust_test.go
Due: gofmt, golangci-lint

chore: prep patch release 1.23.1 (#1581)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/binary-integrity-check.yml
  docs/index.md
  examples/provider/provider.tf
Due: terraformfmt

fix: forward plan_unique_identifier in READ, CREATE polling, and DELETE for entitlements
  btp/provider/datasource_directory_entitlement.go
  btp/provider/resource_directory_entitlement.go
  btp/provider/resource_subaccount_entitlement.go
  internal/btpcli/facade_accounts_entitlement.go
  internal/btpcli/facade_accounts_entitlement_test.go
Due: gofmt, golangci-lint
