Repository SAP/terraform-provider-btp: changes, and which lefthook commands are due for each by the changed paths.
All: gofmt, golangci-lint, terraformfmt

gofmt:
  run: go fmt ./...

golangci-lint:
  run: golangci-lint run --fix

terraformfmt:
  run: terraform fmt {staged_files}

chore: refinement of error message for 403
  internal/btpcli/client.go
  internal/provider/datasource_directory_role_collection_test.go
  internal/provider/datasource_directory_role_collections_test.go
  internal/provider/datasource_directory_role_test.go
  internal/provider/datasource_directory_roles_test.go
  internal/provider/datasource_subaccount_trust_configurations_test.go
  internal/provider/fixtures/datasource_directory_role.not_security_enabled.yaml
  internal/provider/fixtures/datasource_directory_role.yaml
  internal/provider/fixtures/datasource_directory_role_collection.not_security_enabled.yaml
  internal/provider/fixtures/datasource_directory_role_collection.yaml
  internal/provider/fixtures/datasource_directory_role_collections.not_security_enabled.yaml
  internal/provider/fixtures/datasource_directory_role_collections.yaml
  internal/provider/fixtures/datasource_directory_roles.not_security_enabled.yaml
  internal/provider/fixtures/datasource_directory_roles.yaml
  internal/provider/fixtures/datasource_subaccount_trust_configurations.subaccount_exists.yaml
  internal/provider/fixtures/datasource_subaccount_trust_configurations.subaccount_not_existing.yaml
Due: gofmt, golangci-lint

chore: manually adopt test fixtures for env instance
  internal/provider/fixtures/resource_subaccount_environment_instance.update.yaml
  internal/provider/fixtures/resource_subaccount_environment_instance.with_timeout.yaml
  internal/provider/fixtures/resource_subaccount_environment_instance.yaml
Due: none

chore: update URL for BTP CLI
  docs/index.md
  internal/btpcli/client.go
  internal/provider/provider.go
Due: gofmt, golangci-lint

fix: Only add planName to subscribe request if it's not empty (#404)
  internal/btpcli/facade_accounts_subaccount.go
Due: gofmt, golangci-lint

feat: support login with id token
  internal/btpcli/client.go
  internal/btpcli/client_test.go
  internal/btpcli/clienttypes.go
  internal/provider/provider.go
Due: gofmt, golangci-lint

fix test after rebase
  internal/btpcli/client_test.go
Due: gofmt, golangci-lint

generate docs
  docs/index.md
Due: none

feat: refine of docs
  docs/index.md
  internal/provider/provider.go
Due: gofmt, golangci-lint

feat: support login with id token (#406)
  docs/index.md
  internal/btpcli/client.go
  internal/btpcli/client_test.go
  internal/btpcli/clienttypes.go
  internal/provider/provider.go
Due: gofmt, golangci-lint

chore: switch to new version
  examples/provider/provider.tf
Due: terraformfmt

chore: switch to new version - refine docs
  docs/index.md
  internal/provider/provider.go
Due: gofmt, golangci-lint

chore: preparation of version 0.4.0 (#411)
  docs/index.md
  examples/provider/provider.tf
  internal/provider/provider.go
Due: gofmt, golangci-lint, terraformfmt

feat: add app name to data sources for roles
  docs/data-sources/directory_roles.md
  docs/data-sources/globalaccount_roles.md
  docs/data-sources/subaccount_roles.md
  internal/provider/datasource_directory_roles.go
  internal/provider/datasource_globalaccount_roles.go
  internal/provider/datasource_subaccount_roles.go
  internal/provider/fixtures/datasource_directory_roles.not_security_enabled.yaml
  internal/provider/fixtures/datasource_directory_roles.yaml
  internal/provider/fixtures/datasource_globalaccount_roles.yaml
  internal/provider/fixtures/datasource_subaccount_roles.yaml
Due: gofmt, golangci-lint

feat: role collection add attribute mapping
  internal/btpcli/facade_security_role_collection.go
  internal/provider/resource_directory_role_collection_assignment.go
  internal/provider/resource_globalaccount_role_collection_assignment.go
  internal/provider/resource_subaccount_role_collection_assignment.go
Due: gofmt, golangci-lint

feat: role collection add attribute mapping - docu
  docs/resources/directory_role_collection_assignment.md
  docs/resources/globalaccount_role_collection_assignment.md
  docs/resources/subaccount_role_collection_assignment.md
Due: none

feat: role collection add attribute mapping - added facade test
  internal/btpcli/facade_security_role_collection_test.go
Due: gofmt, golangci-lint

feat: add app name to data sources for roles - fix review comments
  docs/data-sources/directory_roles.md
  docs/data-sources/globalaccount_roles.md
  docs/data-sources/subaccount_roles.md
  internal/provider/datasource_directory_roles.go
  internal/provider/datasource_directory_roles_test.go
  internal/provider/datasource_globalaccount_roles.go
  internal/provider/datasource_globalaccount_roles_test.go
  internal/provider/datasource_subaccount_roles.go
  internal/provider/datasource_subaccount_roles_test.go
Due: gofmt, golangci-lint

feat: add app name to data sources for roles - fix review comments
  internal/provider/datasource_directory_roles_test.go
  internal/provider/datasource_globalaccount_roles_test.go
  internal/provider/datasource_subaccount_roles_test.go
Due: gofmt, golangci-lint

feat: role collection add attribute mapping - test first version
  internal/provider/fixtures/resource_subaccount_role_collection_assignment.with_origin_and_group.yaml
  internal/provider/resource_subaccount_role_collection_assignment_test.go
Due: gofmt, golangci-lint

feat: add app name to data sources for roles (#414)
  docs/data-sources/directory_roles.md
  docs/data-sources/globalaccount_roles.md
  docs/data-sources/subaccount_roles.md
  internal/provider/datasource_directory_roles.go
  internal/provider/datasource_directory_roles_test.go
  internal/provider/datasource_globalaccount_roles.go
  internal/provider/datasource_globalaccount_roles_test.go
  internal/provider/datasource_subaccount_roles.go
  internal/provider/datasource_subaccount_roles_test.go
  internal/provider/fixtures/datasource_directory_roles.not_security_enabled.yaml
  internal/provider/fixtures/datasource_directory_roles.yaml
  internal/provider/fixtures/datasource_globalaccount_roles.yaml
  internal/provider/fixtures/datasource_subaccount_roles.yaml
Due: gofmt, golangci-lint

feat: role collection add attribute mapping - resource testing setup
  internal/btpcli/facade_security_role_collection.go
  internal/provider/fixtures/resource_subaccount_role_collection_assignment.with_origin_and_group.yaml
  internal/provider/resource_directory_role_collection_assignment_test.go
  internal/provider/resource_globalaccount_role_collection_assignment_test.go
  internal/provider/resource_subaccount_role_collection_assignment_test.go
Due: gofmt, golangci-lint

feat: role collection add attribute mapping - resource testing setup 2
  internal/provider/fixtures/resource_directory_role_collection_assignment.import_error.yaml
  internal/provider/fixtures/resource_directory_role_collection_assignment.with_origin.yaml
  internal/provider/fixtures/resource_directory_role_collection_assignment.with_origin_and_attribute.yaml
  internal/provider/fixtures/resource_directory_role_collection_assignment.with_origin_and_group.yaml
  internal/provider/fixtures/resource_directory_role_collection_assignment.yaml
  internal/provider/fixtures/resource_globalaccount_role_collection_assignment.import_error.yaml
  internal/provider/fixtures/resource_globalaccount_role_collection_assignment.with_origin.yaml
  internal/provider/fixtures/resource_globalaccount_role_collection_assignment.with_origin_and_attribute.yaml
  internal/provider/fixtures/resource_globalaccount_role_collection_assignment.with_origin_and_group.yaml
  internal/provider/fixtures/resource_subaccount_role_collection_assignment.import_error.yaml
  internal/provider/fixtures/resource_subaccount_role_collection_assignment.with_origin.yaml
  internal/provider/fixtures/resource_subaccount_role_collection_assignment.with_origin_and_attribute.yaml
  internal/provider/fixtures/resource_subaccount_role_collection_assignment.with_origin_and_group.yaml
  internal/provider/fixtures/resource_subaccount_role_collection_assignment.yaml
  internal/provider/resource_directory_role_collection_assignment_test.go
  internal/provider/resource_globalaccount_role_collection_assignment_test.go
Due: gofmt, golangci-lint

docu: add information about SAP Universal ID logon
  docs/index.md
  templates/index.md.tmpl
Due: none

test: re-activating tests for resource_globalaccount_trust_configuration
  internal/provider/fixtures/resource_globalaccount_trust_configuration.full_spec.yaml
  internal/provider/fixtures/resource_globalaccount_trust_configuration.invalid_origin.yaml
  internal/provider/fixtures/resource_globalaccount_trust_configuration.yaml
  internal/provider/resource_globalaccount_trust_configuration_test.go
Due: gofmt, golangci-lint

test: re-activating tests for resource_globalaccount_trust_configuration (#420)
  internal/provider/fixtures/resource_globalaccount_trust_configuration.full_spec.yaml
  internal/provider/fixtures/resource_globalaccount_trust_configuration.invalid_origin.yaml
  internal/provider/fixtures/resource_globalaccount_trust_configuration.yaml
  internal/provider/resource_globalaccount_trust_configuration_test.go
Due: gofmt, golangci-lint

feat: role collection add attribute mapping - resource testing setup 3
  internal/provider/fixtures/resource_directory_role_collection_assignment.import_error.yaml
  internal/provider/fixtures/resource_directory_role_collection_assignment.with_origin.yaml
  internal/provider/fixtures/resource_directory_role_collection_assignment.with_origin_and_attribute.yaml
  internal/provider/fixtures/resource_directory_role_collection_assignment.with_origin_and_group.yaml
  internal/provider/fixtures/resource_directory_role_collection_assignment.yaml
  internal/provider/resource_directory_role_collection_assignment_test.go
Due: gofmt, golangci-lint

feat: role collection add attribute mapping - fix facade tests
  internal/btpcli/facade_security_role_collection_test.go
Due: gofmt, golangci-lint

fix: sonar cloud finding - number of function parameters
  internal/btpcli/facade_accounts_entitlement.go
  internal/btpcli/facade_accounts_entitlement_test.go
  internal/provider/resource_directory_entitlement.go
Due: gofmt, golangci-lint

docs: add information about SAP Universal ID logon (#419)
  docs/index.md
  templates/index.md.tmpl
Due: none

feat: subscription with empty plan name
  internal/btpcli/facade_accounts_subaccount.go
  internal/btpcli/facade_accounts_subaccount_test.go
Due: gofmt, golangci-lint

fix: sonar cloud finding - number of function parameters (#422)
  internal/btpcli/facade_accounts_entitlement.go
  internal/btpcli/facade_accounts_entitlement_test.go
  internal/provider/resource_directory_entitlement.go
Due: gofmt, golangci-lint

feat: role collection add attribute mapping - review comment
  internal/provider/resource_directory_role_collection_assignment.go
  internal/provider/resource_globalaccount_role_collection_assignment.go
  internal/provider/resource_subaccount_role_collection_assignment.go
Due: gofmt, golangci-lint

feat: add attribute mapping to role collection assignment (#421)
  docs/resources/directory_role_collection_assignment.md
  docs/resources/globalaccount_role_collection_assignment.md
  docs/resources/subaccount_role_collection_assignment.md
  internal/btpcli/facade_security_role_collection.go
  internal/btpcli/facade_security_role_collection_test.go
  internal/provider/fixtures/resource_directory_role_collection_assignment.import_error.yaml
  internal/provider/fixtures/resource_directory_role_collection_assignment.with_origin.yaml
  internal/provider/fixtures/resource_directory_role_collection_assignment.with_origin_and_attribute.yaml
  internal/provider/fixtures/resource_directory_role_collection_assignment.with_origin_and_group.yaml
  internal/provider/fixtures/resource_directory_role_collection_assignment.yaml
  internal/provider/fixtures/resource_globalaccount_role_collection_assignment.import_error.yaml
  internal/provider/fixtures/resource_globalaccount_role_collection_assignment.with_origin.yaml
  internal/provider/fixtures/resource_globalaccount_role_collection_assignment.with_origin_and_attribute.yaml
  internal/provider/fixtures/resource_globalaccount_role_collection_assignment.with_origin_and_group.yaml
  internal/provider/fixtures/resource_subaccount_role_collection_assignment.import_error.yaml
  internal/provider/fixtures/resource_subaccount_role_collection_assignment.with_origin.yaml
  internal/provider/fixtures/resource_subaccount_role_collection_assignment.with_origin_and_attribute.yaml
  internal/provider/fixtures/resource_subaccount_role_collection_assignment.with_origin_and_group.yaml
  internal/provider/fixtures/resource_subaccount_role_collection_assignment.yaml
  internal/provider/resource_directory_role_collection_assignment.go
  internal/provider/resource_directory_role_collection_assignment_test.go
  internal/provider/resource_globalaccount_role_collection_assignment.go
  internal/provider/resource_globalaccount_role_collection_assignment_test.go
  internal/provider/resource_subaccount_role_collection_assignment.go
  internal/provider/resource_subaccount_role_collection_assignment_test.go
Due: gofmt, golangci-lint

feat: subscription with empty plan name - typo
  internal/btpcli/facade_accounts_subaccount.go
Due: gofmt, golangci-lint

feat: subscription with empty plan name (#424)
  internal/btpcli/facade_accounts_subaccount.go
  internal/btpcli/facade_accounts_subaccount_test.go
Due: gofmt, golangci-lint

Update subaccount_environment_instance.md
  docs/resources/subaccount_environment_instance.md
Due: none

Add note
  docs/resources/subaccount_environment_instance.md
Due: none

Path conditions:
  gofmt: any of: *.go, but not: vendor/*
  golangci-lint: any of: *.go, but not: vendor/*
  terraformfmt: any of: *.tf, but not: vendor/*
