Repository SAP/terraform-provider-btp: changes, and which lefthook commands are due for each by the changed paths.
All: gofmt, golangci-lint, terraformfmt

gofmt:
  run: go fmt ./...

golangci-lint:
  run: golangci-lint run --fix

terraformfmt:
  run: terraform fmt {staged_files}

remove polling from text fixtures
  internal/provider/fixtures/resource_subaccount_subscription_commercialapp_name.yaml
  internal/provider/fixtures/resource_subaccount_subscription_techapp_name.yaml
  internal/provider/fixtures/resource_subaccount_subscription_update.yaml
Due: none

fix(subaccount/subscription): handling of commercial and technical app names (#1077)
  internal/provider/fixtures/resource_subaccount_subscription.import_error.yaml
  internal/provider/fixtures/resource_subaccount_subscription.yaml
  internal/provider/fixtures/resource_subaccount_subscription_commercialapp_name.yaml
  internal/provider/fixtures/resource_subaccount_subscription_techapp_name.yaml
  internal/provider/fixtures/resource_subaccount_subscription_update.yaml
  internal/provider/fixtures/resource_subaccount_subscription_update_plan.update_error.yaml
  internal/provider/fixtures/resource_subaccount_subscription_with_timeouts.yaml
  internal/provider/resource_subaccount_subscription.go
  internal/provider/resource_subaccount_subscription_test.go
  test/main.tf
Due: gofmt, golangci-lint, terraformfmt

fix: issue with force deletion of subaccounts
  internal/btpcli/facade_accounts_subaccount.go
Due: gofmt, golangci-lint

fix: consider USED_FOR_PRODUCTION error message
  internal/btpcli/facade_accounts_subaccount.go
Due: gofmt, golangci-lint

fix: recording of test fixtures
  internal/provider/fixtures/resource_subaccount.change_to_used_for_production.yaml
  internal/provider/fixtures/resource_subaccount.full_config.yaml
  internal/provider/fixtures/resource_subaccount.used_for_production.yaml
  internal/provider/fixtures/resource_subaccount.yaml
Due: none

Update internal/btpcli/facade_accounts_subaccount.go
  internal/btpcli/facade_accounts_subaccount.go
Due: gofmt, golangci-lint

fix: subaccount error during deletion (#1080)
  internal/btpcli/facade_accounts_subaccount.go
  internal/provider/fixtures/resource_subaccount.change_to_used_for_production.yaml
  internal/provider/fixtures/resource_subaccount.full_config.yaml
  internal/provider/fixtures/resource_subaccount.used_for_production.yaml
  internal/provider/fixtures/resource_subaccount.yaml
Due: gofmt, golangci-lint

chore: prepare release 1.12.0
  .github/ISSUE_TEMPLATE/bug_report.yml
  docs/index.md
  examples/provider/provider.tf
Due: terraformfmt

chore: prepare release 1.12.0 (#1081)
  .github/ISSUE_TEMPLATE/bug_report.yml
  docs/index.md
  examples/provider/provider.tf
Due: terraformfmt

Updated Integration and Regression Test Scripts and Workflows
  .github/workflows/integration-test-opentofu.yml
  .github/workflows/test-opentofu.yml
  regression-test/main.tf
  regression-test/variables.tf
Due: terraformfmt

Changes as per review
  .github/workflows/integration-test-opentofu.yml
  .github/workflows/integration-test.yml
Due: none

Updated Integration and Regression Test Scripts and Workflows (#1089)
  .github/workflows/integration-test-opentofu.yml
  .github/workflows/test-opentofu.yml
  regression-test/main.tf
  regression-test/variables.tf
Due: terraformfmt

Updated Terraform Version for Test Matrix
  .github/workflows/test.yml
Due: none

Updated Terraform Version for Test Matrix (#1094)
  .github/workflows/test.yml
Due: none

Update integration-test.yml
  .github/workflows/integration-test.yml
Due: none

Added custom idp to the workflow scripts of tests
  .github/workflows/integration-test-opentofu.yml
  .github/workflows/integration-test.yml
  .github/workflows/schema-regression-test-opentofu.yml
  .github/workflows/schema-regression-test.yml
Due: none

Added custom idp to the workflow scripts of tests (#1095)
  .github/workflows/integration-test-opentofu.yml
  .github/workflows/integration-test.yml
  .github/workflows/schema-regression-test-opentofu.yml
  .github/workflows/schema-regression-test.yml
Due: none

fix: error message for entitlement status
  internal/provider/resource_subaccount_entitlement.go
Due: gofmt, golangci-lint

fix: error message for entitlement status (#1099)
  internal/provider/resource_subaccount_entitlement.go
Due: gofmt, golangci-lint

docs: update of timeline for drift limitation
  guides/DRIFTDETECTION.md
Due: none

docs: update of timeline for drift limitation (#1100)
  guides/DRIFTDETECTION.md
Due: none

fix: add entitlement error reason to output
  internal/provider/resource_subaccount_entitlement.go
Due: gofmt, golangci-lint

fix: add entitlement error reason to output (#1101)
  internal/provider/resource_subaccount_entitlement.go
Due: gofmt, golangci-lint

trying out resource identity
  internal/provider/resource_subaccount_role_collection.go
Due: gofmt, golangci-lint

feat: rewrite READ identity
  .devcontainer/default/devcontainer.json
  .devcontainer/withenvfile/devcontainer.json
  internal/provider/resource_subaccount_role_collection.go
Due: gofmt, golangci-lint

fix: import mapping to fields
  internal/provider/resource_subaccount_role_collection.go
Due: gofmt, golangci-lint

feat: relax constraint for subdomain naming convention
  internal/provider/resource_subaccount.go
Due: gofmt, golangci-lint

move of regex as proposed gy Copilot review
  internal/provider/resource_subaccount.go
  internal/provider/type_subaccount.go
Due: gofmt, golangci-lint

test: adjust test cases
  internal/provider/resource_subaccount_test.go
Due: gofmt, golangci-lint

docs: update subaccount documentation
  docs/resources/subaccount.md
  templates/resources/subaccount.md.tmpl
Due: none

feat: relax constraint for subdomain naming convention (#1106)
  docs/resources/subaccount.md
  internal/provider/resource_subaccount.go
  internal/provider/resource_subaccount_test.go
  internal/provider/type_subaccount.go
  templates/resources/subaccount.md.tmpl
Due: gofmt, golangci-lint

feat: add role attributes
  internal/btpcli/facade_security_role.go
  internal/provider/resource_subaccount_role.go
  internal/provider/type_subaccount_role.go
Due: gofmt, golangci-lint

feat: add custom role attribute to btp_subaccount_role
  internal/provider/fixtures/resource_subaccount_role.error_import.yaml
  internal/provider/fixtures/resource_subaccount_role.update.yaml
  internal/provider/fixtures/resource_subaccount_role_with_attributes.yaml
  internal/provider/resource_subaccount_role.go
  internal/provider/resource_subaccount_role_test.go
  internal/provider/type_subaccount_role.go
Due: gofmt, golangci-lint

docs: update resource docs
  docs/resources/subaccount_role.md
  examples/resources/btp_subaccount_role/resource.tf
Due: terraformfmt

feat: add atribute list to data source
  docs/data-sources/subaccount_role.md
  docs/resources/subaccount_role.md
  internal/provider/datasource_subaccount_role.go
  internal/provider/datasource_subaccount_role_test.go
  internal/provider/fixtures/datasource_subaccount_role.yaml
  internal/provider/fixtures/datasource_subaccount_role_with_attributes.yaml
  internal/provider/resource_subaccount_role.go
Due: gofmt, golangci-lint

feat: add atribute list to data source roles
  docs/data-sources/subaccount_roles.md
  internal/provider/datasource_subaccount_roles.go
  internal/provider/datasource_subaccount_roles_test.go
  internal/provider/fixtures/datasource_subaccount_roles.yaml
Due: gofmt, golangci-lint

fix: code review comments by Copilot
  internal/provider/type_subaccount_role.go
Due: gofmt, golangci-lint

adding resosurce identity for subaccount resources
  internal/provider/resource_subaccount_entitlement.go
  internal/provider/resource_subaccount_role.go
  internal/provider/resource_subaccount_subscription.go
Due: gofmt, golangci-lint

added resource identity for directory resources
  internal/provider/resource_directory_entitlement.go
  internal/provider/resource_directory_role.go
  internal/provider/resource_directory_role_collection.go
Due: gofmt, golangci-lint

added resource identity for globalaccount resources
  internal/provider/resource_globalaccount_role.go
  internal/provider/resource_globalaccount_role_collection.go
Due: gofmt, golangci-lint

Path conditions:
  gofmt: any of: *.go, but not: vendor/*
  golangci-lint: any of: *.go, but not: vendor/*
  terraformfmt: any of: *.tf, but not: vendor/*
