Repository SAP/terraform-provider-btp: changes, and which lefthook commands are due for each by the changed paths.
All: gofmt, golangci-lint, terraformfmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    gofmt:
      glob: "*.go"
      run: go fmt ./...
      exclude: "vendor/*"
    golangci-lint:
      glob: "*.go"
      run: golangci-lint run --fix
      exclude: "vendor/*"
    terraformfmt:
      glob: "*.tf"
      run: terraform fmt {staged_files}
      exclude: "vendor/*"

test: Removes IDs From Datasource Directory Tests
  internal/provider/datasource_directory_test.go
  internal/provider/fixtures/datasource_directory.yaml
Due: gofmt, golangci-lint

test: Removes IDs From Datasource Subaccount Environments Tests (#578)
  internal/provider/datasource_subaccount_environments_test.go
  internal/provider/fixtures/datasource_subaccount_environments.yaml
Due: gofmt, golangci-lint

test: Removes IDs From Datasource Subaccount Environment Instances Tests (#577)
  internal/provider/datasource_subaccount_environment_instances_test.go
  internal/provider/fixtures/datasource_subaccount_environment_instances.yaml
Due: gofmt, golangci-lint

test: Removes IDs From Datasource Subaccount Entitlements Tests (#576)
  internal/provider/datasource_subaccount_entitlements_test.go
  internal/provider/fixtures/datasource_subaccount_entitlements.yaml
Due: gofmt, golangci-lint

test: Removes IDs From Datasource Subaccount Labels Tests (#579)
  internal/provider/datasource_subaccount_labels_test.go
  internal/provider/fixtures/datasource_subaccount_labels.yaml
Due: gofmt, golangci-lint

test: Removes IDs From Datasource Subaccount Role Collections Tests (#580)
  internal/provider/datasource_subaccount_role_collection_test.go
  internal/provider/datasource_subaccount_role_collections_test.go
  internal/provider/fixtures/datasource_subaccount_role_collection.yaml
  internal/provider/fixtures/datasource_subaccount_role_collections.yaml
Due: gofmt, golangci-lint

test: Removes IDs From Datasource Subaccount Roles Tests
  internal/provider/datasource_subaccount_role_test.go
  internal/provider/datasource_subaccount_roles_test.go
  internal/provider/fixtures/datasource_subaccount_role.yaml
  internal/provider/fixtures/datasource_subaccount_roles.yaml
Due: gofmt, golangci-lint

test: Removes IDs From Datasource Subaccount Roles Tests (#582)
  internal/provider/datasource_subaccount_role_test.go
  internal/provider/datasource_subaccount_roles_test.go
  internal/provider/fixtures/datasource_subaccount_role.yaml
  internal/provider/fixtures/datasource_subaccount_roles.yaml
Due: gofmt, golangci-lint

introduces further regex checks for uuids and timestamps
  internal/provider/datasource_directory_test.go
  internal/provider/fixtures/datasource_directory.yaml
Due: gofmt, golangci-lint

test: Removes IDs From Datasource Directory Tests (#581)
  internal/provider/datasource_directory_test.go
  internal/provider/fixtures/datasource_directory.yaml
Due: gofmt, golangci-lint

bug: fix wrong determination of quota
  internal/provider/datasource_subaccount_entitlements.go
Due: gofmt, golangci-lint

bug: fix test and re-record fixture
  internal/provider/datasource_subaccount_entitlements_test.go
  internal/provider/fixtures/datasource_subaccount_entitlements.yaml
Due: gofmt, golangci-lint

fix: wrong calculation of quota
  internal/provider/datasource_subaccount_entitlements.go
  internal/provider/datasource_subaccount_entitlements_test.go
  internal/provider/fixtures/datasource_subaccount_entitlements.yaml
Due: gofmt, golangci-lint

fix: wrong calculation of quota (#585)
  internal/provider/datasource_subaccount_entitlements.go
  internal/provider/datasource_subaccount_entitlements_test.go
  internal/provider/fixtures/datasource_subaccount_entitlements.yaml
Due: gofmt, golangci-lint

test: Removes IDs From Datasource Subaccount Security Settings Tests
  internal/provider/datasource_subaccount_security_settings_test.go
  internal/provider/fixtures/datasource_subaccount_security_settings.by_id.yaml
Due: gofmt, golangci-lint

test: Removes IDs From Datasource Subaccount Security Settings Tests (#586)
  internal/provider/datasource_subaccount_security_settings_test.go
  internal/provider/fixtures/datasource_subaccount_security_settings.by_id.yaml
Due: gofmt, golangci-lint

chore: test-setup
  .github/workflows/schema-regression-test.yml
  regrsssion-test/README.md
  regrsssion-test/main.tf
  regrsssion-test/provider.tf
  regrsssion-test/variables.tf
Due: terraformfmt

chore: test-setup (#587)
  .github/workflows/schema-regression-test.yml
  regrsssion-test/README.md
  regrsssion-test/main.tf
  regrsssion-test/provider.tf
  regrsssion-test/variables.tf
Due: terraformfmt

Revert "chore: test-setup (#587)"
  .github/workflows/schema-regression-test.yml
  regrsssion-test/README.md
  regrsssion-test/main.tf
  regrsssion-test/provider.tf
  regrsssion-test/variables.tf
Due: terraformfmt

Revert "chore: test-setup (#587)" (#588)
  .github/workflows/schema-regression-test.yml
  regrsssion-test/README.md
  regrsssion-test/main.tf
  regrsssion-test/provider.tf
  regrsssion-test/variables.tf
Due: terraformfmt

test: Removes IDs From Datasource Subaccount Service Bindings Tests
  internal/provider/datasource_subaccount_service_bindings_test.go
  internal/provider/fixtures/datasource_subaccount_service_bindings.yaml
Due: gofmt, golangci-lint

test: Removes IDs From Datasource Subaccount Service Instances
  internal/provider/datasource_subaccount_service_instances_test.go
  internal/provider/fixtures/datasource_subaccount_service_instances.all.yaml
  internal/provider/fixtures/datasource_subaccount_service_instances.labelsfilter.yaml
  internal/provider/fixtures/datasource_subaccount_service_instances.namefilter.yaml
  internal/provider/fixtures/datasource_subaccount_service_instances.namefilter_variant.yaml
Due: gofmt, golangci-lint

test: Removes IDs From Datasource Subaccount Service Offerings Tests
  internal/provider/datasource_subaccount_service_offerings_test.go
  internal/provider/fixtures/datasource_subaccount_service_offerings.all.yaml
  internal/provider/fixtures/datasource_subaccount_service_offerings.by_environment.yaml
  internal/provider/fixtures/datasource_subaccount_service_offerings.namefilter.yaml
Due: gofmt, golangci-lint

chore: base setup of regression testing
  .github/workflows/schema-regression-test.yml
  assets/provider-config-ghaction.txt
  regression-test/README.md
  regression-test/main.tf
  regression-test/provider.tf
  regression-test/variables.tf
Due: terraformfmt

chore: set failure if deviation
  .github/workflows/schema-regression-test.yml
Due: none

test: Removes IDs From Datasource Subaccount Service Bindings Tests (#589)
  internal/provider/datasource_subaccount_service_bindings_test.go
  internal/provider/fixtures/datasource_subaccount_service_bindings.yaml
Due: gofmt, golangci-lint

test: Removes IDs From Datasource Subaccount Service Plans Tests
  internal/provider/datasource_subaccount_service_plans_test.go
  internal/provider/fixtures/datasource_subaccount_service_plans.all.yaml
  internal/provider/fixtures/datasource_subaccount_service_plans.cloudfoundry.yaml
  internal/provider/fixtures/datasource_subaccount_service_plans.namefilter.yaml
Due: gofmt, golangci-lint

test: Removes IDs From Datasource Subaccount Service Instances (#590)
  internal/provider/datasource_subaccount_service_instances_test.go
  internal/provider/fixtures/datasource_subaccount_service_instances.all.yaml
  internal/provider/fixtures/datasource_subaccount_service_instances.labelsfilter.yaml
  internal/provider/fixtures/datasource_subaccount_service_instances.namefilter.yaml
  internal/provider/fixtures/datasource_subaccount_service_instances.namefilter_variant.yaml
Due: gofmt, golangci-lint

test: Removes IDs From Datasource Subaccount Service Offerings Tests (#591)
  internal/provider/datasource_subaccount_service_offerings_test.go
  internal/provider/fixtures/datasource_subaccount_service_offerings.all.yaml
  internal/provider/fixtures/datasource_subaccount_service_offerings.by_environment.yaml
  internal/provider/fixtures/datasource_subaccount_service_offerings.namefilter.yaml
Due: gofmt, golangci-lint

test: Removes IDs From Datasource Subaccount Service Plans Tests (#593)
  internal/provider/datasource_subaccount_service_plans_test.go
  internal/provider/fixtures/datasource_subaccount_service_plans.all.yaml
  internal/provider/fixtures/datasource_subaccount_service_plans.cloudfoundry.yaml
  internal/provider/fixtures/datasource_subaccount_service_plans.namefilter.yaml
Due: gofmt, golangci-lint

test: Removes IDs From Datasource Subaccount Subscriptions Tests
  internal/provider/datasource_subaccount_subscriptions_test.go
  internal/provider/fixtures/datasource_subaccount_subscriptions.yaml
Due: gofmt, golangci-lint

test: Removes IDs From Datasource Subaccount Subscriptions Tests (#594)
  internal/provider/datasource_subaccount_subscriptions_test.go
  internal/provider/fixtures/datasource_subaccount_subscriptions.yaml
Due: gofmt, golangci-lint

chore: reduce scope of TF script
  regression-test/main.tf
Due: terraformfmt

chore: make regression workflow callable
  .github/workflows/schema-regression-test.yml
Due: none

chore: base setup of regression testing (#592)
  .github/workflows/schema-regression-test.yml
  assets/provider-config-ghaction.txt
  regression-test/README.md
  regression-test/main.tf
  regression-test/provider.tf
  regression-test/variables.tf
Due: terraformfmt

test: Removes IDs From Datasource Subaccount Trust Configurations Tests
  internal/provider/datasource_subaccount_trust_configurations_test.go
  internal/provider/fixtures/datasource_subaccount_trust_configurations.subaccount_exists.yaml
  internal/provider/fixtures/datasource_subaccount_trust_configurations.subaccount_not_existing.yaml
Due: gofmt, golangci-lint

test: Removes IDs From Datasource Subaccount Trust Configurations Tests (#599)
  internal/provider/datasource_subaccount_trust_configurations_test.go
  internal/provider/fixtures/datasource_subaccount_trust_configurations.subaccount_exists.yaml
  internal/provider/fixtures/datasource_subaccount_trust_configurations.subaccount_not_existing.yaml
Due: gofmt, golangci-lint

test: Removes IDs From Datasource Subaccount Trust Configuration Tests
  internal/provider/datasource_subaccount_trust_configuration_test.go
  internal/provider/fixtures/datasource_subaccount_trust_configuration.custom_idp_exists.yaml
  internal/provider/fixtures/datasource_subaccount_trust_configuration.custom_idp_not_existing.yaml
  internal/provider/fixtures/datasource_subaccount_trust_configuration.default.yaml
  internal/provider/fixtures/datasource_subaccount_trust_configurations.subaccount_exists.yaml
  internal/provider/fixtures/datasource_subaccount_trust_configurations.subaccount_not_existing.yaml
Due: gofmt, golangci-lint

test: Removes IDs From Datasource Subaccount Trust Configuration Tests (#600)
  internal/provider/datasource_subaccount_trust_configuration_test.go
  internal/provider/fixtures/datasource_subaccount_trust_configuration.custom_idp_exists.yaml
  internal/provider/fixtures/datasource_subaccount_trust_configuration.custom_idp_not_existing.yaml
  internal/provider/fixtures/datasource_subaccount_trust_configuration.default.yaml
  internal/provider/fixtures/datasource_subaccount_trust_configurations.subaccount_exists.yaml
  internal/provider/fixtures/datasource_subaccount_trust_configurations.subaccount_not_existing.yaml
Due: gofmt, golangci-lint

test: Removes IDs From Resource Directory Role Collection Assignment Tests
  internal/provider/fixtures/resource_directory_role_collection_assignment.import_error.yaml
  internal/provider/fixtures/resource_directory_role_collection_assignment.with_origin.yaml
  internal/provider/fixtures/resource_directory_role_collection_assignment.with_origin_and_attribute.yaml
  internal/provider/fixtures/resource_directory_role_collection_assignment.with_origin_and_group.yaml
  internal/provider/fixtures/resource_directory_role_collection_assignment.yaml
  internal/provider/resource_directory_role_collection_assignment_test.go
Due: gofmt, golangci-lint
