Repository SAP/terraform-provider-btp: changes, and which lefthook commands are due for each by the changed paths.
All: gofmt, golangci-lint, terraformfmt

gofmt:
  run: go fmt ./...

golangci-lint:
  run: golangci-lint run --fix

terraformfmt:
  run: terraform fmt {staged_files}

chore: fix permission for reusable workflow (#803)
  .github/workflows/release.yml
Due: none

chore: update devcontainer config to enable SSO option
  .devcontainer/default/devcontainer.json
  .devcontainer/scripts/install-xdg.sh
  .devcontainer/withenvfile/devcontainer.json
Due: none

chore: update devcontainer config to enable SSO option (#805)
  .devcontainer/default/devcontainer.json
  .devcontainer/scripts/install-xdg.sh
  .devcontainer/withenvfile/devcontainer.json
Due: none

chore: update goreleaser action
  .github/workflows/release.yml
Due: none

chore: update goreleaser action (#812)
  .github/workflows/release.yml
Due: none

adding quick start guide
  README.md
  guides/QUICKSTART.md
Due: none

adding quick start guide (#813)
  README.md
  guides/QUICKSTART.md
Due: none

docs: fix broken links
  .lycheeignore
  guides/QUICKSTART.md
Due: none

docs: fix broken links (#817)
  .lycheeignore
  guides/QUICKSTART.md
Due: none

chore: Move guides to the templates
  docs/guides/DRIFTDETECTION.md
  docs/guides/IMPORT.md
  docs/guides/QUICKSTART.md
  docs/guides/SENSITIVEDATA.md
  templates/guides/DRIFTDETECTION.md.tmpl
  templates/guides/IMPORT.md.tmpl
  templates/guides/QUICKSTART.md.tmpl
  templates/guides/SENSITIVEDATA.md.tmpl
Due: none

fix: bug fix for issue 819
  internal/provider/datasource_subaccount.go
Due: gofmt, golangci-lint

fix: bug fix for issue 819 (#820)
  internal/provider/datasource_subaccount.go
Due: gofmt, golangci-lint

fix: improve error message service creation
  internal/btpcli/client.go
  internal/provider/fixtures/resource_subaccount_service_instance.creation_error.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.import_error.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.with_labels.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.with_labels_change.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.with_parameters.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.with_sharing_conf_changed.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.with_sharing_enabled.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.wo_parameters.yaml
  internal/provider/fixtures/resource_subaccount_service_instance_with_timeouts.yaml
  internal/provider/resource_subaccount_service_instance_test.go
Due: gofmt, golangci-lint

fix: updated CLI URL to newer format
  regression-test/variables.tf
Due: terraformfmt

fix: improve error message service creation (#822)
  internal/btpcli/client.go
  internal/provider/fixtures/resource_subaccount_service_instance.creation_error.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.import_error.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.with_labels.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.with_labels_change.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.with_parameters.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.with_sharing_conf_changed.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.with_sharing_enabled.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.wo_parameters.yaml
  internal/provider/fixtures/resource_subaccount_service_instance_with_timeouts.yaml
  internal/provider/resource_subaccount_service_instance_test.go
  regression-test/variables.tf
Due: gofmt, golangci-lint, terraformfmt

chore: prep release v1.4.0
  .github/ISSUE_TEMPLATE/bug_report.yml
  docs/index.md
  examples/provider/provider.tf
  integration/provider.tf
Due: terraformfmt

chore: prep release v1.4.0 (#827)
  .github/ISSUE_TEMPLATE/bug_report.yml
  docs/index.md
  examples/provider/provider.tf
  integration/provider.tf
Due: terraformfmt

feat(btp_subaccount_service_instance): default value for parameters
  internal/provider/resource_subaccount_service_instance.go
Due: gofmt, golangci-lint

fix: missing import
  internal/provider/resource_subaccount_service_instance.go
Due: gofmt, golangci-lint

fix: go toolchain issue on darwin
  go.mod
Due: none

fix: computed when defaulted
  internal/provider/resource_subaccount_service_instance.go
Due: gofmt, golangci-lint

minor fixes
  internal/btpcli/client.go
  internal/btpcli/facade_security_api_credential.go
  internal/btpcli/types/xsuaa_api/model_api_credential_get.go
  internal/btpcli/types/xsuaa_api/model_api_credential_subaccount.go
  internal/provider/resource_subaccount_api_credential.go
  internal/provider/type_subaccount_api_credential.go
Due: gofmt, golangci-lint

fetch service instance by ID
  internal/btpcli/facade_services_instance.go
Due: gofmt, golangci-lint

fetch service instance by ID (#836)
  internal/btpcli/facade_services_instance.go
Due: gofmt, golangci-lint

propagating error from AssignedServicePlanSubaccountDto response object
  internal/provider/resource_subaccount_entitlement.go
Due: gofmt, golangci-lint

minor fix
  internal/provider/resource_subaccount_entitlement.go
Due: gofmt, golangci-lint

fix: Improved Error Handling for Entitlement Destruction (#838)
  internal/provider/resource_subaccount_entitlement.go
Due: gofmt, golangci-lint

chore: update test matrix TF cli version
  .github/workflows/test.yml
Due: none

chore: update test matrix TF cli version (#839)
  .github/workflows/test.yml
Due: none

api credentials : subaccount level
  go.mod
  go.sum
  internal/provider/provider.go
  internal/provider/resource_subaccount_api_credential.go
  internal/provider/type_subaccount_api_credential.go
Due: gofmt, golangci-lint

revert library version changes
  go.mod
  go.sum
Due: none

directory level api credentials
  internal/btpcli/facade_security_api_credential.go
  internal/btpcli/types/xsuaa_api/model_api_credential_get.go
  internal/provider/resource_directory_api_credential.go
  internal/provider/type_subaccount_api_credential.go
Due: gofmt, golangci-lint

global account level api-credentials
  internal/btpcli/facade_security_api_credential.go
  internal/provider/resource_globalaccount_api_credential.go
  internal/provider/type_subaccount_api_credential.go
Due: gofmt, golangci-lint

added beta resources
  internal/provider/provider.go
Due: gofmt, golangci-lint

moved apiCredentialTypes to separate files, minor fixes to param names
  internal/btpcli/facade_security_api_credential.go
  internal/provider/resource_directory_api_credential.go
  internal/provider/resource_subaccount_api_credential.go
  internal/provider/type_directory_api_credential.go
  internal/provider/type_globalaccount_api_credential.go
Due: gofmt, golangci-lint

facade tests
  internal/btpcli/facade_security_api_credential_test.go
Due: gofmt, golangci-lint

subaccount api credential resource tests
  internal/provider/fixtures/resource_subaccount_api_credential.error_invalid_certificate.yaml
  internal/provider/fixtures/resource_subaccount_api_credential.error_missing_subaccount_id.yaml
  internal/provider/fixtures/resource_subaccount_api_credential.read_only_credentials.yaml
  internal/provider/fixtures/resource_subaccount_api_credential.with_certificate.yaml
  internal/provider/fixtures/resource_subaccount_api_credential.with_secret.yaml
  internal/provider/provider_test.go
  internal/provider/resource_subaccount_api_credential_test.go
  internal/tfutils/certificate_generator.go
Due: gofmt, golangci-lint

minor fixes to the api credential resources
  internal/provider/resource_directory_api_credential.go
  internal/provider/resource_globalaccount_api_credential.go
  internal/provider/resource_subaccount_api_credential.go
Due: gofmt, golangci-lint

minor changes to subaccount api-credential tests and fixtures
  internal/provider/fixtures/resource_subaccount_api_credential.error_invalid_certificate.yaml
  internal/provider/fixtures/resource_subaccount_api_credential.read_only_credentials.yaml
  internal/provider/fixtures/resource_subaccount_api_credential.with_certificate.yaml
  internal/provider/fixtures/resource_subaccount_api_credential.with_secret.yaml
  internal/provider/resource_subaccount_api_credential_test.go
Due: gofmt, golangci-lint

minor change to global account api-credential resource + recorded fixtures
  internal/provider/fixtures/resource_globalaccount_api_credential.error_invalid_certificate.yaml
  internal/provider/fixtures/resource_globalaccount_api_credential.read_only_credentials.yaml
  internal/provider/fixtures/resource_globalaccount_api_credential.with_certificate.yaml
  internal/provider/fixtures/resource_globalaccount_api_credential.with_secret.yaml
  internal/provider/resource_globalaccount_api_credential_test.go
Due: gofmt, golangci-lint

Path conditions:
  gofmt: any of: *.go, but not: vendor/*
  golangci-lint: any of: *.go, but not: vendor/*
  terraformfmt: any of: *.tf, but not: vendor/*
