Repository SAP/terraform-provider-btp: changes, and which lefthook commands are due for each by the changed paths.
All: gofmt, golangci-lint, terraformfmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    gofmt:
      glob: "*.go"
      run: go fmt ./...
      exclude: "vendor/*"
    golangci-lint:
      glob: "*.go"
      run: golangci-lint run --fix
      exclude: "vendor/*"
    terraformfmt:
      glob: "*.tf"
      run: terraform fmt {staged_files}
      exclude: "vendor/*"

added check for nil response
  internal/provider/resource_subaccount_subscription.go
Due: gofmt, golangci-lint

reverted changes made
  internal/tfutils/state.go
Due: gofmt, golangci-lint

added to the error message
  internal/tfutils/error.go
Due: gofmt, golangci-lint

error message changes
  internal/tfutils/state_test.go
Due: gofmt, golangci-lint

added return statement in other resources
  internal/provider/resource_subaccount_environment_instance.go
Due: gofmt, golangci-lint

fix: handling timeouts with proper error messages (#924)
  internal/provider/resource_subaccount_environment_instance.go
  internal/provider/resource_subaccount_subscription.go
  internal/tfutils/error.go
  internal/tfutils/state_test.go
Due: gofmt, golangci-lint

Add message for OpenTofu support
  README.md
Due: none

Add message for OpenTofu support (#934)
  README.md
Due: none

chore: Prep works v1.8.0
  .github/ISSUE_TEMPLATE/bug_report.yml
  docs/index.md
  examples/provider/provider.tf
  integration/provider.tf
Due: terraformfmt

chore: Prep works v1.8.0 (#941)
  .github/ISSUE_TEMPLATE/bug_report.yml
  docs/index.md
  examples/provider/provider.tf
  integration/provider.tf
Due: terraformfmt

fix: unexpected update of a btp_subaccount_service_binding
  internal/provider/resource_subaccount_service_binding.go
Due: gofmt, golangci-lint

minor changes
  internal/provider/resource_subaccount_service_binding.go
Due: gofmt, golangci-lint

fix: unexpected update of a btp_subaccount_service_binding (#943)
  internal/provider/resource_subaccount_service_binding.go
Due: gofmt, golangci-lint

combined facade operations for subaccount and directory api-credentials
  internal/btpcli/facade_security_api_credential.go
  internal/btpcli/facade_security_api_credential_test.go
  internal/btpcli/types/xsuaa_api/model_api_credential_subaccount.go
  internal/provider/resource_directory_api_credential.go
  internal/provider/resource_subaccount_api_credential.go
Due: gofmt, golangci-lint

minor fix
  internal/provider/type_directory_api_credential.go
  internal/provider/type_globalaccount_api_credential.go
  internal/provider/type_subaccount_api_credential.go
Due: gofmt, golangci-lint

changed repeated literal to a constant
  examples/resources/certificate.go
  internal/tfutils/certificate_generator.go
Due: gofmt, golangci-lint

modified package for the certificate generator
  examples/resources/certificate.go
  internal/provider/certificate_generator.go
  internal/provider/resource_directory_api_credential_test.go
  internal/provider/resource_globalaccount_api_credential_test.go
  internal/provider/resource_subaccount_api_credential_test.go
Due: gofmt, golangci-lint

changes to the read function of the globalaccount api-credentials resource
  internal/provider/resource_globalaccount_api_credential.go
  internal/provider/type_globalaccount_api_credential.go
Due: gofmt, golangci-lint

changes made to the read function of the subaccount api-credentials resource
  internal/provider/resource_subaccount_api_credential.go
  internal/provider/type_subaccount_api_credential.go
Due: gofmt, golangci-lint

changes made to the read function of the directory api-credentials resource
  internal/provider/resource_directory_api_credential.go
  internal/provider/type_directory_api_credential.go
  root_tf_config/btp/terraform.tfstate
Due: gofmt, golangci-lint

changes made to the read function of the directory api-credentials resource
  internal/provider/resource_directory_api_credential.go
  internal/provider/type_directory_api_credential.go
Due: gofmt, golangci-lint

removed state file
  root_tf_config/btp/terraform.tfstate
Due: none

fix: handling reset of secrets and certificates to NULL in the api-credential resources (#951)
  internal/provider/resource_directory_api_credential.go
  internal/provider/resource_globalaccount_api_credential.go
  internal/provider/resource_subaccount_api_credential.go
  internal/provider/type_directory_api_credential.go
  internal/provider/type_globalaccount_api_credential.go
  internal/provider/type_subaccount_api_credential.go
Due: gofmt, golangci-lint

moved the certificate generator back to tfutils
  examples/resources/certificate.go
  internal/provider/resource_directory_api_credential_test.go
  internal/provider/resource_globalaccount_api_credential_test.go
  internal/provider/resource_subaccount_api_credential_test.go
  internal/tfutils/certificate_generator.go
Due: gofmt, golangci-lint

added tests for certificate generation
  internal/tfutils/certificate_generator_test.go
Due: gofmt, golangci-lint

feat: enhance support for plan unique identifier in subaccount entitlements
  internal/btpcli/facade_accounts_entitlement.go
  internal/provider/resource_subaccount_entitlement.go
  internal/provider/type_subaccount_entitlement.go
Due: gofmt, golangci-lint

chore: fixes
  docs/resources/subaccount_entitlement.md
Due: none

feat: subaccount entitlement with plan unique indentifier
  internal/btpcli/facade_accounts_entitlement.go
  internal/provider/resource_subaccount_entitlement.go
Due: gofmt, golangci-lint

removed certificate generation from examples
  examples/resources/btp_directory_api_credential/resource.tf
  examples/resources/btp_globalaccount_api_credential/resource.tf
  examples/resources/btp_subaccount_api_credential/resource.tf
  examples/resources/certificate.go
Due: gofmt, golangci-lint, terraformfmt

updated resource docs
  docs/resources/directory_api_credential.md
  docs/resources/globalaccount_api_credential.md
  docs/resources/subaccount_api_credential.md
Due: none

feat: code improvements based on SonarCloud findings for the Api-Credential Resources (#950)
  docs/resources/directory_api_credential.md
  docs/resources/globalaccount_api_credential.md
  docs/resources/subaccount_api_credential.md
  examples/resources/btp_directory_api_credential/resource.tf
  examples/resources/btp_globalaccount_api_credential/resource.tf
  examples/resources/btp_subaccount_api_credential/resource.tf
  examples/resources/certificate.go
  internal/btpcli/facade_security_api_credential.go
  internal/btpcli/facade_security_api_credential_test.go
  internal/btpcli/types/xsuaa_api/model_api_credential_subaccount.go
  internal/provider/resource_directory_api_credential.go
  internal/provider/resource_directory_api_credential_test.go
  internal/provider/resource_globalaccount_api_credential_test.go
  internal/provider/resource_subaccount_api_credential.go
  internal/provider/resource_subaccount_api_credential_test.go
  internal/provider/type_directory_api_credential.go
  internal/provider/type_globalaccount_api_credential.go
  internal/provider/type_subaccount_api_credential.go
  internal/tfutils/certificate_generator.go
  internal/tfutils/certificate_generator_test.go
Due: gofmt, golangci-lint, terraformfmt

feat: Add entitlement to subaccount with plan unique identifier
  internal/btpcli/facade_accounts_entitlement.go
  internal/btpcli/facade_accounts_entitlement_test.go
  internal/provider/resource_subaccount_entitlement.go
  internal/provider/resource_subaccount_entitlement_test.go
Due: gofmt, golangci-lint

Update clienttypes_test
  internal/btpcli/clienttypes_test.go
Due: gofmt, golangci-lint

Update facade_accounts_entitlement_test
  internal/btpcli/facade_accounts_entitlement_test.go
Due: gofmt, golangci-lint

Update facade_accounts_global_account_test
  internal/btpcli/facade_accounts_global_account_test.go
Due: gofmt, golangci-lint

Update datasource_subaccount_service_plan_test
  internal/provider/datasource_subaccount_service_plan_test.go
Due: gofmt, golangci-lint

Update provider_test
  internal/provider/fixtures/provider.error_cli_server_url.yaml
  internal/provider/provider_test.go
Due: gofmt, golangci-lint

Fixture for datasource_subaccount_service_plan error
  internal/provider/fixtures/datasource_subaccount_service_plan.err_with_subaccount_only.yaml
Due: none
