Repository SAP/terraform-provider-btp: changes, and which lefthook commands are due for each by the changed paths.
All: gofmt, golangci-lint, terraformfmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    gofmt:
      glob: "*.go"
      run: go fmt ./...
      exclude: "vendor/*"
    golangci-lint:
      glob: "*.go"
      run: golangci-lint run --fix
      exclude: "vendor/*"
    terraformfmt:
      glob: "*.tf"
      run: terraform fmt {staged_files}
      exclude: "vendor/*"

chore: remove test step for release (#672)
  .github/workflows/release.yml
Due: none

chore: fix test in release workflow
  .github/workflows/release.yml
Due: none

fix(service-instance): support parameters resolution
  internal/btpcli/facade_services_instance.go
  internal/btpcli/facade_services_instance_test.go
Due: gofmt, golangci-lint

fix: testcase for service instance
  internal/provider/resource_subaccount_service_instance_test.go
Due: gofmt, golangci-lint

test case
  internal/provider/resource_subaccount_service_instance_test.go
Due: gofmt, golangci-lint

fix: rewrite param retrival
  internal/btpcli/facade_services_instance.go
  internal/btpcli/types/servicemanager/model_service_instance_parameters.go
  internal/btpcli/types/servicemanager/model_service_instance_response_object.go
  internal/provider/datasource_subaccount_service_instance.go
  internal/provider/resource_subaccount_service_instance.go
  internal/provider/type_subaccount_service_instance.go
Due: gofmt, golangci-lint

fix: handling of parameters for import
  internal/btpcli/facade_services_instance.go
  internal/btpcli/facade_services_instance_test.go
  internal/provider/fixtures/resource_subaccount_service_instance.wo_parameters.yaml
  internal/provider/resource_subaccount_service_instance.go
  internal/provider/resource_subaccount_service_instance_test.go
  templates/resources/btp_subaccount_service_instance.md.tmpl
Due: gofmt, golangci-lint

fix: recording of test fixtures resource
  internal/provider/fixtures/resource_subaccount_service_instance.import_error.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.with_labels.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.with_labels_change.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.with_parameters.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.wo_parameters.yaml
  internal/provider/fixtures/resource_subaccount_service_instance_with_timeouts.yaml
  internal/provider/resource_subaccount_service_instance.go
  internal/provider/type_subaccount_service_instance.go
Due: gofmt, golangci-lint

fix: recording of test fixtures data source
  internal/provider/fixtures/datasource_subaccount_service_instance.by_id.yaml
  internal/provider/fixtures/datasource_subaccount_service_instance.by_name.yaml
  internal/provider/fixtures/datasource_subaccount_service_instances.all.yaml
  internal/provider/fixtures/datasource_subaccount_service_instances.labelsfilter.yaml
  internal/provider/fixtures/datasource_subaccount_service_instances.namefilter.yaml
  internal/provider/fixtures/datasource_subaccount_service_instances.namefilter_variant.yaml
Due: none

fix: changes in fixture test
  internal/btpcli/facade_services_instance_test.go
Due: gofmt, golangci-lint

docs: enhanced docs for service instance import
  docs/resources/subaccount_service_instance.md
  templates/resources/btp_subaccount_service_instance.md.tmpl
  templates/resources/subaccount_service_instance.md.tmpl
Due: none

fix: recording of missing fixture
  internal/provider/fixtures/resource_subaccount_service_instance.with_parameters.yaml
Due: none

fix: duplicate test recording
  internal/provider/fixtures/resource_subaccount_service_instance.with_parameters.yaml
  internal/provider/resource_subaccount_service_instance_test.go
Due: gofmt, golangci-lint

fix: test setup due to unnecessayr enhancements from original fix
  internal/provider/fixtures/resource_subaccount_service_instance.with_parameters.yaml
  internal/provider/resource_subaccount_service_instance_test.go
Due: gofmt, golangci-lint

chore: fix test in release workflow (#673)
  .github/workflows/release.yml
Due: none

chore: setup of pre-release checks
  .github/workflows/prerelease-check.yml
  .github/workflows/release.yml
  .github/workflows/schema-regression-test.yml
Due: none

chore: setup of pre-release checks (#675)
  .github/workflows/prerelease-check.yml
  .github/workflows/release.yml
  .github/workflows/schema-regression-test.yml
Due: none

chore: adjust CodeQL workflow
  .github/workflows/codeql.yml
Due: none

fix: typo
  .github/workflows/codeql.yml
Due: none

chore: codeql setup (#676)
  .github/workflows/codeql.yml
Due: none

fix: corrections based on review comments
  internal/btpcli/facade_services_instance.go
  internal/btpcli/facade_services_instance_test.go
  internal/provider/fixtures/datasource_subaccount_service_instances.all.yaml
  internal/provider/fixtures/datasource_subaccount_service_instances.labelsfilter.yaml
  internal/provider/fixtures/datasource_subaccount_service_instances.namefilter.yaml
  internal/provider/fixtures/datasource_subaccount_service_instances.namefilter_variant.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.import_error.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.with_labels.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.with_labels_change.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.with_parameters.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.wo_parameters.yaml
  internal/provider/fixtures/resource_subaccount_service_instance_with_timeouts.yaml
Due: gofmt, golangci-lint

fix(service-instance): support parameters resolution (#666)
  docs/resources/subaccount_service_instance.md
  internal/btpcli/facade_services_instance.go
  internal/btpcli/facade_services_instance_test.go
  internal/btpcli/types/servicemanager/model_service_instance_parameters.go
  internal/btpcli/types/servicemanager/model_service_instance_response_object.go
  internal/provider/datasource_subaccount_service_instance.go
  internal/provider/fixtures/datasource_subaccount_service_instance.by_id.yaml
  internal/provider/fixtures/datasource_subaccount_service_instance.by_name.yaml
  internal/provider/fixtures/datasource_subaccount_service_instances.all.yaml
  internal/provider/fixtures/datasource_subaccount_service_instances.labelsfilter.yaml
  internal/provider/fixtures/datasource_subaccount_service_instances.namefilter.yaml
  internal/provider/fixtures/datasource_subaccount_service_instances.namefilter_variant.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.import_error.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.with_labels.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.with_labels_change.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.with_parameters.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.wo_parameters.yaml
  internal/provider/fixtures/resource_subaccount_service_instance_with_timeouts.yaml
  internal/provider/resource_subaccount_service_instance.go
  internal/provider/resource_subaccount_service_instance_test.go
  internal/provider/type_subaccount_service_instance.go
  templates/resources/subaccount_service_instance.md.tmpl
Due: gofmt, golangci-lint

chore: update dependabot for devcontainers
  .github/dependabot.yml
Due: none

Update subaccount_service_instance.md.tmpl
  templates/resources/subaccount_service_instance.md.tmpl
Due: none

edited restriction of serice instance resource
  docs/resources/subaccount_service_instance.md
Due: none

docs: empty line after heading
  docs/resources/subaccount_service_instance.md
  templates/resources/subaccount_service_instance.md.tmpl
Due: none

docs: update subaccount_service_instance.md.tmpl (#685)
  docs/resources/subaccount_service_instance.md
  templates/resources/subaccount_service_instance.md.tmpl
Due: none

chore: update dependabot for devcontainers (#684)
  .github/dependabot.yml
Due: none

docs: improvement of env instance for CF
  examples/resources/btp_subaccount_environment_instance/resource.tf
Due: terraformfmt

docs: improvement of env instance for CF
  docs/resources/subaccount_environment_instance.md
Due: none

docs: typo
  docs/resources/subaccount_environment_instance.md
  examples/resources/btp_subaccount_environment_instance/resource.tf
Due: terraformfmt

adapted the directory parameter
  internal/btpcli/facade_accounts_entitlement.go
  internal/btpcli/facade_accounts_entitlement_test.go
  internal/provider/resource_subaccount_entitlement.go
Due: gofmt, golangci-lint

docs: improvement of env instance for CF (#693)
  docs/resources/subaccount_environment_instance.md
  examples/resources/btp_subaccount_environment_instance/resource.tf
Due: terraformfmt

fixing facade tests
  internal/btpcli/facade_accounts_entitlement_test.go
Due: gofmt, golangci-lint

chore: update of setup
  regression-test/main.tf
  regression-test/variables.tf
Due: terraformfmt

fix: change app subscription
  regression-test/README.md
  regression-test/main.tf
Due: terraformfmt
