Repository SAP/terraform-provider-btp: changes, and which lefthook commands are due for each by the changed paths.
All: gofmt, golangci-lint, terraformfmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    gofmt:
      glob: "*.go"
      run: go fmt ./...
      exclude: "vendor/*"
    golangci-lint:
      glob: "*.go"
      run: golangci-lint run --fix
      exclude: "vendor/*"
    terraformfmt:
      glob: "*.tf"
      run: terraform fmt {staged_files}
      exclude: "vendor/*"

updated resource docs
  docs/resources/directory_api_credential.md
  docs/resources/globalaccount_api_credential.md
  docs/resources/subaccount_api_credential.md
Due: none

feat: Resource to manage XSUAA Api Credentials (#893)
  docs/resources/directory_api_credential.md
  docs/resources/globalaccount_api_credential.md
  docs/resources/subaccount_api_credential.md
  examples/resources/btp_directory_api_credential/resource.tf
  examples/resources/btp_globalaccount_api_credential/resource.tf
  examples/resources/btp_subaccount_api_credential/resource.tf
  examples/resources/certificate.go
  internal/btpcli/facade_security.go
  internal/btpcli/facade_security_api_credential.go
  internal/btpcli/facade_security_api_credential_test.go
  internal/btpcli/types/xsuaa_api/model_api_credential_subaccount.go
  internal/provider/fixtures/resource_directory_api_credential.error_invalid_certificate.yaml
  internal/provider/fixtures/resource_directory_api_credential.read_only_credentials.yaml
  internal/provider/fixtures/resource_directory_api_credential.with_certificate.yaml
  internal/provider/fixtures/resource_directory_api_credential.with_secret.yaml
  internal/provider/fixtures/resource_globalaccount_api_credential.error_invalid_certificate.yaml
  internal/provider/fixtures/resource_globalaccount_api_credential.read_only_credentials.yaml
  internal/provider/fixtures/resource_globalaccount_api_credential.with_certificate.yaml
  internal/provider/fixtures/resource_globalaccount_api_credential.with_secret.yaml
  internal/provider/fixtures/resource_subaccount_api_credential.error_invalid_certificate.yaml
  internal/provider/fixtures/resource_subaccount_api_credential.error_missing_subaccount_id.yaml
  internal/provider/fixtures/resource_subaccount_api_credential.read_only_credentials.yaml
  internal/provider/fixtures/resource_subaccount_api_credential.with_certificate.yaml
  internal/provider/fixtures/resource_subaccount_api_credential.with_secret.yaml
  internal/provider/provider.go
  internal/provider/provider_test.go
  internal/provider/resource_directory_api_credential.go
  internal/provider/resource_directory_api_credential_test.go
  internal/provider/resource_globalaccount_api_credential.go
  internal/provider/resource_globalaccount_api_credential_test.go
  internal/provider/resource_subaccount_api_credential.go
  internal/provider/resource_subaccount_api_credential_test.go
  internal/provider/type_directory_api_credential.go
  internal/provider/type_globalaccount_api_credential.go
  internal/provider/type_subaccount_api_credential.go
  internal/tfutils/certificate_generator.go
Due: gofmt, golangci-lint, terraformfmt

chore: prep opentofu support (#892)
  .devcontainer/default/devcontainer.json
  .devcontainer/withenvfile/devcontainer.json
  .github/workflows/compatibility-test.yml
  .github/workflows/schema-regression-test-opentofu.yml
  .github/workflows/test-opentofu.yml
Due: none

chore: Prep Release v1.6.0
  .github/ISSUE_TEMPLATE/bug_report.yml
  docs/index.md
  examples/provider/provider.tf
  integration/provider.tf
Due: terraformfmt

chore: Prep Release v1.6.0 (#895)
  .github/ISSUE_TEMPLATE/bug_report.yml
  docs/index.md
  examples/provider/provider.tf
  integration/provider.tf
Due: terraformfmt

examples added for directories datasource
  docs/data-sources/directories.md
  examples/data-sources/btp_directories/data-source.tf
Due: terraformfmt

updated directories datasource doc
  docs/data-sources/directories.md
Due: none

updated doc for directorires datasource with a template
  templates/data-sources/directories.md.tmpl
Due: none

minor fixes
  internal/provider/datasource_directories.go
  internal/provider/datasource_directory.go
Due: gofmt, golangci-lint

docs: indentation and nested schema reference
  docs/data-sources/directories.md
  templates/data-sources/directories.md.tmpl
Due: none

fix: updated the documentation for the datasource "directories" (#898)
  examples/data-sources/btp_directories/data-source.tf
  internal/provider/datasource_directories.go
  internal/provider/datasource_directory.go
  templates/data-sources/directories.md.tmpl
Due: gofmt, golangci-lint, terraformfmt

docs: upate contribution guidelines
  CONTRIBUTING.md
Due: none

docs: upate contribution guidelines (#900)
  CONTRIBUTING.md
Due: none

feat: iframe in security settings
  docs/resources/globalaccount_security_settings.md
  docs/resources/subaccount_security_settings.md
  examples/resources/btp_globalaccount_security_settings/import.sh
  examples/resources/btp_globalaccount_security_settings/resource.tf
  examples/resources/btp_subaccount_security_settings/import.sh
  examples/resources/btp_subaccount_security_settings/resource.tf
  internal/provider/datasource_globalaccount_security_settings.go
  internal/provider/datasource_globalaccount_security_settings_test.go
  internal/provider/datasource_subaccount_security_settings.go
  internal/provider/datasource_subaccount_security_settings_test.go
  internal/provider/fixtures/datasource_globalaccount_security_settings.yaml
  internal/provider/fixtures/datasource_subaccount_security_settings.by_id.yaml
  internal/provider/fixtures/resource_subaccount_security_settings.complete.yaml
  internal/provider/resource_globalaccount_security_settings.go
  internal/provider/resource_globalaccount_security_settings_test.go
  internal/provider/resource_subaccount_security_settings.go
  internal/provider/resource_subaccount_security_settings_test.go
  internal/provider/type_globalaccount_security_settings.go
  internal/provider/type_subaccount_security_settings.go
Due: gofmt, golangci-lint, terraformfmt

feat: add ifrmae to security settings
  internal/provider/resource_subaccount_security_settings.go
  internal/provider/resource_subaccount_security_settings_test.go
  internal/provider/type_subaccount_security_settings.go
Due: gofmt, golangci-lint

feat: add docs and execute fmt
  docs/resources/subaccount_security_settings.md
  examples/resources/certificate.go
  internal/btpcli/client_test.go
  internal/btpcli/facade_security_api_credential.go
  internal/btpcli/facade_security_api_credential_test.go
  internal/btpcli/types/xsuaa_api/model_api_credential_subaccount.go
  internal/provider/datasource_directory.go
  internal/provider/resource_directory_api_credential.go
  internal/provider/resource_directory_api_credential_test.go
  internal/provider/resource_globalaccount_api_credential.go
  internal/provider/resource_globalaccount_api_credential_test.go
  internal/provider/resource_subaccount_api_credential.go
  internal/provider/resource_subaccount_api_credential_test.go
  internal/provider/type_directory_api_credential.go
  internal/provider/type_globalaccount_api_credential.go
  internal/provider/type_subaccount_api_credential.go
  internal/tfutils/certificate_generator.go
Due: gofmt, golangci-lint

feat: iframe test recording
  internal/provider/fixtures/resource_globalaccount_security_settings.complete.yaml
  internal/provider/fixtures/resource_subaccount_security_settings.complete.yaml
  internal/provider/resource_globalaccount_security_settings_test.go
Due: gofmt, golangci-lint

feat: test recording resource subaccount
  internal/provider/fixtures/resource_subaccount_security_settings.complete.yaml
  internal/provider/resource_subaccount_security_settings_test.go
Due: gofmt, golangci-lint

feat: update of guides
  guides/DRIFTDETECTION.md
  guides/IMPORT.md
Due: none

feat: Changes in docs
  docs/data-sources/globalaccount_security_settings.md
  docs/data-sources/subaccount_security_settings.md
Due: none

docs: typo
  guides/IMPORT.md
Due: none

fix: link checker
  .lycheeignore
Due: none

fix: link checker (#909)
  .lycheeignore
Due: none

subaccount entitlement: added loop for Read function
  internal/provider/resource_subaccount_entitlement.go
Due: gofmt, golangci-lint

subaccount entitlement: added loop for Read function (#910)
  internal/provider/resource_subaccount_entitlement.go
Due: gofmt, golangci-lint

feat: add validation of input for iframes
  internal/provider/fixtures/resource_subaccount_security_settings.complete.yaml
  internal/provider/resource_subaccount_security_settings.go
  internal/provider/resource_subaccount_security_settings_test.go
Due: gofmt, golangci-lint

fix: recording of test fixtures
  internal/provider/fixtures/resource_subaccount_security_settings.complete.yaml
Due: none

docs: fix wrong example
  docs/resources/subaccount_security_settings.md
  examples/resources/btp_subaccount_security_settings/resource.tf
Due: terraformfmt

fix: data source attribute classification
  docs/data-sources/globalaccount_security_settings.md
  docs/data-sources/subaccount_security_settings.md
  internal/provider/datasource_globalaccount_security_settings.go
  internal/provider/datasource_subaccount_security_settings.go
  internal/provider/fixtures/datasource_globalaccount_security_settings.yaml
  internal/provider/fixtures/datasource_subaccount_security_settings.by_id.yaml
Due: gofmt, golangci-lint

fix: test setup
  internal/provider/fixtures/resource_globalaccount_security_settings.destroy.yaml
  internal/provider/fixtures/resource_subaccount_security_settings.destroy.yaml
  internal/provider/resource_globalaccount_security_settings.go
  internal/provider/resource_globalaccount_security_settings_test.go
  internal/provider/resource_subaccount_security_settings.go
  internal/provider/resource_subaccount_security_settings_test.go
  internal/provider/type_globalaccount_security_settings.go
Due: gofmt, golangci-lint

feat: add iframe parameter to security settings (#907)
  docs/data-sources/globalaccount_security_settings.md
  docs/data-sources/subaccount_security_settings.md
  docs/resources/globalaccount_security_settings.md
  docs/resources/subaccount_security_settings.md
  examples/resources/btp_globalaccount_security_settings/import.sh
  examples/resources/btp_globalaccount_security_settings/resource.tf
  examples/resources/btp_subaccount_security_settings/import.sh
  examples/resources/btp_subaccount_security_settings/resource.tf
  examples/resources/certificate.go
  guides/DRIFTDETECTION.md
  guides/IMPORT.md
  internal/btpcli/client_test.go
  internal/btpcli/facade_security_api_credential.go
  internal/btpcli/facade_security_api_credential_test.go
  internal/btpcli/types/xsuaa_api/model_api_credential_subaccount.go
  internal/provider/datasource_directory.go
  internal/provider/datasource_globalaccount_security_settings.go
  internal/provider/datasource_globalaccount_security_settings_test.go
  internal/provider/datasource_subaccount_security_settings.go
  internal/provider/datasource_subaccount_security_settings_test.go
  internal/provider/fixtures/datasource_globalaccount_security_settings.yaml
  internal/provider/fixtures/datasource_subaccount_security_settings.by_id.yaml
  internal/provider/fixtures/resource_globalaccount_security_settings.destroy.yaml
  internal/provider/fixtures/resource_subaccount_security_settings.destroy.yaml
  internal/provider/resource_directory_api_credential.go
  internal/provider/resource_directory_api_credential_test.go
  internal/provider/resource_globalaccount_api_credential.go
  internal/provider/resource_globalaccount_api_credential_test.go
  internal/provider/resource_globalaccount_security_settings.go
  internal/provider/resource_globalaccount_security_settings_test.go
  internal/provider/resource_subaccount_api_credential.go
  internal/provider/resource_subaccount_api_credential_test.go
  internal/provider/resource_subaccount_security_settings.go
  internal/provider/resource_subaccount_security_settings_test.go
  internal/provider/type_directory_api_credential.go
  internal/provider/type_globalaccount_api_credential.go
  internal/provider/type_globalaccount_security_settings.go
  internal/provider/type_subaccount_api_credential.go
  internal/provider/type_subaccount_security_settings.go
  internal/tfutils/certificate_generator.go
Due: gofmt, golangci-lint, terraformfmt

chore: Prep works v1.7.0
  .github/ISSUE_TEMPLATE/bug_report.yml
  docs/index.md
  examples/provider/provider.tf
  integration/provider.tf
Due: terraformfmt

chore: Prep works v1.7.0 (#911)
  .github/ISSUE_TEMPLATE/bug_report.yml
  docs/index.md
  examples/provider/provider.tf
  integration/provider.tf
Due: terraformfmt

docs: fix wrong link for API credentials
  docs/resources/directory_api_credential.md
  docs/resources/globalaccount_api_credential.md
  docs/resources/subaccount_api_credential.md
  internal/provider/resource_directory_api_credential.go
  internal/provider/resource_globalaccount_api_credential.go
  internal/provider/resource_subaccount_api_credential.go
Due: gofmt, golangci-lint

docs: fix wrong link for API credentials (#913)
  docs/resources/directory_api_credential.md
  docs/resources/globalaccount_api_credential.md
  docs/resources/subaccount_api_credential.md
  internal/provider/resource_directory_api_credential.go
  internal/provider/resource_globalaccount_api_credential.go
  internal/provider/resource_subaccount_api_credential.go
Due: gofmt, golangci-lint

docs: fix wrong resource in comment
  examples/resources/btp_directory_entitlement/import.sh
Due: none

docs: regenrate markdown
  docs/resources/directory_entitlement.md
Due: none

docs: fix wrong resource in comment (#919)
  docs/resources/directory_entitlement.md
  examples/resources/btp_directory_entitlement/import.sh
Due: none

error handling for timeouts
  internal/tfutils/state.go
Due: gofmt, golangci-lint

mofified the call for the create timeout
  internal/provider/resource_subaccount_subscription.go
Due: gofmt, golangci-lint
