Repository SAP/terraform-provider-btp: changes, and which lefthook commands are due for each by the changed paths.
All: gofmt, golangci-lint, terraformfmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    gofmt:
      glob: "*.go"
      run: go fmt ./...
      exclude: "vendor/*"
    golangci-lint:
      glob: "*.go"
      run: golangci-lint run --fix
      exclude: "vendor/*"
    terraformfmt:
      glob: "*.tf"
      run: terraform fmt {staged_files}
      exclude: "vendor/*"

fix: refine refactoring
  internal/provider/datasource_subaccount.go
Due: gofmt, golangci-lint

Fix: sonar cloud finding - function complexity (#745)
  internal/provider/datasource_subaccount.go
Due: gofmt, golangci-lint

docs: fix parameters for Kyma environment instance (#744)
  docs/resources/subaccount_environment_instance.md
  examples/resources/btp_subaccount_environment_instance/resource.tf
Due: terraformfmt

service instance resource: enabling sharing of instances
  internal/btpcli/facade_services_instance.go
  internal/provider/resource_subaccount_service_instance.go
  internal/provider/resource_subaccount_service_instance_test.go
  internal/provider/type_subaccount_service_instance.go
Due: gofmt, golangci-lint

resource service instance : modified shared parameter
  internal/provider/resource_subaccount_service_instance.go
  internal/provider/type_subaccount_service_instance.go
Due: gofmt, golangci-lint

share service instance: modified the doc, added fixtures recordings
  docs/resources/subaccount_service_instance.md
  internal/btpcli/client.go
  internal/provider/fixtures/resource_subaccount_service_instance.sharing_error.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.with_sharing_conf_changed.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.with_sharing_enabled.yaml
  internal/provider/resource_subaccount_service_instance_test.go
Due: gofmt, golangci-lint

minor fixes
  docs/resources/subaccount_service_instance.md
  internal/provider/resource_subaccount_service_instance.go
  internal/provider/resource_subaccount_service_instance_test.go
Due: gofmt, golangci-lint

update function fix
  internal/provider/resource_subaccount_service_instance.go
Due: gofmt, golangci-lint

service instance resource doc fix
  docs/resources/subaccount_service_instance.md
Due: none

modified error test, re-recorded fixtures, undid change made to client
  internal/btpcli/client.go
  internal/provider/fixtures/resource_subaccount_service_instance.sharing_error.yaml
  internal/provider/resource_subaccount_service_instance_test.go
Due: gofmt, golangci-lint

minor fixes
  docs/resources/subaccount_service_instance.md
  examples/resources/btp_subaccount_service_instance/resource.tf
  internal/btpcli/client.go
  internal/provider/resource_subaccount_service_instance.go
Due: gofmt, golangci-lint, terraformfmt

service instance resource test fix
  internal/provider/resource_subaccount_service_instance_test.go
Due: gofmt, golangci-lint

feat: Ability to Share Service Instances (#751)
  docs/resources/subaccount_service_instance.md
  examples/resources/btp_subaccount_service_instance/resource.tf
  internal/btpcli/client.go
  internal/btpcli/facade_services_instance.go
  internal/provider/fixtures/resource_subaccount_service_instance.sharing_error.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.with_sharing_conf_changed.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.with_sharing_enabled.yaml
  internal/provider/resource_subaccount_service_instance.go
  internal/provider/resource_subaccount_service_instance_test.go
Due: gofmt, golangci-lint, terraformfmt

chore: refine drift detection
  .github/workflows/schema-regression-test.yml
Due: none

chore: refine drift detection (#752)
  .github/workflows/schema-regression-test.yml
Due: none

docs: add example for subaccount data source
  docs/data-sources/subaccount.md
  examples/data-sources/btp_subaccount/data-source.tf
Due: terraformfmt

docs: add example for subaccount data source (#753)
  docs/data-sources/subaccount.md
  examples/data-sources/btp_subaccount/data-source.tf
Due: terraformfmt

fix: data source service instance sharing
  docs/data-sources/subaccount.md
  docs/data-sources/subaccount_service_plan.md
  docs/data-sources/subaccount_service_plans.md
  examples/data-sources/btp_subaccount/data-source.tf
  internal/btpcli/types/servicemanager/model_service_plan_metadata.go
  internal/provider/datasource_subaccount_service_plan.go
  internal/provider/datasource_subaccount_service_plan_test.go
  internal/provider/datasource_subaccount_service_plans.go
  internal/provider/datasource_subaccount_service_plans_test.go
  internal/provider/fixtures/datasource_subaccount_service_plan.by_id.yaml
  internal/provider/fixtures/datasource_subaccount_service_plan.by_name.yaml
  internal/provider/fixtures/datasource_subaccount_service_plans.all.yaml
  internal/provider/fixtures/datasource_subaccount_service_plans.cloudfoundry.yaml
  internal/provider/fixtures/datasource_subaccount_service_plans.namefilter.yaml
Due: gofmt, golangci-lint, terraformfmt

fix: data source service instance sharing (#755)
  docs/data-sources/subaccount.md
  docs/data-sources/subaccount_service_plan.md
  docs/data-sources/subaccount_service_plans.md
  examples/data-sources/btp_subaccount/data-source.tf
  internal/btpcli/types/servicemanager/model_service_plan_metadata.go
  internal/provider/datasource_subaccount_service_plan.go
  internal/provider/datasource_subaccount_service_plan_test.go
  internal/provider/datasource_subaccount_service_plans.go
  internal/provider/datasource_subaccount_service_plans_test.go
  internal/provider/fixtures/datasource_subaccount_service_plan.by_id.yaml
  internal/provider/fixtures/datasource_subaccount_service_plan.by_name.yaml
  internal/provider/fixtures/datasource_subaccount_service_plans.all.yaml
  internal/provider/fixtures/datasource_subaccount_service_plans.cloudfoundry.yaml
  internal/provider/fixtures/datasource_subaccount_service_plans.namefilter.yaml
Due: gofmt, golangci-lint, terraformfmt

fix: make binding state response more resillient
  internal/provider/type_subaccount_service_binding.go
Due: gofmt, golangci-lint

fix: make binding state response more resillient (#758)
  internal/provider/type_subaccount_service_binding.go
Due: gofmt, golangci-lint

support sso login
  internal/btpcli/client.go
  internal/btpcli/clienttypes.go
  internal/provider/provider.go
Due: gofmt, golangci-lint

add browser login
  internal/btpcli/client.go
  internal/btpcli/clienttypes.go
  internal/provider/provider.go
Due: gofmt, golangci-lint

update client.go
  internal/btpcli/client.go
Due: gofmt, golangci-lint

chore: prep release 1.2.0
  .github/ISSUE_TEMPLATE/bug_report.yml
  docs/index.md
  examples/provider/provider.tf
  integration/provider.tf
  regression-test/provider.tf
Due: terraformfmt

support custom idp
  internal/btpcli/client.go
  internal/provider/provider.go
Due: gofmt, golangci-lint

chore: prep release 1.2.0 (#761)
  .github/ISSUE_TEMPLATE/bug_report.yml
  docs/index.md
  examples/provider/provider.tf
  integration/provider.tf
  regression-test/provider.tf
Due: terraformfmt

chore: release-120 fix fix-regression-test version
  regression-test/provider.tf
Due: terraformfmt

chore: release-120 fix fix-regression-test version (#762)
  regression-test/provider.tf
Due: terraformfmt

docs: update copyright
  README.md
Due: none

docs: update copyright (#763)
  README.md
Due: none

browser login updates
  internal/btpcli/client.go
  internal/btpcli/client_test.go
  internal/btpcli/clienttypes.go
  internal/provider/provider.go
Due: gofmt, golangci-lint

chore: correct workflow permissions for issues
  .github/workflows/compatibility-test.yml
  .github/workflows/schema-regression-test.yml
Due: none

chore: correct workflow permissions for issues (#765)
  .github/workflows/compatibility-test.yml
  .github/workflows/schema-regression-test.yml
Due: none

browser login tests and doc update
  docs/index.md
  internal/btpcli/client.go
  internal/btpcli/client_test.go
  internal/provider/provider.go
Due: gofmt, golangci-lint

browser login doc update
  docs/index.md
  templates/index.md.tmpl
Due: none

feat: Authentication using SSO (#766)
  docs/index.md
  internal/btpcli/client.go
  internal/btpcli/client_test.go
  internal/btpcli/clienttypes.go
  internal/provider/provider.go
  templates/index.md.tmpl
Due: gofmt, golangci-lint

docs: improve drift and import description
  docs/index.md
  tech-docs/DRIFTDETECTION.md
  tech-docs/IMPORT.md
  templates/index.md.tmpl
Due: none
