Repository SAP/terraform-provider-btp: changes, and which lefthook commands are due for each by the changed paths.
All: gofmt, golangci-lint, terraformfmt

gofmt:
  run: go fmt ./...

golangci-lint:
  run: golangci-lint run --fix

terraformfmt:
  run: terraform fmt {staged_files}

fix: framework upgrade issue (#1220)
  btp/provider/fixtures/resource_subaccount_security_settings.complete.yaml
  btp/provider/fixtures/resource_subaccount_security_settings.destroy.yaml
  btp/provider/fixtures/resource_subaccount_security_settings.destroy_list.yaml
  btp/provider/fixtures/resource_subaccount_security_settings_with_iframe_domains_list.complete.yaml
  btp/provider/resource_subaccount_security_settings.go
Due: gofmt, golangci-lint

docs: improve descritpion of plan_unique_identifier for entitlements (#1217)
  btp/provider/resource_directory_entitlement.go
  btp/provider/resource_subaccount_entitlement.go
  docs/resources/directory_entitlement.md
  docs/resources/subaccount_entitlement.md
Due: gofmt, golangci-lint

chore: update test matrix
  .github/workflows/test.yml
Due: none

chore: update test matrix (#1221)
  .github/workflows/test.yml
Due: none

chore: add copilot instructions
  .github/copilot-instructions.md
Due: none

docs: reformating
  docs/data-sources/subaccount_app.md
Due: none

normalization of json parameters for btp resources
  btp/provider/datasource_subaccount_service_binding.go
  btp/provider/resource_subaccount_environment_instance.go
  btp/provider/resource_subaccount_service_binding.go
  btp/provider/resource_subaccount_service_instance.go
  btp/provider/resource_subaccount_subscription.go
  btp/provider/type_subaccount_environment_instance.go
  btp/provider/type_subaccount_service_binding.go
  btp/provider/type_subaccount_service_instance.go
  btp/provider/type_subaccount_subscription.go
  go.mod
  go.sum
  internal/tfutils/tfutils.go
Due: gofmt, golangci-lint

clean up
  btp/provider/type_subaccount_environment_instance.go
Due: gofmt, golangci-lint

chore: add copilot instructions (#1225)
  .github/copilot-instructions.md
Due: none

fix test
  btp/provider/resource_subaccount_environment_instance_test.go
Due: gofmt, golangci-lint

adding test for normalizedJSON
  internal/tfutils/tfutils_test.go
Due: gofmt, golangci-lint

Implement retryable http to the btp client
  internal/btpcli/client.go
  internal/btpcli/client_test.go
Due: gofmt, golangci-lint

Update client.go
  internal/btpcli/client.go
Due: gofmt, golangci-lint

Update client_test.go
  internal/btpcli/client_test.go
Due: gofmt, golangci-lint

fix: normalize json encoded parameters for btp subaccount resources (#1230)
  btp/provider/datasource_subaccount_service_binding.go
  btp/provider/resource_subaccount_environment_instance.go
  btp/provider/resource_subaccount_environment_instance_test.go
  btp/provider/resource_subaccount_service_binding.go
  btp/provider/resource_subaccount_service_instance.go
  btp/provider/resource_subaccount_subscription.go
  btp/provider/type_subaccount_environment_instance.go
  btp/provider/type_subaccount_service_binding.go
  btp/provider/type_subaccount_service_instance.go
  btp/provider/type_subaccount_subscription.go
  go.mod
  go.sum
  internal/tfutils/tfutils.go
  internal/tfutils/tfutils_test.go
Due: gofmt, golangci-lint

Fixed client along with refactoring retry logic
  internal/btpcli/client.go
  internal/btpcli/client_test.go
Due: gofmt, golangci-lint

fix: deprecated attribute for subacount roles
  btp/provider/resource_subaccount_role.go
  docs/resources/subaccount_role.md
Due: gofmt, golangci-lint

Fix as per copilot review
  btp/provider/provider.go
  internal/btpcli/client.go
  internal/btpcli/client_test.go
  internal/btpcli/facade_test.go
Due: gofmt, golangci-lint

fix: deprecated attribute for subacount roles (#1237)
  btp/provider/resource_subaccount_role.go
  docs/resources/subaccount_role.md
Due: gofmt, golangci-lint

Refactoring custom retry logic
  btp/provider/resource_subaccount_entitlement.go
  internal/btpcli/client.go
  internal/btpcli/client_test.go
Due: gofmt, golangci-lint

Changes as per copilot review
  btp/provider/resource_directory.go
  btp/provider/resource_directory_entitlement.go
  btp/provider/resource_subaccount.go
  btp/provider/resource_subaccount_entitlement.go
  btp/provider/resource_subaccount_environment_instance.go
  btp/provider/resource_subaccount_service_binding.go
  btp/provider/resource_subaccount_service_instance.go
  internal/btpcli/client.go
Due: gofmt, golangci-lint

chore: Refactoring custom retry logic from provider (#1239)
  btp/provider/resource_directory.go
  btp/provider/resource_directory_entitlement.go
  btp/provider/resource_subaccount.go
  btp/provider/resource_subaccount_entitlement.go
  btp/provider/resource_subaccount_environment_instance.go
  btp/provider/resource_subaccount_service_binding.go
  btp/provider/resource_subaccount_service_instance.go
  internal/btpcli/client.go
  internal/btpcli/client_test.go
Due: gofmt, golangci-lint

Implementation of data source role collection with attribute mappings
  btp/provider/datasource_directory_role_collection.go
  btp/provider/datasource_directory_role_collection_test.go
  btp/provider/datasource_globalaccount_role_collection.go
  btp/provider/datasource_globalaccount_role_collection_test.go
  btp/provider/datasource_subaccount_role_collection.go
  btp/provider/datasource_subaccount_role_collection_test.go
  btp/provider/fixtures/datasource_directory_role_collection.yaml
  btp/provider/fixtures/datasource_directory_role_collection_with_attribute_mappings.yaml
  btp/provider/fixtures/datasource_globalaccount_role_collection.role_collection_exists.yaml
  btp/provider/fixtures/datasource_globalaccount_role_collection.role_collection_exists_with_attribute_mappings.yaml
  btp/provider/fixtures/datasource_globalaccount_role_collection.role_collection_not_available.yaml
  btp/provider/fixtures/datasource_subaccount_role_collection.yaml
  btp/provider/fixtures/datasource_subaccount_role_collection_with_attribute_mappings.yaml
  docs/data-sources/directory_role_collection.md
  docs/data-sources/globalaccount_role_collection.md
  docs/data-sources/subaccount_role_collection.md
  internal/btpcli/facade_security_role_collection.go
  internal/btpcli/types/xsuaa_authz/model_role_collection.go
  internal/btpcli/types/xsuaa_authz/model_saml_attr_assignment.go
Due: gofmt, golangci-lint

Implementation of data source role collection with attribute mappings (#1242)
  btp/provider/datasource_directory_role_collection.go
  btp/provider/datasource_directory_role_collection_test.go
  btp/provider/datasource_globalaccount_role_collection.go
  btp/provider/datasource_globalaccount_role_collection_test.go
  btp/provider/datasource_subaccount_role_collection.go
  btp/provider/datasource_subaccount_role_collection_test.go
  btp/provider/fixtures/datasource_directory_role_collection.yaml
  btp/provider/fixtures/datasource_directory_role_collection_with_attribute_mappings.yaml
  btp/provider/fixtures/datasource_globalaccount_role_collection.role_collection_exists.yaml
  btp/provider/fixtures/datasource_globalaccount_role_collection.role_collection_exists_with_attribute_mappings.yaml
  btp/provider/fixtures/datasource_globalaccount_role_collection.role_collection_not_available.yaml
  btp/provider/fixtures/datasource_subaccount_role_collection.yaml
  btp/provider/fixtures/datasource_subaccount_role_collection_with_attribute_mappings.yaml
  docs/data-sources/directory_role_collection.md
  docs/data-sources/globalaccount_role_collection.md
  docs/data-sources/subaccount_role_collection.md
  internal/btpcli/facade_security_role_collection.go
  internal/btpcli/types/xsuaa_authz/model_role_collection.go
  internal/btpcli/types/xsuaa_authz/model_saml_attr_assignment.go
Due: gofmt, golangci-lint

chore: update/include Terraform version 1.14.0
  .devcontainer/default/devcontainer.json
  .devcontainer/withenvfile/devcontainer.json
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/test.yml
Due: none

chore: update/include Terraform version 1.14.0 (#1246)
  .devcontainer/default/devcontainer.json
  .devcontainer/withenvfile/devcontainer.json
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/test.yml
Due: none

Update type_subaccount_entitlement.go
  btp/provider/type_subaccount_entitlement.go
Due: gofmt, golangci-lint

Update type_subaccount_entitlement.go (#1261)
  btp/provider/type_subaccount_entitlement.go
Due: gofmt, golangci-lint

Data source for destination trust
  btp/provider/datasource_subaccount_destination_trust.go
  btp/provider/datasource_subaccount_destination_trust_test.go
  btp/provider/fixtures/datasource_subaccount_destination_trust_active.yaml
  btp/provider/fixtures/datasource_subaccount_destination_trust_not_found.yaml
  btp/provider/fixtures/datasource_subaccount_destination_trust_passive.yaml
  btp/provider/fixtures/datasource_subaccount_destination_trust_subaccount_required.yaml
  btp/provider/fixtures/resource_subaccount_destination_trust_passive.yaml
  btp/provider/fixtures/resource_subaccount_destination_trust_subaccount_required.yaml
  btp/provider/provider.go
  docs/data-sources/subaccount_destination_trust.md
  examples/data-sources/btp_subaccount_destination_trust/data-source.tf
  internal/btpcli/client.go
  internal/btpcli/facade.go
  internal/btpcli/facade_connectivity.go
  internal/btpcli/facade_connectivity_destination_trust.go
  internal/btpcli/facade_connectivity_destination_trust_test.go
  internal/btpcli/types/connectivity/destination_trust.go
Due: gofmt, golangci-lint, terraformfmt

Removing extra fixtures
  btp/provider/fixtures/resource_subaccount_destination_trust_passive.yaml
  btp/provider/fixtures/resource_subaccount_destination_trust_subaccount_required.yaml
Due: none

Update provider_test.go
  btp/provider/provider_test.go
Due: gofmt, golangci-lint

Changes as per review
  btp/provider/datasource_subaccount_destination_trust.go
  docs/data-sources/subaccount_destination_trust.md
  examples/data-sources/btp_subaccount_destination_trust/data-source.tf
Due: gofmt, golangci-lint, terraformfmt

Changes in tests fixtures
  btp/provider/datasource_subaccount_destination_trust_test.go
  btp/provider/fixtures/datasource_subaccount_destination_trust_active.yaml
  btp/provider/fixtures/datasource_subaccount_destination_trust_not_found.yaml
  btp/provider/fixtures/datasource_subaccount_destination_trust_passive.yaml
Due: gofmt, golangci-lint

Path conditions:
  gofmt: any of: *.go, but not: vendor/*
  golangci-lint: any of: *.go, but not: vendor/*
  terraformfmt: any of: *.tf, but not: vendor/*
