Repository SAP/terraform-provider-btp: changes, and which lefthook commands are due for each by the changed paths.
All: gofmt, golangci-lint, terraformfmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    gofmt:
      glob: "*.go"
      run: go fmt ./...
      exclude: "vendor/*"
    golangci-lint:
      glob: "*.go"
      run: golangci-lint run --fix
      exclude: "vendor/*"
    terraformfmt:
      glob: "*.tf"
      run: terraform fmt {staged_files}
      exclude: "vendor/*"

new response objects
  internal/btpcli/types/cis/directoryHierarchy_response_object.go
  internal/btpcli/types/cis/subaccountHierarchy_response_object.go
Due: gofmt, golangci-lint

modified new directory type and added global account type
  internal/provider/type_directoryHierarchy.go
  internal/provider/type_globalaccount_hierarchy.go
Due: gofmt, golangci-lint

new subaccount response object
  internal/btpcli/types/cis/subaccount_response_object.go
Due: gofmt, golangci-lint

minor fix
  internal/provider/type_directoryHierarchy.go
Due: gofmt, golangci-lint

new datasource with updated schema
  internal/provider/datasource_globalaccount_with_hierarchy.go
Due: gofmt, golangci-lint

new subaccount and directory types
  internal/provider/type_directoryHierarchy.go
  internal/provider/type_subaccountHierarchy.go
Due: gofmt, golangci-lint

minor modifications to the types
  internal/provider/type_directoryHierarchy.go
  internal/provider/type_subaccountHierarchy.go
Due: gofmt, golangci-lint

Fixed code quality check
  internal/provider/provider.go
  internal/provider/resource_directory.go
Due: gofmt, golangci-lint

Fixed code quality check (#716)
  internal/provider/provider.go
  internal/provider/resource_directory.go
Due: gofmt, golangci-lint

showHierarchy datasource fixes
  internal/provider/datasource_globalaccount_with_hierarchy.go
  internal/provider/type_directoryHierarchy.go
  internal/provider/type_globalaccount_hierarchy.go
Due: gofmt, golangci-lint

datasource fixes
  internal/provider/datasource_globalaccount_with_hierarchy.go
Due: gofmt, golangci-lint

datasource - global account with hierarchy; minor fixes
  internal/provider/datasource_globalaccount_with_hierarchy.go
  internal/provider/type_globalaccount_hierarchy.go
Due: gofmt, golangci-lint

datasource - global account with hierarchy; adding test
  internal/provider/datasource_globalaccount_with_hierarchy_test.go
Due: gofmt, golangci-lint

fix: go version - regression-schema-test
  .github/workflows/schema-regression-test.yml
Due: none

fix: go version - regression-schema-test (#719)
  .github/workflows/schema-regression-test.yml
Due: none

datasource - global account with hierarchy; update test
  internal/provider/datasource_globalaccount_with_hierarchy_test.go
  internal/provider/fixtures/datasource_globalaccount_with_hierarchy.yaml
Due: gofmt, golangci-lint

update TestProvider_HasDatasources list
  internal/provider/provider_test.go
Due: gofmt, golangci-lint

added subdomain and region to get subaccount data source
  internal/provider/datasource_subaccount.go
Due: gofmt, golangci-lint

code refinement + comments added
  internal/btpcli/facade_accounts_global_account.go
  internal/btpcli/types/cis/directoryHierarchy_response_object.go
  internal/btpcli/types/cis/globalaccount_Hierarchy_response_object.go
  internal/btpcli/types/cis/subaccountHierarchy_response_object.go
  internal/provider/datasource_globalaccount_with_hierarchy.go
  internal/provider/type_directoryHierarchy.go
  internal/provider/type_globalaccount_hierarchy.go
  internal/provider/type_subaccountHierarchy.go
Due: gofmt, golangci-lint

update validators
  internal/provider/datasource_subaccount.go
Due: gofmt, golangci-lint

adding tests
  internal/provider/datasource_subaccount.go
  internal/provider/datasource_subaccount_test.go
  internal/provider/fixtures/datasource_subaccount_by_subdomain.yaml
Due: gofmt, golangci-lint

update tests
  internal/provider/datasource_subaccount.go
  internal/provider/datasource_subaccount_test.go
  internal/provider/fixtures/datasource_subaccount.err_empty_configuration.yaml
  internal/provider/fixtures/datasource_subaccount.err_invalid_subdomain.yaml
Due: gofmt, golangci-lint

documentation for the new data source
  docs/data-sources/globalaccount_with_hierarchy.md
  templates/data-sources/globalaccount_with_hierarchy.md.tmpl
Due: none

minor fix in the document
  docs/data-sources/globalaccount_with_hierarchy.md
  templates/data-sources/globalaccount_with_hierarchy.md.tmpl
Due: none

fix: comment for manual adjustments of template
  docs/data-sources/globalaccount_with_hierarchy.md
  internal/provider/datasource_globalaccount_with_hierarchy.go
  templates/data-sources/globalaccount_with_hierarchy.md.tmpl
Due: gofmt, golangci-lint

feat: Support show-hierarchy on global Account (#721)
  docs/data-sources/globalaccount_with_hierarchy.md
  internal/btpcli/facade_accounts_global_account.go
  internal/btpcli/types/cis/subaccount_response_object.go
  internal/provider/datasource_globalaccount_with_hierarchy.go
  internal/provider/datasource_globalaccount_with_hierarchy_test.go
  internal/provider/fixtures/datasource_globalaccount_with_hierarchy.yaml
  internal/provider/provider.go
  internal/provider/provider_test.go
  internal/provider/type_directoryHierarchy.go
  internal/provider/type_globalaccount_hierarchy.go
  internal/provider/type_subaccountHierarchy.go
  templates/data-sources/globalaccount_with_hierarchy.md.tmpl
Due: gofmt, golangci-lint

fix: sonar cloud issue naming convention
  internal/provider/datasource_globalaccount_with_hierarchy.go
Due: gofmt, golangci-lint

fix: sonar cloud issue naming convention (#726)
  internal/provider/datasource_globalaccount_with_hierarchy.go
Due: gofmt, golangci-lint

chore: Intial integration workflow
  .github/workflows/integration-test.yml
Due: none

chore: Intial integration workflow (#725)
  .github/workflows/integration-test.yml
Due: none

adding validator for id and subdomain
  internal/provider/datasource_subaccount.go
  internal/provider/datasource_subaccount_test.go
  internal/provider/fixtures/datasource_subaccount.err_empty_configuration.yaml
Due: gofmt, golangci-lint

update document
  docs/data-sources/subaccount.md
Due: none

added env variable for the custom IDP
  internal/provider/resource_globalaccount_trust_configuration_test.go
  internal/provider/resource_subaccount_trust_configuration_test.go
Due: gofmt, golangci-lint

re-recorded fixtures
  internal/provider/fixtures/resource_globalaccount_trust_configuration.complete.yaml
  internal/provider/fixtures/resource_globalaccount_trust_configuration.invalid_idp.yaml
  internal/provider/fixtures/resource_globalaccount_trust_configuration.minimal.yaml
  internal/provider/fixtures/resource_subaccount_trust_configuration.complete.yaml
  internal/provider/fixtures/resource_subaccount_trust_configuration.error_missing_identityprovider.yaml
  internal/provider/fixtures/resource_subaccount_trust_configuration.import_error.yaml
  internal/provider/fixtures/resource_subaccount_trust_configuration.minimal.yaml
  internal/provider/resource_subaccount_trust_configuration_test.go
Due: gofmt, golangci-lint

chore: prep release 1.1.0
  .github/ISSUE_TEMPLATE/bug_report.yml
  docs/index.md
  examples/provider/provider.tf
  integration/provider.tf
Due: terraformfmt

chore: prep release 1.1.0 (#732)
  .github/ISSUE_TEMPLATE/bug_report.yml
  docs/index.md
  examples/provider/provider.tf
  integration/provider.tf
Due: terraformfmt

feat: Get subaccount data source according to subdomain and region (#727)
  docs/data-sources/subaccount.md
  internal/provider/datasource_subaccount.go
  internal/provider/datasource_subaccount_test.go
  internal/provider/fixtures/datasource_subaccount.err_invalid_subdomain.yaml
  internal/provider/fixtures/datasource_subaccount_by_subdomain.yaml
Due: gofmt, golangci-lint

fix: Generalised the custom IDP for the tests (#730)
  internal/provider/fixtures/resource_globalaccount_trust_configuration.complete.yaml
  internal/provider/fixtures/resource_globalaccount_trust_configuration.invalid_idp.yaml
  internal/provider/fixtures/resource_globalaccount_trust_configuration.minimal.yaml
  internal/provider/fixtures/resource_subaccount_trust_configuration.complete.yaml
  internal/provider/fixtures/resource_subaccount_trust_configuration.error_missing_identityprovider.yaml
  internal/provider/fixtures/resource_subaccount_trust_configuration.import_error.yaml
  internal/provider/fixtures/resource_subaccount_trust_configuration.minimal.yaml
  internal/provider/resource_globalaccount_trust_configuration_test.go
  internal/provider/resource_subaccount_trust_configuration_test.go
Due: gofmt, golangci-lint

fix: sonar cloud finding
  internal/provider/datasource_subaccount.go
Due: gofmt, golangci-lint

docs: fix parameters for Kyma environment instance
  docs/resources/subaccount_environment_instance.md
  examples/resources/btp_subaccount_environment_instance/resource.tf
Due: terraformfmt
