Repository SAP/terraform-provider-btp: changes, and which lefthook commands are due for each by the changed paths.
All: gofmt, golangci-lint, terraformfmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    gofmt:
      glob: "*.go"
      run: go fmt ./...
      exclude: "vendor/*"
    golangci-lint:
      glob: "*.go"
      run: golangci-lint run --fix
      exclude: "vendor/*"
    terraformfmt:
      glob: "*.tf"
      run: terraform fmt {staged_files}
      exclude: "vendor/*"

updating docs
  docs/resources/directory_entitlement.md
  docs/resources/directory_role.md
  docs/resources/directory_role_collection.md
  docs/resources/globalaccount_role.md
  docs/resources/globalaccount_role_collection.md
  docs/resources/subaccount_entitlement.md
  docs/resources/subaccount_role.md
  docs/resources/subaccount_role_collection.md
  docs/resources/subaccount_subscription.md
  examples/resources/btp_directory_entitlement/import.sh
  examples/resources/btp_directory_role/import.sh
  examples/resources/btp_directory_role_collection/import.sh
  examples/resources/btp_globalaccount_role/import.sh
  examples/resources/btp_globalaccount_role_collection/import.sh
  examples/resources/btp_subaccount_entitlement/import.sh
  examples/resources/btp_subaccount_role/import.sh
  examples/resources/btp_subaccount_role_collection/import.sh
  examples/resources/btp_subaccount_subscription/import.sh
Due: none

incresing timeout
  .github/workflows/test.yml
Due: none

update docs
  docs/index.md
  templates/index.md.tmpl
Due: none

update fixture
  .github/workflows/test.yml
  internal/provider/fixtures/resource_subaccount_subscription_commercialapp_name.yaml
  internal/provider/fixtures/resource_subaccount_subscription_techapp_name.yaml
  internal/provider/fixtures/resource_subaccount_subscription_update.yaml
Due: none

fix: fxiture drift detection file location
  .github/workflows/test.yml
Due: none

update docs
  docs/resources/directory_entitlement.md
  docs/resources/directory_role.md
  docs/resources/directory_role_collection.md
  docs/resources/globalaccount_role.md
  docs/resources/globalaccount_role_collection.md
  docs/resources/subaccount_entitlement.md
  docs/resources/subaccount_role.md
  docs/resources/subaccount_role_collection.md
  docs/resources/subaccount_subscription.md
  examples/resources/btp_directory_entitlement/import.sh
  examples/resources/btp_directory_role/import.sh
  examples/resources/btp_directory_role_collection/import.sh
  examples/resources/btp_globalaccount_role/import.sh
  examples/resources/btp_globalaccount_role_collection/import.sh
  examples/resources/btp_subaccount_entitlement/import.sh
  examples/resources/btp_subaccount_role/import.sh
  examples/resources/btp_subaccount_role_collection/import.sh
  examples/resources/btp_subaccount_subscription/import.sh
Due: none

docs: update of import samples based on review comments
  docs/resources/directory.md
  docs/resources/directory_entitlement.md
  docs/resources/directory_role.md
  docs/resources/directory_role_collection.md
  docs/resources/globalaccount_resource_provider.md
  docs/resources/globalaccount_role.md
  docs/resources/globalaccount_role_collection.md
  docs/resources/globalaccount_security_settings.md
  docs/resources/globalaccount_trust_configuration.md
  docs/resources/subaccount.md
  docs/resources/subaccount_entitlement.md
  docs/resources/subaccount_environment_instance.md
  docs/resources/subaccount_role.md
  docs/resources/subaccount_role_collection.md
  docs/resources/subaccount_security_settings.md
  docs/resources/subaccount_service_binding.md
  docs/resources/subaccount_service_broker.md
  docs/resources/subaccount_service_instance.md
  docs/resources/subaccount_subscription.md
  docs/resources/subaccount_trust_configuration.md
  examples/resources/btp_directory/import.sh
  examples/resources/btp_directory_entitlement/import.sh
  examples/resources/btp_directory_role/import.sh
  examples/resources/btp_directory_role_collection/import.sh
  examples/resources/btp_globalaccount_resource_provider/import.sh
  examples/resources/btp_globalaccount_role/import.sh
  examples/resources/btp_globalaccount_role_collection/import.sh
  examples/resources/btp_globalaccount_security_settings/import.sh
  examples/resources/btp_globalaccount_trust_configuration/import.sh
  examples/resources/btp_subaccount/import.sh
  examples/resources/btp_subaccount_entitlement/import.sh
  examples/resources/btp_subaccount_environment_instance/import.sh
  examples/resources/btp_subaccount_role/import.sh
  examples/resources/btp_subaccount_role_collection/import.sh
  examples/resources/btp_subaccount_security_settings/import.sh
  examples/resources/btp_subaccount_service_binding/import.sh
  examples/resources/btp_subaccount_service_broker/import.sh
  examples/resources/btp_subaccount_service_instance/import.sh
  examples/resources/btp_subaccount_subscription/import.sh
  examples/resources/btp_subaccount_trust_configuration/import.sh
Due: none

chore: update OpenTofu version
  .devcontainer/default/devcontainer.json
  .devcontainer/withenvfile/devcontainer.json
  .github/workflows/integration-test-opentofu.yml
Due: none

chore: update OpenTofu version (#1122)
  .devcontainer/default/devcontainer.json
  .devcontainer/withenvfile/devcontainer.json
  .github/workflows/integration-test-opentofu.yml
Due: none

chore: improve handling of processing state of entitlement
  internal/provider/resource_subaccount_entitlement.go
Due: gofmt, golangci-lint

chore: improve handling of processing state of entitlement (#1123)
  internal/provider/resource_subaccount_entitlement.go
Due: gofmt, golangci-lint

chore: prepare release 1.14.0
  .github/ISSUE_TEMPLATE/bug_report.yml
  docs/index.md
  examples/provider/provider.tf
  integration/provider.tf
Due: terraformfmt

chore: prepare release 1.14.0 (#1127)
  .github/ISSUE_TEMPLATE/bug_report.yml
  docs/index.md
  examples/provider/provider.tf
  integration/provider.tf
Due: terraformfmt

fix: subscription import with custom timeouts
  btp/provider/resource_subaccount_subscription.go
  docs/resources/subaccount_subscription.md
Due: gofmt, golangci-lint

fix: restructuring for alignment with other resources
  btp/provider/resource_subaccount_subscription.go
Due: gofmt, golangci-lint

fix: handling of timeout block for import of subscriptions (#1134)
  btp/provider/resource_subaccount_subscription.go
  docs/resources/subaccount_subscription.md
Due: gofmt, golangci-lint

feat: JWT Assertion support
  btp/provider/provider.go
  btp/provider/provider_test.go
  internal/btpcli/clienttypes.go
Due: gofmt, golangci-lint

fix: security-settings schema update
  btp/provider/resource_subaccount_security_settings.go
  btp/provider/type_subaccount_security_settings.go
Due: gofmt, golangci-lint

feat: add assertion parameter for provider configuration
  docs/index.md
Due: none

fix: update Jwt field in LoginRequest to be a pointer for proper handling of nil values
  internal/btpcli/clienttypes.go
Due: gofmt, golangci-lint

fix: import of security settings via configuration generation
  btp/provider/resource_subaccount_security_settings.go
  btp/provider/type_subaccount_security_settings.go
Due: gofmt, golangci-lint

docs: regenerated documentation
  docs/resources/subaccount_security_settings.md
Due: none

test: adjust and enhance tests
  btp/provider/fixtures/resource_subaccount_security_settings.complete.yaml
  btp/provider/fixtures/resource_subaccount_security_settings.destroy.yaml
  btp/provider/fixtures/resource_subaccount_security_settings_with_iframe_domains_list.complete.yaml
  btp/provider/resource_subaccount_security_settings_test.go
  btp/provider/type_subaccount_security_settings.go
Due: gofmt, golangci-lint

fix: linter findings
  btp/provider/type_subaccount_security_settings.go
Due: gofmt, golangci-lint

test: add unit test for NewLoginRequestWithAssertion to verify jwt handling
  internal/btpcli/clienttypes_test.go
Due: gofmt, golangci-lint

test: recording of test fixtures
  btp/provider/fixtures/resource_subaccount_security_settings.destroy.yaml
  btp/provider/fixtures/resource_subaccount_security_settings.destroy_list.yaml
  btp/provider/fixtures/resource_subaccount_security_settings_with_iframe_domains_list.complete.yaml
  btp/provider/resource_subaccount_security_settings_test.go
Due: gofmt, golangci-lint

test: add unit test for assertion flow
  btp/provider/provider_test.go
Due: gofmt, golangci-lint

docs: fix sso env variable for SSO
  guides/QUICKSTART.md
Due: none

fix: typo in comment
  btp/provider/resource_subaccount_security_settings.go
Due: gofmt, golangci-lint

docs: update assertion JWT token description to clarify IdP support
  btp/provider/provider.go
  docs/index.md
Due: gofmt, golangci-lint

docs: fix formatting in assertion JWT token description.
  docs/index.md
Due: none

docs: fix sso env variable for SSO (#1141)
  guides/QUICKSTART.md
Due: none

feat: Added support for authentication with Jwt assertion (#1136)
  btp/provider/provider.go
  btp/provider/provider_test.go
  docs/index.md
  internal/btpcli/clienttypes.go
  internal/btpcli/clienttypes_test.go
Due: gofmt, golangci-lint

chore: adjust client login flow
  btp/provider/datasource_whoami.go
  internal/btpcli/client.go
  internal/btpcli/client_test.go
  internal/btpcli/clienttypes.go
  internal/btpcli/session.go
Due: gofmt, golangci-lint

chore: align clienttypes
  internal/btpcli/client.go
  internal/btpcli/clienttypes.go
Due: gofmt, golangci-lint
