Repository SAP/terraform-provider-btp: changes, and which lefthook commands are due for each by the changed paths.
All: gofmt, golangci-lint, terraformfmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    gofmt:
      glob: "*.go"
      run: go fmt ./...
      exclude: "vendor/*"
    golangci-lint:
      glob: "*.go"
      run: golangci-lint run --fix
      exclude: "vendor/*"
    terraformfmt:
      glob: "*.tf"
      run: terraform fmt {staged_files}
      exclude: "vendor/*"

test: Removes IDs From Resource Directory Role Collection Assignment Tests (#602)
  internal/provider/fixtures/resource_directory_role_collection_assignment.import_error.yaml
  internal/provider/fixtures/resource_directory_role_collection_assignment.with_origin.yaml
  internal/provider/fixtures/resource_directory_role_collection_assignment.with_origin_and_attribute.yaml
  internal/provider/fixtures/resource_directory_role_collection_assignment.with_origin_and_group.yaml
  internal/provider/fixtures/resource_directory_role_collection_assignment.yaml
  internal/provider/resource_directory_role_collection_assignment_test.go
Due: gofmt, golangci-lint

test: Removes IDs From Resource Subaccount Role Collection Assignment Tests
  internal/provider/fixtures/resource_subaccount_role_collection_assignment.import_error.yaml
  internal/provider/fixtures/resource_subaccount_role_collection_assignment.with_origin.yaml
  internal/provider/fixtures/resource_subaccount_role_collection_assignment.with_origin_and_attribute.yaml
  internal/provider/fixtures/resource_subaccount_role_collection_assignment.with_origin_and_group.yaml
  internal/provider/fixtures/resource_subaccount_role_collection_assignment.yaml
  internal/provider/resource_subaccount_role_collection_assignment_test.go
Due: gofmt, golangci-lint

test: Removes IDs From Resource Subaccount Security Settings Tests
  internal/provider/fixtures/resource_subaccount_security_settings.complete.yaml
  internal/provider/resource_subaccount_security_settings_test.go
Due: gofmt, golangci-lint

test: Removes IDs From Resource Subaccount Security Settings Tests (#604)
  internal/provider/fixtures/resource_subaccount_security_settings.complete.yaml
  internal/provider/resource_subaccount_security_settings_test.go
Due: gofmt, golangci-lint

test: Removes IDs From Resource Subaccount Role Collection Assignment Tests (#603)
  internal/provider/fixtures/resource_subaccount_role_collection_assignment.import_error.yaml
  internal/provider/fixtures/resource_subaccount_role_collection_assignment.with_origin.yaml
  internal/provider/fixtures/resource_subaccount_role_collection_assignment.with_origin_and_attribute.yaml
  internal/provider/fixtures/resource_subaccount_role_collection_assignment.with_origin_and_group.yaml
  internal/provider/fixtures/resource_subaccount_role_collection_assignment.yaml
  internal/provider/resource_subaccount_role_collection_assignment_test.go
Due: gofmt, golangci-lint

test: Removes IDs From Resource Subaccount Service Binding Tests
  internal/provider/datasource_subaccount_service_binding_test.go
  internal/provider/fixtures/datasource_subaccount_service_binding.by_id.yaml
  internal/provider/fixtures/datasource_subaccount_service_binding.by_name.yaml
  internal/provider/fixtures/datasource_subaccount_service_bindings.yaml
  internal/provider/provider_test.go
Due: gofmt, golangci-lint

test: Removes IDs From Resource Subaccount Service Binding Tests (#607)
  internal/provider/datasource_subaccount_service_binding_test.go
  internal/provider/fixtures/datasource_subaccount_service_binding.by_id.yaml
  internal/provider/fixtures/datasource_subaccount_service_binding.by_name.yaml
  internal/provider/fixtures/datasource_subaccount_service_bindings.yaml
  internal/provider/provider_test.go
Due: gofmt, golangci-lint

test: Removes IDs From Resource Subaccount Service Instance Tests
  internal/provider/datasource_subaccount_service_instance_test.go
  internal/provider/fixtures/datasource_subaccount_service_instance.by_id.yaml
  internal/provider/fixtures/datasource_subaccount_service_instance.by_name.yaml
  internal/provider/fixtures/datasource_subaccount_service_instances.all.yaml
  internal/provider/fixtures/datasource_subaccount_service_instances.labelsfilter.yaml
  internal/provider/fixtures/datasource_subaccount_service_instances.namefilter.yaml
  internal/provider/fixtures/datasource_subaccount_service_instances.namefilter_variant.yaml
Due: gofmt, golangci-lint

test: Removes IDs From Resource Subaccount Service Instance Tests (#608)
  internal/provider/datasource_subaccount_service_instance_test.go
  internal/provider/fixtures/datasource_subaccount_service_instance.by_id.yaml
  internal/provider/fixtures/datasource_subaccount_service_instance.by_name.yaml
  internal/provider/fixtures/datasource_subaccount_service_instances.all.yaml
  internal/provider/fixtures/datasource_subaccount_service_instances.labelsfilter.yaml
  internal/provider/fixtures/datasource_subaccount_service_instances.namefilter.yaml
  internal/provider/fixtures/datasource_subaccount_service_instances.namefilter_variant.yaml
Due: gofmt, golangci-lint

fix: schema in ds
  internal/provider/datasource_subaccount_service_bindings.go
  internal/provider/datasource_subaccount_service_instances.go
  internal/provider/type_subaccount_service_instance.go
Due: gofmt, golangci-lint

fix: schema update of srvc mgr
  internal/btpcli/types/servicemanager/model_created_service_binding_response_object.go
  internal/btpcli/types/servicemanager/model_created_service_instance_response_object.go
  internal/btpcli/types/servicemanager/model_listed_service_binding_response_object.go
  internal/btpcli/types/servicemanager/model_listed_service_instance_response_object.go
  internal/btpcli/types/servicemanager/model_service_binding_response_object.go
  internal/btpcli/types/servicemanager/model_service_instance_response_object.go
  internal/btpcli/types/servicemanager/model_updated_service_instance_response_object.go
  internal/provider/datasource_subaccount_service_binding.go
  internal/provider/datasource_subaccount_service_bindings.go
  internal/provider/datasource_subaccount_service_instance.go
  internal/provider/datasource_subaccount_service_instances.go
  internal/provider/resource_subaccount_service_binding.go
  internal/provider/resource_subaccount_service_instance.go
  internal/provider/type_subaccount_service_binding.go
  internal/provider/type_subaccount_service_instance.go
Due: gofmt, golangci-lint

fix: recreation of docs due to schema change
  docs/data-sources/subaccount_service_binding.md
  docs/data-sources/subaccount_service_bindings.md
  docs/data-sources/subaccount_service_instance.md
  docs/data-sources/subaccount_service_instances.md
  docs/resources/subaccount_service_binding.md
  docs/resources/subaccount_service_instance.md
Due: none

fix: re-recording of fixtures first batch
  internal/provider/fixtures/datasource_subaccount_service_bindings.yaml
  internal/provider/fixtures/datasource_subaccount_service_instance.by_id.yaml
  internal/provider/fixtures/datasource_subaccount_service_instance.by_name.yaml
  internal/provider/fixtures/datasource_subaccount_service_instances.all.yaml
  internal/provider/fixtures/datasource_subaccount_service_instances.labelsfilter.yaml
  internal/provider/fixtures/datasource_subaccount_service_instances.namefilter.yaml
  internal/provider/fixtures/datasource_subaccount_service_instances.namefilter_variant.yaml
  internal/provider/fixtures/resource_subaccount_service_binding.import_error.yaml
  internal/provider/fixtures/resource_subaccount_service_binding.with_labels.yaml
  internal/provider/fixtures/resource_subaccount_service_binding.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.import_error.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.with_labels.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.with_labels_change.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.with_parameters.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.wo_parameters.yaml
  internal/provider/fixtures/resource_subaccount_service_instance_with_timeouts.yaml
Due: none

fix: remaining text fixtures
  internal/provider/datasource_subaccount_service_binding_test.go
  internal/provider/fixtures/datasource_subaccount_service_binding.by_id.yaml
  internal/provider/fixtures/datasource_subaccount_service_binding.by_name.yaml
Due: gofmt, golangci-lint

chore: enhance release wf with tests
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

test: Removes IDs From Resource Subaccount Service Offering Tests
  internal/provider/datasource_subaccount_service_offering_test.go
  internal/provider/fixtures/datasource_subaccount_service_offering.by_id.yaml
  internal/provider/fixtures/datasource_subaccount_service_offering.by_name.yaml
  internal/provider/fixtures/datasource_subaccount_service_offerings.all.yaml
  internal/provider/fixtures/datasource_subaccount_service_offerings.by_environment.yaml
  internal/provider/fixtures/datasource_subaccount_service_offerings.namefilter.yaml
Due: gofmt, golangci-lint

test: Removes IDs From Resource Subaccount Service Plan Tests
  internal/provider/datasource_subaccount_service_plan_test.go
  internal/provider/fixtures/datasource_subaccount_service_plan.by_id.yaml
  internal/provider/fixtures/datasource_subaccount_service_plan.by_name.yaml
  internal/provider/fixtures/datasource_subaccount_service_plans.all.yaml
  internal/provider/fixtures/datasource_subaccount_service_plans.cloudfoundry.yaml
  internal/provider/fixtures/datasource_subaccount_service_plans.namefilter.yaml
Due: gofmt, golangci-lint

test: Removes IDs From Resource Subaccount Subscription Tests
  internal/provider/datasource_subaccount_subscription_test.go
  internal/provider/fixtures/datasource_subaccount_subscription.by_id_and_plan.yaml
  internal/provider/fixtures/datasource_subaccount_subscriptions.yaml
Due: gofmt, golangci-lint

test: Removes IDs From Resource Subaccount Service Offering Tests (#611)
  internal/provider/datasource_subaccount_service_offering_test.go
  internal/provider/fixtures/datasource_subaccount_service_offering.by_id.yaml
  internal/provider/fixtures/datasource_subaccount_service_offering.by_name.yaml
  internal/provider/fixtures/datasource_subaccount_service_offerings.all.yaml
  internal/provider/fixtures/datasource_subaccount_service_offerings.by_environment.yaml
  internal/provider/fixtures/datasource_subaccount_service_offerings.namefilter.yaml
Due: gofmt, golangci-lint

includes service offering in service plan id filtering
  internal/provider/datasource_subaccount_service_plan_test.go
  internal/provider/fixtures/datasource_subaccount_service_plan.by_id.yaml
  internal/provider/fixtures/datasource_subaccount_service_plan.by_name.yaml
  internal/provider/fixtures/datasource_subaccount_service_plans.all.yaml
  internal/provider/fixtures/datasource_subaccount_service_plans.cloudfoundry.yaml
  internal/provider/fixtures/datasource_subaccount_service_plans.namefilter.yaml
Due: gofmt, golangci-lint

test: Removes IDs From Resource Subaccount Subscription Tests (#613)
  internal/provider/datasource_subaccount_subscription_test.go
  internal/provider/fixtures/datasource_subaccount_subscription.by_id_and_plan.yaml
  internal/provider/fixtures/datasource_subaccount_subscriptions.yaml
Due: gofmt, golangci-lint

test: Removes IDs From Datasource Subaccount Tests
  internal/provider/datasource_subaccount_test.go
  internal/provider/fixtures/datasource_subaccount.yaml
Due: gofmt, golangci-lint

chore: changes in test workflow for coverage upload
  .github/workflows/test.yml
Due: none

test: Removes IDs From Resource Subaccount Service Plan Tests (#612)
  internal/provider/datasource_subaccount_service_plan_test.go
  internal/provider/fixtures/datasource_subaccount_service_plan.by_id.yaml
  internal/provider/fixtures/datasource_subaccount_service_plan.by_name.yaml
  internal/provider/fixtures/datasource_subaccount_service_plans.all.yaml
  internal/provider/fixtures/datasource_subaccount_service_plans.cloudfoundry.yaml
  internal/provider/fixtures/datasource_subaccount_service_plans.namefilter.yaml
Due: gofmt, golangci-lint

test: Removes IDs From Datasource Subaccount Tests (#619)
  internal/provider/datasource_subaccount_test.go
  internal/provider/fixtures/datasource_subaccount.yaml
Due: gofmt, golangci-lint

chore: changes in test workflow for coverage upload (#620)
  .github/workflows/test.yml
Due: none

test: Removes IDs From Resource Directory Role Collection Tests
  internal/provider/fixtures/resource_directory_role_collection.error_import.yaml
  internal/provider/fixtures/resource_directory_role_collection.multiple_roles.yaml
  internal/provider/fixtures/resource_directory_role_collection.no_description.yaml
  internal/provider/fixtures/resource_directory_role_collection.update.yaml
  internal/provider/fixtures/resource_directory_role_collection.with_description.yaml
  internal/provider/resource_directory_role_collection_test.go
Due: gofmt, golangci-lint

chore: enhance feature request issue with auto reply
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/workflows/feature-request-response.yml
Due: none

test: Removes IDs From Resource Directory Role Collection Tests (#624)
  internal/provider/fixtures/resource_directory_role_collection.error_import.yaml
  internal/provider/fixtures/resource_directory_role_collection.multiple_roles.yaml
  internal/provider/fixtures/resource_directory_role_collection.no_description.yaml
  internal/provider/fixtures/resource_directory_role_collection.update.yaml
  internal/provider/fixtures/resource_directory_role_collection.with_description.yaml
  internal/provider/resource_directory_role_collection_test.go
Due: gofmt, golangci-lint

chore: refine release flow
  .github/workflows/schema-regression-test.yml
  regression-test/provider.tf
  regression-test/variables.tf
Due: terraformfmt

test: Removes IDs From Resource Subaccount Entitlement Tests
  internal/provider/fixtures/resource_subaccount_entitlement.amount_set.yaml
  internal/provider/fixtures/resource_subaccount_entitlement.dir_hierarchy.yaml
  internal/provider/fixtures/resource_subaccount_entitlement.no_amount.yaml
  internal/provider/fixtures/resource_subaccount_entitlement.update.yaml
  internal/provider/resource_subaccount_entitlement_test.go
Due: gofmt, golangci-lint

test: Removes IDs From Resource Subaccount Entitlement Tests (#626)
  internal/provider/fixtures/resource_subaccount_entitlement.amount_set.yaml
  internal/provider/fixtures/resource_subaccount_entitlement.dir_hierarchy.yaml
  internal/provider/fixtures/resource_subaccount_entitlement.no_amount.yaml
  internal/provider/fixtures/resource_subaccount_entitlement.update.yaml
  internal/provider/resource_subaccount_entitlement_test.go
Due: gofmt, golangci-lint

fix: update of service manager schema (#609)
  docs/data-sources/subaccount_service_binding.md
  docs/data-sources/subaccount_service_bindings.md
  docs/data-sources/subaccount_service_instance.md
  docs/data-sources/subaccount_service_instances.md
  docs/resources/subaccount_service_binding.md
  docs/resources/subaccount_service_instance.md
  internal/btpcli/types/servicemanager/model_created_service_binding_response_object.go
  internal/btpcli/types/servicemanager/model_created_service_instance_response_object.go
  internal/btpcli/types/servicemanager/model_listed_service_binding_response_object.go
  internal/btpcli/types/servicemanager/model_listed_service_instance_response_object.go
  internal/btpcli/types/servicemanager/model_service_binding_response_object.go
  internal/btpcli/types/servicemanager/model_service_instance_response_object.go
  internal/btpcli/types/servicemanager/model_updated_service_instance_response_object.go
  internal/provider/datasource_subaccount_service_binding.go
  internal/provider/datasource_subaccount_service_binding_test.go
  internal/provider/datasource_subaccount_service_bindings.go
  internal/provider/datasource_subaccount_service_instance.go
  internal/provider/datasource_subaccount_service_instances.go
  internal/provider/fixtures/datasource_subaccount_service_binding.by_id.yaml
  internal/provider/fixtures/datasource_subaccount_service_binding.by_name.yaml
  internal/provider/fixtures/datasource_subaccount_service_bindings.yaml
  internal/provider/fixtures/datasource_subaccount_service_instance.by_id.yaml
  internal/provider/fixtures/datasource_subaccount_service_instance.by_name.yaml
  internal/provider/fixtures/datasource_subaccount_service_instances.all.yaml
  internal/provider/fixtures/datasource_subaccount_service_instances.labelsfilter.yaml
  internal/provider/fixtures/datasource_subaccount_service_instances.namefilter.yaml
  internal/provider/fixtures/datasource_subaccount_service_instances.namefilter_variant.yaml
  internal/provider/fixtures/resource_subaccount_service_binding.import_error.yaml
  internal/provider/fixtures/resource_subaccount_service_binding.with_labels.yaml
  internal/provider/fixtures/resource_subaccount_service_binding.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.import_error.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.with_labels.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.with_labels_change.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.with_parameters.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.wo_parameters.yaml
  internal/provider/fixtures/resource_subaccount_service_instance_with_timeouts.yaml
  internal/provider/resource_subaccount_service_binding.go
  internal/provider/resource_subaccount_service_instance.go
  internal/provider/type_subaccount_service_binding.go
  internal/provider/type_subaccount_service_instance.go
Due: gofmt, golangci-lint

test: Removes IDs From Resource Subaccount Role Collection Tests
  internal/provider/fixtures/resource_subaccount_role_collection.import_error.yaml
  internal/provider/fixtures/resource_subaccount_role_collection.update.yaml
  internal/provider/fixtures/resource_subaccount_role_collection.update_rm_desc.yaml
  internal/provider/fixtures/resource_subaccount_role_collection.update_wo_desc.yaml
  internal/provider/fixtures/resource_subaccount_role_collection.yaml
  internal/provider/resource_subaccount_role_collection_test.go
Due: gofmt, golangci-lint

chore: enhance feature request issue with auto reply (#623)
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/workflows/feature-request-response.yml
Due: none

test: Removes IDs From Resource Subaccount Service Binding Tests
  internal/provider/fixtures/resource_subaccount_service_binding.import_error.yaml
  internal/provider/fixtures/resource_subaccount_service_binding.with_labels.yaml
  internal/provider/fixtures/resource_subaccount_service_binding.yaml
  internal/provider/resource_subaccount_service_binding_test.go
Due: gofmt, golangci-lint

test: Removes IDs From Resource Subaccount Role Collection Tests (#627)
  internal/provider/fixtures/resource_subaccount_role_collection.import_error.yaml
  internal/provider/fixtures/resource_subaccount_role_collection.update.yaml
  internal/provider/fixtures/resource_subaccount_role_collection.update_rm_desc.yaml
  internal/provider/fixtures/resource_subaccount_role_collection.update_wo_desc.yaml
  internal/provider/fixtures/resource_subaccount_role_collection.yaml
  internal/provider/resource_subaccount_role_collection_test.go
Due: gofmt, golangci-lint

test: fix linting error
  internal/provider/resource_subaccount_service_binding_test.go
Due: gofmt, golangci-lint

test: Removes IDs From Resource Subaccount Service Binding Tests (#628)
  internal/provider/fixtures/resource_subaccount_service_binding.import_error.yaml
  internal/provider/fixtures/resource_subaccount_service_binding.with_labels.yaml
  internal/provider/fixtures/resource_subaccount_service_binding.yaml
  internal/provider/resource_subaccount_service_binding_test.go
Due: gofmt, golangci-lint

chore: enhance release workflow with tests (#598)
  .github/workflows/release.yml
  .github/workflows/schema-regression-test.yml
  .github/workflows/test.yml
  regression-test/provider.tf
  regression-test/variables.tf
Due: terraformfmt
