Repository SAP/terraform-provider-btp: changes, and which lefthook commands are due for each by the changed paths.
All: gofmt, golangci-lint, terraformfmt

gofmt:
  run: go fmt ./...

golangci-lint:
  run: golangci-lint run --fix

terraformfmt:
  run: terraform fmt {staged_files}

docs: formatting fixes
  docs/data-sources/directory_user.md
  docs/data-sources/globalaccount_entitlements.md
  docs/data-sources/subaccount_entitlements.md
  internal/provider/datasource_directory_user.go
  internal/provider/datasource_globalaccount_entitlements.go
  internal/provider/datasource_subaccount_entitlements.go
Due: gofmt, golangci-lint

docs: integrate community feedback
  docs/index.md
  tech-docs/DRIFTDETECTION.md
  templates/index.md.tmpl
Due: none

fix: transfer human readable error message from service broker
  internal/provider/resource_subaccount_service_instance.go
Due: gofmt, golangci-lint

chore: version cleanup of TF, inclusion of version 1.8.x
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/test.yml
Due: none

fix: transfer human readable error message from service broker (#771)
  internal/provider/resource_subaccount_service_instance.go
Due: gofmt, golangci-lint

docs: renamed folder after review
  docs/index.md
  guides/DRIFTDETECTION.md
  guides/IMPORT.md
  templates/index.md.tmpl
Due: none

chore: version cleanup of TF, inclusion of version 1.8.x (#772)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/test.yml
Due: none

docs: improve drift and import description (#769)
  docs/index.md
  guides/DRIFTDETECTION.md
  guides/IMPORT.md
  templates/index.md.tmpl
Due: none

chore: set tf docs plugin version to 0.18.0
  main.go
Due: gofmt, golangci-lint

chore: set tf docs plugin version to 0.18.0 (#773)
  main.go
Due: gofmt, golangci-lint

docs: regenerate docs with updated plugin
  docs/data-sources/directory.md
  docs/data-sources/directory_entitlements.md
  docs/data-sources/directory_labels.md
  docs/data-sources/directory_roles.md
  docs/data-sources/directory_users.md
  docs/data-sources/globalaccount.md
  docs/data-sources/globalaccount_roles.md
  docs/data-sources/globalaccount_security_settings.md
  docs/data-sources/globalaccount_trust_configuration.md
  docs/data-sources/globalaccount_trust_configurations.md
  docs/data-sources/globalaccount_users.md
  docs/data-sources/globalaccount_with_hierarchy.md
  docs/data-sources/subaccount_labels.md
  docs/data-sources/subaccount_roles.md
  docs/data-sources/subaccount_security_settings.md
  docs/data-sources/subaccount_trust_configuration.md
  docs/data-sources/subaccount_trust_configurations.md
  docs/data-sources/subaccount_users.md
  docs/resources/directory.md
  docs/resources/directory_entitlement.md
  docs/resources/directory_role_collection.md
  docs/resources/globalaccount_resource_provider.md
  docs/resources/globalaccount_role_collection.md
  docs/resources/globalaccount_security_settings.md
  docs/resources/globalaccount_trust_configuration.md
  docs/resources/subaccount.md
  docs/resources/subaccount_entitlement.md
  docs/resources/subaccount_environment_instance.md
  docs/resources/subaccount_role_collection.md
  docs/resources/subaccount_security_settings.md
  docs/resources/subaccount_trust_configuration.md
  main.go
Due: gofmt, golangci-lint

docs: regenerate docs with updated plugin (#775)
  docs/data-sources/directory.md
  docs/data-sources/directory_entitlements.md
  docs/data-sources/directory_labels.md
  docs/data-sources/directory_roles.md
  docs/data-sources/directory_users.md
  docs/data-sources/globalaccount.md
  docs/data-sources/globalaccount_roles.md
  docs/data-sources/globalaccount_security_settings.md
  docs/data-sources/globalaccount_trust_configuration.md
  docs/data-sources/globalaccount_trust_configurations.md
  docs/data-sources/globalaccount_users.md
  docs/data-sources/globalaccount_with_hierarchy.md
  docs/data-sources/subaccount_labels.md
  docs/data-sources/subaccount_roles.md
  docs/data-sources/subaccount_security_settings.md
  docs/data-sources/subaccount_trust_configuration.md
  docs/data-sources/subaccount_trust_configurations.md
  docs/data-sources/subaccount_users.md
  docs/resources/directory.md
  docs/resources/directory_entitlement.md
  docs/resources/directory_role_collection.md
  docs/resources/globalaccount_resource_provider.md
  docs/resources/globalaccount_role_collection.md
  docs/resources/globalaccount_security_settings.md
  docs/resources/globalaccount_trust_configuration.md
  docs/resources/subaccount.md
  docs/resources/subaccount_entitlement.md
  docs/resources/subaccount_environment_instance.md
  docs/resources/subaccount_role_collection.md
  docs/resources/subaccount_security_settings.md
  docs/resources/subaccount_trust_configuration.md
  main.go
Due: gofmt, golangci-lint

fix: state persistency after failure
  internal/provider/resource_subaccount_service_instance.go
Due: gofmt, golangci-lint

fix: re-recording of fixtures
  internal/provider/fixtures/resource_subaccount_service_instance.import_error.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.sharing_error.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.with_labels.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.with_labels_change.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.with_parameters.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.with_sharing_conf_changed.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.with_sharing_enabled.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.wo_parameters.yaml
  internal/provider/fixtures/resource_subaccount_service_instance_with_timeouts.yaml
Due: none

docs: add description of access to sensitve data
  .vscode/settings.json
  README.md
  assets/plan_change_sensitive.png
  assets/plan_create_sensitive.png
  assets/tfplan_json_sensitive.png
  guides/SENSITIVEDATA.md
Due: none

docs: resize images
  assets/plan_change_sensitive.png
  assets/plan_create_sensitive.png
  assets/tfplan_json_sensitive.png
  guides/SENSITIVEDATA.md
Due: none

fix: cspell
  .vscode/settings.json
Due: none

docs: new guide for sensitive data (service instance parameters) (#782)
  .vscode/settings.json
  README.md
  assets/plan_change_sensitive.png
  assets/plan_create_sensitive.png
  assets/tfplan_json_sensitive.png
  guides/SENSITIVEDATA.md
Due: none

fix: state handling for service instance creation or update fails (#780)
  internal/provider/fixtures/resource_subaccount_service_instance.import_error.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.sharing_error.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.with_labels.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.with_labels_change.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.with_parameters.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.with_sharing_conf_changed.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.with_sharing_enabled.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.wo_parameters.yaml
  internal/provider/fixtures/resource_subaccount_service_instance_with_timeouts.yaml
  internal/provider/resource_subaccount_service_instance.go
Due: gofmt, golangci-lint

docs: fix issue with drifted documentation due to terraform-docs fix in version 0.19.1
  docs/data-sources/directory.md
  docs/data-sources/directory_labels.md
  docs/data-sources/directory_roles.md
  docs/data-sources/directory_users.md
  docs/data-sources/globalaccount.md
  docs/data-sources/globalaccount_roles.md
  docs/data-sources/globalaccount_security_settings.md
  docs/data-sources/globalaccount_trust_configuration.md
  docs/data-sources/globalaccount_trust_configurations.md
  docs/data-sources/globalaccount_users.md
  docs/data-sources/globalaccount_with_hierarchy.md
  docs/data-sources/subaccount_labels.md
  docs/data-sources/subaccount_roles.md
  docs/data-sources/subaccount_security_settings.md
  docs/data-sources/subaccount_trust_configuration.md
  docs/data-sources/subaccount_trust_configurations.md
  docs/data-sources/subaccount_users.md
  docs/resources/directory.md
  docs/resources/directory_entitlement.md
  docs/resources/directory_role_collection.md
  docs/resources/globalaccount_resource_provider.md
  docs/resources/globalaccount_role_collection.md
  docs/resources/globalaccount_security_settings.md
  docs/resources/globalaccount_trust_configuration.md
  docs/resources/subaccount.md
  docs/resources/subaccount_entitlement.md
  docs/resources/subaccount_environment_instance.md
  docs/resources/subaccount_role_collection.md
  docs/resources/subaccount_security_settings.md
  docs/resources/subaccount_trust_configuration.md
Due: none

docs: fix issue with drifted documentation due to terraform-docs fix in version 0.19.1 (#787)
  docs/data-sources/directory.md
  docs/data-sources/directory_labels.md
  docs/data-sources/directory_roles.md
  docs/data-sources/directory_users.md
  docs/data-sources/globalaccount.md
  docs/data-sources/globalaccount_roles.md
  docs/data-sources/globalaccount_security_settings.md
  docs/data-sources/globalaccount_trust_configuration.md
  docs/data-sources/globalaccount_trust_configurations.md
  docs/data-sources/globalaccount_users.md
  docs/data-sources/globalaccount_with_hierarchy.md
  docs/data-sources/subaccount_labels.md
  docs/data-sources/subaccount_roles.md
  docs/data-sources/subaccount_security_settings.md
  docs/data-sources/subaccount_trust_configuration.md
  docs/data-sources/subaccount_trust_configurations.md
  docs/data-sources/subaccount_users.md
  docs/resources/directory.md
  docs/resources/directory_entitlement.md
  docs/resources/directory_role_collection.md
  docs/resources/globalaccount_resource_provider.md
  docs/resources/globalaccount_role_collection.md
  docs/resources/globalaccount_security_settings.md
  docs/resources/globalaccount_trust_configuration.md
  docs/resources/subaccount.md
  docs/resources/subaccount_entitlement.md
  docs/resources/subaccount_environment_instance.md
  docs/resources/subaccount_role_collection.md
  docs/resources/subaccount_security_settings.md
  docs/resources/subaccount_trust_configuration.md
Due: none

docs: add description to ds subscriptions
  internal/provider/datasource_subaccount_subscriptions.go
Due: gofmt, golangci-lint

docs: missing description
  docs/data-sources/subaccount_subscriptions.md
  internal/provider/datasource_subaccount_subscriptions.go
Due: gofmt, golangci-lint

docs: issue 784 (#788)
  docs/data-sources/subaccount_subscriptions.md
  internal/provider/datasource_subaccount_subscriptions.go
Due: gofmt, golangci-lint

api-credential resource
  internal/btpcli/client.go
  internal/btpcli/facade_security.go
  internal/btpcli/facade_security_api_credential.go
  internal/btpcli/types/xsuaa_api/model_api_credential_create.go
  internal/provider/provider.go
  internal/provider/resource_subaccount_api_credential.go
  internal/provider/type_subaccount_api_credential.go
Due: gofmt, golangci-lint

Temporarly Disable Check
  .github/workflows/release.yml
Due: none

bug: Update release.yml
  .github/workflows/release.yml
Due: none

fix: Update release.yml
  .github/workflows/release.yml
Due: none

fix: Temporarly Disable Check (#796)
  .github/workflows/release.yml
Due: none

fix: Issue 795
  .github/workflows/release.yml
Due: none

fix: Revert Release Workflow
  .github/workflows/release.yml
Due: none

fix: Revert Release Workflow (#797)
  .github/workflows/release.yml
Due: none

docs: typo in import comment
  docs/resources/globalaccount_trust_configuration.md
  docs/resources/subaccount_trust_configuration.md
  examples/resources/btp_globalaccount_trust_configuration/import.sh
  examples/resources/btp_subaccount_trust_configuration/import.sh
Due: none

docs: typo in import comment (#799)
  docs/resources/globalaccount_trust_configuration.md
  docs/resources/subaccount_trust_configuration.md
  examples/resources/btp_globalaccount_trust_configuration/import.sh
  examples/resources/btp_subaccount_trust_configuration/import.sh
Due: none

chore: prep release 1.3.0
  .github/ISSUE_TEMPLATE/bug_report.yml
  docs/index.md
  examples/provider/provider.tf
  integration/provider.tf
Due: terraformfmt

chore: prep release 1.3.0 (#802)
  .github/ISSUE_TEMPLATE/bug_report.yml
  docs/index.md
  examples/provider/provider.tf
  integration/provider.tf
Due: terraformfmt

chore: fix permission for reusable workflow
  .github/workflows/release.yml
Due: none

Path conditions:
  gofmt: any of: *.go, but not: vendor/*
  golangci-lint: any of: *.go, but not: vendor/*
  terraformfmt: any of: *.tf, but not: vendor/*
