Repository SAP/terraform-provider-btp: changes, and which lefthook commands are due for each by the changed paths.
All: gofmt, golangci-lint, terraformfmt

gofmt:
  run: go fmt ./...

golangci-lint:
  run: golangci-lint run --fix

terraformfmt:
  run: terraform fmt {staged_files}

test: Removes IDs From Resource Subaccount Service Instance Tests
  internal/provider/fixtures/resource_directory_entitlement.amount_set.yaml
  internal/provider/fixtures/resource_directory_entitlement.no_amount.yaml
  internal/provider/fixtures/resource_directory_entitlement.no_amount_with_flags.yaml
  internal/provider/fixtures/resource_directory_entitlement.update.yaml
  internal/provider/fixtures/resource_directory_entitlement.update_with_flags.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.import_error.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.with_labels.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.with_labels_change.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.with_parameters.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.wo_parameters.yaml
  internal/provider/fixtures/resource_subaccount_service_instance_with_timeouts.yaml
  internal/provider/resource_subaccount_service_instance_test.go
Due: gofmt, golangci-lint

test: Removes IDs From Resource Subaccount Subscription Tests
  internal/provider/fixtures/resource_subaccount_subscription.import_error.yaml
  internal/provider/fixtures/resource_subaccount_subscription.yaml
  internal/provider/resource_subaccount_subscription_test.go
Due: gofmt, golangci-lint

test: Removes IDs From Resource Subaccount Trust Configuration Tests
  internal/provider/fixtures/resource_subaccount_trust_configuration.complete.yaml
  internal/provider/fixtures/resource_subaccount_trust_configuration.error_missing_identityprovider.yaml
  internal/provider/fixtures/resource_subaccount_trust_configuration.import_error.yaml
  internal/provider/fixtures/resource_subaccount_trust_configuration.minimal.yaml
  internal/provider/resource_subaccount_trust_configuration_test.go
Due: gofmt, golangci-lint

fixes linting issue
  internal/provider/resource_subaccount_service_instance_test.go
Due: gofmt, golangci-lint

fixes linting issue
  internal/provider/resource_subaccount_subscription_test.go
Due: gofmt, golangci-lint

fixes linting issue
  internal/provider/resource_subaccount_trust_configuration_test.go
Due: gofmt, golangci-lint

test: Removes IDs From Resource Subaccount Service Instance Tests (#631)
  internal/provider/fixtures/resource_directory_entitlement.amount_set.yaml
  internal/provider/fixtures/resource_directory_entitlement.no_amount.yaml
  internal/provider/fixtures/resource_directory_entitlement.no_amount_with_flags.yaml
  internal/provider/fixtures/resource_directory_entitlement.update.yaml
  internal/provider/fixtures/resource_directory_entitlement.update_with_flags.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.import_error.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.with_labels.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.with_labels_change.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.with_parameters.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.wo_parameters.yaml
  internal/provider/fixtures/resource_subaccount_service_instance_with_timeouts.yaml
  internal/provider/resource_subaccount_service_instance_test.go
Due: gofmt, golangci-lint

test: Removes IDs From Resource Subaccount Subscription Tests (#632)
  internal/provider/fixtures/resource_subaccount_subscription.import_error.yaml
  internal/provider/fixtures/resource_subaccount_subscription.yaml
  internal/provider/resource_subaccount_subscription_test.go
Due: gofmt, golangci-lint

test: Removes IDs From Resource Subaccount Trust Configuration Tests (#633)
  internal/provider/fixtures/resource_subaccount_trust_configuration.complete.yaml
  internal/provider/fixtures/resource_subaccount_trust_configuration.error_missing_identityprovider.yaml
  internal/provider/fixtures/resource_subaccount_trust_configuration.import_error.yaml
  internal/provider/fixtures/resource_subaccount_trust_configuration.minimal.yaml
  internal/provider/resource_subaccount_trust_configuration_test.go
Due: gofmt, golangci-lint

test: Removes IDs From Resource Directory Entitlement Tests
  internal/provider/fixtures/resource_directory_entitlement.amount_set.yaml
  internal/provider/fixtures/resource_directory_entitlement.no_amount.yaml
  internal/provider/fixtures/resource_directory_entitlement.no_amount_with_flags.yaml
  internal/provider/fixtures/resource_directory_entitlement.update.yaml
  internal/provider/fixtures/resource_directory_entitlement.update_with_flags.yaml
  internal/provider/resource_directory_entitlement_test.go
Due: gofmt, golangci-lint

rerecording fixtures
  internal/provider/fixtures/resource_directory_entitlement.amount_set.yaml
  internal/provider/fixtures/resource_directory_entitlement.no_amount.yaml
  internal/provider/fixtures/resource_directory_entitlement.no_amount_with_flags.yaml
  internal/provider/fixtures/resource_directory_entitlement.update.yaml
  internal/provider/fixtures/resource_directory_entitlement.update_with_flags.yaml
Due: none

test: Removes IDs From Resource Subaccount Environment Instance Tests
  internal/provider/fixtures/resource_subaccount_environment_instance.update.yaml
  internal/provider/fixtures/resource_subaccount_environment_instance.with_timeout.yaml
  internal/provider/fixtures/resource_subaccount_environment_instance.yaml
  internal/provider/resource_subaccount_environment_instance_test.go
Due: gofmt, golangci-lint

test: Removes IDs From Resource Subaccount Environment Instance Tests (#635)
  internal/provider/fixtures/resource_subaccount_environment_instance.update.yaml
  internal/provider/fixtures/resource_subaccount_environment_instance.with_timeout.yaml
  internal/provider/fixtures/resource_subaccount_environment_instance.yaml
  internal/provider/resource_subaccount_environment_instance_test.go
Due: gofmt, golangci-lint

test: Removes IDs From Resource Directory Entitlement Tests (#634)
  internal/provider/fixtures/resource_directory_entitlement.amount_set.yaml
  internal/provider/fixtures/resource_directory_entitlement.no_amount.yaml
  internal/provider/fixtures/resource_directory_entitlement.no_amount_with_flags.yaml
  internal/provider/fixtures/resource_directory_entitlement.update.yaml
  internal/provider/fixtures/resource_directory_entitlement.update_with_flags.yaml
  internal/provider/resource_directory_entitlement_test.go
Due: gofmt, golangci-lint

fix: replace typed error with generic JSON response
  internal/btpcli/types/servicemanager/model_operation_response_object.go
Due: gofmt, golangci-lint

chore: cleanup dev container setup for remote
  .devcontainer/default/devcontainer.json
  .devcontainer/default_remote/devcontainer.json
  .devcontainer/withenvfile/devcontainer.json
  .devcontainer/withenvfile_remote/devcontainer.json
Due: none

chore: remove outdated TF version
  .github/workflows/test.yml
Due: none

chore: cleanup dev container setup for remote (#641)
  .devcontainer/default/devcontainer.json
  .devcontainer/default_remote/devcontainer.json
  .devcontainer/withenvfile/devcontainer.json
  .devcontainer/withenvfile_remote/devcontainer.json
Due: none

fix: replace typed error with generic JSON response (#642)
  internal/btpcli/types/servicemanager/model_operation_response_object.go
Due: gofmt, golangci-lint

chore: remove outdated TF version (#643)
  .github/workflows/test.yml
Due: none

fix: regression test setup
  .github/workflows/schema-regression-test.yml
  regression-test/main.tf
Due: terraformfmt

fix: woraround for RC2
  .github/workflows/release.yml
Due: none

chore: fix link checker
  .github/workflows/links-watcher-cron.yml
Due: none

docs: fix broken links
  DEVELOPER.md
Due: none

chore: fix link checker (#655)
  .github/workflows/links-watcher-cron.yml
  DEVELOPER.md
Due: none

Fix/regression test (#652)
  .github/workflows/release.yml
  .github/workflows/schema-regression-test.yml
  regression-test/main.tf
Due: terraformfmt

chore: opentofu compatibility check
  .github/workflows/compatibility-test.yml
  assets/compat_template.md
Due: none

ci: Adds flexible IDP configuration to GA setup TF scripts
  integration/README.md
  integration/main.tf
  integration/variables.tf
Due: terraformfmt

replacing timestamp with variable
  integration/main.tf
  integration/variables.tf
Due: terraformfmt

Update feature-request-response.yml
  .github/workflows/feature-request-response.yml
Due: none

Update feature-request-response.yml (#659)
  .github/workflows/feature-request-response.yml
Due: none

chore: opentofu compatibility check (#657)
  .github/workflows/compatibility-test.yml
  assets/compat_template.md
Due: none

chore: include version 1.7
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/test.yml
Due: none

chore: include version 1.7 (#663)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/test.yml
Due: none

ci: Adds flexible IDP configuration to GA setup TF scripts (#660)
  integration/README.md
  integration/main.tf
  integration/variables.tf
Due: terraformfmt

docs: wrong path to devcontainer configuration
  DEVELOPER.md
Due: none

docs: wrong path to devcontainer configuration (#668)
  DEVELOPER.md
Due: none

chore: prep work for rc2
  .github/ISSUE_TEMPLATE/bug_report.yml
  docs/index.md
  examples/provider/provider.tf
  integration/provider.tf
  regression-test/provider.tf
Due: terraformfmt

chore: prep work for rc2 (#670)
  .github/ISSUE_TEMPLATE/bug_report.yml
  docs/index.md
  examples/provider/provider.tf
  integration/provider.tf
  regression-test/provider.tf
Due: terraformfmt

chore: remove test step for release
  .github/workflows/release.yml
Due: none

Path conditions:
  gofmt: any of: *.go, but not: vendor/*
  golangci-lint: any of: *.go, but not: vendor/*
  terraformfmt: any of: *.tf, but not: vendor/*
