Repository SAP/terraform-provider-btp: changes, and which lefthook commands are due for each by the changed paths.
All: gofmt, golangci-lint, terraformfmt

gofmt:
  run: go fmt ./...

golangci-lint:
  run: golangci-lint run --fix

terraformfmt:
  run: terraform fmt {staged_files}

changed the variable name
  btp/provider/datasource_subaccount_destination.go
Due: gofmt, golangci-lint

changed tests
  btp/provider/datasource_subaccount_destination.go
  btp/provider/datasource_subaccount_destination_test.go
  btp/provider/fixtures/datasource_subaccount_destination.yaml
  btp/provider/type_destination.go
  docs/data-sources/subaccount_destination.md
  examples/data-sources/btp_subaccount_destination/data-source.tf
Due: gofmt, golangci-lint, terraformfmt

test correction and re-record fixtures
  btp/provider/datasource_subaccount_destination.go
  btp/provider/datasource_subaccount_destination_test.go
  btp/provider/fixtures/datasource_subaccount_destination_with_service_instance.yaml
  docs/data-sources/subaccount_destination.md
  internal/btpcli/facade_connectivity_destination_test.go
Due: gofmt, golangci-lint

rebase
  internal/btpcli/facade_connectivity.go
Due: gofmt, golangci-lint

minor fix
  btp/provider/resource_subaccount_destination_certificate_test.go
Due: gofmt, golangci-lint

feat: Datasource for destination (#1275)
  btp/provider/datasource_subaccount_destination.go
  btp/provider/datasource_subaccount_destination_test.go
  btp/provider/fixtures/datasource_subaccount_destination_not_found.yaml
  btp/provider/fixtures/datasource_subaccount_destination_with_service_instance.yaml
  btp/provider/fixtures/datasource_subaccount_destination_without_service_instance.yaml
  btp/provider/provider.go
  btp/provider/provider_test.go
  btp/provider/type_destination.go
  docs/data-sources/subaccount_destination.md
  examples/data-sources/btp_subaccount_destination/data-source.tf
  internal/btpcli/facade_connectivity.go
  internal/btpcli/facade_connectivity_destination.go
  internal/btpcli/facade_connectivity_destination_test.go
  internal/btpcli/types/connectivity/destination_response_object.go
Due: gofmt, golangci-lint, terraformfmt

feat: enable mTls authentication for service broker
  btp/provider/fixtures/resource_subaccount_service_broker.yaml
  btp/provider/fixtures/resource_subaccount_service_broker_error.yaml
  btp/provider/resource_subaccount_service_broker.go
  btp/provider/resource_subaccount_service_broker_test.go
  internal/btpcli/facade_services_broker.go
  internal/validation/conflictwithmtlsvalidator/conflictwithmtlsvalidator.go
Due: gofmt, golangci-lint

updating docs
  btp/provider/resource_subaccount_service_broker.go
  docs/resources/subaccount_service_broker.md
Due: gofmt, golangci-lint

fix: modified the handling of empty strings in the state file
  btp/provider/type_subaccount_destination_certificate.go
Due: gofmt, golangci-lint

fix: review comments addressed
  btp/provider/datasource_subaccount_destination_certificate.go
  btp/provider/datasource_subaccount_destination_certificates.go
  btp/provider/resource_subaccount_destination_certificate.go
  docs/data-sources/subaccount_destination_certificate.md
  docs/data-sources/subaccount_destination_certificates.md
  docs/resources/subaccount_destination_certificate.md
Due: gofmt, golangci-lint

minor fix
  btp/provider/resource_subaccount_destination_certificate.go
Due: gofmt, golangci-lint

update tests
  internal/btpcli/facade_services_broker_test.go
Due: gofmt, golangci-lint

feat: resource destination-certificate (#1279)
  btp/provider/datasource_subaccount_destination_certificate.go
  btp/provider/datasource_subaccount_destination_certificates.go
  btp/provider/fixtures/resource_subaccount_destination_certificate.create_p12_certificate.yaml
  btp/provider/fixtures/resource_subaccount_destination_certificate.create_pem_certificate.yaml
  btp/provider/fixtures/resource_subaccount_destination_certificate.create_pfx_certificate.yaml
  btp/provider/fixtures/resource_subaccount_destination_certificate.service_instance.create_p12_certificate.yaml
  btp/provider/fixtures/resource_subaccount_destination_certificate.service_instance.create_pem_certificate.yaml
  btp/provider/fixtures/resource_subaccount_destination_certificate.service_instance.create_pfx_certificate.yaml
  btp/provider/provider.go
  btp/provider/provider_test.go
  btp/provider/resource_subaccount_destination_certificate.go
  btp/provider/resource_subaccount_destination_certificate_test.go
  btp/provider/type_subaccount_destination_certificate.go
  docs/data-sources/subaccount_destination_certificates.md
  docs/resources/subaccount_destination_certificate.md
  examples/resources/btp_subaccount_destination_certificate/resource.tf
  go.mod
  go.sum
  internal/btpcli/facade_connectivity_destination_certificates.go
  internal/btpcli/facade_connectivity_destination_certificates_test.go
  internal/tfutils/certificate_generator.go
  internal/tfutils/certificate_generator_test.go
Due: gofmt, golangci-lint, terraformfmt

update docs
  btp/provider/resource_subaccount_service_broker.go
  docs/resources/subaccount_service_broker.md
Due: gofmt, golangci-lint

data source for destinations lists
  btp/provider/datasource_subaccount_destinations.go
  btp/provider/datasource_subaccount_destinations_test.go
  btp/provider/fixtures/datasource_subaccount_destinations_failure.yaml
  btp/provider/fixtures/datasource_subaccount_destinations_names_with_service_instance.yaml
  btp/provider/fixtures/datasource_subaccount_destinations_names_without_service_instance.yaml
  btp/provider/fixtures/datasource_subaccount_destinations_with_service_instance.yaml
  btp/provider/fixtures/datasource_subaccount_destinations_without_service_instance.yaml
  btp/provider/provider.go
  btp/provider/provider_test.go
  docs/data-sources/subaccount_destinations.md
  examples/data-sources/btp_subaccount_destinations/data-source.tf
  internal/btpcli/facade_connectivity_destination.go
  internal/btpcli/facade_connectivity_destination_test.go
  internal/btpcli/facade_test.go
  internal/btpcli/types/connectivity/destination_response_object.go
Due: gofmt, golangci-lint, terraformfmt

added names model
  btp/provider/type_destination.go
Due: gofmt, golangci-lint

minor name changes
  btp/provider/datasource_subaccount_destinations.go
  docs/data-sources/subaccount_destinations.md
  internal/btpcli/facade_connectivity_destination_test.go
Due: gofmt, golangci-lint

feat: data source for destinations lists (#1281)
  btp/provider/datasource_subaccount_destinations.go
  btp/provider/datasource_subaccount_destinations_test.go
  btp/provider/fixtures/datasource_subaccount_destinations_failure.yaml
  btp/provider/fixtures/datasource_subaccount_destinations_names_with_service_instance.yaml
  btp/provider/fixtures/datasource_subaccount_destinations_names_without_service_instance.yaml
  btp/provider/fixtures/datasource_subaccount_destinations_with_service_instance.yaml
  btp/provider/fixtures/datasource_subaccount_destinations_without_service_instance.yaml
  btp/provider/provider.go
  btp/provider/provider_test.go
  btp/provider/type_destination.go
  docs/data-sources/subaccount_destinations.md
  examples/data-sources/btp_subaccount_destinations/data-source.tf
  internal/btpcli/facade_connectivity_destination.go
  internal/btpcli/facade_connectivity_destination_test.go
  internal/btpcli/facade_test.go
  internal/btpcli/types/connectivity/destination_response_object.go
Due: gofmt, golangci-lint, terraformfmt

chore: add GH Action workflow for validating format of examples
  .github/workflows/terraform_format_check.yml
Due: none

chore: add GH Action workflow for validating format of examples (#1284)
  .github/workflows/terraform_format_check.yml
Due: none

Update docs/data-sources/subaccount_destination.md
  docs/data-sources/subaccount_destination.md
Due: none

docs: refinement of docs for destinations
  docs/data-sources/subaccount_destination.md
  docs/data-sources/subaccount_destination_certificate.md
  docs/data-sources/subaccount_destination_certificates.md
  docs/data-sources/subaccount_destination_fragment.md
  docs/data-sources/subaccount_destination_fragments.md
  docs/data-sources/subaccount_destination_trust.md
  docs/data-sources/subaccount_destinations.md
  docs/resources/directory_api_credential.md
  docs/resources/globalaccount_api_credential.md
  docs/resources/globalaccount_resource_provider.md
  docs/resources/globalaccount_security_settings.md
  docs/resources/subaccount_api_credential.md
  docs/resources/subaccount_destination_certificate.md
  docs/resources/subaccount_destination_fragment.md
  docs/resources/subaccount_security_settings.md
  examples/data-sources/btp_subaccount_destination/data-source.tf
  examples/data-sources/btp_subaccount_destination_certificate/data-source.tf
  examples/data-sources/btp_subaccount_destination_certificates/data-source.tf
  examples/data-sources/btp_subaccount_destination_fragment/data-source.tf
  examples/data-sources/btp_subaccount_destination_fragments/data-source.tf
  examples/data-sources/btp_subaccount_destination_trust/data-source.tf
  examples/data-sources/btp_subaccount_destinations/data-source.tf
  examples/resources/btp_directory_api_credential/resource.tf
  examples/resources/btp_globalaccount_api_credential/resource.tf
  examples/resources/btp_globalaccount_resource_provider/resource.tf
  examples/resources/btp_globalaccount_security_settings/resource.tf
  examples/resources/btp_subaccount_api_credential/resource.tf
  examples/resources/btp_subaccount_destination_certificate/resource.tf
  examples/resources/btp_subaccount_destination_fragment/resource.tf
  examples/resources/btp_subaccount_security_settings/resource.tf
Due: terraformfmt

Update examples/data-sources/btp_subaccount_destination/data-source.tf
  examples/data-sources/btp_subaccount_destination/data-source.tf
Due: terraformfmt

Update docs/resources/subaccount_destination_fragment.md
  docs/resources/subaccount_destination_fragment.md
Due: none

docs: fixes from review
  docs/data-sources/subaccount_destination_certificate.md
  docs/data-sources/subaccount_destination_certificates.md
  docs/data-sources/subaccount_destination_fragment.md
  docs/data-sources/subaccount_destination_fragments.md
  docs/data-sources/subaccount_destinations.md
  docs/resources/subaccount_destination_certificate.md
  docs/resources/subaccount_destination_fragment.md
  examples/data-sources/btp_subaccount_destination_certificate/data-source.tf
  examples/data-sources/btp_subaccount_destination_certificates/data-source.tf
  examples/data-sources/btp_subaccount_destination_fragments/data-source.tf
  examples/data-sources/btp_subaccount_destinations/data-source.tf
  examples/resources/btp_subaccount_destination_certificate/resource.tf
  examples/resources/btp_subaccount_destination_fragment/resource.tf
Due: terraformfmt

Update examples/resources/btp_subaccount_destination_fragment/resource.tf
  examples/resources/btp_subaccount_destination_fragment/resource.tf
Due: terraformfmt

Update examples/data-sources/btp_subaccount_destination_fragment/data-source.tf
  examples/data-sources/btp_subaccount_destination_fragment/data-source.tf
Due: terraformfmt

Update examples/data-sources/btp_subaccount_destination_fragments/data-source.tf
  examples/data-sources/btp_subaccount_destination_fragments/data-source.tf
Due: terraformfmt

fix: terraform fmt
  examples/data-sources/btp_subaccount_destinations/data-source.tf
  regression-test/main.tf
Due: terraformfmt

docs: regenerate docs
  docs/data-sources/subaccount_destinations.md
Due: none

docs: refinement of docs for destinations (#1283)
  docs/data-sources/subaccount_destination.md
  docs/data-sources/subaccount_destination_certificate.md
  docs/data-sources/subaccount_destination_certificates.md
  docs/data-sources/subaccount_destination_fragment.md
  docs/data-sources/subaccount_destination_fragments.md
  docs/data-sources/subaccount_destination_trust.md
  docs/data-sources/subaccount_destinations.md
  docs/resources/directory_api_credential.md
  docs/resources/globalaccount_api_credential.md
  docs/resources/globalaccount_resource_provider.md
  docs/resources/globalaccount_security_settings.md
  docs/resources/subaccount_api_credential.md
  docs/resources/subaccount_destination_certificate.md
  docs/resources/subaccount_destination_fragment.md
  docs/resources/subaccount_security_settings.md
  examples/data-sources/btp_subaccount_destination/data-source.tf
  examples/data-sources/btp_subaccount_destination_certificate/data-source.tf
  examples/data-sources/btp_subaccount_destination_certificates/data-source.tf
  examples/data-sources/btp_subaccount_destination_fragment/data-source.tf
  examples/data-sources/btp_subaccount_destination_fragments/data-source.tf
  examples/data-sources/btp_subaccount_destination_trust/data-source.tf
  examples/data-sources/btp_subaccount_destinations/data-source.tf
  examples/resources/btp_directory_api_credential/resource.tf
  examples/resources/btp_globalaccount_api_credential/resource.tf
  examples/resources/btp_globalaccount_resource_provider/resource.tf
  examples/resources/btp_globalaccount_security_settings/resource.tf
  examples/resources/btp_subaccount_api_credential/resource.tf
  examples/resources/btp_subaccount_destination_certificate/resource.tf
  examples/resources/btp_subaccount_destination_fragment/resource.tf
  examples/resources/btp_subaccount_security_settings/resource.tf
  regression-test/main.tf
Due: terraformfmt

fix: contructor function for validator
  btp/provider/resource_subaccount_service_broker.go
  internal/validation/conflictwithmtlsvalidator/conflictwithmtlsvalidator.go
Due: gofmt, golangci-lint

fix: config validation during runtime
  btp/provider/resource_subaccount_service_broker.go
Due: gofmt, golangci-lint

Update internal/validation/conflictwithmtlsvalidator/conflictwithmtlsvalidator.go
  internal/validation/conflictwithmtlsvalidator/conflictwithmtlsvalidator.go
Due: gofmt, golangci-lint

fix: rewrite attribute combinations
  btp/provider/fixtures/resource_subaccount_service_broker_error.yaml
  btp/provider/resource_subaccount_service_broker.go
  btp/provider/resource_subaccount_service_broker_test.go
  internal/validation/conflictwithmtlsvalidator/conflictwithmtlsvalidator.go
Due: gofmt, golangci-lint

feat: enable mTLS authentication for service broker (#1280)
  btp/provider/fixtures/resource_subaccount_service_broker.yaml
  btp/provider/resource_subaccount_service_broker.go
  btp/provider/resource_subaccount_service_broker_test.go
  docs/resources/subaccount_service_broker.md
  internal/btpcli/facade_services_broker.go
  internal/btpcli/facade_services_broker_test.go
Due: gofmt, golangci-lint

fix: mtls validators
  btp/provider/resource_subaccount_service_broker.go
Due: gofmt, golangci-lint

fix: consistent validator setup
  btp/provider/fixtures/resource_subaccount_service_broker_with_cert_and_key.yaml
  btp/provider/fixtures/resource_subaccount_service_broker_with_mtls.yaml
  btp/provider/fixtures/resource_subaccount_service_broker_with_mtls_username_password.yaml
  btp/provider/resource_subaccount_service_broker.go
  btp/provider/resource_subaccount_service_broker_test.go
  docs/resources/subaccount_service_broker.md
Due: gofmt, golangci-lint

fix: mtls validators (#1285)
  btp/provider/fixtures/resource_subaccount_service_broker_with_cert_and_key.yaml
  btp/provider/fixtures/resource_subaccount_service_broker_with_mtls.yaml
  btp/provider/fixtures/resource_subaccount_service_broker_with_mtls_username_password.yaml
  btp/provider/resource_subaccount_service_broker.go
  btp/provider/resource_subaccount_service_broker_test.go
  docs/resources/subaccount_service_broker.md
Due: gofmt, golangci-lint

resource for destination
  btp/provider/fixtures/resource_subaccount_destination_update.yaml
  btp/provider/fixtures/resource_subaccount_destination_with_additional_variables_with_service_instance.yaml
  btp/provider/fixtures/resource_subaccount_destination_with_additional_variables_without_service_instance.yaml
  btp/provider/fixtures/resource_subaccount_destination_without_service_instance_with_additional_variables.yaml
  btp/provider/provider.go
  btp/provider/provider_test.go
  btp/provider/resource_subaccount_destination.go
  btp/provider/resource_subaccount_destination_test.go
  btp/provider/type_destination.go
  docs/resources/subaccount_destination.md
  examples/resources/btp_subaccount_destination/import.sh
  examples/resources/btp_subaccount_destination/resource.tf
  internal/btpcli/facade_connectivity_destination.go
  internal/btpcli/facade_connectivity_destination_test.go
Due: gofmt, golangci-lint, terraformfmt

Path conditions:
  gofmt: any of: *.go, but not: vendor/*
  golangci-lint: any of: *.go, but not: vendor/*
  terraformfmt: any of: *.tf, but not: vendor/*
