Repository SAP/terraform-provider-btp: changes, and which lefthook commands are due for each by the changed paths.
All: gofmt, golangci-lint, terraformfmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    gofmt:
      glob: "*.go"
      run: go fmt ./...
      exclude: "vendor/*"
    golangci-lint:
      glob: "*.go"
      run: golangci-lint run --fix
      exclude: "vendor/*"
    terraformfmt:
      glob: "*.tf"
      run: terraform fmt {staged_files}
      exclude: "vendor/*"

chore: automate pr default
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/assign-issue-to-project.yml
  .github/workflows/set-default-values-pr.yml
Due: none

chore: automate pr default (#1014)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/assign-issue-to-project.yml
  .github/workflows/set-default-values-pr.yml
Due: none

chore: add automatic labels to PR
  .github/workflows/set-default-values-pr.yml
Due: none

chore: add automatic labels to PR (#1015)
  .github/workflows/set-default-values-pr.yml
Due: none

feat: add automatic replace to resource 'subscription'
  internal/provider/resource_subaccount_subscription.go
Due: gofmt, golangci-lint

feat: add automatic replace to resource 'subscription' (#1019)
  internal/provider/resource_subaccount_subscription.go
Due: gofmt, golangci-lint

chore: prep release 1.10.0
  .github/ISSUE_TEMPLATE/bug_report.yml
  docs/index.md
  examples/provider/provider.tf
  integration/provider.tf
Due: terraformfmt

chore: prep release 1.10.0 (#1023)
  .github/ISSUE_TEMPLATE/bug_report.yml
  docs/index.md
  examples/provider/provider.tf
  integration/provider.tf
Due: terraformfmt

fix: drift detection whenresource is deleted
  internal/provider/resource_directory_role.go
  internal/provider/resource_globalaccount_role.go
  internal/provider/resource_subaccount_entitlement.go
  internal/provider/resource_subaccount_role.go
Due: gofmt, golangci-lint

fix: handle not found entitlement
  internal/provider/resource_subaccount_entitlement.go
Due: gofmt, golangci-lint

docs: removed line break
  docs/resources/subaccount_role.md
Due: none

chore: upgrade Go version
  .github/workflows/release.yml
Due: none

chore: devcontainer image
  .devcontainer/default/Dockerfile
  .devcontainer/default/devcontainer.json
  .devcontainer/withenvfile/devcontainer.json
Due: none

fix: devcontainer Docker
  .devcontainer/default/Dockerfile
  .devcontainer/default/devcontainer.json
Due: none

chore: upgrade Go version
  .goreleaser.yml
  README.md
  go.mod
Due: none

finalize dev container
  .devcontainer/default/devcontainer.json
  .devcontainer/withenvfile/devcontainer.json
Due: none

chore: add new Terraform version to test matrix
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/test.yml
Due: none

validators added for passcode login
  internal/provider/provider.go
Due: gofmt, golangci-lint

docs: authentication
  docs/index.md
  templates/index.md.tmpl
Due: none

fix: minor issue in erro message
  internal/provider/resource_subaccount_entitlement.go
Due: gofmt, golangci-lint

test: adjust testcase
  internal/provider/provider_test.go
Due: gofmt, golangci-lint

chore: add new Terraform version to test matrix (#1037)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/test.yml
Due: none

fix: drift detection for roles and subaccount entitlement (#1034)
  docs/resources/subaccount_role.md
  internal/provider/resource_directory_role.go
  internal/provider/resource_globalaccount_role.go
  internal/provider/resource_subaccount_entitlement.go
  internal/provider/resource_subaccount_role.go
Due: gofmt, golangci-lint

chore: Golang update (#1026)
  .devcontainer/default/devcontainer.json
  .devcontainer/withenvfile/devcontainer.json
  .github/workflows/release.yml
  .goreleaser.yml
  README.md
  go.mod
Due: none

feat: add retry logic for login calls
  internal/btpcli/client.go
Due: gofmt, golangci-lint

feat: add retry logic for login calls (#1041)
  internal/btpcli/client.go
Due: gofmt, golangci-lint

docs: refine information and validation of authentication flows (#1040)
  docs/index.md
  internal/provider/provider.go
  internal/provider/provider_test.go
  templates/index.md.tmpl
Due: gofmt, golangci-lint

chore: test setup
  .github/workflows/test-opentofu.yml
  .github/workflows/test.yml
Due: none

fix: env naming
  .github/workflows/test.yml
Due: none

feat: alignment of test setup
  .github/workflows/test-opentofu.yml
  .github/workflows/test.yml
Due: none

chore: test setup (#1042)
  .github/workflows/test-opentofu.yml
  .github/workflows/test.yml
Due: none

docs: fix wrong example for resource provider
  docs/resources/globalaccount_resource_provider.md
  examples/resources/btp_globalaccount_resource_provider/resource.tf
Due: terraformfmt

docs: fix wrong example for resource provider (#1047)
  docs/resources/globalaccount_resource_provider.md
  examples/resources/btp_globalaccount_resource_provider/resource.tf
Due: terraformfmt

chore: prepare release 1.11.0
  .github/ISSUE_TEMPLATE/bug_report.yml
  docs/index.md
  examples/provider/provider.tf
Due: terraformfmt

chore: prepare release 1.11.0 (#1048)
  .github/ISSUE_TEMPLATE/bug_report.yml
  docs/index.md
  examples/provider/provider.tf
Due: terraformfmt

fix: broken link to API credential resource
  docs/resources/directory_api_credential.md
  docs/resources/globalaccount_api_credential.md
  docs/resources/subaccount_api_credential.md
  internal/provider/resource_directory_api_credential.go
  internal/provider/resource_globalaccount_api_credential.go
  internal/provider/resource_subaccount_api_credential.go
Due: gofmt, golangci-lint

fix: broken link to API credential resource (#1051)
  docs/resources/directory_api_credential.md
  docs/resources/globalaccount_api_credential.md
  docs/resources/subaccount_api_credential.md
  internal/provider/resource_directory_api_credential.go
  internal/provider/resource_globalaccount_api_credential.go
  internal/provider/resource_subaccount_api_credential.go
Due: gofmt, golangci-lint

Reuse Version update from dep to toml
  .reuse/dep5
  REUSE.toml
Due: none

Reuse Version update from dep to toml (#1052)
  .reuse/dep5
  REUSE.toml
Due: none

feat: support plan unique identfier with entitlements
  internal/btpcli/facade_accounts_entitlement.go
  internal/provider/datasource_directory_entitlement.go
  internal/provider/datasource_subaccount_plan_unique_identifier.go
  internal/provider/datasource_subaccount_plan_unique_identifier_test.go
  internal/provider/provider.go
  internal/provider/resource_subaccount_entitlement_test.go
  internal/provider/type_directory_entitlement.go
Due: gofmt, golangci-lint
