Repository SAP/terraform-provider-btp: changes, and which lefthook commands are due for each by the changed paths.
All: gofmt, golangci-lint, terraformfmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    gofmt:
      glob: "*.go"
      run: go fmt ./...
      exclude: "vendor/*"
    golangci-lint:
      glob: "*.go"
      run: golangci-lint run --fix
      exclude: "vendor/*"
    terraformfmt:
      glob: "*.tf"
      run: terraform fmt {staged_files}
      exclude: "vendor/*"

chore(trust_configuration): update samples
  docs/data-sources/globalaccount_trust_configuration.md
  docs/data-sources/subaccount_trust_configuration.md
  docs/resources/globalaccount_trust_configuration.md
  docs/resources/subaccount_trust_configuration.md
  examples/data-sources/btp_globalaccount_trust_configuration/data-source.tf
  examples/data-sources/btp_subaccount_trust_configuration/data-source.tf
  examples/resources/btp_globalaccount_trust_configuration/resource.tf
  examples/resources/btp_subaccount_trust_configuration/resource.tf
Due: terraformfmt

chore(trust_configuration): update samples (#186)
  docs/data-sources/globalaccount_trust_configuration.md
  docs/data-sources/subaccount_trust_configuration.md
  docs/resources/globalaccount_trust_configuration.md
  docs/resources/subaccount_trust_configuration.md
  examples/data-sources/btp_globalaccount_trust_configuration/data-source.tf
  examples/data-sources/btp_subaccount_trust_configuration/data-source.tf
  examples/resources/btp_globalaccount_trust_configuration/resource.tf
  examples/resources/btp_subaccount_trust_configuration/resource.tf
Due: terraformfmt

Testcase resource subaccount trust configuration (#185)
  docs/resources/subaccount_trust_configuration.md
  examples/resources/btp_subaccount_trust_configuration/resource.tf
  internal/provider/fixtures/resource_subaccount_trust_configuration.complete.yaml
  internal/provider/fixtures/resource_subaccount_trust_configuration.minimal.yaml
  internal/provider/resource_subaccount_trust_configuration_test.go
Due: gofmt, golangci-lint, terraformfmt

fixed typos and swapped sections
  DEVELOPER.md
Due: none

fixed some wording
  CONTRIBUTING.md
Due: none

fixed some wording
  README.md
Due: none

changed Note to be styled as it is in the markdown page
  DEVELOPER.md
  README.md
Due: none

initial try
  internal/provider/fixtures/resource_globalaccount_trust_configuration.complete.yaml
  internal/provider/resource_globalaccount_trust_configuration_test.go
Due: gofmt, golangci-lint

add happy path for existing trust config
  internal/provider/fixtures/resource_globalaccount_trust_configuration.exists.yaml
  internal/provider/resource_globalaccount_trust_configuration_test.go
Due: gofmt, golangci-lint

Update internal/provider/resource_directory_role_collection_test.go
  internal/provider/resource_directory_role_collection_test.go
Due: gofmt, golangci-lint

Update internal/provider/resource_directory_test.go
  internal/provider/resource_directory_test.go
Due: gofmt, golangci-lint

Testcase resource globalaccount trust configuration (#188)
  internal/provider/fixtures/resource_globalaccount_trust_configuration.exists.yaml
  internal/provider/resource_globalaccount_trust_configuration_test.go
Due: gofmt, golangci-lint

chore: documentation (#184)
  CONTRIBUTING.md
  DEVELOPER.md
  README.md
Due: none

add role definition
  internal/provider/resource_directory_role_collection.go
  internal/provider/resource_globalaccount_role_collection.go
  internal/provider/resource_subaccount_role_collection.go
Due: gofmt, golangci-lint

update documentation
  docs/resources/directory_role_collection.md
  docs/resources/globalaccount_role_collection.md
  docs/resources/subaccount_role_collection.md
Due: none

update test with role
  internal/provider/fixtures/resource_directory_role_collection.no_description.yaml
  internal/provider/resource_directory_role_collection.go
  internal/provider/resource_directory_role_collection_test.go
Due: gofmt, golangci-lint

feat: test for resource_subaccount_role_collection_assignment
  internal/provider/fixtures/resource_subaccount_role_collection_assignment.yaml
  internal/provider/provider_test.go
  internal/provider/resource_subaccount_role_collection_assignment.go
  internal/provider/resource_subaccount_role_collection_assignment_test.go
Due: gofmt, golangci-lint

regenerated documentation
  docs/resources/subaccount_role_collection_assignment.md
Due: none

fix: correction of fixture name
  internal/provider/fixtures/resource_subaccount_role_collection_assignment_with_origin.yaml
  internal/provider/resource_subaccount_role_collection_assignment_test.go
Due: gofmt, golangci-lint

fix: creation of fixtures
  internal/provider/fixtures/resource_subaccount_role_collection_assignment.yaml
  internal/provider/fixtures/resource_subaccount_role_collection_assignment_with_origin.yaml
  internal/provider/resource_subaccount_role_collection_assignment_test.go
Due: gofmt, golangci-lint

fix: test default IDP - fixture adjustment
  internal/provider/datasource_globalaccount_users_test.go
  internal/provider/fixtures/datasource_globalaccount_users.default_idp.yaml
Due: gofmt, golangci-lint

remove test for resource directory
  internal/provider/fixtures/resource_directory.parent_directory.yaml
  internal/provider/resource_directory_test.go
Due: gofmt, golangci-lint

fix: test default IDP - fixture adjustment (#193)
  internal/provider/datasource_globalaccount_users_test.go
  internal/provider/fixtures/datasource_globalaccount_users.default_idp.yaml
Due: gofmt, golangci-lint

update documentation
  docs/resources/directory_role_collection.md
Due: none

initial test
  internal/provider/fixtures/resource_directory.parent_directory.yaml
  internal/provider/resource_directory_test.go
Due: gofmt, golangci-lint

update test
  internal/provider/resource_directory_test.go
Due: gofmt, golangci-lint

Test case for resource "directory" (#194)
  internal/provider/fixtures/resource_directory.parent_directory.yaml
  internal/provider/resource_directory_test.go
Due: gofmt, golangci-lint

feat: test for resource directory_role_collection
  docs/resources/directory_role_collection.md
  internal/provider/fixtures/resource_directory_role_collection.multiple_roles.yaml
  internal/provider/fixtures/resource_directory_role_collection.no_description.yaml
  internal/provider/fixtures/resource_directory_role_collection.with_description.yaml
  internal/provider/provider_test.go
  internal/provider/resource_directory_role_collection.go
  internal/provider/resource_directory_role_collection_test.go
Due: gofmt, golangci-lint

fix: restore provider_test.go
  internal/provider/provider_test.go
Due: gofmt, golangci-lint

feat: test for resource directory_role_collection (#195)
  docs/resources/directory_role_collection.md
  internal/provider/fixtures/resource_directory_role_collection.multiple_roles.yaml
  internal/provider/fixtures/resource_directory_role_collection.no_description.yaml
  internal/provider/fixtures/resource_directory_role_collection.with_description.yaml
  internal/provider/resource_directory_role_collection.go
  internal/provider/resource_directory_role_collection_test.go
Due: gofmt, golangci-lint

feat: test for resource "subaccount_role_collection_assignment" (#191)
  docs/resources/subaccount_role_collection_assignment.md
  internal/provider/fixtures/resource_subaccount_role_collection_assignment.yaml
  internal/provider/fixtures/resource_subaccount_role_collection_assignment_with_origin.yaml
  internal/provider/provider_test.go
  internal/provider/resource_subaccount_role_collection_assignment.go
  internal/provider/resource_subaccount_role_collection_assignment_test.go
Due: gofmt, golangci-lint

fix: read of role collection assignment
  internal/provider/resource_subaccount_role_collection_assignment.go
Due: gofmt, golangci-lint

fix for directory and global account
  internal/provider/resource_directory_role_collection_assignment.go
  internal/provider/resource_globalaccount_role_collection_assignment.go
Due: gofmt, golangci-lint

Update resource_directory_role_collection_assignment.go
  internal/provider/resource_directory_role_collection_assignment.go
Due: gofmt, golangci-lint

Update resource_globalaccount_role_collection_assignment.go
  internal/provider/resource_globalaccount_role_collection_assignment.go
Due: gofmt, golangci-lint

Update resource_subaccount_role_collection_assignment.go
  internal/provider/resource_subaccount_role_collection_assignment.go
Due: gofmt, golangci-lint

fix: read of role collection assignment (#196)
  internal/provider/resource_directory_role_collection_assignment.go
  internal/provider/resource_globalaccount_role_collection_assignment.go
  internal/provider/resource_subaccount_role_collection_assignment.go
Due: gofmt, golangci-lint

feat: test of datasource subaccounts
  internal/provider/datasource_subaccounts.go
  internal/provider/datasource_subaccounts_test.go
  internal/provider/fixtures/datasource_subaccounts.all.yaml
Due: gofmt, golangci-lint
