Repository SAP/terraform-provider-btp: changes, and which lefthook commands are due for each by the changed paths.
All: gofmt, golangci-lint, terraformfmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    gofmt:
      glob: "*.go"
      run: go fmt ./...
      exclude: "vendor/*"
    golangci-lint:
      glob: "*.go"
      run: golangci-lint run --fix
      exclude: "vendor/*"
    terraformfmt:
      glob: "*.tf"
      run: terraform fmt {staged_files}
      exclude: "vendor/*"

fix: go 1.26 remove windows/arm binary support
  .goreleaser.yml
Due: none

chore: v1.20 prep-release & go 1.26 windows/arm fix (#1371)
  .goreleaser.yml
Due: none

feat: added import identity block support for directory
  btp/provider/fixtures/resource_directory_import_block.yaml
  btp/provider/resource_directory.go
  btp/provider/resource_directory_test.go
  docs/resources/directory.md
  examples/resources/btp_directory/import.sh
Due: gofmt, golangci-lint

feat: added import identity block support for directory (#1373)
  btp/provider/fixtures/resource_directory_import_block.yaml
  btp/provider/resource_directory.go
  btp/provider/resource_directory_test.go
  docs/resources/directory.md
  examples/resources/btp_directory/import.sh
Due: gofmt, golangci-lint

feat: add list functionality for service broker and instance
  btp/provider/fixtures/list_resource_subaccount_service_broker.yaml
  btp/provider/fixtures/list_resource_subaccount_service_broker_bad_request.yaml
  btp/provider/fixtures/list_resource_subaccount_service_instance.yaml
  btp/provider/fixtures/list_resource_subaccount_service_instance_bad_request.yaml
  btp/provider/list_resource_subaccount_service_broker.go
  btp/provider/list_resource_subaccount_service_broker_test.go
  btp/provider/list_resource_subaccount_service_instance.go
  btp/provider/list_resource_subaccount_service_instance_test.go
  btp/provider/provider.go
  btp/provider/provider_test.go
  btp/provider/type_subaccount_service_instance.go
Due: gofmt, golangci-lint

docs: add examples for service broker and instance list functionality
  docs/list-resources/subaccount_service_broker.md
  docs/list-resources/subaccount_service_instance.md
  examples/list-resources/btp_subaccount_service_broker/list-resource.tfquery.hcl
  examples/list-resources/btp_subaccount_service_instance/list-resource.tfquery.hcl
Due: none

refactor: update description
  btp/provider/list_resource_subaccount_service_broker.go
  btp/provider/list_resource_subaccount_service_instance.go
  docs/list-resources/subaccount_service_broker.md
  docs/list-resources/subaccount_service_instance.md
Due: gofmt, golangci-lint

refactor: fix failing test cases
  btp/provider/list_resource_subaccount_service_broker_test.go
  btp/provider/list_resource_subaccount_service_instance_test.go
Due: gofmt, golangci-lint

feat: Implementation of list functionality for subaccount service broker and instance (#1379)
  btp/provider/fixtures/list_resource_subaccount_service_broker.yaml
  btp/provider/fixtures/list_resource_subaccount_service_broker_bad_request.yaml
  btp/provider/fixtures/list_resource_subaccount_service_instance.yaml
  btp/provider/fixtures/list_resource_subaccount_service_instance_bad_request.yaml
  btp/provider/list_resource_subaccount_service_broker.go
  btp/provider/list_resource_subaccount_service_broker_test.go
  btp/provider/list_resource_subaccount_service_instance.go
  btp/provider/list_resource_subaccount_service_instance_test.go
  btp/provider/provider.go
  btp/provider/provider_test.go
  btp/provider/type_subaccount_service_instance.go
  docs/list-resources/subaccount_service_broker.md
  docs/list-resources/subaccount_service_instance.md
  examples/list-resources/btp_subaccount_service_broker/list-resource.tfquery.hcl
  examples/list-resources/btp_subaccount_service_instance/list-resource.tfquery.hcl
Due: gofmt, golangci-lint

feat: added globalaccount_security_settings import block
  btp/provider/fixtures/resource_globalaccount_security_settings.complete_import_block.yaml
  btp/provider/resource_globalaccount_security_settings.go
  btp/provider/resource_globalaccount_security_settings_test.go
  docs/resources/globalaccount_security_settings.md
  examples/resources/btp_globalaccount_security_settings/import.sh
Due: gofmt, golangci-lint

feat: add plan modifiers to btp_subaccount
  btp/provider/resource_subaccount.go
Due: gofmt, golangci-lint

feat: add plan modifiers to btp_directory
  btp/provider/resource_directory.go
Due: gofmt, golangci-lint

feat: added identity block for global account trust configuration
  btp/provider/fixtures/resource_globalaccount_trust_configuration.import_block.yaml
  btp/provider/resource_globalaccount_trust_configuration.go
  btp/provider/resource_globalaccount_trust_configuration_test.go
  docs/resources/globalaccount_trust_configuration.md
  examples/resources/btp_globalaccount_trust_configuration/import.sh
Due: gofmt, golangci-lint

feat: implemented list functionality for subaccount and environment instance resource
  btp/provider/fixtures/list_resource_subaccount.yaml
  btp/provider/fixtures/list_resource_subaccount_bad_request.yaml
  btp/provider/fixtures/list_resource_subaccount_environment_instance.yaml
  btp/provider/fixtures/list_resource_subaccount_environment_instance_bad_request.yaml
  btp/provider/list_resource_subaccount.go
  btp/provider/list_resource_subaccount_environment_instance.go
  btp/provider/list_resource_subaccount_environment_instance_test.go
  btp/provider/list_resource_subaccount_test.go
  btp/provider/provider.go
  btp/provider/provider_test.go
  btp/provider/type_subaccount.go
  btp/provider/type_subaccount_environment_instance.go
Due: gofmt, golangci-lint

docs: add examples for list functionality of subaccount and environment instance
  docs/list-resources/subaccount.md
  docs/list-resources/subaccount_environment_instance.md
  examples/list-resources/btp_subaccount/list-resource.tfquery.hcl
  examples/list-resources/btp_subaccount_environment_instance/list-resource.tfquery.hcl
Due: none

fix: fix test case
  btp/provider/list_resource_subaccount_test.go
Due: gofmt, golangci-lint

feat: added globalaccount_security_settings import block (#1380)
  btp/provider/fixtures/resource_globalaccount_security_settings.complete_import_block.yaml
  btp/provider/resource_globalaccount_security_settings.go
  btp/provider/resource_globalaccount_security_settings_test.go
  docs/resources/globalaccount_security_settings.md
  examples/resources/btp_globalaccount_security_settings/import.sh
Due: gofmt, golangci-lint

fix: import identity compatibility for OpenTofu
  btp/provider/resource_directory.go
  btp/provider/resource_directory_entitlement.go
  btp/provider/resource_directory_role_collection.go
  btp/provider/resource_globalaccount_resource_provider.go
  btp/provider/resource_globalaccount_role_collection.go
  btp/provider/resource_subaccount.go
  btp/provider/resource_subaccount_destination.go
  btp/provider/resource_subaccount_destination_fragment.go
  btp/provider/resource_subaccount_destination_generic.go
  btp/provider/resource_subaccount_entitlement.go
  btp/provider/resource_subaccount_environment_instance.go
  btp/provider/resource_subaccount_role_collection.go
  btp/provider/resource_subaccount_role_collection_base.go
  btp/provider/resource_subaccount_security_settings.go
  btp/provider/resource_subaccount_service_broker.go
  btp/provider/resource_subaccount_service_instance.go
  btp/provider/resource_subaccount_subscription.go
  btp/provider/resource_subaccount_trust_configuration.go
Due: gofmt, golangci-lint

docs: format fix
  docs/resources/subaccount_destination_fragment.md
  docs/resources/subaccount_role_collection_base.md
Due: none

fix: for global security settings
  btp/provider/resource_globalaccount_security_settings.go
Due: gofmt, golangci-lint

feat: added identity block for global account trust configuration (#1386)
  btp/provider/fixtures/resource_globalaccount_trust_configuration.import_block.yaml
  btp/provider/resource_globalaccount_trust_configuration.go
  btp/provider/resource_globalaccount_trust_configuration_test.go
  docs/resources/globalaccount_trust_configuration.md
  examples/resources/btp_globalaccount_trust_configuration/import.sh
Due: gofmt, golangci-lint

feat: improve plan output (#1381)
  btp/provider/resource_directory.go
  btp/provider/resource_subaccount.go
Due: gofmt, golangci-lint

feat: Implemented list functionality for subaccount and environment instance (#1387)
  btp/provider/fixtures/list_resource_subaccount.yaml
  btp/provider/fixtures/list_resource_subaccount_bad_request.yaml
  btp/provider/fixtures/list_resource_subaccount_environment_instance.yaml
  btp/provider/fixtures/list_resource_subaccount_environment_instance_bad_request.yaml
  btp/provider/list_resource_subaccount.go
  btp/provider/list_resource_subaccount_environment_instance.go
  btp/provider/list_resource_subaccount_environment_instance_test.go
  btp/provider/list_resource_subaccount_test.go
  btp/provider/provider.go
  btp/provider/provider_test.go
  btp/provider/type_subaccount.go
  btp/provider/type_subaccount_environment_instance.go
  docs/list-resources/subaccount.md
  docs/list-resources/subaccount_environment_instance.md
  examples/list-resources/btp_subaccount/list-resource.tfquery.hcl
  examples/list-resources/btp_subaccount_environment_instance/list-resource.tfquery.hcl
Due: gofmt, golangci-lint

fix: error when creating an evironment instance
  btp/provider/resource_subaccount_environment_instance.go
Due: gofmt, golangci-lint

feat: implemented list functionality for trust configuration and service binding
  btp/provider/fixtures/list_resource_globalaccount_trust_configuration.yaml
  btp/provider/fixtures/list_resource_subaccount_service_binding.yaml
  btp/provider/fixtures/list_resource_subaccount_service_binding_bad_request.yaml
  btp/provider/fixtures/list_resource_subaccount_trust_configuration.yaml
  btp/provider/fixtures/list_resource_subaccount_trust_configuration_bad_request.yaml
  btp/provider/list_resource_globalaccount_trust_configuration.go
  btp/provider/list_resource_globalaccount_trust_configuration_test.go
  btp/provider/list_resource_subaccount_service_binding.go
  btp/provider/list_resource_subaccount_service_binding_test.go
  btp/provider/list_resource_subaccount_trust_configuration.go
  btp/provider/list_resource_subaccount_trust_configuration_test.go
  btp/provider/provider.go
  btp/provider/provider_test.go
Due: gofmt, golangci-lint

fix: import identity compatibility for OpenTofu (#1384)
  btp/provider/resource_directory.go
  btp/provider/resource_directory_entitlement.go
  btp/provider/resource_directory_role_collection.go
  btp/provider/resource_globalaccount_resource_provider.go
  btp/provider/resource_globalaccount_role_collection.go
  btp/provider/resource_globalaccount_security_settings.go
  btp/provider/resource_subaccount.go
  btp/provider/resource_subaccount_destination.go
  btp/provider/resource_subaccount_destination_fragment.go
  btp/provider/resource_subaccount_destination_generic.go
  btp/provider/resource_subaccount_entitlement.go
  btp/provider/resource_subaccount_environment_instance.go
  btp/provider/resource_subaccount_role_collection.go
  btp/provider/resource_subaccount_role_collection_base.go
  btp/provider/resource_subaccount_security_settings.go
  btp/provider/resource_subaccount_service_broker.go
  btp/provider/resource_subaccount_service_instance.go
  btp/provider/resource_subaccount_subscription.go
  btp/provider/resource_subaccount_trust_configuration.go
  docs/resources/subaccount_destination_fragment.md
  docs/resources/subaccount_role_collection_base.md
Due: gofmt, golangci-lint

fix: error when creating an evironment instance (#1393)
  btp/provider/resource_subaccount_environment_instance.go
Due: gofmt, golangci-lint

docs: add examples for trust configuration and service binding
  docs/list-resources/globalaccount_trust_configuration.md
  docs/list-resources/subaccount_service_binding.md
  docs/list-resources/subaccount_service_instance.md
  docs/list-resources/subaccount_trust_configuration.md
  examples/list-resources/btp_globalaccount_trust_configuration/list-resource.tfquery.hcl
  examples/list-resources/btp_subaccount_service_binding/list-resource.tfquery.hcl
  examples/list-resources/btp_subaccount_trust_configuration/list-resource.tfquery.hcl
Due: none

feat: Implement list functionality for subaccount service binding and trust configuration (#1397)
  btp/provider/fixtures/list_resource_globalaccount_trust_configuration.yaml
  btp/provider/fixtures/list_resource_subaccount_service_binding.yaml
  btp/provider/fixtures/list_resource_subaccount_service_binding_bad_request.yaml
  btp/provider/fixtures/list_resource_subaccount_trust_configuration.yaml
  btp/provider/fixtures/list_resource_subaccount_trust_configuration_bad_request.yaml
  btp/provider/list_resource_globalaccount_trust_configuration.go
  btp/provider/list_resource_globalaccount_trust_configuration_test.go
  btp/provider/list_resource_subaccount_service_binding.go
  btp/provider/list_resource_subaccount_service_binding_test.go
  btp/provider/list_resource_subaccount_trust_configuration.go
  btp/provider/list_resource_subaccount_trust_configuration_test.go
  btp/provider/provider.go
  btp/provider/provider_test.go
  docs/list-resources/globalaccount_trust_configuration.md
  docs/list-resources/subaccount_service_binding.md
  docs/list-resources/subaccount_service_instance.md
  docs/list-resources/subaccount_trust_configuration.md
  examples/list-resources/btp_globalaccount_trust_configuration/list-resource.tfquery.hcl
  examples/list-resources/btp_subaccount_service_binding/list-resource.tfquery.hcl
  examples/list-resources/btp_subaccount_trust_configuration/list-resource.tfquery.hcl
Due: gofmt, golangci-lint

chore: add go fix to checks
  .github/workflows/test.yml
  btp/provider/type_subaccount_destination_certificate.go
Due: gofmt, golangci-lint

fix: go fix finding
  btp/provider/type_subaccount_destination_certificate.go
Due: gofmt, golangci-lint

resolve copilot review comment
  .github/workflows/test.yml
  TEST/main.tf
Due: terraformfmt

fix commit
  TEST/main.tf
Due: terraformfmt

chore: add go fix to checks (#1399)
  .github/workflows/test.yml
  btp/provider/type_subaccount_destination_certificate.go
Due: gofmt, golangci-lint

prep release v1.20.1
  .github/ISSUE_TEMPLATE/bug_report.yml
  docs/index.md
  examples/provider/provider.tf
  integration/provider.tf
Due: terraformfmt

prep release v1.20.1 (#1401)
  .github/ISSUE_TEMPLATE/bug_report.yml
  docs/index.md
  examples/provider/provider.tf
  integration/provider.tf
Due: terraformfmt

feat: implement list functionality for security settings
  btp/provider/fixtures/list_resource_globalaccount_security_settings.yaml
  btp/provider/fixtures/list_resource_subaccount_security_settings.yaml
  btp/provider/fixtures/list_resource_subaccount_security_settings_bad_request.yaml
  btp/provider/list_resource_globalaccount_security_settings.go
  btp/provider/list_resource_globalaccount_security_settings_test.go
  btp/provider/list_resource_subaccount_security_settings.go
  btp/provider/list_resource_subaccount_security_settings_test.go
  btp/provider/provider.go
  btp/provider/provider_test.go
Due: gofmt, golangci-lint

docs: add examples
  docs/list-resources/globalaccount_security_settings.md
  docs/list-resources/subaccount_security_settings.md
  examples/list-resources/btp_globalaccount_security_settings/list-resource.tfquery.hcl
  examples/list-resources/btp_subaccount_security_settings/list-resource.tfquery.hcl
Due: none

feat: Implement list functionality for security settings (#1405)
  btp/provider/fixtures/list_resource_globalaccount_security_settings.yaml
  btp/provider/fixtures/list_resource_subaccount_security_settings.yaml
  btp/provider/fixtures/list_resource_subaccount_security_settings_bad_request.yaml
  btp/provider/list_resource_globalaccount_security_settings.go
  btp/provider/list_resource_globalaccount_security_settings_test.go
  btp/provider/list_resource_subaccount_security_settings.go
  btp/provider/list_resource_subaccount_security_settings_test.go
  btp/provider/provider.go
  btp/provider/provider_test.go
  docs/list-resources/globalaccount_security_settings.md
  docs/list-resources/subaccount_security_settings.md
  examples/list-resources/btp_globalaccount_security_settings/list-resource.tfquery.hcl
  examples/list-resources/btp_subaccount_security_settings/list-resource.tfquery.hcl
Due: gofmt, golangci-lint

feat: implemented list functionality for directory and directory role
  btp/provider/list_resource-directory.go
  btp/provider/list_resource-directory_role.go
  btp/provider/list_resource-directory_role_test.go
  btp/provider/list_resource-directory_test.go
  btp/provider/provider.go
  btp/provider/provider_test.go
Due: gofmt, golangci-lint
