Repository SAP/terraform-provider-btp: changes, and which lefthook commands are due for each by the changed paths.
All: gofmt, golangci-lint, terraformfmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    gofmt:
      glob: "*.go"
      run: go fmt ./...
      exclude: "vendor/*"
    golangci-lint:
      glob: "*.go"
      run: golangci-lint run --fix
      exclude: "vendor/*"
    terraformfmt:
      glob: "*.tf"
      run: terraform fmt {staged_files}
      exclude: "vendor/*"

docs: add examples
  docs/list-resources/subaccount_destination_fragment.md
  docs/list-resources/subaccount_entitlement.md
  examples/list-resources/btp_subaccount_destination_fragment/list-resource.tfquery.hcl
  examples/list-resources/btp_subaccount_entitlement/list-resource.tfquery.hcl
Due: none

feat: add list functionality for role collection base
  btp/provider/list_resource_subaccount_role_collection_base.go
  btp/provider/list_resource_subaccount_role_collection_base_test.go
  btp/provider/list_resource_subaccount_role_collection_role.go
  btp/provider/list_resource_subaccount_role_collection_role_test.go
Due: gofmt, golangci-lint

fix: review comments
  btp/provider/fixtures/list_resource_subaccount_destination_fragment_bad_request.yaml
  btp/provider/list_resource_subaccount_destination_fragment.go
  btp/provider/list_resource_subaccount_destination_fragment_test.go
  btp/provider/list_resource_subaccount_entitlement.go
  docs/list-resources/subaccount_entitlement.md
Due: gofmt, golangci-lint

chore: Change test time
  Makefile
Due: none

feat: add unit test
  btp/provider/fixtures/list_resource_subaccount_role_collection_base.yaml
  btp/provider/fixtures/list_resource_subaccount_role_collection_base_bad_request.yaml
  btp/provider/fixtures/list_resource_subaccount_role_collection_role.yaml
  btp/provider/fixtures/list_resource_subaccount_role_collection_role_bad_request.yaml
  btp/provider/list_resource_subaccount_role_collection_base.go
  btp/provider/list_resource_subaccount_role_collection_base_test.go
  btp/provider/list_resource_subaccount_role_collection_role.go
  btp/provider/list_resource_subaccount_role_collection_role_test.go
  btp/provider/provider.go
  btp/provider/provider_test.go
Due: gofmt, golangci-lint

docs: add examples
  docs/list-resources/subaccount_role_collection_base.md
  docs/list-resources/subaccount_role_collection_role.md
  examples/list-resources/btp_subaccount_role_collection_base/list-resource.tfquery.hcl
  examples/list-resources/btp_subaccount_role_collection_role/list-resource.tfquery.hcl
Due: none

feat: added-list-resource-for-subaccount-roles-and-collection
  btp/provider/fixtures/list_resource_subaccount_role.yaml
  btp/provider/fixtures/list_resource_subaccount_role_collection.yaml
  btp/provider/fixtures/list_resource_subaccount_role_collection_access_forbidden.yaml
  btp/provider/list_resource_subaacount_role.go
  btp/provider/list_resource_subaccount_role_collection.go
  btp/provider/list_resource_subaccount_role_collection_test.go
  btp/provider/list_resource_subaccount_role_test.go
  btp/provider/provider.go
  btp/provider/provider_test.go
  docs/list-resources/subaccount_role.md
  docs/list-resources/subaccount_role_collection.md
  examples/list-resources/btp_subaccount_role/list-resource.tfquery.hcl
  examples/list-resources/btp_subaccount_role_collection/list-resource.tfquery.hcl
Due: gofmt, golangci-lint

copilot comments resolution
  btp/provider/fixtures/list_resource_subaccount_role.yaml
  btp/provider/list_resource_subaccount_role_collection.go
  btp/provider/list_resource_subaccount_role_test.go
  btp/provider/list_resource_subacount_role.go
Due: gofmt, golangci-lint

docs: update description
  btp/provider/list_resource_subaccount_role_collection_role.go
  docs/list-resources/subaccount_role_collection_role.md
Due: gofmt, golangci-lint

feat: added-list-resource-for-subaccount-roles-and-collection (#1427)
  btp/provider/fixtures/list_resource_subaccount_role.yaml
  btp/provider/fixtures/list_resource_subaccount_role_collection.yaml
  btp/provider/fixtures/list_resource_subaccount_role_collection_access_forbidden.yaml
  btp/provider/list_resource_subaccount_role_collection.go
  btp/provider/list_resource_subaccount_role_collection_test.go
  btp/provider/list_resource_subaccount_role_test.go
  btp/provider/list_resource_subacount_role.go
  btp/provider/provider.go
  btp/provider/provider_test.go
  docs/list-resources/subaccount_role.md
  docs/list-resources/subaccount_role_collection.md
  examples/list-resources/btp_subaccount_role/list-resource.tfquery.hcl
  examples/list-resources/btp_subaccount_role_collection/list-resource.tfquery.hcl
Due: gofmt, golangci-lint

feat: Implemented list functionality for role collection role and base (#1426)
  btp/provider/fixtures/list_resource_subaccount_role_collection_base.yaml
  btp/provider/fixtures/list_resource_subaccount_role_collection_base_bad_request.yaml
  btp/provider/fixtures/list_resource_subaccount_role_collection_role.yaml
  btp/provider/fixtures/list_resource_subaccount_role_collection_role_bad_request.yaml
  btp/provider/list_resource_subaccount_role_collection_base.go
  btp/provider/list_resource_subaccount_role_collection_base_test.go
  btp/provider/list_resource_subaccount_role_collection_role.go
  btp/provider/list_resource_subaccount_role_collection_role_test.go
  btp/provider/provider.go
  btp/provider/provider_test.go
  docs/list-resources/subaccount_role_collection_base.md
  docs/list-resources/subaccount_role_collection_role.md
  examples/list-resources/btp_subaccount_role_collection_base/list-resource.tfquery.hcl
  examples/list-resources/btp_subaccount_role_collection_role/list-resource.tfquery.hcl
Due: gofmt, golangci-lint

Update terraform-plugin-framework to v1.19.0
  go.mod
Due: none

chore: Update Terraform plugin framework
  go.mod
  go.sum
Due: none

chore: Update Terraform plugin framework (#1431)
  go.mod
  go.sum
Due: none

chore: group dependency updates
  .github/dependabot.yml
Due: none

chore: group dependency updates (#1433)
  .github/dependabot.yml
Due: none

feat: enhance service instance resource
  btp/provider/resource_subaccount_service_instance.go
  btp/provider/type_subaccount_service_instance.go
  docs/resources/subaccount_service_instance.md
Due: gofmt, golangci-lint

docs: community-contributed destination example
  docs/resources/subaccount_destination_generic.md
  examples/resources/btp_subaccount_destination_generic/resource.tf
Due: terraformfmt

docs: update based on copilot review
  docs/resources/subaccount_destination_generic.md
  examples/resources/btp_subaccount_destination_generic/resource.tf
Due: terraformfmt

docs: community-contributed destination example (#1439)
  docs/resources/subaccount_destination_generic.md
  examples/resources/btp_subaccount_destination_generic/resource.tf
Due: terraformfmt

docs: malformatted documentation for destination certificates
  btp/provider/datasource_subaccount_destination_certificate.go
  btp/provider/datasource_subaccount_destination_certificates.go
  btp/provider/resource_subaccount_destination_certificate.go
  docs/data-sources/subaccount_destination_certificate.md
  docs/data-sources/subaccount_destination_certificates.md
  docs/resources/subaccount_destination_certificate.md
Due: gofmt, golangci-lint

fix: review comments of Copilot
  btp/provider/datasource_subaccount_destination_certificate.go
  btp/provider/datasource_subaccount_destination_certificates.go
  btp/provider/resource_subaccount_destination_certificate.go
  docs/data-sources/subaccount_destination_certificate.md
  docs/data-sources/subaccount_destination_certificates.md
  docs/resources/subaccount_destination_certificate.md
Due: gofmt, golangci-lint

fix: state handling during polling
  btp/provider/resource_subaccount_environment_instance.go
Due: gofmt, golangci-lint

fix: change check to be consistent with polling
  btp/provider/resource_subaccount_environment_instance.go
Due: gofmt, golangci-lint

chore: Add SAP answers page to .lycheeignore
  .lycheeignore
Due: none

docs: malformatted documentation for destination certificates (#1441)
  btp/provider/datasource_subaccount_destination_certificate.go
  btp/provider/datasource_subaccount_destination_certificates.go
  btp/provider/resource_subaccount_destination_certificate.go
  docs/data-sources/subaccount_destination_certificate.md
  docs/data-sources/subaccount_destination_certificates.md
  docs/resources/subaccount_destination_certificate.md
Due: gofmt, golangci-lint

fix: state handling during polling (#1443)
  btp/provider/resource_subaccount_environment_instance.go
Due: gofmt, golangci-lint

chore: Add SAP answers page to .lycheeignore (#1447)
  .lycheeignore
Due: none

refinement
  btp/provider/resource_subaccount_service_instance.go
Due: gofmt, golangci-lint

reuse fecthing of plan and offering name
  btp/provider/resource_subaccount_service_instance.go
Due: gofmt, golangci-lint

recording of fixtures
  btp/provider/fixtures/resource_subaccount_service_instance.creation_error.yaml
  btp/provider/fixtures/resource_subaccount_service_instance.import_error.yaml
  btp/provider/fixtures/resource_subaccount_service_instance.sharing_error.yaml
  btp/provider/fixtures/resource_subaccount_service_instance.with_labels.yaml
  btp/provider/fixtures/resource_subaccount_service_instance.with_labels_change.yaml
  btp/provider/fixtures/resource_subaccount_service_instance.with_parameters.yaml
  btp/provider/fixtures/resource_subaccount_service_instance.with_sharing_conf_changed.yaml
  btp/provider/fixtures/resource_subaccount_service_instance.with_sharing_enabled.yaml
  btp/provider/fixtures/resource_subaccount_service_instance.wo_parameters.yaml
  btp/provider/fixtures/resource_subaccount_service_instance.wo_parameters_by_name.yaml
  btp/provider/fixtures/resource_subaccount_service_instance.wo_parameters_with import.yaml
  btp/provider/fixtures/resource_subaccount_service_instance_with_timeouts.yaml
  btp/provider/resource_subaccount_service_instance_test.go
Due: gofmt, golangci-lint

feat: improvements service instance
  btp/provider/resource_subaccount_service_instance.go
  btp/provider/resource_subaccount_service_instance_test.go
Due: gofmt, golangci-lint

fix: setting of resource identity during import
  btp/provider/resource_subaccount_environment_instance.go
  btp/provider/resource_subaccount_service_binding.go
  btp/provider/resource_subaccount_service_broker.go
  btp/provider/resource_subaccount_service_instance.go
  btp/provider/resource_subaccount_trust_configuration.go
Due: gofmt, golangci-lint

fix: setting of resource identity during import (#1451)
  btp/provider/resource_subaccount_environment_instance.go
  btp/provider/resource_subaccount_service_binding.go
  btp/provider/resource_subaccount_service_broker.go
  btp/provider/resource_subaccount_service_instance.go
  btp/provider/resource_subaccount_trust_configuration.go
Due: gofmt, golangci-lint

fix: date format for subscriptions
  internal/btpcli/types/saas_manager_service/time.go
Due: gofmt, golangci-lint

fix: date format for subscriptions (#1453)
  internal/btpcli/types/saas_manager_service/time.go
Due: gofmt, golangci-lint
