Repository SAP/terraform-provider-btp: changes, and which lefthook commands are due for each by the changed paths.
All: gofmt, golangci-lint, terraformfmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    gofmt:
      glob: "*.go"
      run: go fmt ./...
      exclude: "vendor/*"
    golangci-lint:
      glob: "*.go"
      run: golangci-lint run --fix
      exclude: "vendor/*"
    terraformfmt:
      glob: "*.tf"
      run: terraform fmt {staged_files}
      exclude: "vendor/*"

reuse fecthing of plan and offering name
  btp/provider/resource_subaccount_service_instance.go
Due: gofmt, golangci-lint

feat: enhance service instance resource
  btp/provider/resource_subaccount_service_instance.go
  btp/provider/type_subaccount_service_instance.go
  docs/resources/subaccount_service_instance.md
Due: gofmt, golangci-lint

refinement
  btp/provider/resource_subaccount_service_instance.go
Due: gofmt, golangci-lint

feat: improvements service instance
  btp/provider/resource_subaccount_service_instance.go
  btp/provider/resource_subaccount_service_instance_test.go
Due: gofmt, golangci-lint

recording of fixtures
  btp/provider/fixtures/resource_subaccount_service_instance.creation_error.yaml
  btp/provider/fixtures/resource_subaccount_service_instance.import_error.yaml
  btp/provider/fixtures/resource_subaccount_service_instance.sharing_error.yaml
  btp/provider/fixtures/resource_subaccount_service_instance.with_labels.yaml
  btp/provider/fixtures/resource_subaccount_service_instance.with_labels_change.yaml
  btp/provider/fixtures/resource_subaccount_service_instance.with_parameters.yaml
  btp/provider/fixtures/resource_subaccount_service_instance.with_sharing_conf_changed.yaml
  btp/provider/fixtures/resource_subaccount_service_instance.with_sharing_enabled.yaml
  btp/provider/fixtures/resource_subaccount_service_instance.wo_parameters.yaml
  btp/provider/fixtures/resource_subaccount_service_instance.wo_parameters_by_name.yaml
  btp/provider/fixtures/resource_subaccount_service_instance.wo_parameters_with import.yaml
  btp/provider/fixtures/resource_subaccount_service_instance_with_timeouts.yaml
  btp/provider/resource_subaccount_service_instance_test.go
Due: gofmt, golangci-lint

chore: Prep v1.21.0
  .github/ISSUE_TEMPLATE/bug_report.yml
  docs/index.md
  examples/provider/provider.tf
  integration/provider.tf
Due: terraformfmt

chore: Prep v1.21.0 (#1454)
  .github/ISSUE_TEMPLATE/bug_report.yml
  docs/index.md
  examples/provider/provider.tf
  integration/provider.tf
Due: terraformfmt

chore: revert updated gpg key import action to 6.3.0
  .github/workflows/release.yml
Due: none

chore: revert updated gpg key import action to 6.3.0 (#1456)
  .github/workflows/release.yml
Due: none

chore: Prep v1.21.1
  .github/ISSUE_TEMPLATE/bug_report.yml
  docs/index.md
  examples/provider/provider.tf
  integration/provider.tf
Due: terraformfmt

chore: Prep v1.21.1 (#1459)
  .github/ISSUE_TEMPLATE/bug_report.yml
  docs/index.md
  examples/provider/provider.tf
  integration/provider.tf
Due: terraformfmt

Revert "chore(deps): bump actions/setup-go from 6.3.0 to 6.4.0 (#1458)"
  .github/workflows/canary-regression-test.yml
  .github/workflows/codeql.yml
  .github/workflows/integration-test-opentofu.yml
  .github/workflows/integration-test.yml
  .github/workflows/release.yml
  .github/workflows/schema-regression-test-opentofu.yml
  .github/workflows/schema-regression-test.yml
  .github/workflows/test.yml
Due: none

chore: update gpg version
  .github/workflows/release.yml
Due: none

chore: update gpg version (#1461)
  .github/workflows/release.yml
Due: none

chore: Prep v1.21.2
  .github/ISSUE_TEMPLATE/bug_report.yml
  docs/index.md
  examples/provider/provider.tf
  integration/provider.tf
Due: terraformfmt

chore: Prep v1.21.2 (#1462)
  .github/ISSUE_TEMPLATE/bug_report.yml
  docs/index.md
  examples/provider/provider.tf
  integration/provider.tf
Due: terraformfmt

test: test release step
  .github/workflows/release.yml
Due: none

test: test release
  .github/workflows/test.yml
Due: none

test: test
  .github/workflows/test.yml
Due: none

chore: pin goreleaser version
  .github/workflows/release.yml
Due: none

chore: pin goreleaser version (#1464)
  .github/workflows/release.yml
Due: none

chore: prep release 1.21.3
  .github/ISSUE_TEMPLATE/bug_report.yml
  docs/index.md
  examples/provider/provider.tf
  integration/provider.tf
Due: terraformfmt

chore: prep release 1.21.3 (#1465)
  .github/ISSUE_TEMPLATE/bug_report.yml
  docs/index.md
  examples/provider/provider.tf
  integration/provider.tf
Due: terraformfmt

feat: support pending deletion of subsccounts
  btp/provider/resource_subaccount.go
  internal/btpcli/facade_accounts_subaccount.go
Due: gofmt, golangci-lint

feat: support reuse of CLI session for login
  btp/provider/provider.go
  go.mod
  go.sum
  internal/btpcli/client.go
  internal/btpcli/clienttypes.go
  internal/btpclisession/btpclisession.go
Due: gofmt, golangci-lint

feat: add devcontainer config for tests
  .devcontainer/withbtpcli/devcontainer.json
Due: none

feat: regeneration of documentation
  docs/index.md
  go.mod
  go.sum
  templates/index.md.tmpl
Due: none

feat: testcases for session
  internal/btpclisession/btpclisession_test.go
Due: gofmt, golangci-lint

fix: linting
  internal/btpcli/client.go
Due: gofmt, golangci-lint

fix: typo fixes
  .devcontainer/withbtpcli/devcontainer.json
  docs/index.md
  templates/index.md.tmpl
Due: none

fix: copilot review comments
  internal/btpcli/client.go
  internal/btpclisession/btpclisession.go
Due: gofmt, golangci-lint

fix: ensure consistent login flow via ENV
  btp/provider/provider.go
Due: gofmt, golangci-lint

chore: Add binary integrity check
  .github/workflows/binary-integrity-check
Due: none

chore: Add binary integrity check (#1478)
  .github/workflows/binary-integrity-check
Due: none
