Repository SAP/terraform-provider-btp: changes, and which lefthook commands are due for each by the changed paths.
All: gofmt, golangci-lint, terraformfmt

gofmt:
  run: go fmt ./...

golangci-lint:
  run: golangci-lint run --fix

terraformfmt:
  run: terraform fmt {staged_files}

test git branch
  .github/workflows/test.yml
Due: none

change default rev
  .github/scripts/fixtureDriftDetect.sh
Due: none

see all branches
  .github/workflows/test.yml
Due: none

set fetch depth
  .github/workflows/test.yml
Due: none

re-enable everything
  .github/workflows/test.yml
Due: none

remove git test command
  .github/workflows/test.yml
Due: none

feat: Add fixture drift detection to github action for tests (#357)
  .github/scripts/fixtureDriftDetect.sh
  .github/workflows/test.yml
Due: none

DO NOT COMMIT: test PR for fixtureDriftDetection
  internal/provider/fixtures/resource_directory.yaml
  internal/provider/fixtures/resource_directory_role_collection.update.yaml
  internal/provider/fixtures/resource_globalaccount_role_collection.yaml
  internal/provider/fixtures/resource_subaccount_environment_instance.update.yaml
Due: none

only new fixture
  internal/provider/fixtures/resource_subaccount_2.yaml
Due: none

feat: Add fixture record/replay log messages
  internal/provider/provider_test.go
Due: gofmt, golangci-lint

Only add planName to subscribe req if not empty
  internal/btpcli/facade_accounts_subaccount.go
Due: gofmt, golangci-lint

feat: Add fixture record/replay log messages (#362)
  internal/provider/provider_test.go
Due: gofmt, golangci-lint

fix(sonar): Reduce complexity of internal/tfutils/tfutils.go
  internal/tfutils/tfutils.go
Due: gofmt, golangci-lint

fix(sonar): Reduce complexity of internal/tfutils/tfutils.go (#375)
  internal/tfutils/tfutils.go
Due: gofmt, golangci-lint

chore: remove copied state.go file from sonar checks
  sonar-project.properties
Due: none

fix: exchange refresh token
  internal/btpcli/client.go
Due: gofmt, golangci-lint

fix: exchange refresh token (#381)
  internal/btpcli/client.go
Due: gofmt, golangci-lint

chore: remove copied state.go file from sonar checks (#377)
  sonar-project.properties
Due: none

fix: env instance parameters classification
  docs/resources/subaccount_environment_instance.md
  internal/provider/resource_subaccount_environment_instance.go
Due: gofmt, golangci-lint

fix: env instance parameters classification (#382)
  docs/resources/subaccount_environment_instance.md
  internal/provider/resource_subaccount_environment_instance.go
Due: gofmt, golangci-lint

fix: Reduce complexity of facade_accounts_entitlement.go
  internal/btpcli/facade_accounts_entitlement.go
Due: gofmt, golangci-lint

fix: Reduce complexity of facade_accounts_entitlement.go (#383)
  internal/btpcli/facade_accounts_entitlement.go
Due: gofmt, golangci-lint

fix: extend timeout for service instance and env instance
  internal/provider/resource_subaccount_environment_instance.go
  internal/provider/resource_subaccount_service_instance.go
Due: gofmt, golangci-lint

docu: correction of environment instance sample
  examples/resources/btp_subaccount_environment_instance/resource.tf
Due: terraformfmt

docu: correction of environment instance sample
  docs/resources/subaccount_environment_instance.md
Due: none

fix: service instance response workaround
  internal/btpcli/facade_services_instance.go
Due: gofmt, golangci-lint

fix: service instance test errors
  internal/btpcli/facade_services_instance.go
Due: gofmt, golangci-lint

fix: refine service instance logic
  internal/btpcli/facade_services_instance.go
Due: gofmt, golangci-lint

fix: re-recording of fixtures for service instance
  internal/provider/fixtures/resource_subaccount_service_instance_import_error.yaml
  internal/provider/fixtures/resource_subaccount_service_instance_wo_parameters.yaml
Due: none

fix: re-recording of fixtures for service instance with parameters
  internal/provider/fixtures/resource_subaccount_service_instance_with_parameters.yaml
Due: none

fix: extend timeout for service instance and env instance (#384)
  internal/provider/resource_subaccount_environment_instance.go
  internal/provider/resource_subaccount_service_instance.go
Due: gofmt, golangci-lint

fix: workaround for service instance creation (#387)
  internal/btpcli/facade_services_instance.go
  internal/provider/fixtures/resource_subaccount_service_instance_import_error.yaml
  internal/provider/fixtures/resource_subaccount_service_instance_with_parameters.yaml
  internal/provider/fixtures/resource_subaccount_service_instance_wo_parameters.yaml
Due: gofmt, golangci-lint

docs: removed unnecessary sample
  docs/resources/subaccount_environment_instance.md
  examples/resources/btp_subaccount_environment_instance/resource.tf
Due: terraformfmt

docu: correction of environment instance sample (#386)
  docs/resources/subaccount_environment_instance.md
  examples/resources/btp_subaccount_environment_instance/resource.tf
Due: terraformfmt

chore: prepare docs for 0.3.0 release
  docs/index.md
  examples/provider/provider.tf
Due: terraformfmt

chore: prepare docs for 0.3.0 release (#388)
  docs/index.md
  examples/provider/provider.tf
Due: terraformfmt

chore: golang upgrade
  .devcontainer/default/devcontainer.json
  .devcontainer/withenvfile/devcontainer.json
  README.md
  go.mod
  go.sum
Due: none

chore: golang update (#394)
  .devcontainer/default/devcontainer.json
  .devcontainer/withenvfile/devcontainer.json
  README.md
  go.mod
  go.sum
Due: none

feat: enablement of directory entitlements 3
  internal/btpcli/facade_accounts_entitlement.go
Due: gofmt, golangci-lint

feat: enablement of directory entitlements 2
  internal/btpcli/facade_accounts_directory.go
  internal/btpcli/facade_accounts_entitlement_test.go
  internal/provider/fixtures/resource_directory_features.yaml
  internal/provider/resource_directory.go
  internal/provider/resource_directory_test.go
  internal/tfutils/tfutils.go
Due: gofmt, golangci-lint

Path conditions:
  gofmt: any of: *.go, but not: vendor/*
  golangci-lint: any of: *.go, but not: vendor/*
  terraformfmt: any of: *.tf, but not: vendor/*
