Repository SAP/terraform-provider-btp: changes, and which lefthook commands are due for each by the changed paths.
All: gofmt, golangci-lint, terraformfmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    gofmt:
      glob: "*.go"
      run: go fmt ./...
      exclude: "vendor/*"
    golangci-lint:
      glob: "*.go"
      run: golangci-lint run --fix
      exclude: "vendor/*"
    terraformfmt:
      glob: "*.tf"
      run: terraform fmt {staged_files}
      exclude: "vendor/*"

feat: assignment of roles to role collections
  docs/resources/directory_role_collection.md
  docs/resources/globalaccount_role_collection.md
  docs/resources/subaccount_role_collection.md
  examples/resources/btp_directory_role_collection/resource.tf
  examples/resources/btp_globalaccount_role_collection/resource.tf
  examples/resources/btp_subaccount_role_collection/resource.tf
  internal/btpcli/facade_security_role.go
  internal/btpcli/facade_security_role_test.go
  internal/provider/resource_directory_role_collection.go
  internal/provider/resource_globalaccount_role_collection.go
  internal/provider/resource_subaccount_role_collection.go
Due: gofmt, golangci-lint, terraformfmt

remove test for role collection assignment
  internal/provider/fixtures/resource_directory_role_collection_assignment.user.yaml
  internal/provider/resource_directory_role_collection_assignement_test.go
Due: gofmt, golangci-lint

Cleanup testsetup phase1 (#84)
  docs/data-sources/globalaccount_resource_provider.md
  docs/data-sources/globalaccount_resource_providers.md
  docs/data-sources/subaccount_service_binding.md
  docs/data-sources/subaccount_service_bindings.md
  docs/data-sources/subaccount_service_instance.md
  docs/data-sources/subaccount_service_instances.md
  docs/data-sources/subaccount_service_offering.md
  docs/data-sources/subaccount_service_offerings.md
  docs/data-sources/subaccount_service_plan.md
  docs/data-sources/subaccount_service_plans.md
  docs/data-sources/subaccount_subscription.md
  docs/data-sources/subaccount_subscriptions.md
  docs/resources/globalaccount_role.md
  docs/resources/subaccount_service_binding.md
  docs/resources/subaccount_service_instance.md
  docs/resources/subaccount_subscription.md
  internal/provider/provider.go
  internal/provider/provider_test.go
Due: gofmt, golangci-lint

feat: assignment of roles to role collections (#87)
  docs/resources/directory_role_collection.md
  docs/resources/globalaccount_role_collection.md
  docs/resources/subaccount_role_collection.md
  examples/resources/btp_directory_role_collection/resource.tf
  examples/resources/btp_globalaccount_role_collection/resource.tf
  examples/resources/btp_subaccount_role_collection/resource.tf
  internal/btpcli/facade_security_role.go
  internal/btpcli/facade_security_role_test.go
  internal/provider/resource_directory_role_collection.go
  internal/provider/resource_globalaccount_role_collection.go
  internal/provider/resource_subaccount_role_collection.go
Due: gofmt, golangci-lint, terraformfmt

feat: rename role_references to roles
  docs/data-sources/directory_role_collection.md
  docs/data-sources/directory_role_collections.md
  docs/data-sources/globalaccount_role_collection.md
  docs/data-sources/globalaccount_role_collections.md
  docs/data-sources/subaccount_role_collection.md
  docs/data-sources/subaccount_role_collections.md
  docs/resources/directory_role_collection.md
  docs/resources/globalaccount_role_collection.md
  docs/resources/subaccount_role_collection.md
  examples/resources/btp_directory_role_collection/resource.tf
  examples/resources/btp_globalaccount_role_collection/resource.tf
  examples/resources/btp_subaccount_role_collection/resource.tf
  internal/provider/datasource_directory_role_collection.go
  internal/provider/datasource_directory_role_collection_test.go
  internal/provider/datasource_directory_role_collections.go
  internal/provider/datasource_globalaccount_role_collection.go
  internal/provider/datasource_globalaccount_role_collection_test.go
  internal/provider/datasource_globalaccount_role_collections.go
  internal/provider/datasource_subaccount_role_collection.go
  internal/provider/datasource_subaccount_role_collection_test.go
  internal/provider/datasource_subaccount_role_collections.go
  internal/provider/resource_directory_role_collection.go
  internal/provider/resource_globalaccount_role_collection.go
  internal/provider/resource_subaccount_role_collection.go
Due: gofmt, golangci-lint, terraformfmt

feat: rename role_references to roles (#123)
  docs/data-sources/directory_role_collection.md
  docs/data-sources/directory_role_collections.md
  docs/data-sources/globalaccount_role_collection.md
  docs/data-sources/globalaccount_role_collections.md
  docs/data-sources/subaccount_role_collection.md
  docs/data-sources/subaccount_role_collections.md
  docs/resources/directory_role_collection.md
  docs/resources/globalaccount_role_collection.md
  docs/resources/subaccount_role_collection.md
  examples/resources/btp_directory_role_collection/resource.tf
  examples/resources/btp_globalaccount_role_collection/resource.tf
  examples/resources/btp_subaccount_role_collection/resource.tf
  internal/provider/datasource_directory_role_collection.go
  internal/provider/datasource_directory_role_collection_test.go
  internal/provider/datasource_directory_role_collections.go
  internal/provider/datasource_globalaccount_role_collection.go
  internal/provider/datasource_globalaccount_role_collection_test.go
  internal/provider/datasource_globalaccount_role_collections.go
  internal/provider/datasource_subaccount_role_collection.go
  internal/provider/datasource_subaccount_role_collection_test.go
  internal/provider/datasource_subaccount_role_collections.go
  internal/provider/resource_directory_role_collection.go
  internal/provider/resource_globalaccount_role_collection.go
  internal/provider/resource_subaccount_role_collection.go
Due: gofmt, golangci-lint, terraformfmt

add unit test for datasource regions
  internal/provider/datasource_regions.go
  internal/provider/datasource_regions_test.go
  internal/provider/fixtures/datasource_regions.yaml
Due: gofmt, golangci-lint

update documentation
  docs/data-sources/regions.md
Due: none

chore: tests for btp_whoami
  internal/provider/datasource_whoami_test.go
  internal/provider/fixtures/datasource_whoami.yaml
Due: gofmt, golangci-lint

chore: tests for btp_whoami (#125)
  internal/provider/datasource_whoami_test.go
  internal/provider/fixtures/datasource_whoami.yaml
Due: gofmt, golangci-lint

add unit test for subabbount environments
  docs/data-sources/subaccount_environments.md
  internal/provider/datasource_subaccount_environments.go
  internal/provider/datasource_subaccount_environments_test.go
  internal/provider/fixtures/datasource_subaccount_environments.yaml
Due: gofmt, golangci-lint

update fixture
  internal/provider/fixtures/datasource_regions.yaml
Due: none

add unit test for subabbount environments (#127)
  docs/data-sources/subaccount_environments.md
  internal/provider/datasource_subaccount_environments.go
  internal/provider/datasource_subaccount_environments_test.go
  internal/provider/fixtures/datasource_subaccount_environments.yaml
Due: gofmt, golangci-lint

add unit test for datasource regions (#124)
  docs/data-sources/regions.md
  internal/provider/datasource_regions.go
  internal/provider/datasource_regions_test.go
  internal/provider/fixtures/datasource_regions.yaml
Due: gofmt, golangci-lint

initial test setup
  internal/provider/datasource_subaccount_environment_instances.go
  internal/provider/datasource_subaccount_environment_instances_test.go
  internal/provider/fixtures/datasource_subaccount_environment_instances.yaml
Due: gofmt, golangci-lint

add documentation
  docs/data-sources/subaccount_environment_instances.md
  internal/provider/datasource_subaccount_environment_instance_test.go
Due: gofmt, golangci-lint

remove wrong file
  internal/provider/datasource_subaccount_environment_instance_test.go
Due: gofmt, golangci-lint

update fixture
  internal/provider/fixtures/datasource_subaccount_environment_instances.yaml
Due: none

initial test setup (#131)
  docs/data-sources/subaccount_environment_instances.md
  internal/provider/datasource_subaccount_environment_instances.go
  internal/provider/datasource_subaccount_environment_instances_test.go
  internal/provider/fixtures/datasource_subaccount_environment_instances.yaml
Due: gofmt, golangci-lint

chore: adding tip to bug report to attach HCL files
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

chore: human readable links and markdown links
  internal/provider/datasource_directory.go
  internal/provider/datasource_directory_labels.go
  internal/provider/datasource_directory_roles.go
  internal/provider/datasource_directory_users.go
  internal/provider/datasource_globalaccount.go
  internal/provider/datasource_globalaccount_resource_provider.go
  internal/provider/datasource_globalaccount_resource_providers.go
  internal/provider/datasource_globalaccount_roles.go
  internal/provider/datasource_globalaccount_trust_configuration.go
  internal/provider/datasource_globalaccount_trust_configurations.go
  internal/provider/datasource_globalaccount_users.go
  internal/provider/datasource_subaccount_labels.go
  internal/provider/datasource_subaccount_roles.go
  internal/provider/datasource_subaccount_service_offerings.go
  internal/provider/datasource_subaccount_service_plans.go
  internal/provider/datasource_subaccount_trust_configuration.go
  internal/provider/datasource_subaccount_trust_configurations.go
  internal/provider/datasource_subaccount_users.go
  internal/provider/resource_directory.go
  internal/provider/resource_directory_role.go
  internal/provider/resource_directory_role_collection.go
  internal/provider/resource_globalaccount_resource_provider.go
  internal/provider/resource_globalaccount_role.go
  internal/provider/resource_globalaccount_role_collection.go
  internal/provider/resource_globalaccount_trust_configuration.go
  internal/provider/resource_subaccount.go
  internal/provider/resource_subaccount_entitlement.go
  internal/provider/resource_subaccount_environment_instance.go
  internal/provider/resource_subaccount_role.go
  internal/provider/resource_subaccount_role_collection.go
  internal/provider/resource_subaccount_trust_configuration.go
Due: gofmt, golangci-lint

chore: formatting of directory resource and data source
  internal/provider/datasource_directory.go
  internal/provider/resource_directory.go
Due: gofmt, golangci-lint

chore: regerneration of documentation
  docs/data-sources/directory.md
  docs/data-sources/directory_entitlements.md
  docs/data-sources/directory_labels.md
  docs/data-sources/directory_roles.md
  docs/data-sources/directory_users.md
  docs/data-sources/globalaccount.md
  docs/data-sources/globalaccount_entitlements.md
  docs/data-sources/globalaccount_roles.md
  docs/data-sources/globalaccount_trust_configuration.md
  docs/data-sources/globalaccount_trust_configurations.md
  docs/data-sources/globalaccount_users.md
  docs/data-sources/regions.md
  docs/data-sources/subaccount.md
  docs/data-sources/subaccount_entitlements.md
  docs/data-sources/subaccount_environment_instance.md
  docs/data-sources/subaccount_environment_instances.md
  docs/data-sources/subaccount_environments.md
  docs/data-sources/subaccount_labels.md
  docs/data-sources/subaccount_roles.md
  docs/data-sources/subaccount_trust_configuration.md
  docs/data-sources/subaccount_trust_configurations.md
  docs/data-sources/subaccount_users.md
  docs/data-sources/subaccounts.md
  docs/resources/directory.md
  docs/resources/directory_role_collection.md
  docs/resources/globalaccount_resource_provider.md
  docs/resources/globalaccount_role_collection.md
  docs/resources/globalaccount_trust_configuration.md
  docs/resources/subaccount.md
  docs/resources/subaccount_entitlement.md
  docs/resources/subaccount_environment_instance.md
  docs/resources/subaccount_role.md
  docs/resources/subaccount_role_collection.md
  docs/resources/subaccount_trust_configuration.md
Due: none

chore: adding tip to bug report to attach HCL files (#133)
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

feature: test for subaccount environment instance
  internal/provider/resource_subaccount_environment_instance_test.go
Due: gofmt, golangci-lint

feat: refinement of devcontainer setup with env files
  .devcontainer/default/devcontainer.json
  .devcontainer/withenvfile/devcontainer.json
  .gitignore
Due: none

feat: adding documentation
  .devcontainer/withenvfile/devcontainer.json
  DEVELOPER.md
Due: none

feat: refinement of devcontainer setup with env files (#135)
  .devcontainer/default/devcontainer.json
  .devcontainer/withenvfile/devcontainer.json
  .gitignore
  DEVELOPER.md
Due: none

enhancement: error cases
  internal/provider/resource_subaccount_environment_instance_test.go
Due: gofmt, golangci-lint

feat: fixture for environment instance
  internal/provider/fixtures/resource_subaccount_environment_instance.yaml
  internal/provider/resource_subaccount_environment_instance_test.go
Due: gofmt, golangci-lint

fix: mapping of quota due to plugin error
  go.mod
  go.sum
  internal/provider/datasource_directory_entitlements.go
  internal/provider/datasource_globalaccount_entitlements.go
  internal/provider/datasource_subaccount_entitlements.go
Due: gofmt, golangci-lint

fix: for 'error strings should not end with punctuation or newlines (ST1005)'
  internal/provider/datasource_subaccount_service_binding.go
  internal/provider/datasource_subaccount_service_broker.go
  internal/provider/datasource_subaccount_service_instance.go
  internal/provider/datasource_subaccount_service_offering.go
  internal/provider/datasource_subaccount_service_plan.go
  internal/provider/datasource_subaccount_service_platform.go
Due: gofmt, golangci-lint

feature: test for subaccount environment instance (#136)
  internal/provider/fixtures/resource_subaccount_environment_instance.yaml
  internal/provider/resource_subaccount_environment_instance_test.go
Due: gofmt, golangci-lint

fix: for 'error strings should not end with punctuation or newlines (ST1005)' (#141)
  internal/provider/datasource_subaccount_service_binding.go
  internal/provider/datasource_subaccount_service_broker.go
  internal/provider/datasource_subaccount_service_instance.go
  internal/provider/datasource_subaccount_service_offering.go
  internal/provider/datasource_subaccount_service_plan.go
  internal/provider/datasource_subaccount_service_platform.go
Due: gofmt, golangci-lint

feature: test for datasource global account
  internal/provider/datasource_globalaccount_test.go
  internal/provider/fixtures/datasource_globalaccount.yaml
Due: gofmt, golangci-lint

fix: mapping of quota due to plugin error (#140)
  go.mod
  go.sum
  internal/provider/datasource_directory_entitlements.go
  internal/provider/datasource_globalaccount_entitlements.go
  internal/provider/datasource_subaccount_entitlements.go
Due: gofmt, golangci-lint

chore: use framework capabilities for setting defaults
  internal/provider/resource_directory_role_collection_assignment.go
  internal/provider/resource_globalaccount_role_collection_assignment.go
  internal/provider/resource_subaccount_role_collection_assignment.go
  internal/provider/resource_subaccount_service_binding.go
  internal/provider/resource_subaccount_subscription.go
  internal/tfdefaults/tfdefaults.go
  internal/tfdefaults/tfdefaults_test.go
Due: gofmt, golangci-lint

chore: use framework capabilities for setting defaults (#143)
  internal/provider/resource_directory_role_collection_assignment.go
  internal/provider/resource_globalaccount_role_collection_assignment.go
  internal/provider/resource_subaccount_role_collection_assignment.go
  internal/provider/resource_subaccount_service_binding.go
  internal/provider/resource_subaccount_subscription.go
  internal/tfdefaults/tfdefaults.go
  internal/tfdefaults/tfdefaults_test.go
Due: gofmt, golangci-lint
