Repository SAP/terraform-provider-btp: changes, and which lefthook commands are due for each by the changed paths.
All: gofmt, golangci-lint, terraformfmt

gofmt:
  run: go fmt ./...

golangci-lint:
  run: golangci-lint run --fix

terraformfmt:
  run: terraform fmt {staged_files}

feat(docs): Add Kyma example to subaccount_environment_instance docs (#429)
  docs/resources/subaccount_environment_instance.md
Due: none

docs: add creation of Kyma environment instance
  docs/resources/subaccount_environment_instance.md
  examples/resources/btp_subaccount_environment_instance/resource.tf
Due: terraformfmt

feat: improve id token login
  internal/btpcli/client.go
  internal/btpcli/client_test.go
  internal/btpcli/clienttypes.go
  internal/provider/provider.go
  internal/provider/provider_test.go
Due: gofmt, golangci-lint

feat: improve id token login (#436)
  internal/btpcli/client.go
  internal/btpcli/client_test.go
  internal/btpcli/clienttypes.go
  internal/provider/provider.go
  internal/provider/provider_test.go
Due: gofmt, golangci-lint

docs: sample for creation of kyma env instance (#430)
  docs/resources/subaccount_environment_instance.md
  examples/resources/btp_subaccount_environment_instance/resource.tf
Due: terraformfmt

chore: linting
  go.mod
  go.sum
Due: none

chore: update dependencies
  go.mod
  go.sum
Due: none

chore: upgrade dependencies (#439)
  go.mod
  go.sum
Due: none

chore: pin Terraform version to 1.5.x
  .devcontainer/default/devcontainer.json
  .devcontainer/withenvfile/devcontainer.json
  .github/workflows/test.yml
Due: none

chore: pin Terraform version to 1.5.x (#441)
  .devcontainer/default/devcontainer.json
  .devcontainer/withenvfile/devcontainer.json
  .github/workflows/test.yml
Due: none

docu: prep docu for release 0.5.0-beta1
  docs/index.md
  examples/provider/provider.tf
Due: terraformfmt

feat: support update of subaccount trust configurations
  docs/resources/subaccount_trust_configuration.md
  internal/btpcli/facade_security_trust.go
  internal/btpcli/facade_security_trust_test.go
  internal/btpcli/types/xsuaa_trust/trust_configuration_response_object.go
  internal/provider/fixtures/resource_subaccount_trust_configuration.complete.yaml
  internal/provider/fixtures/resource_subaccount_trust_configuration.minimal.yaml
  internal/provider/resource_globalaccount_trust_configuration.go
  internal/provider/resource_subaccount_trust_configuration.go
  internal/provider/resource_subaccount_trust_configuration_test.go
  internal/provider/type_subaccount_trust_configuration.go
  internal/tfutils/tfutils.go
Due: gofmt, golangci-lint

docu: prep docu for release 0.5.0-beta1 (#443)
  docs/index.md
  examples/provider/provider.tf
Due: terraformfmt

adapting datasource to trust configuration schema changes
  internal/provider/datasource_subaccount_trust_configuration.go
  internal/provider/datasource_subaccount_trust_configurations.go
  internal/provider/fixtures/datasource_subaccount_trust_configuration.custom_idp_exists.yaml
  internal/provider/fixtures/datasource_subaccount_trust_configuration.custom_idp_not_existing.yaml
  internal/provider/fixtures/datasource_subaccount_trust_configuration.default.yaml
  internal/provider/fixtures/datasource_subaccount_trust_configurations.subaccount_exists.yaml
  internal/provider/fixtures/datasource_subaccount_trust_configurations.subaccount_not_existing.yaml
  internal/provider/fixtures/resource_subaccount_trust_configuration.complete.yaml
  internal/provider/fixtures/resource_subaccount_trust_configuration.minimal.yaml
  internal/provider/type_subaccount_trust_configuration.go
Due: gofmt, golangci-lint

generate docs
  docs/data-sources/subaccount_trust_configuration.md
  docs/data-sources/subaccount_trust_configurations.md
Due: none

feat: support update of subaccount trust configurations (#444)
  docs/data-sources/subaccount_trust_configuration.md
  docs/data-sources/subaccount_trust_configurations.md
  docs/resources/subaccount_trust_configuration.md
  internal/btpcli/facade_security_trust.go
  internal/btpcli/facade_security_trust_test.go
  internal/btpcli/types/xsuaa_trust/trust_configuration_response_object.go
  internal/provider/datasource_subaccount_trust_configuration.go
  internal/provider/datasource_subaccount_trust_configurations.go
  internal/provider/fixtures/datasource_subaccount_trust_configuration.custom_idp_exists.yaml
  internal/provider/fixtures/datasource_subaccount_trust_configuration.custom_idp_not_existing.yaml
  internal/provider/fixtures/datasource_subaccount_trust_configuration.default.yaml
  internal/provider/fixtures/datasource_subaccount_trust_configurations.subaccount_exists.yaml
  internal/provider/fixtures/datasource_subaccount_trust_configurations.subaccount_not_existing.yaml
  internal/provider/fixtures/resource_subaccount_trust_configuration.complete.yaml
  internal/provider/fixtures/resource_subaccount_trust_configuration.minimal.yaml
  internal/provider/resource_globalaccount_trust_configuration.go
  internal/provider/resource_subaccount_trust_configuration.go
  internal/provider/resource_subaccount_trust_configuration_test.go
  internal/provider/type_subaccount_trust_configuration.go
  internal/tfutils/tfutils.go
Due: gofmt, golangci-lint

feat: add labels to service bindings
  docs/resources/subaccount_service_binding.md
  internal/btpcli/facade_services_binding.go
  internal/btpcli/facade_services_binding_test.go
  internal/provider/resource_subaccount_service_binding.go
  internal/provider/resource_subaccount_service_binding_test.go
Due: gofmt, golangci-lint

feat: labels for service instances and service bindings
  internal/provider/fixtures/resource_subaccount_service_binding.with_labels.yaml
  internal/provider/fixtures/resource_subaccount_service_binding.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.with_labels.yaml
  internal/provider/resource_subaccount_service_binding.go
  internal/provider/resource_subaccount_service_instance_test.go
  internal/provider/type_subaccount_service_binding.go
  internal/provider/type_subaccount_service_instance.go
  internal/tfutils/labelfilter.go
  internal/tfutils/labelfilter_test.go
Due: gofmt, golangci-lint

feat: labels for bindings
  internal/provider/resource_subaccount_service_instance_test.go
  internal/provider/type_subaccount_service_instance.go
Due: gofmt, golangci-lint

fix linter error
  internal/provider/fixtures/resource_subaccount_service_instance.with_labels.yaml
  internal/provider/resource_subaccount_service_binding.go
Due: gofmt, golangci-lint

feat: enable input of labels for service bindings (#447)
  docs/resources/subaccount_service_binding.md
  internal/btpcli/facade_services_binding.go
  internal/btpcli/facade_services_binding_test.go
  internal/provider/fixtures/resource_subaccount_service_binding.with_labels.yaml
  internal/provider/fixtures/resource_subaccount_service_binding.yaml
  internal/provider/resource_subaccount_service_binding.go
  internal/provider/resource_subaccount_service_binding_test.go
  internal/provider/type_subaccount_service_binding.go
  internal/provider/type_subaccount_service_instance.go
  internal/tfutils/labelfilter.go
  internal/tfutils/labelfilter_test.go
Due: gofmt, golangci-lint

fix: prepare diff handling for labels in service instance update
  internal/btpcli/facade_services_instance.go
  internal/provider/resource_subaccount_service_instance.go
Due: gofmt, golangci-lint

bug: handling of labels for service instances
  internal/btpcli/facade_services_instance.go
  internal/btpcli/facade_services_instance_test.go
  internal/provider/fixtures/resource_subaccount_service_instance.import_error.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.with_labels.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.with_labels_change.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.with_parameters.yaml
  internal/provider/fixtures/resource_subaccount_service_instance_with_timeouts.yaml
  internal/provider/resource_subaccount_service_instance_test.go
  internal/provider/type_subaccount_service_instance.go
Due: gofmt, golangci-lint

fix: label handling for service instances on subaccounts (#450)
  internal/btpcli/facade_services_instance.go
  internal/btpcli/facade_services_instance_test.go
  internal/provider/fixtures/resource_subaccount_service_instance.import_error.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.with_labels.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.with_labels_change.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.with_parameters.yaml
  internal/provider/fixtures/resource_subaccount_service_instance_with_timeouts.yaml
  internal/provider/resource_subaccount_service_instance.go
  internal/provider/resource_subaccount_service_instance_test.go
  internal/provider/type_subaccount_service_instance.go
Due: gofmt, golangci-lint

chore(dependency): updated test matrix for supported Terraform versions
  .github/workflows/test.yml
Due: none

chore: GH Action for SBOM creation
  .github/workflows/sbom-creation.yml
Due: none

chore(dependency): updated test matrix for supported Terraform versions (#452)
  .github/workflows/test.yml
Due: none

Update .github/workflows/sbom-creation.yml
  .github/workflows/sbom-creation.yml
Due: none

fix: trying different strategy for call
  internal/btpcli/facade_accounts_entitlement.go
  internal/btpcli/types/cis_entitlements/service_plan_assignment_response_collection.go
  internal/provider/resource_subaccount_entitlement.go
Due: gofmt, golangci-lint

chore: GH Action for SBOM creation (#453)
  .github/workflows/sbom-creation.yml
Due: none

Feat: support passcode auth
  internal/btpcli/client.go
  internal/btpcli/client_test.go
  internal/btpcli/clienttypes.go
Due: gofmt, golangci-lint

support passcode auth on provider level
  docs/index.md
  internal/provider/provider.go
Due: gofmt, golangci-lint

chore: refine sonar setting for beta resources
  internal/btpcli/types/cis_entitlements/time.go
  internal/provider/provider.go
  sonar-project.properties
Due: gofmt, golangci-lint

fix: typo
  internal/provider/provider.go
Due: gofmt, golangci-lint

Path conditions:
  gofmt: any of: *.go, but not: vendor/*
  golangci-lint: any of: *.go, but not: vendor/*
  terraformfmt: any of: *.tf, but not: vendor/*
