Repository SAP/terraform-provider-btp: changes, and which lefthook commands are due for each by the changed paths.
All: gofmt, golangci-lint, terraformfmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    gofmt:
      glob: "*.go"
      run: go fmt ./...
      exclude: "vendor/*"
    golangci-lint:
      glob: "*.go"
      run: golangci-lint run --fix
      exclude: "vendor/*"
    terraformfmt:
      glob: "*.tf"
      run: terraform fmt {staged_files}
      exclude: "vendor/*"

feat: expose environments for service plans
  btp/provider/datasource_subaccount_service_plan.go
  btp/provider/datasource_subaccount_service_plans.go
  btp/provider/datasource_subaccount_service_plans_test.go
  btp/provider/fixtures/datasource_subaccount_service_plan.by_id.yaml
  btp/provider/fixtures/datasource_subaccount_service_plan.by_name.yaml
  btp/provider/fixtures/datasource_subaccount_service_plan.err_with_subaccount_only.yaml
  btp/provider/fixtures/datasource_subaccount_service_plans.all.yaml
  btp/provider/fixtures/datasource_subaccount_service_plans.cloudfoundry.yaml
  btp/provider/fixtures/datasource_subaccount_service_plans.namefilter.yaml
  btp/provider/type_subaccount_entitlement.go
  docs/data-sources/subaccount_service_plan.md
  docs/data-sources/subaccount_service_plans.md
Due: gofmt, golangci-lint

feat: expose environments for service plans (#1353)
  btp/provider/datasource_subaccount_service_plan.go
  btp/provider/datasource_subaccount_service_plans.go
  btp/provider/datasource_subaccount_service_plans_test.go
  btp/provider/fixtures/datasource_subaccount_service_plan.by_id.yaml
  btp/provider/fixtures/datasource_subaccount_service_plan.by_name.yaml
  btp/provider/fixtures/datasource_subaccount_service_plan.err_with_subaccount_only.yaml
  btp/provider/fixtures/datasource_subaccount_service_plans.all.yaml
  btp/provider/fixtures/datasource_subaccount_service_plans.cloudfoundry.yaml
  btp/provider/fixtures/datasource_subaccount_service_plans.namefilter.yaml
  btp/provider/type_subaccount_entitlement.go
  docs/data-sources/subaccount_service_plan.md
  docs/data-sources/subaccount_service_plans.md
Due: gofmt, golangci-lint

feat: Subaccount identity providers datasource (#1345)
  btp/provider/datasource_globalaccount_security_identity_provider.go
  btp/provider/datasource_globalaccount_security_identity_provider_test.go
  btp/provider/datasource_globalaccount_security_identity_providers.go
  btp/provider/datasource_globalaccount_security_identity_providers_test.go
  btp/provider/datasource_subaccount_security_identity_provider.go
  btp/provider/datasource_subaccount_security_identity_provider_test.go
  btp/provider/datasource_subaccount_security_identity_providers.go
  btp/provider/datasource_subaccount_security_identity_providers_test.go
  btp/provider/fixtures/datasource_globalaccount_identity_provider.by_host.yaml
  btp/provider/fixtures/datasource_globalaccount_identity_providers.list_all.yaml
  btp/provider/fixtures/datasource_subaccount_identity_provider.by_host.yaml
  btp/provider/fixtures/datasource_subaccount_identity_provider.subaccount_not_found.yaml
  btp/provider/fixtures/datasource_subaccount_identity_providers.list_all.yaml
  btp/provider/fixtures/datasource_subaccount_identity_providers.subaccount_not_found.yaml
  btp/provider/provider.go
  btp/provider/provider_test.go
  btp/provider/type_security_identity_provider.go
  docs/data-sources/globalaccount_identity_provider.md
  docs/data-sources/globalaccount_identity_providers.md
  docs/data-sources/subaccount_identity_provider.md
  docs/data-sources/subaccount_identity_providers.md
  examples/data-sources/btp_globalaccount_identity_provider/data-source.tf
  examples/data-sources/btp_globalaccount_identity_providers/data-source.tf
  examples/data-sources/btp_subaccount_identity_provider/data-source.tf
  examples/data-sources/btp_subaccount_identity_providers/data-source.tf
  internal/btpcli/facade_security.go
  internal/btpcli/facade_security_identity_provider.go
  internal/btpcli/facade_security_identity_provider_test.go
  internal/btpcli/types/xsuaa_authz/model_security_identity_provider.go
Due: gofmt, golangci-lint, terraformfmt

feat: add list resource functionality for global account roles
  btp/provider/fixtures/list_resource_globalaccount_role.yaml
  btp/provider/list_resource_globalaccount_role.go
  btp/provider/list_resource_globalaccount_role_test.go
  btp/provider/provider.go
  btp/provider/provider_test.go
Due: gofmt, golangci-lint

docs: add documentation for global account role list functionality
  docs/list-resources/globalaccount_role.md
  examples/list-resources/btp_globalaccount_role/list-resource.tfquery.hcl
Due: none

refactor: rename test function
  btp/provider/provider_test.go
Due: gofmt, golangci-lint

test: add testcase for configure function error
  btp/provider/list_resource_globalaccount_role_test.go
Due: gofmt, golangci-lint

refactor: update global account role list description and cleanup
  btp/provider/list_resource_globalaccount_role.go
  docs/list-resources/globalaccount_role.md
  examples/list-resources/btp_globalaccount_role/list-resource.tfquery.hcl
Due: gofmt, golangci-lint

docs: fix formating
  docs/list-resources/globalaccount_role.md
  examples/list-resources/btp_globalaccount_role/list-resource.tfquery.hcl
Due: none

feat: Implement list functionality for global account roles (#1355)
  btp/provider/fixtures/list_resource_globalaccount_role.yaml
  btp/provider/list_resource_globalaccount_role.go
  btp/provider/list_resource_globalaccount_role_test.go
  btp/provider/provider.go
  btp/provider/provider_test.go
  docs/list-resources/globalaccount_role.md
  examples/list-resources/btp_globalaccount_role/list-resource.tfquery.hcl
Due: gofmt, golangci-lint

feat: added identity import block for service broker
  btp/provider/datasource_subaccount_service_broker_test.go
  btp/provider/fixtures/datasource_subaccount_service_broker.by_id.yaml
  btp/provider/fixtures/resource_subaccount_service_broker.yaml
  btp/provider/fixtures/resource_subaccount_service_broker_import_block.yaml
  btp/provider/fixtures/resource_subaccount_service_broker_with_cert_and_key.yaml
  btp/provider/fixtures/resource_subaccount_service_broker_with_mtls.yaml
  btp/provider/resource_subaccount_service_broker.go
  btp/provider/resource_subaccount_service_broker_test.go
  docs/resources/subaccount_service_broker.md
  examples/resources/btp_subaccount_service_broker/import.sh
Due: gofmt, golangci-lint

feat: add list resource functionality for global account role collection and resource provider
  btp/provider/fixtures/list_resource_globalaccount_resource_provider.yaml
  btp/provider/fixtures/list_resource_globalaccount_role_collection.yaml
  btp/provider/list_resource_globalaccount_resource_provider.go
  btp/provider/list_resource_globalaccount_resource_provider_test.go
  btp/provider/list_resource_globalaccount_role_collection.go
  btp/provider/list_resource_globalaccount_role_collection_test.go
  btp/provider/provider.go
  btp/provider/provider_test.go
Due: gofmt, golangci-lint

feat: added identity import block for service broker (#1358)
  btp/provider/datasource_subaccount_service_broker_test.go
  btp/provider/fixtures/datasource_subaccount_service_broker.by_id.yaml
  btp/provider/fixtures/resource_subaccount_service_broker.yaml
  btp/provider/fixtures/resource_subaccount_service_broker_import_block.yaml
  btp/provider/fixtures/resource_subaccount_service_broker_with_cert_and_key.yaml
  btp/provider/fixtures/resource_subaccount_service_broker_with_mtls.yaml
  btp/provider/resource_subaccount_service_broker.go
  btp/provider/resource_subaccount_service_broker_test.go
  docs/resources/subaccount_service_broker.md
  examples/resources/btp_subaccount_service_broker/import.sh
Due: gofmt, golangci-lint

fix: plan modifier fails when config values are dynamic
  btp/provider/resource_subaccount_destination_generic.go
Due: gofmt, golangci-lint

fix: further cases
  btp/provider/resource_subaccount_destination_generic.go
Due: gofmt, golangci-lint

docs: add examples
  docs/list-resources/globalaccount_resource_provider.md
  docs/list-resources/globalaccount_role_collection.md
  examples/list-resources/btp_globalaccount_resource_provider/list-resource.tfquery.hcl
  examples/list-resources/btp_globalaccount_role_collection/list-resource.tfquery.hcl
Due: none

feat: added-import-block-for-subaccount-security-settings
  btp/provider/fixtures/resource_subaccount_security_settings.complete.yaml
  btp/provider/fixtures/resource_subaccount_security_settings.destroy.yaml
  btp/provider/fixtures/resource_subaccount_security_settings.destroy_list.yaml
  btp/provider/fixtures/resource_subaccount_security_settings_with_iframe_domains_list.complete.yaml
  btp/provider/fixtures/resource_subaccount_security_settings_with_import.yaml
  btp/provider/resource_subaccount_security_settings.go
  btp/provider/resource_subaccount_security_settings_test.go
  docs/resources/subaccount_security_settings.md
  examples/resources/btp_subaccount_security_settings/import.sh
Due: gofmt, golangci-lint

feat: added-import-block-for-subaccount-security-settings (#1363)
  btp/provider/fixtures/resource_subaccount_security_settings.complete.yaml
  btp/provider/fixtures/resource_subaccount_security_settings.destroy.yaml
  btp/provider/fixtures/resource_subaccount_security_settings.destroy_list.yaml
  btp/provider/fixtures/resource_subaccount_security_settings_with_iframe_domains_list.complete.yaml
  btp/provider/fixtures/resource_subaccount_security_settings_with_import.yaml
  btp/provider/resource_subaccount_security_settings.go
  btp/provider/resource_subaccount_security_settings_test.go
  docs/resources/subaccount_security_settings.md
  examples/resources/btp_subaccount_security_settings/import.sh
Due: gofmt, golangci-lint

feat: add list functionality for entitlements and role collection for direcatory
  btp/provider/list_resource_directory_entitlement.go
  btp/provider/list_resource_directory_entitlement_test.go
  btp/provider/list_resource_directory_role_collection.go
  btp/provider/list_resource_directory_role_collection_test.go
  btp/provider/provider.go
Due: gofmt, golangci-lint

refactor: fix typo
  btp/provider/list_resource_globalaccount_resource_provider.go
  btp/provider/list_resource_globalaccount_role_collection.go
  docs/list-resources/globalaccount_resource_provider.md
  docs/list-resources/globalaccount_role_collection.md
  examples/list-resources/btp_globalaccount_resource_provider/list-resource.tfquery.hcl
  examples/list-resources/btp_globalaccount_role_collection/list-resource.tfquery.hcl
Due: gofmt, golangci-lint

chore: update of Go version to 1.26
  .devcontainer/default/devcontainer.json
  .devcontainer/withenvfile/devcontainer.json
  README.md
  go.mod
  go.sum
Due: none

fix: plan modifier fails when config values are dynamic (#1360)
  btp/provider/resource_subaccount_destination_generic.go
Due: gofmt, golangci-lint

chore: update of Go version to 1.26 (#1364)
  .devcontainer/default/devcontainer.json
  .devcontainer/withenvfile/devcontainer.json
  README.md
  go.mod
  go.sum
Due: none

feat: Implement list functionality for global account role collection and resource provider (#1361)
  btp/provider/fixtures/list_resource_globalaccount_resource_provider.yaml
  btp/provider/fixtures/list_resource_globalaccount_role_collection.yaml
  btp/provider/list_resource_globalaccount_resource_provider.go
  btp/provider/list_resource_globalaccount_resource_provider_test.go
  btp/provider/list_resource_globalaccount_role_collection.go
  btp/provider/list_resource_globalaccount_role_collection_test.go
  btp/provider/provider.go
  btp/provider/provider_test.go
  docs/list-resources/globalaccount_resource_provider.md
  docs/list-resources/globalaccount_role_collection.md
  examples/list-resources/btp_globalaccount_resource_provider/list-resource.tfquery.hcl
  examples/list-resources/btp_globalaccount_role_collection/list-resource.tfquery.hcl
Due: gofmt, golangci-lint

feat: add unit test and refactor code
  btp/provider/fixtures/list_resource_directory_entitlement.yaml
  btp/provider/fixtures/list_resource_directory_role_collection.yaml
  btp/provider/list_resource_directory_entitlement.go
  btp/provider/list_resource_directory_entitlement_test.go
  btp/provider/list_resource_directory_role_collection.go
  btp/provider/list_resource_directory_role_collection_test.go
  btp/provider/type_directory_entitlement.go
Due: gofmt, golangci-lint

docs: add directory role collection and entitlement examples for list functionality
  docs/list-resources/directory_entitlement.md
  docs/list-resources/directory_role_collection.md
  examples/list-resources/btp_directory_entitlement/list-resource.tfquery.hcl
  examples/list-resources/btp_directory_role_collection/list-resource.tfquery.hcl
Due: none

fix: linting errors in destination tests
  btp/provider/resource_subaccount_destination_generic_test.go
  btp/provider/resource_subaccount_destination_test.go
Due: gofmt, golangci-lint

fix: linting errors in destination tests (#1368)
  btp/provider/resource_subaccount_destination_generic_test.go
  btp/provider/resource_subaccount_destination_test.go
Due: gofmt, golangci-lint

feat: added import identity block for subaccount
  btp/provider/fixtures/resource_subaccount.change_to_used_for_production.yaml
  btp/provider/fixtures/resource_subaccount.full_config.yaml
  btp/provider/fixtures/resource_subaccount.skip_entitlements.yaml
  btp/provider/fixtures/resource_subaccount.used_for_production.yaml
  btp/provider/fixtures/resource_subaccount_with_import.yaml
  btp/provider/resource_subaccount.go
  btp/provider/resource_subaccount_test.go
  docs/resources/subaccount.md
  examples/resources/btp_subaccount/import.sh
Due: gofmt, golangci-lint

fix: resolve failing test cases
  btp/provider/provider_test.go
Due: gofmt, golangci-lint

feat: added import identity block for subaccount (#1365)
  btp/provider/fixtures/resource_subaccount.change_to_used_for_production.yaml
  btp/provider/fixtures/resource_subaccount.full_config.yaml
  btp/provider/fixtures/resource_subaccount.skip_entitlements.yaml
  btp/provider/fixtures/resource_subaccount.used_for_production.yaml
  btp/provider/fixtures/resource_subaccount_with_import.yaml
  btp/provider/resource_subaccount.go
  btp/provider/resource_subaccount_test.go
  docs/resources/subaccount.md
  examples/resources/btp_subaccount/import.sh
Due: gofmt, golangci-lint

feat: add initial logic for list resource for service broker and instance
  btp/provider/list_resource_subaccount_service_broker.go
  btp/provider/list_resource_subaccount_service_broker_test.go
  btp/provider/list_resource_subaccount_service_instance.go
  btp/provider/list_resource_subaccount_service_instance_test.go
Due: gofmt, golangci-lint

refactor: add missing test cases and fix typo
  btp/provider/fixtures/list_resource_directory_entitlement_not_found.yaml
  btp/provider/fixtures/list_resource_directory_role_collection_access_forbidden.yaml
  btp/provider/list_resource_directory_entitlement.go
  btp/provider/list_resource_directory_entitlement_test.go
  btp/provider/list_resource_directory_role_collection.go
  btp/provider/list_resource_directory_role_collection_test.go
Due: gofmt, golangci-lint

refactor: skip test case for below version of terraform
  btp/provider/list_resource_directory_entitlement_test.go
  btp/provider/list_resource_directory_role_collection_test.go
Due: gofmt, golangci-lint

feat: Implement list functionality for directory entitlement and role collection (#1366)
  btp/provider/fixtures/list_resource_directory_entitlement.yaml
  btp/provider/fixtures/list_resource_directory_entitlement_not_found.yaml
  btp/provider/fixtures/list_resource_directory_role_collection.yaml
  btp/provider/fixtures/list_resource_directory_role_collection_access_forbidden.yaml
  btp/provider/list_resource_directory_entitlement.go
  btp/provider/list_resource_directory_entitlement_test.go
  btp/provider/list_resource_directory_role_collection.go
  btp/provider/list_resource_directory_role_collection_test.go
  btp/provider/provider.go
  btp/provider/provider_test.go
  btp/provider/type_directory_entitlement.go
  docs/list-resources/directory_entitlement.md
  docs/list-resources/directory_role_collection.md
  examples/list-resources/btp_directory_entitlement/list-resource.tfquery.hcl
  examples/list-resources/btp_directory_role_collection/list-resource.tfquery.hcl
Due: gofmt, golangci-lint

chore: Prep v1.20
  .github/ISSUE_TEMPLATE/bug_report.yml
  docs/index.md
  examples/provider/provider.tf
  integration/provider.tf
Due: terraformfmt

chore: Prep v1.20 (#1370)
  .github/ISSUE_TEMPLATE/bug_report.yml
  docs/index.md
  examples/provider/provider.tf
  integration/provider.tf
Due: terraformfmt
