Repository SAP/terraform-provider-btp: changes, and which lefthook commands are due for each by the changed paths.
All: gofmt, golangci-lint, terraformfmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    gofmt:
      glob: "*.go"
      run: go fmt ./...
      exclude: "vendor/*"
    golangci-lint:
      glob: "*.go"
      run: golangci-lint run --fix
      exclude: "vendor/*"
    terraformfmt:
      glob: "*.tf"
      run: terraform fmt {staged_files}
      exclude: "vendor/*"

fix: authorization subaccount creation under managed directory
  internal/btpcli/facade_accounts_subaccount.go
  internal/provider/resource_subaccount.go
Due: gofmt, golangci-lint

fix: authorization directory on subaccount level
  internal/provider/datasource_subaccount_entitlement.go
  internal/provider/datasource_subaccount_entitlements.go
  internal/provider/resource_subaccount.go
  internal/provider/resource_subaccount_entitlement.go
  internal/provider/type_subaccount.go
Due: gofmt, golangci-lint

fix: add adminDirectory to directory resource
  internal/btpcli/facade_accounts_directory.go
  internal/btpcli/facade_accounts_directory_test.go
  internal/provider/datasource_directory.go
  internal/provider/resource_directory.go
  internal/provider/resource_subaccount_entitlement.go
  internal/provider/type_subaccount.go
Due: gofmt, golangci-lint

fix: minor changes to comments
  internal/btpcli/facade_accounts_subaccount.go
  internal/provider/resource_directory.go
  internal/provider/resource_subaccount.go
Due: gofmt, golangci-lint

test: update recording of test fixture data_directory
  internal/provider/fixtures/datasource_directory.yaml
Due: none

test: update recording of test fixture resource_subaccount
  internal/provider/fixtures/resource_subaccount.change_to_used_for_production.yaml
  internal/provider/fixtures/resource_subaccount.full_config.yaml
  internal/provider/fixtures/resource_subaccount.used_for_production.yaml
  internal/provider/fixtures/resource_subaccount.yaml
Due: none

test: update recording of test fixture resource_directory
  internal/btpcli/facade_accounts_directory.go
  internal/provider/fixtures/datasource_directory.yaml
  internal/provider/fixtures/resource_directory.change_with_features.yaml
  internal/provider/fixtures/resource_directory.full_config.yaml
  internal/provider/fixtures/resource_directory.with_features.yaml
  internal/provider/fixtures/resource_directory.yaml
Due: gofmt, golangci-lint

test: add new test cases for hierachies
  internal/provider/fixtures/resource_subaccount.with_managed_parent.yaml
  internal/provider/fixtures/resource_subaccount.with_parent_hierarchy.yaml
  internal/provider/resource_subaccount_test.go
Due: gofmt, golangci-lint

test: add test fixture for directory hierarchy
  internal/provider/fixtures/resource_directory.with_hierarchy.yaml
  internal/provider/resource_directory_test.go
Due: gofmt, golangci-lint

feat: add custom attributes to subaccount role (#1109)
  docs/data-sources/subaccount_role.md
  docs/data-sources/subaccount_roles.md
  docs/resources/subaccount_role.md
  examples/resources/btp_subaccount_role/resource.tf
  internal/btpcli/facade_security_role.go
  internal/provider/datasource_subaccount_role.go
  internal/provider/datasource_subaccount_role_test.go
  internal/provider/datasource_subaccount_roles.go
  internal/provider/datasource_subaccount_roles_test.go
  internal/provider/fixtures/datasource_subaccount_role.yaml
  internal/provider/fixtures/datasource_subaccount_role_with_attributes.yaml
  internal/provider/fixtures/datasource_subaccount_roles.yaml
  internal/provider/fixtures/resource_subaccount_role.error_import.yaml
  internal/provider/fixtures/resource_subaccount_role.update.yaml
  internal/provider/fixtures/resource_subaccount_role_with_attributes.yaml
  internal/provider/resource_subaccount_role.go
  internal/provider/resource_subaccount_role_test.go
  internal/provider/type_subaccount_role.go
Due: gofmt, golangci-lint, terraformfmt

fix: fixture recording, refactoring
  internal/provider/datasource_subaccount_entitlements_test.go
  internal/provider/fixtures/datasource_subaccount_entitlement.yaml
  internal/provider/fixtures/datasource_subaccount_entitlement_invalid.yaml
  internal/provider/fixtures/datasource_subaccount_entitlements.yaml
  internal/provider/resource_directory.go
  internal/provider/type_subaccount.go
Due: gofmt, golangci-lint

test: recording test fixture for directory
  internal/provider/fixtures/resource_directory.change_with_features.yaml
  internal/provider/fixtures/resource_directory.full_config.yaml
  internal/provider/fixtures/resource_directory.with_features.yaml
  internal/provider/fixtures/resource_directory.with_hierarchy.yaml
  internal/provider/fixtures/resource_directory.yaml
Due: none

test: add comment about roles when recording test fixture
  internal/provider/resource_directory_test.go
  internal/provider/resource_subaccount_test.go
Due: gofmt, golangci-lint

updating tests for role collection resource
  internal/provider/fixtures/resource_subaccount_role_collection.import_error.yaml
  internal/provider/fixtures/resource_subaccount_role_collection.update.yaml
  internal/provider/fixtures/resource_subaccount_role_collection.update_rm_desc.yaml
  internal/provider/fixtures/resource_subaccount_role_collection.update_wo_desc.yaml
  internal/provider/fixtures/resource_subaccount_role_collection.yaml
  internal/provider/resource_subaccount_role_collection.go
  internal/provider/resource_subaccount_role_collection_test.go
Due: gofmt, golangci-lint

updating test
  internal/provider/fixtures/resource_subaccount_role_collection.import_error.yaml
  internal/provider/fixtures/resource_subaccount_role_collection.update.yaml
  internal/provider/fixtures/resource_subaccount_role_collection.update_rm_desc.yaml
  internal/provider/fixtures/resource_subaccount_role_collection.update_wo_desc.yaml
  internal/provider/fixtures/resource_subaccount_role_collection.yaml
  internal/provider/resource_subaccount_role_collection_test.go
Due: gofmt, golangci-lint

updating tests for role collection resource
  internal/provider/fixtures/resource_subaccount_role_collection.import_error.yaml
  internal/provider/fixtures/resource_subaccount_role_collection.import_resource_identity.yaml
  internal/provider/fixtures/resource_subaccount_role_collection.update.yaml
  internal/provider/fixtures/resource_subaccount_role_collection.update_rm_desc.yaml
  internal/provider/fixtures/resource_subaccount_role_collection.update_wo_desc.yaml
  internal/provider/resource_subaccount_role_collection_test.go
Due: gofmt, golangci-lint

updating tests for role collection resource
  internal/provider/fixtures/resource_subaccount_role_collection.import_error.yaml
  internal/provider/fixtures/resource_subaccount_role_collection.import_resource_identity.yaml
  internal/provider/fixtures/resource_subaccount_role_collection.update.yaml
  internal/provider/fixtures/resource_subaccount_role_collection.update_rm_desc.yaml
  internal/provider/fixtures/resource_subaccount_role_collection.update_wo_desc.yaml
  internal/provider/fixtures/resource_subaccount_role_collection.yaml
  internal/provider/resource_subaccount_role_collection_test.go
Due: gofmt, golangci-lint

chore: prepare release 1.13.0
  .github/ISSUE_TEMPLATE/bug_report.yml
  docs/index.md
  examples/provider/provider.tf
  integration/provider.tf
Due: terraformfmt

chore: prepare release 1.13.0 (#1112)
  .github/ISSUE_TEMPLATE/bug_report.yml
  docs/index.md
  examples/provider/provider.tf
  integration/provider.tf
Due: terraformfmt

added test for subaccount role
  internal/provider/fixtures/resource_subaccount_role.error_import.yaml
  internal/provider/fixtures/resource_subaccount_role.import_by_resource_identity.yaml
  internal/provider/fixtures/resource_subaccount_role.yaml
  internal/provider/resource_subaccount_role_test.go
Due: gofmt, golangci-lint

update test for directory role resource
  internal/provider/fixtures/resource_directory_role_collection.error_import.yaml
  internal/provider/fixtures/resource_directory_role_collection.import_by_resource_identity.yaml
  internal/provider/fixtures/resource_directory_role_collection.no_description.yaml
  internal/provider/fixtures/resource_directory_role_collection.update.yaml
  internal/provider/fixtures/resource_directory_role_collection.with_description.yaml
  internal/provider/resource_directory_role_collection_test.go
Due: gofmt, golangci-lint

update test for directory entitlement
  internal/provider/fixtures/resource_directory_entitlement.amount_set.yaml
  internal/provider/fixtures/resource_directory_entitlement.import_by_resource_identity.yaml
  internal/provider/fixtures/resource_directory_entitlement.no_amount.yaml
  internal/provider/fixtures/resource_directory_entitlement.no_amount_with_flags.yaml
  internal/provider/fixtures/resource_directory_entitlement.plan_unique_identifier.amount_set.yaml
  internal/provider/fixtures/resource_directory_entitlement.update.yaml
  internal/provider/fixtures/resource_directory_entitlement.update_with_flags.yaml
  internal/provider/resource_directory_entitlement_test.go
Due: gofmt, golangci-lint

update test for globalaccount role collection
  internal/provider/fixtures/resource_globalaccount_role_collection.import_by_resource_identity.yaml
  internal/provider/fixtures/resource_globalaccount_role_collection.import_error.yaml
  internal/provider/fixtures/resource_globalaccount_role_collection.update.yaml
  internal/provider/fixtures/resource_globalaccount_role_collection.update_rm_desc.yaml
  internal/provider/fixtures/resource_globalaccount_role_collection.update_wo_desc.yaml
  internal/provider/resource_globalaccount_role_collection_test.go
Due: gofmt, golangci-lint

update test for globalaccount role
  internal/provider/fixtures/resource_globalaccount_role.import_by_resource_identity.yaml
  internal/provider/fixtures/resource_globalaccount_role.update.yaml
  internal/provider/resource_globalaccount_role_test.go
Due: gofmt, golangci-lint

update tests for subaccount subscription
  internal/provider/fixtures/resource_subaccount_subscription.import_by_resource_identity.yaml
  internal/provider/fixtures/resource_subaccount_subscription.import_error.yaml
  internal/provider/fixtures/resource_subaccount_subscription.yaml
  internal/provider/fixtures/resource_subaccount_subscription_commercialapp_name.yaml
  internal/provider/fixtures/resource_subaccount_subscription_techapp_name.yaml
  internal/provider/fixtures/resource_subaccount_subscription_update.yaml
  internal/provider/fixtures/resource_subaccount_subscription_update_plan.update_error.yaml
  internal/provider/fixtures/resource_subaccount_subscription_with_timeouts.yaml
  internal/provider/resource_subaccount_subscription_test.go
Due: gofmt, golangci-lint

update tests for directory role
  internal/provider/fixtures/resource_directory_role.import_by_resource_identity.yaml
  internal/provider/fixtures/resource_directory_role.update.yaml
  internal/provider/fixtures/resource_directory_role.yaml
  internal/provider/resource_directory_role_test.go
Due: gofmt, golangci-lint
