Repository SAP/terraform-provider-btp: changes, and which lefthook commands are due for each by the changed paths.
All: gofmt, golangci-lint, terraformfmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    gofmt:
      glob: "*.go"
      run: go fmt ./...
      exclude: "vendor/*"
    golangci-lint:
      glob: "*.go"
      run: golangci-lint run --fix
      exclude: "vendor/*"
    terraformfmt:
      glob: "*.tf"
      run: terraform fmt {staged_files}
      exclude: "vendor/*"

chore: update contribution.md
  CONTRIBUTING.md
Due: none

Potential fix for pull request finding
  CONTRIBUTING.md
Due: none

chore: update contribution.md (#1674)
  CONTRIBUTING.md
Due: none

Resolve drift for role collection group/attribute assignments with custom IAS origins
  btp/provider/helper.go
  btp/provider/helper_origin_test.go
  btp/provider/resource_directory_role_collection_assignment.go
  btp/provider/resource_globalaccount_role_collection_assignment.go
  btp/provider/resource_subaccount_role_collection_assignment.go
Due: gofmt, golangci-lint

Resolve drift for role collection group/attribute assignments with custom IAS origins (#1675)
  btp/provider/helper.go
  btp/provider/helper_origin_test.go
  btp/provider/resource_directory_role_collection_assignment.go
  btp/provider/resource_globalaccount_role_collection_assignment.go
  btp/provider/resource_subaccount_role_collection_assignment.go
Due: gofmt, golangci-lint

chore: update Golang version to 1.27.0
  README.md
  btp/provider/datasource_directory_apps.go
  btp/provider/datasource_globalaccount_apps.go
  btp/provider/datasource_subaccount_apps.go
  go.mod
  go.sum
Due: gofmt, golangci-lint

chore: update Terraform version to 1.16.*
  .devcontainer/default/devcontainer.json
  .devcontainer/withbtpcli/devcontainer.json
  .devcontainer/withenvfile/devcontainer.json
  .github/workflows/test.yml
Due: none

fix: re-recording of test fixtures
  btp/provider/action_restore_subaccount_test.go
  btp/provider/fixtures/action_add_me_as_subaccount_admin_fail_non_existing.yaml
  btp/provider/fixtures/action_restore_subaccount_fail_active.yaml
  btp/provider/fixtures/action_restore_subaccount_fail_non_existing.yaml
Due: gofmt, golangci-lint

fix: test regexp
  btp/provider/action_restore_subaccount_test.go
Due: gofmt, golangci-lint

chore: update Terraform version to 1.16.* (#1688)
  .devcontainer/default/devcontainer.json
  .devcontainer/withbtpcli/devcontainer.json
  .devcontainer/withenvfile/devcontainer.json
  .github/workflows/test.yml
  btp/provider/action_restore_subaccount_test.go
  btp/provider/fixtures/action_add_me_as_subaccount_admin_fail_non_existing.yaml
  btp/provider/fixtures/action_restore_subaccount_fail_active.yaml
  btp/provider/fixtures/action_restore_subaccount_fail_non_existing.yaml
Due: gofmt, golangci-lint

docs: fix OAUth2 example for destination
  docs/resources/subaccount_destination.md
  examples/resources/btp_subaccount_destination/resource.tf
Due: terraformfmt

Client ID fix
  docs/resources/subaccount_destination.md
Due: none

Client ID fix
  examples/resources/btp_subaccount_destination/resource.tf
Due: terraformfmt

fix: data source example for subaccount_destination_trust
  docs/data-sources/subaccount_destination_trust.md
  examples/data-sources/btp_subaccount_destination_trust/data-source.tf
Due: terraformfmt

docs: fix OAuth2 example for destination (#1692)
  docs/data-sources/subaccount_destination_trust.md
  docs/resources/subaccount_destination.md
  examples/data-sources/btp_subaccount_destination_trust/data-source.tf
  examples/resources/btp_subaccount_destination/resource.tf
Due: terraformfmt

Added auto_create_shadow_users to globalaccount trust configuration
  btp/provider/fixtures/resource_globalaccount_trust_configuration.complete.yaml
  btp/provider/fixtures/resource_globalaccount_trust_configuration.import_block.yaml
  btp/provider/fixtures/resource_globalaccount_trust_configuration.invalid_idp.yaml
  btp/provider/fixtures/resource_globalaccount_trust_configuration.minimal.yaml
  btp/provider/resource_globalaccount_trust_configuration.go
  btp/provider/resource_globalaccount_trust_configuration_test.go
  btp/provider/type_globalaccount_trust_configuration.go
  docs/resources/globalaccount_trust_configuration.md
  internal/btpcli/facade_security_trust.go
Due: gofmt, golangci-lint

Added to datasource as well
  btp/provider/datasource_globalaccount_trust_configuration.go
  btp/provider/datasource_globalaccount_trust_configuration_test.go
  btp/provider/datasource_globalaccount_trust_configurations.go
  docs/data-sources/globalaccount_trust_configuration.md
  docs/data-sources/globalaccount_trust_configurations.md
Due: gofmt, golangci-lint

Fix for failing tests
  btp/provider/fixtures/action_add_me_as_subaccount_admin.yaml
  btp/provider/fixtures/action_add_me_as_subaccount_admin_fail_non_existing.yaml
Due: none

fix: Added auto_create_shadow_users to globalaccount trust configuration (#1697)
  btp/provider/datasource_globalaccount_trust_configuration.go
  btp/provider/datasource_globalaccount_trust_configuration_test.go
  btp/provider/datasource_globalaccount_trust_configurations.go
  btp/provider/fixtures/action_add_me_as_subaccount_admin.yaml
  btp/provider/fixtures/action_add_me_as_subaccount_admin_fail_non_existing.yaml
  btp/provider/fixtures/resource_globalaccount_trust_configuration.complete.yaml
  btp/provider/fixtures/resource_globalaccount_trust_configuration.import_block.yaml
  btp/provider/fixtures/resource_globalaccount_trust_configuration.invalid_idp.yaml
  btp/provider/fixtures/resource_globalaccount_trust_configuration.minimal.yaml
  btp/provider/resource_globalaccount_trust_configuration.go
  btp/provider/resource_globalaccount_trust_configuration_test.go
  btp/provider/type_globalaccount_trust_configuration.go
  docs/data-sources/globalaccount_trust_configuration.md
  docs/data-sources/globalaccount_trust_configurations.md
  docs/resources/globalaccount_trust_configuration.md
  internal/btpcli/facade_security_trust.go
Due: gofmt, golangci-lint

Implemented action_update_global_account
  btp/provider/action_update_global_account.go
  btp/provider/action_update_global_account_test.go
  btp/provider/datasource_globalaccount.go
  btp/provider/fixtures/action_update_global_account.yaml
  btp/provider/fixtures/action_update_global_account_enable_force_deletion.yaml
  btp/provider/fixtures/action_update_global_account_fail_no_params.yaml
  btp/provider/provider.go
  btp/provider/provider_test.go
  docs/actions/update_global_account.md
  docs/data-sources/globalaccount.md
  examples/actions/btp_update_global_account/action.tf
  internal/btpcli/facade_accounts_global_account.go
  internal/btpcli/types/cis/globalaccount_response_object.go
Due: gofmt, golangci-lint, terraformfmt

Implemented action_update_global_account (#1698)
  btp/provider/action_update_global_account.go
  btp/provider/action_update_global_account_test.go
  btp/provider/datasource_globalaccount.go
  btp/provider/fixtures/action_update_global_account.yaml
  btp/provider/fixtures/action_update_global_account_enable_force_deletion.yaml
  btp/provider/fixtures/action_update_global_account_fail_no_params.yaml
  btp/provider/provider.go
  btp/provider/provider_test.go
  docs/actions/update_global_account.md
  docs/data-sources/globalaccount.md
  examples/actions/btp_update_global_account/action.tf
  internal/btpcli/facade_accounts_global_account.go
  internal/btpcli/types/cis/globalaccount_response_object.go
Due: gofmt, golangci-lint, terraformfmt

prep release v1.27.0
  .github/ISSUE_TEMPLATE/bug_report.yml
  docs/index.md
  examples/provider/provider.tf
Due: terraformfmt

prep release v1.27.0 (#1705)
  .github/ISSUE_TEMPLATE/bug_report.yml
  docs/index.md
  examples/provider/provider.tf
Due: terraformfmt

docs(subaccount_service_instance): expand service instance import guidance
  docs/resources/subaccount_service_instance.md
  templates/resources/subaccount_service_instance.md.tmpl
Due: none

feat: add import support for role collection assignment resources
  btp/provider/resource_directory_role_collection_assignment.go
  btp/provider/resource_directory_role_collection_assignment_test.go
  btp/provider/resource_globalaccount_role_collection_assignment.go
  btp/provider/resource_globalaccount_role_collection_assignment_test.go
  btp/provider/resource_subaccount_role_collection_assignment.go
  btp/provider/resource_subaccount_role_collection_assignment_test.go
Due: gofmt, golangci-lint

test: add VCR fixtures for role collection assignment import tests
  btp/provider/fixtures/resource_directory_role_collection_assignment.import.yaml
  btp/provider/fixtures/resource_directory_role_collection_assignment.import_identity.yaml
  btp/provider/fixtures/resource_globalaccount_role_collection_assignment.import.yaml
  btp/provider/fixtures/resource_globalaccount_role_collection_assignment.import_identity.yaml
  btp/provider/fixtures/resource_subaccount_role_collection_assignment.import.yaml
  btp/provider/fixtures/resource_subaccount_role_collection_assignment.import_identity.yaml
Due: none

docs: add import documentation and examples for role collection assignment resources
  examples/resources/btp_directory_role_collection_assignment/import.sh
  examples/resources/btp_globalaccount_role_collection_assignment/import.sh
  examples/resources/btp_subaccount_role_collection_assignment/import.sh
Due: none

fix: set identity before RemoveResource in role collection assignment Read
  btp/provider/resource_directory_role_collection_assignment.go
  btp/provider/resource_globalaccount_role_collection_assignment.go
  btp/provider/resource_subaccount_role_collection_assignment.go
Due: gofmt, golangci-lint

docs(subaccount_service_instance): refine import section heading
  docs/resources/subaccount_service_instance.md
  templates/resources/subaccount_service_instance.md.tmpl
Due: none

docs(subaccount_service_instance): expand service instance import guidance (#1710)
  docs/resources/subaccount_service_instance.md
  templates/resources/subaccount_service_instance.md.tmpl
Due: none

fix: apply go fix to modernize string operations in role collection assignment import
  btp/provider/resource_directory_role_collection_assignment.go
  btp/provider/resource_globalaccount_role_collection_assignment.go
  btp/provider/resource_subaccount_role_collection_assignment.go
Due: gofmt, golangci-lint

fix: include origin in resource ID for role collection assignment resources
  btp/provider/resource_directory_role_collection_assignment.go
  btp/provider/resource_globalaccount_role_collection_assignment.go
  btp/provider/resource_subaccount_role_collection_assignment.go
Due: gofmt, golangci-lint

fix: set correct ID format including origin in Create for role collection assignment resources
  btp/provider/resource_directory_role_collection_assignment.go
  btp/provider/resource_globalaccount_role_collection_assignment.go
  btp/provider/resource_subaccount_role_collection_assignment.go
Due: gofmt, golangci-lint

feat: add import support for role collection assignment resources (#1715)
  btp/provider/fixtures/resource_directory_role_collection_assignment.import.yaml
  btp/provider/fixtures/resource_directory_role_collection_assignment.import_identity.yaml
  btp/provider/fixtures/resource_globalaccount_role_collection_assignment.import.yaml
  btp/provider/fixtures/resource_globalaccount_role_collection_assignment.import_identity.yaml
  btp/provider/fixtures/resource_subaccount_role_collection_assignment.import.yaml
  btp/provider/fixtures/resource_subaccount_role_collection_assignment.import_identity.yaml
  btp/provider/resource_directory_role_collection_assignment.go
  btp/provider/resource_directory_role_collection_assignment_test.go
  btp/provider/resource_globalaccount_role_collection_assignment.go
  btp/provider/resource_globalaccount_role_collection_assignment_test.go
  btp/provider/resource_subaccount_role_collection_assignment.go
  btp/provider/resource_subaccount_role_collection_assignment_test.go
  examples/resources/btp_directory_role_collection_assignment/import.sh
  examples/resources/btp_globalaccount_role_collection_assignment/import.sh
  examples/resources/btp_subaccount_role_collection_assignment/import.sh
Due: gofmt, golangci-lint

resolve group role-collection assignment refresh loop for custom identity providers
  btp/provider/resource_directory_role_collection_assignment.go
  btp/provider/resource_globalaccount_role_collection_assignment.go
  btp/provider/resource_subaccount_role_collection_assignment.go
Due: gofmt, golangci-lint

resolve group role-collection assignment refresh loop for custom identity providers (#1721)
  btp/provider/resource_directory_role_collection_assignment.go
  btp/provider/resource_globalaccount_role_collection_assignment.go
  btp/provider/resource_subaccount_role_collection_assignment.go
Due: gofmt, golangci-lint

fix: recording of fixtures
  btp/provider/fixtures/resource_directory.change_with_features.yaml
  btp/provider/fixtures/resource_directory.full_config.yaml
  btp/provider/fixtures/resource_directory.with_features.yaml
  btp/provider/fixtures/resource_directory.with_hierarchy.yaml
  btp/provider/fixtures/resource_directory.yaml
  btp/provider/fixtures/resource_directory_import_block.yaml
Due: none

safeguard recursive calls
  btp/provider/type_subaccount.go
Due: gofmt, golangci-lint
