Repository SAP/terraform-provider-btp: changes, and which lefthook commands are due for each by the changed paths.
All: gofmt, golangci-lint, terraformfmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    gofmt:
      glob: "*.go"
      run: go fmt ./...
      exclude: "vendor/*"
    golangci-lint:
      glob: "*.go"
      run: golangci-lint run --fix
      exclude: "vendor/*"
    terraformfmt:
      glob: "*.tf"
      run: terraform fmt {staged_files}
      exclude: "vendor/*"

Test fixes & fixtures for directory/directories datasource
  internal/provider/datasource_directories_test.go
  internal/provider/datasource_directory_user_test.go
  internal/provider/datasource_directory_users_test.go
  internal/provider/fixtures/datasource_directories.all.yaml
  internal/provider/fixtures/datasource_directory.yaml
  internal/provider/fixtures/datasource_directory_entitlements.yaml
  internal/provider/fixtures/datasource_directory_labels.yaml
  internal/provider/fixtures/datasource_directory_role.not_security_enabled.yaml
  internal/provider/fixtures/datasource_directory_role.yaml
  internal/provider/fixtures/datasource_directory_role_collection.not_security_enabled.yaml
  internal/provider/fixtures/datasource_directory_role_collection.yaml
  internal/provider/fixtures/datasource_directory_role_collections.not_security_enabled.yaml
  internal/provider/fixtures/datasource_directory_role_collections.yaml
  internal/provider/fixtures/datasource_directory_roles.not_security_enabled.yaml
  internal/provider/fixtures/datasource_directory_roles.yaml
  internal/provider/fixtures/datasource_directory_user.custom_idp.yaml
  internal/provider/fixtures/datasource_directory_user.default_idp.yaml
  internal/provider/fixtures/datasource_directory_users.custom_idp.yaml
  internal/provider/fixtures/datasource_directory_users.default_idp.yaml
  internal/provider/fixtures/datasource_directory_users.non_existing_idp.yaml
  tf_scripts/main.tf
  tf_scripts/provider.tf
Due: gofmt, golangci-lint, terraformfmt

Removing extra files
  tf_scripts/main.tf
  tf_scripts/provider.tf
Due: terraformfmt

commented test of global account resource provider and removed the test fixtures
  internal/provider/datasource_globalaccount_resource_provider_test.go
  internal/provider/datasource_globalaccount_resource_providers_test.go
  internal/provider/fixtures/datasource_globalaccount_resource_provider.yaml
  internal/provider/fixtures/datasource_globalaccount_resource_providers.yaml
Due: gofmt, golangci-lint

Test fixes and fixtures for globalaccount datasources
  internal/provider/datasource_globalaccount_entitlements_test.go
  internal/provider/datasource_globalaccount_role_test.go
  internal/provider/datasource_globalaccount_user_test.go
  internal/provider/datasource_globalaccount_users_test.go
  internal/provider/datasource_globalaccount_with_hierarchy_test.go
  internal/provider/fixtures/datasource_globalaccount.yaml
  internal/provider/fixtures/datasource_globalaccount_entitlements.yaml
  internal/provider/fixtures/datasource_globalaccount_role.yaml
  internal/provider/fixtures/datasource_globalaccount_role_collection.role_collection_exists.yaml
  internal/provider/fixtures/datasource_globalaccount_role_collection.role_collection_not_available.yaml
  internal/provider/fixtures/datasource_globalaccount_role_collections.yaml
  internal/provider/fixtures/datasource_globalaccount_roles.yaml
  internal/provider/fixtures/datasource_globalaccount_security_settings.yaml
  internal/provider/fixtures/datasource_globalaccount_trust_configuration.custom_idp_exists.yaml
  internal/provider/fixtures/datasource_globalaccount_trust_configuration.custom_idp_not_existing.yaml
  internal/provider/fixtures/datasource_globalaccount_trust_configuration.default.yaml
  internal/provider/fixtures/datasource_globalaccount_trust_configurations.yaml
  internal/provider/fixtures/datasource_globalaccount_user.yaml
  internal/provider/fixtures/datasource_globalaccount_users.custom_idp.yaml
  internal/provider/fixtures/datasource_globalaccount_users.default_idp.yaml
  internal/provider/fixtures/datasource_globalaccount_with_hierarchy.yaml
Due: gofmt, golangci-lint

Test fixes and fixtures for regions datasource
  internal/provider/datasource_regions_test.go
  internal/provider/fixtures/datasource_regions.yaml
Due: gofmt, golangci-lint

Test fixture for whoami datasource
  internal/provider/fixtures/datasource_whoami.yaml
Due: none

Test fixes & fixtures for Directory Resources
  internal/provider/fixtures/resource_directory.change_with_features.yaml
  internal/provider/fixtures/resource_directory.full_config.yaml
  internal/provider/fixtures/resource_directory.with_features.yaml
  internal/provider/fixtures/resource_directory.yaml
  internal/provider/fixtures/resource_directory_api_credential.error_invalid_certificate.yaml
  internal/provider/fixtures/resource_directory_api_credential.read_only_credentials.yaml
  internal/provider/fixtures/resource_directory_api_credential.with_certificate.yaml
  internal/provider/fixtures/resource_directory_api_credential.with_secret.yaml
  internal/provider/fixtures/resource_directory_entitlement.amount_set.yaml
  internal/provider/fixtures/resource_directory_entitlement.no_amount.yaml
  internal/provider/fixtures/resource_directory_entitlement.no_amount_with_flags.yaml
  internal/provider/fixtures/resource_directory_entitlement.update.yaml
  internal/provider/fixtures/resource_directory_entitlement.update_with_flags.yaml
  internal/provider/fixtures/resource_directory_role.error_import.yaml
  internal/provider/fixtures/resource_directory_role.not_security_enabled.yaml
  internal/provider/fixtures/resource_directory_role.update.yaml
  internal/provider/fixtures/resource_directory_role.yaml
  internal/provider/fixtures/resource_directory_role_collection.error_import.yaml
  internal/provider/fixtures/resource_directory_role_collection.multiple_roles.yaml
  internal/provider/fixtures/resource_directory_role_collection.no_description.yaml
  internal/provider/fixtures/resource_directory_role_collection.update.yaml
  internal/provider/fixtures/resource_directory_role_collection.with_description.yaml
  internal/provider/fixtures/resource_directory_role_collection_assignment.import_error.yaml
  internal/provider/fixtures/resource_directory_role_collection_assignment.with_origin.yaml
  internal/provider/fixtures/resource_directory_role_collection_assignment.with_origin_and_attribute.yaml
  internal/provider/fixtures/resource_directory_role_collection_assignment.with_origin_and_group.yaml
  internal/provider/fixtures/resource_directory_role_collection_assignment.yaml
  internal/provider/resource_directory_api_credential_test.go
  internal/provider/resource_directory_role_collection_assignment_test.go
  internal/provider/resource_directory_test.go
Due: gofmt, golangci-lint

Test fixes and fixtures for Globalaccount Resource
  internal/provider/fixtures/resource_globalaccount_api_credential.error_invalid_certificate.yaml
  internal/provider/fixtures/resource_globalaccount_api_credential.read_only_credentials.yaml
  internal/provider/fixtures/resource_globalaccount_api_credential.with_certificate.yaml
  internal/provider/fixtures/resource_globalaccount_api_credential.with_secret.yaml
  internal/provider/fixtures/resource_globalaccount_role.update.yaml
  internal/provider/fixtures/resource_globalaccount_role.yaml
  internal/provider/fixtures/resource_globalaccount_role_collection.import_error.yaml
  internal/provider/fixtures/resource_globalaccount_role_collection.update.yaml
  internal/provider/fixtures/resource_globalaccount_role_collection.update_rm_desc.yaml
  internal/provider/fixtures/resource_globalaccount_role_collection.update_wo_desc.yaml
  internal/provider/fixtures/resource_globalaccount_role_collection.yaml
  internal/provider/fixtures/resource_globalaccount_role_collection_assignment.import_error.yaml
  internal/provider/fixtures/resource_globalaccount_role_collection_assignment.with_origin.yaml
  internal/provider/fixtures/resource_globalaccount_role_collection_assignment.with_origin_and_attribute.yaml
  internal/provider/fixtures/resource_globalaccount_role_collection_assignment.with_origin_and_group.yaml
  internal/provider/fixtures/resource_globalaccount_role_collection_assignment.yaml
  internal/provider/fixtures/resource_globalaccount_security_settings.complete.yaml
  internal/provider/fixtures/resource_globalaccount_security_settings.destroy.yaml
  internal/provider/fixtures/resource_globalaccount_trust_configuration.complete.yaml
  internal/provider/fixtures/resource_globalaccount_trust_configuration.invalid_idp.yaml
  internal/provider/fixtures/resource_globalaccount_trust_configuration.minimal.yaml
  internal/provider/resource_globalaccount_trust_configuration_test.go
Due: gofmt, golangci-lint

Commented test of global account resource provider (resource) and removed the fixture
  internal/provider/fixtures/resource_globalaccount_resource_provider.create.yaml
  internal/provider/fixtures/resource_globalaccount_resource_provider.update.yaml
  internal/provider/fixtures/resource_globalaccount_resource_provider.update_wo_description.yaml
  internal/provider/resource_globalaccount_resource_provider_test.go
Due: gofmt, golangci-lint

Test fixes and fixtures for datasource subaccount service broker
  internal/provider/datasource_subaccount_service_broker_test.go
  internal/provider/fixtures/datasource_subaccount_service_broker.by_id.yaml
Due: gofmt, golangci-lint

Fixes for Directory resource and datasources
  internal/provider/datasource_directories_test.go
  internal/provider/datasource_directory_test.go
  internal/provider/datasource_directory_user_test.go
  internal/provider/datasource_directory_users_test.go
  internal/provider/fixtures/datasource_directories.all.yaml
  internal/provider/fixtures/datasource_directory.yaml
  internal/provider/fixtures/datasource_directory_user.default_idp.yaml
  internal/provider/fixtures/datasource_directory_users.custom_idp.yaml
  internal/provider/fixtures/resource_directory_api_credential.error_invalid_certificate.yaml
  internal/provider/fixtures/resource_directory_api_credential.read_only_credentials.yaml
  internal/provider/fixtures/resource_directory_api_credential.with_certificate.yaml
  internal/provider/fixtures/resource_directory_api_credential.with_secret.yaml
  internal/provider/resource_directory_api_credential_test.go
Due: gofmt, golangci-lint

fix: handling of parameter JSON for app subscription
  internal/btpcli/facade_accounts_subaccount.go
  internal/provider/resource_subaccount_subscription.go
Due: gofmt, golangci-lint

fix: unit test for facade
  internal/btpcli/facade_accounts_subaccount_test.go
Due: gofmt, golangci-lint

fix: re-recording of test fixture
  internal/provider/fixtures/resource_subaccount_subscription.import_error.yaml
  internal/provider/fixtures/resource_subaccount_subscription.yaml
  internal/provider/fixtures/resource_subaccount_subscription_with_timeouts.yaml
Due: none

fix: test recording after update
  internal/provider/fixtures/resource_subaccount_subscription.import_error.yaml
  internal/provider/fixtures/resource_subaccount_subscription.yaml
  internal/provider/fixtures/resource_subaccount_subscription_with_timeouts.yaml
Due: none

Fixes for Directory resource and datasources (#1006)
  internal/provider/datasource_directories_test.go
  internal/provider/datasource_directory_test.go
  internal/provider/datasource_directory_user_test.go
  internal/provider/datasource_directory_users_test.go
  internal/provider/fixtures/datasource_directories.all.yaml
  internal/provider/fixtures/datasource_directory.yaml
  internal/provider/fixtures/datasource_directory_user.default_idp.yaml
  internal/provider/fixtures/datasource_directory_users.custom_idp.yaml
  internal/provider/fixtures/resource_directory_api_credential.error_invalid_certificate.yaml
  internal/provider/fixtures/resource_directory_api_credential.read_only_credentials.yaml
  internal/provider/fixtures/resource_directory_api_credential.with_certificate.yaml
  internal/provider/fixtures/resource_directory_api_credential.with_secret.yaml
  internal/provider/resource_directory_api_credential_test.go
Due: gofmt, golangci-lint

chore: aff Terraform version 1.10 to test matrix
  .github/workflows/test.yml
Due: none

Updated Test Fixtures for Global Account Resource Provider Resource & Datasource
  internal/provider/datasource_globalaccount_resource_provider_test.go
  internal/provider/datasource_globalaccount_resource_providers_test.go
  internal/provider/fixtures/datasource_globalaccount_resource_provider.yaml
  internal/provider/fixtures/datasource_globalaccount_resource_providers.yaml
  internal/provider/fixtures/resource_globalaccount_resource_provider.create.yaml
  internal/provider/fixtures/resource_globalaccount_resource_provider.update.yaml
  internal/provider/fixtures/resource_globalaccount_resource_provider.update_wo_description.yaml
  internal/provider/resource_globalaccount_resource_provider_test.go
Due: gofmt, golangci-lint

Updated Test Fixtures for Global Account Resource Provider Resource & Datasource (#1008)
  internal/provider/datasource_globalaccount_resource_provider_test.go
  internal/provider/datasource_globalaccount_resource_providers_test.go
  internal/provider/fixtures/datasource_globalaccount_resource_provider.yaml
  internal/provider/fixtures/datasource_globalaccount_resource_providers.yaml
  internal/provider/fixtures/resource_globalaccount_resource_provider.create.yaml
  internal/provider/fixtures/resource_globalaccount_resource_provider.update.yaml
  internal/provider/fixtures/resource_globalaccount_resource_provider.update_wo_description.yaml
  internal/provider/resource_globalaccount_resource_provider_test.go
Due: gofmt, golangci-lint

chore: aff Terraform version 1.10 to test matrix (#1007)
  .github/workflows/test.yml
Due: none

fix: error message
  internal/provider/resource_subaccount_subscription.go
Due: gofmt, golangci-lint

fix: app subscription parameter handling (#1005)
  internal/btpcli/facade_accounts_subaccount.go
  internal/btpcli/facade_accounts_subaccount_test.go
  internal/provider/fixtures/resource_subaccount_subscription.import_error.yaml
  internal/provider/fixtures/resource_subaccount_subscription.yaml
  internal/provider/fixtures/resource_subaccount_subscription_with_timeouts.yaml
  internal/provider/resource_subaccount_subscription.go
Due: gofmt, golangci-lint

chore: update tofu version for text matrix
  .github/workflows/schema-regression-test-opentofu.yml
  .github/workflows/test-opentofu.yml
Due: none

fix: go mod setup
  .github/workflows/test-opentofu.yml
Due: none

fix: change caching of go setup
  .github/workflows/test-opentofu.yml
Due: none

fix: test lint params
  .github/workflows/test-opentofu.yml
Due: none

fix: lint params
  .github/workflows/test-opentofu.yml
Due: none

fix: lint
  .github/workflows/test-opentofu.yml
Due: none

fix: linter
  .github/workflows/test-opentofu.yml
Due: none

fix: linter run and tar error
  .github/workflows/test-opentofu.yml
Due: none

chore: go setup in GH Actions
  .github/workflows/release.yml
  .github/workflows/schema-regression-test-opentofu.yml
  .github/workflows/schema-regression-test.yml
  .github/workflows/test.yml
Due: none

chore: go setup in GH Actions (#1009)
  .github/workflows/release.yml
  .github/workflows/schema-regression-test-opentofu.yml
  .github/workflows/schema-regression-test.yml
  .github/workflows/test.yml
Due: none

chore: update tofu version for test matrix (#993)
  .github/workflows/schema-regression-test-opentofu.yml
  .github/workflows/test-opentofu.yml
Due: none

chore: chore: assign issue/pr to central project
  .github/workflows/assign-project.yml
Due: none

fix: version
  .github/workflows/assign-project.yml
Due: none

chore: assign issue/pr to central project (#1010)
  .github/workflows/assign-project.yml
Due: none
