Repository SAP/terraform-provider-btp: changes, and which lefthook commands are due for each by the changed paths.
All: gofmt, golangci-lint, terraformfmt

gofmt:
  run: go fmt ./...

golangci-lint:
  run: golangci-lint run --fix

terraformfmt:
  run: terraform fmt {staged_files}

bracket added
  docs/resources/subaccount_environment_instance.md
  examples/resources/btp_subaccount_environment_instance/import.sh
Due: none

feat: added identity block for environment instance (#1319)
  btp/provider/fixtures/resource_subaccount_environment_instance.update.yaml
  btp/provider/fixtures/resource_subaccount_environment_instance.with_timeout.yaml
  btp/provider/fixtures/resource_subaccount_environment_instance.yaml
  btp/provider/fixtures/resource_subaccount_environment_instance_import.with_timeout.yaml
  btp/provider/resource_subaccount_environment_instance.go
  btp/provider/resource_subaccount_environment_instance_test.go
  docs/resources/subaccount_environment_instance.md
  examples/resources/btp_subaccount_environment_instance/import.sh
Due: gofmt, golangci-lint

fix: deprecating resource btp_subaccount_destination
  btp/provider/resource_subaccount_destination.go
  internal/validation/typevalidator/typevalidator.go
Due: gofmt, golangci-lint

custom validator implemented
  internal/validation/typevalidator/typevalidator.go
  internal/validation/typevalidator/typevalidator_test.go
Due: gofmt, golangci-lint

deprecation messages added
  btp/provider/datasource_subaccount_destination.go
  btp/provider/datasource_subaccount_destinations.go
  btp/provider/resource_subaccount_destination.go
  btp/provider/resource_subaccount_destination_test.go
  btp/provider/type_destination.go
Due: gofmt, golangci-lint

docs modified
  btp/provider/fixtures/resource_subaccount_destination_tcp_with_additional_configuration.yaml
  docs/data-sources/subaccount_destinations.md
  docs/resources/subaccount_destination.md
  examples/resources/btp_subaccount_destination/resource.tf
Due: terraformfmt

minor fix
  examples/resources/btp_subaccount_destination/resource.tf
Due: terraformfmt

doc fix
  docs/resources/subaccount_destination.md
Due: none

review comments addressed
  btp/provider/resource_subaccount_destination.go
  btp/provider/type_destination.go
  internal/validation/typevalidator/typevalidator.go
Due: gofmt, golangci-lint

minor fix
  btp/provider/resource_subaccount_destination.go
  btp/provider/type_destination.go
Due: gofmt, golangci-lint

increased test coverage
  btp/provider/fixtures/resource_subaccount_destination_with_additional_configuration_with_service_instance.yaml
  btp/provider/resource_subaccount_destination_test.go
  internal/validation/typevalidator/typevalidator.go
  internal/validation/typevalidator/typevalidator_test.go
Due: gofmt, golangci-lint

fix: handling an empty additional_configuration for destinations
  btp/provider/type_destination.go
Due: gofmt, golangci-lint

minor fix
  btp/provider/resource_subaccount_destination_test.go
  btp/provider/type_destination.go
  internal/validation/typevalidator/typevalidator_test.go
Due: gofmt, golangci-lint

fix: deprecating resource btp_subaccount_destination (#1323)
  btp/provider/datasource_subaccount_destination.go
  btp/provider/datasource_subaccount_destinations.go
  btp/provider/fixtures/resource_subaccount_destination_ldap_with_additional_configuration.yaml
  btp/provider/fixtures/resource_subaccount_destination_mail_with_additional_configuration.yaml
  btp/provider/fixtures/resource_subaccount_destination_rfc_with_additional_configuration.yaml
  btp/provider/fixtures/resource_subaccount_destination_tcp_with_additional_configuration.yaml
  btp/provider/fixtures/resource_subaccount_destination_update.yaml
  btp/provider/fixtures/resource_subaccount_destination_with_additional_configuration_with_service_instance.yaml
  btp/provider/fixtures/resource_subaccount_destination_with_additional_configuration_without_service_instance.yaml
  btp/provider/fixtures/resource_subaccount_destination_without_service_instance_with_additional_configuration_for_import_id.yaml
  btp/provider/resource_subaccount_destination.go
  btp/provider/resource_subaccount_destination_test.go
  btp/provider/type_destination.go
  docs/data-sources/subaccount_destinations.md
  docs/resources/subaccount_destination.md
  examples/resources/btp_subaccount_destination/resource.tf
  internal/validation/typevalidator/typevalidator.go
  internal/validation/typevalidator/typevalidator_test.go
Due: gofmt, golangci-lint, terraformfmt

gemeric destination resource
  btp/provider/fixtures/resource_subaccount_destination_generic_ldap_with_additional_configuration.yaml
  btp/provider/fixtures/resource_subaccount_destination_generic_mail_with_additional_configuration.yaml
  btp/provider/fixtures/resource_subaccount_destination_generic_rfc_with_additional_configuration.yaml
  btp/provider/fixtures/resource_subaccount_destination_generic_tcp_with_additional_configuration.yaml
  btp/provider/fixtures/resource_subaccount_destination_generic_update.yaml
  btp/provider/fixtures/resource_subaccount_destination_generic_with_additional_variables_with_service_instance.yaml
  btp/provider/fixtures/resource_subaccount_destination_generic_with_additional_variables_without_service_instance.yaml
  btp/provider/fixtures/resource_subaccount_generic_destination_update.yaml
  btp/provider/provider.go
  btp/provider/provider_test.go
  btp/provider/resource_subaccount_destination_generic.go
  btp/provider/resource_subaccount_destination_generic_test.go
  btp/provider/type_destination_generic.go
  docs/resources/subaccount_destination_generic.md
  examples/resources/btp_subaccount_destination_generic/import.sh
  examples/resources/btp_subaccount_destination_generic/resource.tf
Due: gofmt, golangci-lint, terraformfmt

doc update
  docs/resources/subaccount_destination_generic.md
Due: none

fixing review findings
  btp/provider/resource_subaccount_destination.go
  btp/provider/resource_subaccount_destination_generic.go
  btp/provider/resource_subaccount_destination_generic_test.go
  btp/provider/type_destination.go
  btp/provider/type_destination_generic.go
  docs/resources/subaccount_destination.md
  docs/resources/subaccount_destination_generic.md
  examples/resources/btp_subaccount_destination_generic/resource.tf
  templates/resources/subaccount_destination_generic.md.tmpl
Due: gofmt, golangci-lint, terraformfmt

renaming of test fixtures
  btp/provider/fixtures/resource_subaccount_destination_generic_http.yaml
  btp/provider/fixtures/resource_subaccount_destination_generic_http_update.yaml
  btp/provider/fixtures/resource_subaccount_destination_generic_http_with_service_instance.yaml
  btp/provider/fixtures/resource_subaccount_destination_generic_ldap.yaml
  btp/provider/fixtures/resource_subaccount_destination_generic_mail.yaml
  btp/provider/fixtures/resource_subaccount_destination_generic_rfc.yaml
  btp/provider/fixtures/resource_subaccount_destination_generic_tcp.yaml
  btp/provider/resource_subaccount_destination_generic_test.go
Due: gofmt, golangci-lint

feat: data source for destinations
  btp/provider/datasource_subaccount_destinations_generic.go
  btp/provider/datasource_subaccount_destinations_generic_test.go
  btp/provider/fixtures/datasource_subaccount_destinations_generic_with_service_instance.yaml
  btp/provider/fixtures/datasource_subaccount_destinations_generic_without_service_instance.yaml
  btp/provider/provider.go
  btp/provider/provider_test.go
  btp/provider/type_destination.go
  btp/provider/type_destination_generic.go
  docs/data-sources/subaccount_destinations_generic.md
Due: gofmt, golangci-lint

feat: add data source for destination generic
  btp/provider/datasource_subaccount_destination_generic.go
  btp/provider/datasource_subaccount_destination_generic_test.go
  btp/provider/fixtures/datasource_subaccount_destination_generic_with_service_instance.yaml
  btp/provider/fixtures/datasource_subaccount_destination_generic_without_service_instance.yaml
  btp/provider/fixtures/datasource_subaccount_destination_not_found.yaml
  btp/provider/provider.go
  btp/provider/provider_test.go
  docs/data-sources/subaccount_destination_generic.md
Due: gofmt, golangci-lint

feat: add data source for destinations names only
  btp/provider/datasource_subaccount_destinations_generic.go
  btp/provider/datasource_subaccount_destinations_names.go
  btp/provider/datasource_subaccount_destinations_names_test.go
  btp/provider/fixtures/datasource_subaccount_destinations_names_with_service_instance_V2.yaml
  btp/provider/fixtures/datasource_subaccount_destinations_names_without_service_instance_V2.yaml
  btp/provider/provider.go
  btp/provider/provider_test.go
  docs/data-sources/subaccount_destinations_generic.md
  docs/data-sources/subaccount_destinations_names.md
Due: gofmt, golangci-lint

fix: fixture recording
  btp/provider/datasource_subaccount_destination_generic_test.go
  btp/provider/fixtures/datasource_subaccount_destination_not_found.yaml
  btp/provider/fixtures/datasource_subaccount_destination_not_found_generic.yaml
Due: gofmt, golangci-lint

fix: naming issues of test fixtures
  btp/provider/datasource_subaccount_destinations_names_test.go
  btp/provider/fixtures/datasource_subaccount_destinations_names_with_service_instance_generic.yaml
  btp/provider/fixtures/datasource_subaccount_destinations_names_without_service_instance_generic.yaml
Due: gofmt, golangci-lint

fix: handling if resource is not found -> recreate
  btp/provider/resource_subaccount_destination.go
  btp/provider/resource_subaccount_destination_generic.go
Due: gofmt, golangci-lint

fix: planmodifier for creation_date
  btp/provider/resource_subaccount_destination.go
  btp/provider/resource_subaccount_destination_generic.go
Due: gofmt, golangci-lint

added comment
  btp/provider/type_destination_generic.go
Due: gofmt, golangci-lint

docs: update of resource docs
  docs/resources/subaccount_destination_generic.md
  guides/DRIFTDETECTION.md
  guides/IMPORT.md
  templates/resources/subaccount_destination_generic.md.tmpl
Due: none

feat: added identity block for service bindings
  btp/provider/fixtures/resource_subaccount_service_binding.with_labels.yaml
  btp/provider/fixtures/resource_subaccount_service_binding_with_import.yaml
  btp/provider/resource_subaccount_service_binding.go
  btp/provider/resource_subaccount_service_binding_test.go
  docs/resources/subaccount_service_binding.md
  examples/resources/btp_subaccount_service_binding/import.sh
Due: gofmt, golangci-lint

re record fixtures
  btp/provider/fixtures/resource_subaccount_service_binding.yaml
  btp/provider/fixtures/resource_subaccount_service_binding_with_import.yaml
  btp/provider/resource_subaccount_service_binding_test.go
Due: gofmt, golangci-lint

feat: added identity block for service bindings (#1333)
  btp/provider/fixtures/resource_subaccount_service_binding.import_error.yaml
  btp/provider/fixtures/resource_subaccount_service_binding.with_labels.yaml
  btp/provider/fixtures/resource_subaccount_service_binding_with_import.yaml
  btp/provider/resource_subaccount_service_binding.go
  btp/provider/resource_subaccount_service_binding_test.go
  docs/resources/subaccount_service_binding.md
  examples/resources/btp_subaccount_service_binding/import.sh
Due: gofmt, golangci-lint

feat/add_import_block_for_service_instance
  btp/provider/fixtures/resource_subaccount_service_instance.creation_error.yaml
  btp/provider/fixtures/resource_subaccount_service_instance.import_error.yaml
  btp/provider/fixtures/resource_subaccount_service_instance.sharing_error.yaml
  btp/provider/fixtures/resource_subaccount_service_instance.with_parameters.yaml
  btp/provider/fixtures/resource_subaccount_service_instance.with_sharing_conf_changed.yaml
  btp/provider/fixtures/resource_subaccount_service_instance.with_sharing_enabled.yaml
  btp/provider/fixtures/resource_subaccount_service_instance.wo_parameters.yaml
  btp/provider/fixtures/resource_subaccount_service_instance.wo_parameters_with import.yaml
  btp/provider/fixtures/resource_subaccount_service_instance_with_timeouts.yaml
  btp/provider/resource_subaccount_service_instance.go
  btp/provider/resource_subaccount_service_instance_test.go
  docs/resources/subaccount_service_instance.md
  examples/resources/btp_subaccount_service_instance/import.sh
Due: gofmt, golangci-lint

formatting
  docs/resources/subaccount_service_instance.md
  examples/resources/btp_subaccount_service_instance/import.sh
Due: none

feat: added import block for service instance (#1334)
  btp/provider/fixtures/resource_subaccount_service_instance.creation_error.yaml
  btp/provider/fixtures/resource_subaccount_service_instance.import_error.yaml
  btp/provider/fixtures/resource_subaccount_service_instance.sharing_error.yaml
  btp/provider/fixtures/resource_subaccount_service_instance.with_parameters.yaml
  btp/provider/fixtures/resource_subaccount_service_instance.with_sharing_conf_changed.yaml
  btp/provider/fixtures/resource_subaccount_service_instance.with_sharing_enabled.yaml
  btp/provider/fixtures/resource_subaccount_service_instance.wo_parameters.yaml
  btp/provider/fixtures/resource_subaccount_service_instance.wo_parameters_with import.yaml
  btp/provider/fixtures/resource_subaccount_service_instance_with_timeouts.yaml
  btp/provider/resource_subaccount_service_instance.go
  btp/provider/resource_subaccount_service_instance_test.go
  docs/resources/subaccount_service_instance.md
  examples/resources/btp_subaccount_service_instance/import.sh
Due: gofmt, golangci-lint

fix: consider new API response for redacted values
  btp/provider/type_destination.go
Due: gofmt, golangci-lint

feat: add role collection base and role resources
  btp/provider/fixtures/resource_subaccount_role_collection_base.import_error.yaml
  btp/provider/fixtures/resource_subaccount_role_collection_base.import_resource_identity.yaml
  btp/provider/fixtures/resource_subaccount_role_collection_base.update.yaml
  btp/provider/fixtures/resource_subaccount_role_collection_base.update_rm_desc.yaml
  btp/provider/fixtures/resource_subaccount_role_collection_base.update_wo_desc.yaml
  btp/provider/fixtures/resource_subaccount_role_collection_base.yaml
  btp/provider/fixtures/resource_subaccount_role_collection_role.import_error.yaml
  btp/provider/fixtures/resource_subaccount_role_collection_role.import_identity.yaml
  btp/provider/fixtures/resource_subaccount_role_collection_role.yaml
  btp/provider/resource_subaccount_role_collection_base.go
  btp/provider/resource_subaccount_role_collection_base_test.go
  btp/provider/resource_subaccount_role_collection_role.go
  btp/provider/resource_subaccount_role_collection_role_test.go
Due: gofmt, golangci-lint

docs: add schema descriptions and conflict warnings for resources
  docs/resources/subaccount_role_collection_base.md
  docs/resources/subaccount_role_collection_role.md
  examples/resources/btp_subaccount_role_collection_base/import.sh
  examples/resources/btp_subaccount_role_collection_base/resource.tf
  examples/resources/btp_subaccount_role_collection_role/import.sh
  examples/resources/btp_subaccount_role_collection_role/resource.tf
Due: terraformfmt

feat: add data sources for role collection bases and roles
  btp/provider/datasource_subaccount_role_collection_base.go
  btp/provider/datasource_subaccount_role_collection_base_test.go
  btp/provider/datasource_subaccount_role_collection_bases.go
  btp/provider/datasource_subaccount_role_collection_bases_test.go
  btp/provider/datasource_subaccount_role_collection_role.go
  btp/provider/datasource_subaccount_role_collection_role_test.go
  btp/provider/datasource_subaccount_role_collection_roles.go
  btp/provider/datasource_subaccount_role_collection_roles_test.go
  btp/provider/fixtures/datasource_subaccount_role_collection_base.yaml
  btp/provider/fixtures/datasource_subaccount_role_collection_bases.yaml
  btp/provider/fixtures/datasource_subaccount_role_collection_role.not_found.yaml
  btp/provider/fixtures/datasource_subaccount_role_collection_role.yaml
  btp/provider/fixtures/datasource_subaccount_role_collection_roles.yaml
  btp/provider/provider.go
  btp/provider/provider_test.go
Due: gofmt, golangci-lint

docs: add documentation for role collection data sources
  docs/data-sources/subaccount_role_collection_base.md
  docs/data-sources/subaccount_role_collection_bases.md
  docs/data-sources/subaccount_role_collection_role.md
  docs/data-sources/subaccount_role_collection_roles.md
  examples/data-sources/btp_subaccount_role_collection_base/data-source.tf
  examples/data-sources/btp_subaccount_role_collection_bases/data-source.tf
  examples/data-sources/btp_subaccount_role_collection_role/data-source.tf
  examples/data-sources/btp_subaccount_role_collection_roles/data-source.tf
Due: terraformfmt

fix: temporary workaround for name changes
  btp/provider/resource_subaccount_destination.go
  btp/provider/resource_subaccount_destination_generic.go
Due: gofmt, golangci-lint

docs: add limitation for change of name
  btp/provider/resource_subaccount_destination.go
  docs/resources/subaccount_destination.md
  docs/resources/subaccount_destination_generic.md
  templates/resources/subaccount_destination.md.tmpl
  templates/resources/subaccount_destination_generic.md.tmpl
Due: gofmt, golangci-lint

Path conditions:
  gofmt: any of: *.go, but not: vendor/*
  golangci-lint: any of: *.go, but not: vendor/*
  terraformfmt: any of: *.tf, but not: vendor/*
