Repository SAP/terraform-provider-btp: changes, and which lefthook commands are due for each by the changed paths.
All: gofmt, golangci-lint, terraformfmt

gofmt:
  run: go fmt ./...

golangci-lint:
  run: golangci-lint run --fix

terraformfmt:
  run: terraform fmt {staged_files}

feat: test recording for data sources
  internal/provider/fixtures/datasource_subaccount_service_instance.by_id.yaml
  internal/provider/fixtures/datasource_subaccount_service_instance.by_name.yaml
  internal/provider/fixtures/datasource_subaccount_service_instances.all.yaml
  internal/provider/fixtures/datasource_subaccount_service_instances.labelsfilter.yaml
  internal/provider/fixtures/datasource_subaccount_service_instances.namefilter.yaml
  internal/provider/fixtures/datasource_subaccount_service_instances.namefilter_variant.yaml
Due: none

feat: test recording for resource
  internal/provider/fixtures/resource_subaccount_service_instance.creation_error.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.import_error.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.sharing_error.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.with_labels.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.with_labels_change.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.with_parameters.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.with_sharing_conf_changed.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.with_sharing_enabled.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.wo_parameters.yaml
  internal/provider/fixtures/resource_subaccount_service_instance_with_timeouts.yaml
Due: none

temp fix : removed idp from regression tests
  .github/workflows/schema-regression-test.yml
  regression-test/provider.tf
Due: terraformfmt

temp fix : removed idp from regression tests (#867)
  .github/workflows/schema-regression-test.yml
  regression-test/provider.tf
Due: terraformfmt

temp fix: removed variable idp from regression tests
  regression-test/variables.tf
Due: terraformfmt

temp fix: removed variable idp from regression tests (#868)
  regression-test/variables.tf
Due: terraformfmt

feat: add timeout block for subaccount subscription
  internal/provider/resource_subaccount_subscription.go
  internal/provider/type_subaccount_subscription.go
Due: gofmt, golangci-lint

feat: regenerate documentation for resource subscription
  docs/resources/subaccount_subscription.md
  examples/resources/btp_subaccount_subscription/resource.tf
Due: terraformfmt

feat: test fixture recording and fixes
  docs/resources/subaccount_subscription.md
  internal/provider/fixtures/resource_subaccount_subscription.import_error.yaml
  internal/provider/fixtures/resource_subaccount_subscription_with_timeouts.yaml
  internal/provider/resource_subaccount_subscription.go
  internal/provider/resource_subaccount_subscription_test.go
Due: gofmt, golangci-lint

feat: fix issue with datasource
  internal/provider/datasource_subaccount_subscription.go
  internal/provider/type_subaccount_subscription.go
Due: gofmt, golangci-lint

feat: remove update timeout as op is not supported
  docs/resources/subaccount_subscription.md
  examples/resources/btp_subaccount_subscription/resource.tf
  internal/provider/fixtures/resource_subaccount_subscription.import_error.yaml
  internal/provider/fixtures/resource_subaccount_subscription.yaml
  internal/provider/fixtures/resource_subaccount_subscription_with_timeouts.yaml
  internal/provider/resource_subaccount_subscription.go
  internal/provider/resource_subaccount_subscription_test.go
Due: gofmt, golangci-lint, terraformfmt

fix: empty placeholders in error message
  internal/provider/datasource_subaccount.go
Due: gofmt, golangci-lint

fix: empty placeholders in error message (#871)
  internal/provider/datasource_subaccount.go
Due: gofmt, golangci-lint

feat: add timeout block for subaccount subscription (#869)
  docs/resources/subaccount_subscription.md
  examples/resources/btp_subaccount_subscription/resource.tf
  internal/provider/datasource_subaccount_subscription.go
  internal/provider/fixtures/resource_subaccount_subscription.yaml
  internal/provider/fixtures/resource_subaccount_subscription_with_timeouts.yaml
  internal/provider/resource_subaccount_subscription.go
  internal/provider/resource_subaccount_subscription_test.go
  internal/provider/type_subaccount_subscription.go
Due: gofmt, golangci-lint, terraformfmt

feat: add dashboard URL to service instance (#865)
  docs/data-sources/subaccount_service_instance.md
  docs/data-sources/subaccount_service_instances.md
  docs/resources/subaccount_service_instance.md
  internal/provider/datasource_subaccount_service_instance.go
  internal/provider/datasource_subaccount_service_instances.go
  internal/provider/fixtures/datasource_subaccount_service_instance.by_id.yaml
  internal/provider/fixtures/datasource_subaccount_service_instance.by_name.yaml
  internal/provider/fixtures/datasource_subaccount_service_instances.all.yaml
  internal/provider/fixtures/datasource_subaccount_service_instances.labelsfilter.yaml
  internal/provider/fixtures/datasource_subaccount_service_instances.namefilter.yaml
  internal/provider/fixtures/datasource_subaccount_service_instances.namefilter_variant.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.creation_error.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.import_error.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.sharing_error.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.with_labels.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.with_labels_change.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.with_parameters.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.with_sharing_conf_changed.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.with_sharing_enabled.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.wo_parameters.yaml
  internal/provider/fixtures/resource_subaccount_service_instance_with_timeouts.yaml
  internal/provider/resource_subaccount_service_instance.go
  internal/provider/type_subaccount_service_instance.go
Due: gofmt, golangci-lint

feat: add retry logic for rate limit for entitlement
  internal/provider/resource_subaccount_entitlement.go
Due: gofmt, golangci-lint

feat: add retry logic for rate limit for subscription
  internal/provider/resource_subaccount_subscription.go
Due: gofmt, golangci-lint

feat: add retry logic for rate limit for service instance
  internal/provider/resource_subaccount_service_instance.go
Due: gofmt, golangci-lint

feat: add retry logic for rate limit for entitlement (#874)
  internal/provider/resource_subaccount_entitlement.go
  internal/provider/resource_subaccount_service_instance.go
  internal/provider/resource_subaccount_subscription.go
Due: gofmt, golangci-lint

chore: upgrade to latest go version
  .devcontainer/default/devcontainer.json
  .devcontainer/withenvfile/devcontainer.json
  README.md
  go.mod
Due: none

fix: Broken Lint Tests
  internal/btpcli/client.go
  internal/btpcli/client_test.go
Due: gofmt, golangci-lint

fix: Broken Lint Tests
  .devcontainer/default/devcontainer.json
  .devcontainer/withenvfile/devcontainer.json
  README.md
  go.mod
Due: none

fix: Broken Lint Tests & chore: upgrade of go version (#890)
  .devcontainer/default/devcontainer.json
  .devcontainer/withenvfile/devcontainer.json
  README.md
  go.mod
  internal/btpcli/client.go
  internal/btpcli/client_test.go
Due: gofmt, golangci-lint

chore: rework devcontainer setup
  .devcontainer/default/devcontainer.json
  .devcontainer/withenvfile/devcontainer.json
Due: none

chore: rework devcontainer setup
  .devcontainer/withenvfile/devcontainer.json
Due: none

chore: rework devcontainer setup (#891)
  .devcontainer/default/devcontainer.json
  .devcontainer/withenvfile/devcontainer.json
Due: none

chore: prep opentofu support
  .devcontainer/default/devcontainer.json
  .devcontainer/withenvfile/devcontainer.json
  .github/workflows/compatibility-test.yml
  .github/workflows/schema-regression-test-opentofu.yml
  .github/workflows/test-opentofu.yml
Due: none

chore: update tofu feature
  .devcontainer/default/devcontainer.json
  .devcontainer/withenvfile/devcontainer.json
Due: none

minor fixes
  internal/provider/provider.go
  internal/provider/resource_directory_api_credential.go
  internal/provider/resource_directory_api_credential_test.go
  internal/provider/resource_globalaccount_api_credential.go
  internal/provider/resource_subaccount_api_credential.go
  internal/provider/resource_subaccount_api_credential_test.go
Due: gofmt, golangci-lint

re-recorded fixtures
  internal/provider/fixtures/resource_directory_api_credential.error_invalid_certificate.yaml
  internal/provider/fixtures/resource_directory_api_credential.read_only_credentials.yaml
  internal/provider/fixtures/resource_directory_api_credential.with_certificate.yaml
  internal/provider/fixtures/resource_directory_api_credential.with_secret.yaml
  internal/provider/fixtures/resource_subaccount_api_credential.error_invalid_certificate.yaml
  internal/provider/fixtures/resource_subaccount_api_credential.read_only_credentials.yaml
  internal/provider/fixtures/resource_subaccount_api_credential.with_certificate.yaml
  internal/provider/fixtures/resource_subaccount_api_credential.with_secret.yaml
Due: none

modified tests
  internal/provider/resource_directory_api_credential_test.go
  internal/provider/resource_globalaccount_api_credential_test.go
  internal/provider/resource_subaccount_api_credential_test.go
Due: gofmt, golangci-lint

schema modification
  internal/provider/resource_directory_api_credential.go
  internal/provider/resource_globalaccount_api_credential.go
  internal/provider/resource_subaccount_api_credential.go
  internal/provider/type_directory_api_credential.go
  internal/provider/type_globalaccount_api_credential.go
  internal/provider/type_subaccount_api_credential.go
Due: gofmt, golangci-lint

documentation added for new resources
  docs/resources/directory_api_credential.md
  docs/resources/globalaccount_api_credential.md
  docs/resources/subaccount_api_credential.md
Due: none

added examples for the new resources
  examples/resources/btp_directory_api_credential/import.sh
  examples/resources/btp_directory_api_credential/resource.tf
  examples/resources/btp_globalaccount_api_credential/import.sh
  examples/resources/btp_globalaccount_api_credential/resource.tf
  examples/resources/btp_subaccount_api_credential/import.sh
  examples/resources/btp_subaccount_api_credential/resource.tf
  examples/resources/certificate.go
Due: gofmt, golangci-lint, terraformfmt

minor fix
  internal/provider/provider.go
Due: gofmt, golangci-lint

minor fixes to the GA api-credential resource, fixtures re-recorded
  internal/provider/fixtures/resource_globalaccount_api_credential.error_invalid_certificate.yaml
  internal/provider/fixtures/resource_globalaccount_api_credential.read_only_credentials.yaml
  internal/provider/fixtures/resource_globalaccount_api_credential.with_certificate.yaml
  internal/provider/fixtures/resource_globalaccount_api_credential.with_secret.yaml
  internal/provider/resource_globalaccount_api_credential_test.go
Due: gofmt, golangci-lint

documentation removed for api credentials (beat resource)
  docs/resources/directory_api_credential.md
  docs/resources/globalaccount_api_credential.md
  docs/resources/subaccount_api_credential.md
Due: none

removed the new resources from beta list
  docs/resources/directory_api_credential.md
  docs/resources/globalaccount_api_credential.md
  docs/resources/subaccount_api_credential.md
  internal/provider/provider.go
Due: gofmt, golangci-lint

added the new resources to the provider tests
  internal/provider/provider_test.go
Due: gofmt, golangci-lint

removed import functionality
  examples/resources/btp_directory_api_credential/import.sh
  examples/resources/btp_globalaccount_api_credential/import.sh
  examples/resources/btp_subaccount_api_credential/import.sh
  internal/provider/resource_directory_api_credential.go
  internal/provider/resource_directory_api_credential_test.go
  internal/provider/resource_globalaccount_api_credential.go
  internal/provider/resource_globalaccount_api_credential_test.go
  internal/provider/resource_subaccount_api_credential.go
  internal/provider/resource_subaccount_api_credential_test.go
Due: gofmt, golangci-lint

Path conditions:
  gofmt: any of: *.go, but not: vendor/*
  golangci-lint: any of: *.go, but not: vendor/*
  terraformfmt: any of: *.tf, but not: vendor/*
