Repository SAP/terraform-provider-btp: changes, and which lefthook commands are due for each by the changed paths.
All: gofmt, golangci-lint, terraformfmt

gofmt:
  run: go fmt ./...

golangci-lint:
  run: golangci-lint run --fix

terraformfmt:
  run: terraform fmt {staged_files}

Updated fixture for datasource_subaccount_service_plan
  internal/provider/fixtures/datasource_subaccount_service_plan.by_id.yaml
  internal/provider/fixtures/datasource_subaccount_service_plan.by_name.yaml
Due: none

Update datasource_subaccount_environment_instances_test
  internal/provider/datasource_subaccount_environment_instances_test.go
  internal/provider/fixtures/datasource_subaccount_environment_instances.yaml
Due: gofmt, golangci-lint

Added datasource_subaccount_environment_instance_test
  internal/provider/datasource_subaccount_environment_instance_test.go
  internal/provider/fixtures/datasource_subaccount_environment_instance.yaml
Due: gofmt, golangci-lint

chore: update Terraform test matrix
  .github/workflows/test.yml
Due: none

chore: update Terraform test matrix (#971)
  .github/workflows/test.yml
Due: none

fix: remove terraform 1.10 from test matrix
  .github/workflows/test.yml
Due: none

Update facade_accounts_entitlement_test
  internal/btpcli/facade_accounts_entitlement_test.go
Due: gofmt, golangci-lint

Update datasource_subaccount_service_plan_test
  internal/provider/datasource_subaccount_service_plan_test.go
Due: gofmt, golangci-lint

Update clienttypes_test
  internal/btpcli/clienttypes_test.go
Due: gofmt, golangci-lint

Update provider_test
  internal/provider/fixtures/provider.error_cli_server_url.yaml
  internal/provider/provider_test.go
Due: gofmt, golangci-lint

Fixture for datasource_subaccount_service_plan error
  internal/provider/fixtures/datasource_subaccount_service_plan.err_with_subaccount_only.yaml
Due: none

Update facade_accounts_global_account_test
  internal/btpcli/facade_accounts_global_account_test.go
Due: gofmt, golangci-lint

fix: remove terraform 1.10 from test matrix (#974)
  .github/workflows/test.yml
Due: none

test: Improve Sonar Tests Coverage (#975)
  internal/btpcli/clienttypes_test.go
  internal/btpcli/facade_accounts_entitlement_test.go
  internal/btpcli/facade_accounts_global_account_test.go
  internal/provider/datasource_subaccount_environment_instance_test.go
  internal/provider/datasource_subaccount_environment_instances_test.go
  internal/provider/datasource_subaccount_service_plan_test.go
  internal/provider/fixtures/datasource_subaccount_environment_instance.yaml
  internal/provider/fixtures/datasource_subaccount_service_plan.err_with_subaccount_only.yaml
  internal/provider/fixtures/provider.error_cli_server_url.yaml
  internal/provider/provider_test.go
Due: gofmt, golangci-lint

chore: Fix Documentation
  docs/data-sources/subaccount_entitlements.md
  internal/provider/datasource_subaccount_entitlements.go
Due: gofmt, golangci-lint

chore: Fix Documentation (#979)
  docs/data-sources/subaccount_entitlements.md
  internal/provider/datasource_subaccount_entitlements.go
Due: gofmt, golangci-lint

chore: update Go dependencies
  go.mod
  go.sum
Due: none

chore: update Go dependencies (#982)
  go.mod
  go.sum
Due: none

chore: update year references
  .reuse/dep5
  README.md
  guides/DRIFTDETECTION.md
  guides/IMPORT.md
Due: none

chore: update year references (#986)
  .reuse/dep5
  README.md
  guides/DRIFTDETECTION.md
  guides/IMPORT.md
Due: none

feat: add retry logic for Gateway timeout
  internal/provider/resource_subaccount_entitlement.go
  internal/provider/resource_subaccount_environment_instance.go
  internal/tfutils/retry.go
  internal/tfutils/retry_test.go
Due: gofmt, golangci-lint

docs: fix wrong link for drift detection
  README.md
Due: none

chore: fix formatting
  internal/btpcli/clienttypes_test.go
  internal/btpcli/facade_accounts_entitlement_test.go
  internal/btpcli/facade_accounts_global_account_test.go
  internal/provider/datasource_subaccount_environment_instance_test.go
  internal/provider/datasource_subaccount_service_plan_test.go
  internal/tfutils/certificate_generator.go
  internal/tfutils/certificate_generator_test.go
Due: gofmt, golangci-lint

removed uuid validator for parent-id
  internal/provider/resource_directory.go
  internal/provider/resource_directory_test.go
  internal/provider/resource_subaccount.go
  internal/provider/resource_subaccount_test.go
Due: gofmt, golangci-lint

removed uuid validator for parent-id (#991)
  internal/provider/resource_directory.go
  internal/provider/resource_directory_test.go
  internal/provider/resource_subaccount.go
  internal/provider/resource_subaccount_test.go
Due: gofmt, golangci-lint

feat: add retry logic for Gateway timeout (#988)
  internal/provider/resource_subaccount_entitlement.go
  internal/provider/resource_subaccount_environment_instance.go
  internal/tfutils/retry.go
  internal/tfutils/retry_test.go
Due: gofmt, golangci-lint

chore: fix formatting (#990)
  internal/btpcli/clienttypes_test.go
  internal/btpcli/facade_accounts_entitlement_test.go
  internal/btpcli/facade_accounts_global_account_test.go
  internal/provider/datasource_subaccount_environment_instance_test.go
  internal/provider/datasource_subaccount_service_plan_test.go
  internal/tfutils/certificate_generator.go
  internal/tfutils/certificate_generator_test.go
Due: gofmt, golangci-lint

docs: fix wrong link for drift detection (#989)
  README.md
Due: none

chore: update tofu version for text matrix
  .github/workflows/schema-regression-test-opentofu.yml
  .github/workflows/test-opentofu.yml
Due: none

chore: update Sonar Cloud GH Action
  .github/workflows/test.yml
Due: none

chore: update Sonar Cloud GH Action (#995)
  .github/workflows/test.yml
Due: none

Update reference to 1.9.0
  .github/ISSUE_TEMPLATE/bug_report.yml
  docs/index.md
  examples/provider/provider.tf
  integration/provider.tf
Due: terraformfmt

Update reference to 1.9.0 (#996)
  .github/ISSUE_TEMPLATE/bug_report.yml
  docs/index.md
  examples/provider/provider.tf
  integration/provider.tf
Due: terraformfmt

Update BTP CLI version from 2.64.0 to 2.77.1
  internal/btpcli/client.go
Due: gofmt, golangci-lint

Test fixes & fixtures for directory/directories datasource
  internal/provider/datasource_directories_test.go
  internal/provider/datasource_directory_user_test.go
  internal/provider/datasource_directory_users_test.go
  internal/provider/fixtures/datasource_directories.all.yaml
  internal/provider/fixtures/datasource_directory.yaml
  internal/provider/fixtures/datasource_directory_entitlements.yaml
  internal/provider/fixtures/datasource_directory_labels.yaml
  internal/provider/fixtures/datasource_directory_role.not_security_enabled.yaml
  internal/provider/fixtures/datasource_directory_role.yaml
  internal/provider/fixtures/datasource_directory_role_collection.not_security_enabled.yaml
  internal/provider/fixtures/datasource_directory_role_collection.yaml
  internal/provider/fixtures/datasource_directory_role_collections.not_security_enabled.yaml
  internal/provider/fixtures/datasource_directory_role_collections.yaml
  internal/provider/fixtures/datasource_directory_roles.not_security_enabled.yaml
  internal/provider/fixtures/datasource_directory_roles.yaml
  internal/provider/fixtures/datasource_directory_user.custom_idp.yaml
  internal/provider/fixtures/datasource_directory_user.default_idp.yaml
  internal/provider/fixtures/datasource_directory_users.custom_idp.yaml
  internal/provider/fixtures/datasource_directory_users.default_idp.yaml
  internal/provider/fixtures/datasource_directory_users.non_existing_idp.yaml
  tf_scripts/main.tf
  tf_scripts/provider.tf
Due: gofmt, golangci-lint, terraformfmt

Test fixes & fixtures for directory/directories datasource
  internal/provider/datasource_directories_test.go
  internal/provider/datasource_directory_user_test.go
  internal/provider/datasource_directory_users_test.go
  internal/provider/fixtures/datasource_directories.all.yaml
  internal/provider/fixtures/datasource_directory.yaml
  internal/provider/fixtures/datasource_directory_entitlements.yaml
  internal/provider/fixtures/datasource_directory_labels.yaml
  internal/provider/fixtures/datasource_directory_role.not_security_enabled.yaml
  internal/provider/fixtures/datasource_directory_role.yaml
  internal/provider/fixtures/datasource_directory_role_collection.not_security_enabled.yaml
  internal/provider/fixtures/datasource_directory_role_collection.yaml
  internal/provider/fixtures/datasource_directory_role_collections.not_security_enabled.yaml
  internal/provider/fixtures/datasource_directory_role_collections.yaml
  internal/provider/fixtures/datasource_directory_roles.not_security_enabled.yaml
  internal/provider/fixtures/datasource_directory_roles.yaml
  internal/provider/fixtures/datasource_directory_user.custom_idp.yaml
  internal/provider/fixtures/datasource_directory_user.default_idp.yaml
  internal/provider/fixtures/datasource_directory_users.custom_idp.yaml
  internal/provider/fixtures/datasource_directory_users.default_idp.yaml
  internal/provider/fixtures/datasource_directory_users.non_existing_idp.yaml
Due: gofmt, golangci-lint

Path conditions:
  gofmt: any of: *.go, but not: vendor/*
  golangci-lint: any of: *.go, but not: vendor/*
  terraformfmt: any of: *.tf, but not: vendor/*
