Repository SAP/terraform-provider-btp: changes, and which lefthook commands are due for each by the changed paths.
All: gofmt, golangci-lint, terraformfmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    gofmt:
      glob: "*.go"
      run: go fmt ./...
      exclude: "vendor/*"
    golangci-lint:
      glob: "*.go"
      run: golangci-lint run --fix
      exclude: "vendor/*"
    terraformfmt:
      glob: "*.tf"
      run: terraform fmt {staged_files}
      exclude: "vendor/*"

chore: update bug template
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

docs: switch to release 0.6.0 for provider documentation (#516)
  .github/ISSUE_TEMPLATE/bug_report.yml
  docs/index.md
  examples/provider/provider.tf
Due: terraformfmt

refactor: refactor error handling code to generic function
  internal/provider/helper.go
  internal/provider/helper_time.go
  internal/provider/resource_subaccount_trust_configuration.go
Due: gofmt, golangci-lint

feat: remove state in case of 404 errors to enable recreation (#513)
  internal/provider/fixtures/resource_subaccount_trust_configuration.error_notfound.yaml
  internal/provider/helper.go
  internal/provider/helper_time.go
  internal/provider/resource_subaccount_trust_configuration.go
  internal/provider/resource_subaccount_trust_configuration_test.go
Due: gofmt, golangci-lint

feature: update handling of resource not found
  internal/provider/helper.go
  internal/provider/resource_directory.go
  internal/provider/resource_directory_entitlement.go
  internal/provider/resource_directory_role_collection.go
  internal/provider/resource_globalaccount_resource_provider.go
  internal/provider/resource_globalaccount_role_collection.go
  internal/provider/resource_globalaccount_trust_configuration.go
  internal/provider/resource_subaccount.go
  internal/provider/resource_subaccount_entitlement.go
  internal/provider/resource_subaccount_environment_instance.go
  internal/provider/resource_subaccount_role_collection.go
  internal/provider/resource_subaccount_service_binding.go
  internal/provider/resource_subaccount_service_instance.go
  internal/provider/resource_subaccount_subscription.go
Due: gofmt, golangci-lint

feat: remove manual test case for subaccount trust
  internal/provider/fixtures/resource_subaccount_trust_configuration.error_notfound.yaml
  internal/provider/resource_subaccount_trust_configuration_test.go
Due: gofmt, golangci-lint

fix: linting error
  internal/provider/resource_subaccount_trust_configuration_test.go
Due: gofmt, golangci-lint

feat: handling of "not found" resources in READ operations (#518)
  internal/provider/fixtures/resource_subaccount_trust_configuration.error_notfound.yaml
  internal/provider/helper.go
  internal/provider/resource_directory.go
  internal/provider/resource_directory_entitlement.go
  internal/provider/resource_directory_role_collection.go
  internal/provider/resource_globalaccount_resource_provider.go
  internal/provider/resource_globalaccount_role_collection.go
  internal/provider/resource_globalaccount_trust_configuration.go
  internal/provider/resource_subaccount.go
  internal/provider/resource_subaccount_entitlement.go
  internal/provider/resource_subaccount_environment_instance.go
  internal/provider/resource_subaccount_role_collection.go
  internal/provider/resource_subaccount_service_binding.go
  internal/provider/resource_subaccount_service_instance.go
  internal/provider/resource_subaccount_subscription.go
  internal/provider/resource_subaccount_trust_configuration_test.go
Due: gofmt, golangci-lint

fix: nil pointer error creation of service instance
  internal/btpcli/facade_services_instance.go
Due: gofmt, golangci-lint

docs: renamed provider config parameter for consistency
  docs/index.md
  internal/provider/provider.go
  internal/provider/provider_test.go
Due: gofmt, golangci-lint

fix: cleanup of unreachable ELSE case
  internal/btpcli/facade_services_instance.go
Due: gofmt, golangci-lint

fix: indentation in test cases
  internal/provider/provider_test.go
Due: gofmt, golangci-lint

fix: nil pointer error creation of service instance (#521)
  internal/btpcli/facade_services_instance.go
Due: gofmt, golangci-lint

fix: renamed provider config parameter for consistency (#522)
  docs/index.md
  internal/provider/provider.go
  internal/provider/provider_test.go
Due: gofmt, golangci-lint

chore: prep release 0.6.0-beta2
  .github/ISSUE_TEMPLATE/bug_report.yml
  docs/index.md
  examples/provider/provider.tf
Due: terraformfmt

chore: prep release 0.6.0-beta2 (#525)
  .github/ISSUE_TEMPLATE/bug_report.yml
  docs/index.md
  examples/provider/provider.tf
Due: terraformfmt

fix: adapt to command changes from XSUAA-3964
  internal/provider/fixtures/resource_subaccount_trust_configuration.complete.yaml
  internal/provider/fixtures/resource_subaccount_trust_configuration.error_missing_identityprovider.yaml
  internal/provider/fixtures/resource_subaccount_trust_configuration.import_error.yaml
  internal/provider/fixtures/resource_subaccount_trust_configuration.minimal.yaml
  internal/provider/resource_subaccount_trust_configuration.go
  internal/provider/resource_subaccount_trust_configuration_test.go
Due: gofmt, golangci-lint

fix: adapt to command changes from XSUAA-3964 (#526)
  internal/provider/fixtures/resource_subaccount_trust_configuration.complete.yaml
  internal/provider/fixtures/resource_subaccount_trust_configuration.error_missing_identityprovider.yaml
  internal/provider/fixtures/resource_subaccount_trust_configuration.import_error.yaml
  internal/provider/fixtures/resource_subaccount_trust_configuration.minimal.yaml
  internal/provider/resource_subaccount_trust_configuration.go
  internal/provider/resource_subaccount_trust_configuration_test.go
Due: gofmt, golangci-lint

feat: security_settings resource
  docs/data-sources/globalaccount_security_settings.md
  docs/data-sources/subaccount_security_settings.md
  docs/resources/globalaccount_security_settings.md
  docs/resources/subaccount_security_settings.md
  examples/data-sources/btp_globalaccount_security_settings/data-source.tf
  examples/data-sources/btp_subaccount_security_settings/data-source.tf
  examples/resources/btp_globalaccount_security_settings/resource.tf
  examples/resources/btp_subaccount_security_settings/resource.tf
  internal/btpcli/facade_security.go
  internal/btpcli/facade_security_settings.go
  internal/btpcli/facade_security_settings_test.go
  internal/btpcli/types/xsuaa_settings/binding.go
  internal/btpcli/types/xsuaa_settings/links_settings.go
  internal/btpcli/types/xsuaa_settings/saml_config_settings_resp.go
  internal/btpcli/types/xsuaa_settings/saml_key.go
  internal/btpcli/types/xsuaa_settings/tenant_settings_resp.go
  internal/btpcli/types/xsuaa_settings/token_policy_settings_resp.go
  internal/provider/datasource_globalaccount_security_settings.go
  internal/provider/datasource_subaccount_security_settings.go
  internal/provider/provider.go
  internal/provider/provider_test.go
  internal/provider/resource_globalaccount_security_settings.go
  internal/provider/resource_subaccount_security_settings.go
  internal/provider/type_globalaccount_security_settings.go
  internal/provider/type_subaccount_security_settings.go
  internal/tfutils/tfutils.go
Due: gofmt, golangci-lint, terraformfmt

feat: datasources remove otioonal, add test cases
  internal/provider/datasource_globalaccount_security_settings.go
  internal/provider/datasource_globalaccount_security_settings_test.go
  internal/provider/datasource_subaccount_security_settings.go
  internal/provider/datasource_subaccount_security_settings_test.go
Due: gofmt, golangci-lint

feat: datasources test fixtures
  internal/provider/datasource_globalaccount_security_settings_test.go
  internal/provider/fixtures/datasource_globalaccount_security_settings.yaml
  internal/provider/fixtures/datasource_subaccount_security_settings.by_id.yaml
Due: gofmt, golangci-lint

regenerate docs
  docs/data-sources/globalaccount_security_settings.md
  docs/data-sources/subaccount_security_settings.md
Due: none

default value for custom domains
  internal/provider/resource_globalaccount_security_settings.go
  internal/provider/resource_subaccount_security_settings.go
Due: gofmt, golangci-lint

fix: support custom email domains
  internal/btpcli/facade_security_settings.go
  internal/btpcli/facade_security_settings_test.go
  internal/provider/resource_globalaccount_security_settings.go
  internal/provider/resource_subaccount_security_settings.go
  internal/tfutils/tfutils.go
  internal/tfutils/tfutils_test.go
Due: gofmt, golangci-lint

tests
  internal/provider/resource_globalaccount_security_settings_test.go
  internal/provider/resource_subaccount_security_settings_test.go
Due: gofmt, golangci-lint

fix: adapt id to re-created test subaccount
  internal/provider/fixtures/resource_subaccount_entitlement.dir_hierarchy.yaml
  internal/provider/resource_subaccount_entitlement_test.go
Due: gofmt, golangci-lint

feat: fixture recording for resources
  internal/provider/fixtures/resource_globalaccount_security_settings.complete.yaml
  internal/provider/fixtures/resource_subaccount_security_settings.complete.yaml
  internal/provider/resource_globalaccount_security_settings_test.go
  internal/provider/resource_subaccount_security_settings_test.go
Due: gofmt, golangci-lint

fix: adapt id to re-created test subaccount (#528)
  internal/provider/fixtures/resource_subaccount_entitlement.dir_hierarchy.yaml
  internal/provider/resource_subaccount_entitlement_test.go
Due: gofmt, golangci-lint

update docs
  docs/data-sources/globalaccount_security_settings.md
  docs/data-sources/subaccount_security_settings.md
  internal/provider/datasource_globalaccount_security_settings.go
  internal/provider/datasource_subaccount_security_settings.go
Due: gofmt, golangci-lint

update docs
  docs/data-sources/globalaccount_security_settings.md
  docs/resources/globalaccount_security_settings.md
  docs/resources/subaccount_security_settings.md
  internal/provider/datasource_globalaccount_security_settings.go
  internal/provider/resource_globalaccount_security_settings.go
  internal/provider/resource_subaccount_security_settings.go
Due: gofmt, golangci-lint

feat: security_settings resource (#527)
  docs/data-sources/globalaccount_security_settings.md
  docs/data-sources/subaccount_security_settings.md
  docs/resources/globalaccount_security_settings.md
  docs/resources/subaccount_security_settings.md
  examples/data-sources/btp_globalaccount_security_settings/data-source.tf
  examples/data-sources/btp_subaccount_security_settings/data-source.tf
  examples/resources/btp_globalaccount_security_settings/resource.tf
  examples/resources/btp_subaccount_security_settings/resource.tf
  internal/btpcli/facade_security.go
  internal/btpcli/facade_security_settings.go
  internal/btpcli/facade_security_settings_test.go
  internal/btpcli/types/xsuaa_settings/binding.go
  internal/btpcli/types/xsuaa_settings/links_settings.go
  internal/btpcli/types/xsuaa_settings/saml_config_settings_resp.go
  internal/btpcli/types/xsuaa_settings/saml_key.go
  internal/btpcli/types/xsuaa_settings/tenant_settings_resp.go
  internal/btpcli/types/xsuaa_settings/token_policy_settings_resp.go
  internal/provider/datasource_globalaccount_security_settings.go
  internal/provider/datasource_globalaccount_security_settings_test.go
  internal/provider/datasource_subaccount_security_settings.go
  internal/provider/datasource_subaccount_security_settings_test.go
  internal/provider/fixtures/datasource_globalaccount_security_settings.yaml
  internal/provider/fixtures/datasource_subaccount_security_settings.by_id.yaml
  internal/provider/fixtures/resource_globalaccount_security_settings.complete.yaml
  internal/provider/fixtures/resource_subaccount_security_settings.complete.yaml
  internal/provider/provider.go
  internal/provider/provider_test.go
  internal/provider/resource_globalaccount_security_settings.go
  internal/provider/resource_globalaccount_security_settings_test.go
  internal/provider/resource_subaccount_security_settings.go
  internal/provider/resource_subaccount_security_settings_test.go
  internal/provider/type_globalaccount_security_settings.go
  internal/provider/type_subaccount_security_settings.go
  internal/tfutils/tfutils.go
  internal/tfutils/tfutils_test.go
Due: gofmt, golangci-lint, terraformfmt

feat: usability improvement for service instances and apps
  internal/provider/fixtures/resource_subaccount_service_instance.import_error.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.no_entitlement.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.with_labels.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.with_labels_change.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.with_parameters.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.wo_parameters.yaml
  internal/provider/fixtures/resource_subaccount_service_instance_with_timeouts.yaml
  internal/provider/fixtures/resource_subaccount_subscription.no_entitlement.yaml
  internal/provider/fixtures/resource_subaccount_subscription.yaml
  internal/provider/resource_subaccount_service_instance.go
  internal/provider/resource_subaccount_service_instance_test.go
  internal/provider/resource_subaccount_subscription.go
  internal/provider/resource_subaccount_subscription_test.go
Due: gofmt, golangci-lint

feat: re-recording of fixtures
  internal/provider/fixtures/resource_subaccount_service_instance.import_error.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.no_entitlement.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.with_labels.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.with_labels_change.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.with_parameters.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.wo_parameters.yaml
  internal/provider/fixtures/resource_subaccount_service_instance_with_timeouts.yaml
  internal/provider/fixtures/resource_subaccount_subscription.import_error.yaml
  internal/provider/fixtures/resource_subaccount_subscription.no_entitlement.yaml
  internal/provider/fixtures/resource_subaccount_subscription.yaml
Due: none

update get started
  docs/index.md
  internal/provider/provider.go
  templates/index.md.tmpl
Due: gofmt, golangci-lint

docs: update get started (#534)
  docs/index.md
  internal/provider/provider.go
  templates/index.md.tmpl
Due: gofmt, golangci-lint

feat: update dev container for state storage
  .devcontainer/default/devcontainer.json
  .devcontainer/withenvfile/devcontainer.json
  assets/credentials.tfrc.json.txt
Due: none

feat: remote state
  .devcontainer/default/devcontainer.json
  .devcontainer/default_remote/devcontainer.json
  .devcontainer/withenvfile_remote/devcontainer.json
  DEVELOPER.md
Due: none

feat: reset service instance
  internal/provider/fixtures/resource_subaccount_service_instance.import_error.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.no_entitlement.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.with_labels.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.with_labels_change.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.with_parameters.yaml
  internal/provider/fixtures/resource_subaccount_service_instance.wo_parameters.yaml
  internal/provider/fixtures/resource_subaccount_service_instance_with_timeouts.yaml
  internal/provider/resource_subaccount_service_instance.go
  internal/provider/resource_subaccount_service_instance_test.go
Due: gofmt, golangci-lint

chore: update issue template for bug reports
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none
