Repository SAP/terraform-provider-btp: changes, and which lefthook commands are due for each by the changed paths.
All: gofmt, golangci-lint, terraformfmt

gofmt:
  run: go fmt ./...

golangci-lint:
  run: golangci-lint run --fix

terraformfmt:
  run: terraform fmt {staged_files}

fix: resolving conflict
  internal/provider/resource_subaccount_entitlement_test.go
Due: gofmt, golangci-lint

feat: minor fixes
  internal/btpcli/facade_accounts_entitlement_test.go
  internal/provider/provider.go
  internal/provider/provider_test.go
  internal/provider/resource_subaccount_entitlement.go
Due: gofmt, golangci-lint

feat: update doc
  docs/resources/directory_entitlement.md
  internal/provider/resource_directory_entitlement.go
Due: gofmt, golangci-lint

fix: fixing tests
  internal/provider/resource_subaccount_entitlement_test.go
Due: gofmt, golangci-lint

fix: handling drift detection for subscriptions
  internal/provider/helper.go
  internal/provider/resource_directory.go
  internal/provider/resource_directory_api_credential.go
  internal/provider/resource_directory_entitlement.go
  internal/provider/resource_directory_role.go
  internal/provider/resource_directory_role_collection.go
  internal/provider/resource_globalaccount_api_credential.go
  internal/provider/resource_globalaccount_resource_provider.go
  internal/provider/resource_globalaccount_role.go
  internal/provider/resource_globalaccount_role_collection.go
  internal/provider/resource_globalaccount_security_settings.go
  internal/provider/resource_globalaccount_trust_configuration.go
  internal/provider/resource_subaccount.go
  internal/provider/resource_subaccount_api_credential.go
  internal/provider/resource_subaccount_environment_instance.go
  internal/provider/resource_subaccount_role.go
  internal/provider/resource_subaccount_role_collection.go
  internal/provider/resource_subaccount_security_settings.go
  internal/provider/resource_subaccount_service_binding.go
  internal/provider/resource_subaccount_service_broker.go
  internal/provider/resource_subaccount_service_instance.go
  internal/provider/resource_subaccount_subscription.go
  internal/provider/resource_subaccount_trust_configuration.go
Due: gofmt, golangci-lint

minor formatting fixes
  internal/provider/helper.go
  internal/provider/provider.go
Due: gofmt, golangci-lint

comments added
  internal/provider/helper.go
Due: gofmt, golangci-lint

fix: handling drift detection for subscriptions (#1064)
  internal/provider/helper.go
  internal/provider/provider.go
  internal/provider/resource_directory.go
  internal/provider/resource_directory_api_credential.go
  internal/provider/resource_directory_entitlement.go
  internal/provider/resource_directory_role.go
  internal/provider/resource_directory_role_collection.go
  internal/provider/resource_globalaccount_api_credential.go
  internal/provider/resource_globalaccount_resource_provider.go
  internal/provider/resource_globalaccount_role.go
  internal/provider/resource_globalaccount_role_collection.go
  internal/provider/resource_globalaccount_security_settings.go
  internal/provider/resource_globalaccount_trust_configuration.go
  internal/provider/resource_subaccount.go
  internal/provider/resource_subaccount_api_credential.go
  internal/provider/resource_subaccount_environment_instance.go
  internal/provider/resource_subaccount_role.go
  internal/provider/resource_subaccount_role_collection.go
  internal/provider/resource_subaccount_security_settings.go
  internal/provider/resource_subaccount_service_binding.go
  internal/provider/resource_subaccount_service_broker.go
  internal/provider/resource_subaccount_service_instance.go
  internal/provider/resource_subaccount_subscription.go
  internal/provider/resource_subaccount_trust_configuration.go
Due: gofmt, golangci-lint

feat: add plan unique identifier support and update related tests
  internal/btpcli/facade_accounts_entitlement.go
  internal/btpcli/facade_accounts_entitlement_test.go
  internal/provider/datasource_directory_entitlements.go
  internal/provider/datasource_globalaccount_entitlements.go
  internal/provider/datasource_globalaccount_entitlements_test.go
  internal/provider/datasource_subaccount_entitlement_plan_unique_identifier.go
  internal/provider/datasource_subaccount_entitlement_plan_unque_indetifier_test.go
  internal/provider/datasource_subaccount_entitlements.go
  internal/provider/datasource_subaccount_entitlements_test.go
  internal/provider/fixtures/datasource_directory_entitlements.yaml
  internal/provider/fixtures/datasource_globalaccount_entitlements.yaml
  internal/provider/fixtures/datasource_subaccount_entitlements.yaml
  internal/provider/fixtures/resource_directory_entitlement.no_amount.yaml
  internal/provider/fixtures/resource_directory_entitlement.no_amount_with_flags.yaml
  internal/provider/fixtures/resource_directory_entitlement.plan_unique_identifier.amount_set.yaml
  internal/provider/fixtures/resource_directory_entitlement.plan_unique_identifier.yaml
  internal/provider/fixtures/resource_directory_entitlement.update_with_flags.yaml
  internal/provider/resource_directory_entitlement.go
  internal/provider/resource_directory_entitlement_test.go
  internal/provider/resource_subaccount_entitlement.go
  internal/provider/resource_subaccount_entitlement_test.go
Due: gofmt, golangci-lint

fix: handling of subscription names
  internal/provider/resource_subaccount_subscription.go
Due: gofmt, golangci-lint

fix: fixes for test failures
  docs/data-sources/directory_entitlements.md
  docs/data-sources/globalaccount_entitlements.md
  docs/data-sources/subaccount_entitlement_unique_identifier.md
  docs/data-sources/subaccount_entitlements.md
  internal/provider/datasource_subaccount_entitlement_plan_unque_indetifier_test.go
  internal/provider/fixtures/datasource_subaccount_entitlement_unique_identifier.yaml
  internal/provider/fixtures/datasource_subaccount_entitlement_unique_identifier_invalid.yaml
Due: gofmt, golangci-lint

fix: app subscription name hardening
  internal/provider/resource_subaccount_subscription.go
Due: gofmt, golangci-lint

chore: update linter and fix new findings
  .github/workflows/test.yml
  internal/btpcli/client_test.go
  internal/btpcli/helper.go
  internal/provider/datasource_directory_entitlements_test.go
  internal/provider/datasource_directory_labels_test.go
  internal/provider/datasource_directory_role_collection_test.go
  internal/provider/datasource_directory_role_collections_test.go
  internal/provider/datasource_directory_role_test.go
  internal/provider/datasource_directory_roles_test.go
  internal/provider/datasource_directory_test.go
  internal/provider/datasource_directory_user_test.go
  internal/provider/datasource_directory_users_test.go
  internal/provider/datasource_globalaccount_entitlements_test.go
  internal/provider/datasource_globalaccount_role_collection_test.go
  internal/provider/datasource_globalaccount_role_collections_test.go
  internal/provider/datasource_globalaccount_role_test.go
  internal/provider/datasource_globalaccount_roles_test.go
  internal/provider/datasource_globalaccount_test.go
  internal/provider/datasource_globalaccount_trust_configuration_test.go
  internal/provider/datasource_globalaccount_trust_configurations_test.go
  internal/provider/datasource_globalaccount_user_test.go
  internal/provider/datasource_globalaccount_users_test.go
  internal/provider/datasource_regions_test.go
  internal/provider/datasource_subaccount_entitlements_test.go
  internal/provider/datasource_subaccount_environment_instances_test.go
  internal/provider/datasource_subaccount_environments_test.go
  internal/provider/datasource_subaccount_labels_test.go
  internal/provider/datasource_subaccount_role_collection_test.go
  internal/provider/datasource_subaccount_role_collections_test.go
  internal/provider/datasource_subaccount_role_test.go
  internal/provider/datasource_subaccount_roles_test.go
  internal/provider/datasource_subaccount_test.go
  internal/provider/datasource_subaccount_trust_configuration_test.go
  internal/provider/datasource_subaccount_trust_configurations_test.go
  internal/provider/datasource_subaccount_user_test.go
  internal/provider/datasource_subaccount_users_test.go
  internal/provider/resource_subaccount_test.go
  internal/tfutils/certificate_generator.go
Due: gofmt, golangci-lint

removed comment in GH Action
  .github/workflows/test.yml
Due: none

fix of GH Copilot code review
  internal/btpcli/helper.go
Due: gofmt, golangci-lint

feat: support for subaccount subscription update
  internal/btpcli/facade_accounts_subscription.go
  internal/btpcli/facade_accounts_subscription_test.go
  internal/provider/fixtures/resource_subaccount_subscription.import_error.yaml
  internal/provider/fixtures/resource_subaccount_subscription.yaml
  internal/provider/fixtures/resource_subaccount_subscription_with_timeouts.yaml
  internal/provider/resource_subaccount_subscription.go
Due: gofmt, golangci-lint

minor changes
  internal/provider/resource_subaccount_subscription.go
Due: gofmt, golangci-lint

chore: update linter and fix new findings (#1067)
  .github/workflows/test.yml
  internal/btpcli/client_test.go
  internal/btpcli/helper.go
  internal/provider/datasource_directory_entitlements_test.go
  internal/provider/datasource_directory_labels_test.go
  internal/provider/datasource_directory_role_collection_test.go
  internal/provider/datasource_directory_role_collections_test.go
  internal/provider/datasource_directory_role_test.go
  internal/provider/datasource_directory_roles_test.go
  internal/provider/datasource_directory_test.go
  internal/provider/datasource_directory_user_test.go
  internal/provider/datasource_directory_users_test.go
  internal/provider/datasource_globalaccount_entitlements_test.go
  internal/provider/datasource_globalaccount_role_collection_test.go
  internal/provider/datasource_globalaccount_role_collections_test.go
  internal/provider/datasource_globalaccount_role_test.go
  internal/provider/datasource_globalaccount_roles_test.go
  internal/provider/datasource_globalaccount_test.go
  internal/provider/datasource_globalaccount_trust_configuration_test.go
  internal/provider/datasource_globalaccount_trust_configurations_test.go
  internal/provider/datasource_globalaccount_user_test.go
  internal/provider/datasource_globalaccount_users_test.go
  internal/provider/datasource_regions_test.go
  internal/provider/datasource_subaccount_entitlements_test.go
  internal/provider/datasource_subaccount_environment_instances_test.go
  internal/provider/datasource_subaccount_environments_test.go
  internal/provider/datasource_subaccount_labels_test.go
  internal/provider/datasource_subaccount_role_collection_test.go
  internal/provider/datasource_subaccount_role_collections_test.go
  internal/provider/datasource_subaccount_role_test.go
  internal/provider/datasource_subaccount_roles_test.go
  internal/provider/datasource_subaccount_test.go
  internal/provider/datasource_subaccount_trust_configuration_test.go
  internal/provider/datasource_subaccount_trust_configurations_test.go
  internal/provider/datasource_subaccount_user_test.go
  internal/provider/datasource_subaccount_users_test.go
  internal/provider/resource_subaccount_test.go
  internal/tfutils/certificate_generator.go
Due: gofmt, golangci-lint

incorporating review comment
  internal/btpcli/facade_accounts_subscription_test.go
  internal/provider/fixtures/resource_subaccount_subscription.import_error.yaml
  internal/provider/fixtures/resource_subaccount_subscription_update.yaml
  internal/provider/fixtures/resource_subaccount_subscription_update_plan.update_error.yaml
  internal/provider/fixtures/resource_subaccount_subscription_with_timeouts.yaml
  internal/provider/resource_subaccount_subscription.go
  internal/provider/resource_subaccount_subscription_test.go
Due: gofmt, golangci-lint

feat: support for subaccount subscription updates (#1068)
  internal/btpcli/facade_accounts_subscription.go
  internal/btpcli/facade_accounts_subscription_test.go
  internal/provider/fixtures/resource_subaccount_subscription.import_error.yaml
  internal/provider/fixtures/resource_subaccount_subscription_update.yaml
  internal/provider/fixtures/resource_subaccount_subscription_update_plan.update_error.yaml
  internal/provider/fixtures/resource_subaccount_subscription_with_timeouts.yaml
  internal/provider/resource_subaccount_subscription.go
  internal/provider/resource_subaccount_subscription_test.go
Due: gofmt, golangci-lint

docs: add limitation for moving subaccounts
  docs/resources/subaccount.md
  guides/MOVESUBACCOUNT.md
  templates/resources/subaccount.md.tmpl
Due: none

docs: corrected header level
  docs/resources/subaccount.md
  templates/resources/subaccount.md.tmpl
Due: none

feat: add subaccount entitlement data source and update related documentation
  docs/data-sources/directory_entitlement.md
  docs/data-sources/subaccount_entitlement.md
  docs/data-sources/subaccount_entitlement_unique_identifier.md
  examples/data-sources/btp_directory_entitlement/data-source.tf
  examples/data-sources/btp_subaccount_entitlement/data-source.tf
Due: terraformfmt

docs: add example usage for directory and subaccount entitlement data sources
  docs/data-sources/directory_entitlement.md
  docs/data-sources/subaccount_entitlement.md
Due: none

docs: add limitation for moving subaccounts (#1070)
  docs/resources/subaccount.md
  guides/MOVESUBACCOUNT.md
  templates/resources/subaccount.md.tmpl
Due: none

feat: handling of iframe domains in btp_subaccount_security_settings
  docs/data-sources/subaccount_security_settings.md
  docs/resources/subaccount_security_settings.md
  internal/provider/datasource_subaccount_security_settings.go
  internal/provider/datasource_subaccount_security_settings_test.go
  internal/provider/fixtures/datasource_subaccount_security_settings.by_id.yaml
  internal/provider/fixtures/resource_subaccount_security_settings.complete.yaml
  internal/provider/fixtures/resource_subaccount_security_settings.destroy.yaml
  internal/provider/resource_subaccount_security_settings.go
  internal/provider/resource_subaccount_security_settings_test.go
  internal/provider/type_subaccount_security_settings.go
Due: gofmt, golangci-lint

update regex for iframe_list param
  internal/provider/resource_subaccount_security_settings.go
Due: gofmt, golangci-lint

renaming new parameter
  docs/data-sources/subaccount_security_settings.md
  docs/resources/subaccount_security_settings.md
  internal/provider/datasource_subaccount_security_settings.go
  internal/provider/datasource_subaccount_security_settings_test.go
  internal/provider/fixtures/datasource_subaccount_security_settings.by_id.yaml
  internal/provider/fixtures/resource_subaccount_security_settings.complete.yaml
  internal/provider/fixtures/resource_subaccount_security_settings.destroy.yaml
  internal/provider/resource_subaccount_security_settings.go
  internal/provider/resource_subaccount_security_settings_test.go
  internal/provider/type_subaccount_security_settings.go
Due: gofmt, golangci-lint

adding test
  internal/provider/fixtures/resource_subaccount_security_settings.destroy.yaml
  internal/provider/fixtures/resource_subaccount_security_settings_with_iframe_domains_list.complete.yaml
  internal/provider/resource_subaccount_security_settings_test.go
Due: gofmt, golangci-lint

minor changes
  internal/provider/resource_subaccount_security_settings.go
Due: gofmt, golangci-lint

feat: handling of iframe domains in btp_subaccount_security_settings (#1072)
  docs/data-sources/subaccount_security_settings.md
  docs/resources/subaccount_security_settings.md
  internal/provider/datasource_subaccount_security_settings.go
  internal/provider/datasource_subaccount_security_settings_test.go
  internal/provider/fixtures/datasource_subaccount_security_settings.by_id.yaml
  internal/provider/fixtures/resource_subaccount_security_settings.destroy.yaml
  internal/provider/fixtures/resource_subaccount_security_settings_with_iframe_domains_list.complete.yaml
  internal/provider/resource_subaccount_security_settings.go
  internal/provider/resource_subaccount_security_settings_test.go
  internal/provider/type_subaccount_security_settings.go
Due: gofmt, golangci-lint

remove test directory
  test/main.tf
Due: terraformfmt

fix: subscription with differing app names
  internal/provider/fixtures/resource_subaccount_subscription.import_error.yaml
  internal/provider/fixtures/resource_subaccount_subscription.yaml
  internal/provider/fixtures/resource_subaccount_subscription_commercialapp_name.yaml
  internal/provider/fixtures/resource_subaccount_subscription_techapp_name.yaml
  internal/provider/fixtures/resource_subaccount_subscription_update.yaml
  internal/provider/fixtures/resource_subaccount_subscription_update_plan.update_error.yaml
  internal/provider/fixtures/resource_subaccount_subscription_with_timeouts.yaml
  internal/provider/resource_subaccount_subscription.go
  internal/provider/resource_subaccount_subscription_test.go
Due: gofmt, golangci-lint

fix: improve handling of not found app name
  internal/provider/resource_subaccount_subscription.go
Due: gofmt, golangci-lint

Path conditions:
  gofmt: any of: *.go, but not: vendor/*
  golangci-lint: any of: *.go, but not: vendor/*
  terraformfmt: any of: *.tf, but not: vendor/*
