Repository SAP/terraform-provider-btp: changes, and which lefthook commands are due for each by the changed paths.
All: gofmt, golangci-lint, terraformfmt

gofmt:
  run: go fmt ./...

golangci-lint:
  run: golangci-lint run --fix

terraformfmt:
  run: terraform fmt {staged_files}

feat: enablement of directory entitlements
  examples/resources/btp_directory_entitlement/import.sh
  examples/resources/btp_directory_entitlement/resource.tf
  internal/btpcli/facade_accounts_directory.go
  internal/btpcli/facade_accounts_entitlement.go
  internal/provider/resource_directory.go
  internal/provider/resource_directory_entitlement.go
  internal/provider/type_directory.go
  internal/provider/type_directory_entitlement.go
Due: gofmt, golangci-lint, terraformfmt

feat: enablement of directory entitlements 4
  examples/resources/btp_directory/resource.tf
  internal/btpcli/facade_accounts_directory.go
  internal/provider/fixtures/resource_directory.yaml
  internal/provider/fixtures/resource_directory_features.yaml
  internal/provider/resource_directory.go
  internal/provider/type_directory.go
Due: gofmt, golangci-lint, terraformfmt

feat: enablement of directory entitlements 5
  internal/provider/resource_directory_test.go
Due: gofmt, golangci-lint

feat: enablement of directory entitlements 6
  internal/btpcli/facade_accounts_entitlement.go
  internal/btpcli/facade_accounts_entitlement_test.go
  internal/provider/provider.go
  internal/provider/resource_directory_entitlement.go
  internal/provider/resource_directory_entitlement_test.go
  internal/provider/type_directory_entitlement.go
Due: gofmt, golangci-lint

feat: enablement of directory entitlements 7
  internal/btpcli/client.go
  internal/btpcli/facade_accounts_entitlement.go
  internal/btpcli/facade_accounts_entitlement_test.go
  internal/provider/fixtures/resource_directory_entitlement.amount_set.yaml
  internal/provider/fixtures/resource_directory_entitlement.no_amount.yaml
  internal/provider/fixtures/resource_directory_entitlement.update.yaml
  internal/provider/resource_directory_entitlement.go
  internal/provider/resource_directory_entitlement_test.go
  internal/provider/resource_subaccount_entitlement.go
  internal/provider/type_directory_entitlement.go
  internal/provider/type_subaccount_entitlement.go
Due: gofmt, golangci-lint

feat: enablement of directory entitlements 8
  internal/provider/fixtures/resource_directory_entitlement.no_amount_with_flags.yaml
  internal/provider/fixtures/resource_directory_entitlement.update_with_flags.yaml
  internal/provider/resource_directory_entitlement.go
  internal/provider/resource_directory_entitlement_test.go
Due: gofmt, golangci-lint

feat: re-recording of test fixtures
  internal/provider/fixtures/resource_directory_entitlement.amount_set.yaml
  internal/provider/fixtures/resource_directory_entitlement.no_amount.yaml
  internal/provider/fixtures/resource_directory_entitlement.no_amount_with_flags.yaml
  internal/provider/fixtures/resource_directory_entitlement.update.yaml
  internal/provider/fixtures/resource_directory_entitlement.update_with_flags.yaml
  internal/provider/resource_directory_entitlement.go
Due: gofmt, golangci-lint

feat: generated documentation
  docs/resources/directory.md
  docs/resources/directory_entitlement.md
  examples/resources/btp_directory_entitlement/resource.tf
Due: terraformfmt

feat: undo change in client error message
  internal/btpcli/client.go
Due: gofmt, golangci-lint

feat: fix provider test
  internal/provider/provider_test.go
Due: gofmt, golangci-lint

fix: nil pointer exception in subaccounts entitlement read
  internal/provider/resource_subaccount_entitlement.go
Due: gofmt, golangci-lint

feat: dir entitlement - fix nil pointer
  internal/provider/resource_directory_entitlement.go
Due: gofmt, golangci-lint

feat: handle outdated client protocol version
  internal/btpcli/client.go
  internal/btpcli/client_test.go
Due: gofmt, golangci-lint

feat: config timeouts
  go.mod
  go.sum
  internal/provider/resource_subaccount_environment_instance.go
  internal/provider/type_subaccount_environment_instance.go
Due: gofmt, golangci-lint

feat: config tiemouts
  docs/resources/subaccount_environment_instance.md
  examples/resources/btp_subaccount_environment_instance/resource.tf
  internal/provider/resource_subaccount_environment_instance.go
  internal/tfutils/tfutils.go
Due: gofmt, golangci-lint, terraformfmt

rebase and split of data types
  docs/resources/subaccount_environment_instance.md
  examples/resources/btp_subaccount_environment_instance/resource.tf
  internal/provider/datasource_subaccount_environment_instance.go
  internal/provider/type_subaccount_environment_instance.go
Due: gofmt, golangci-lint, terraformfmt

feat: add time out for service instance
  docs/resources/subaccount_environment_instance.md
  docs/resources/subaccount_service_instance.md
  examples/resources/btp_subaccount_environment_instance/resource.tf
  examples/resources/btp_subaccount_service_instance/resource.tf
  internal/provider/datasource_subaccount_service_instance.go
  internal/provider/resource_subaccount_environment_instance.go
  internal/provider/resource_subaccount_service_instance.go
  internal/provider/type_subaccount_service_instance.go
Due: gofmt, golangci-lint, terraformfmt

feat: timeouts - further fixes
  internal/provider/resource_subaccount_environment_instance.go
  internal/provider/resource_subaccount_service_instance.go
Due: gofmt, golangci-lint

feat: timeout: fix local overwrite
  internal/provider/resource_subaccount_environment_instance.go
  internal/provider/resource_subaccount_service_instance.go
Due: gofmt, golangci-lint

feat: tests and docu for timeouts
  docs/resources/subaccount_environment_instance.md
  docs/resources/subaccount_service_instance.md
  examples/resources/btp_subaccount_environment_instance/resource.tf
  examples/resources/btp_subaccount_service_instance/resource.tf
  internal/provider/fixtures/resource_subaccount_environment_instance.with_timeout.yaml
  internal/provider/fixtures/resource_subaccount_service_instance_with_timeouts.yaml
  internal/provider/resource_subaccount_environment_instance.go
  internal/provider/resource_subaccount_environment_instance_test.go
  internal/provider/resource_subaccount_service_instance.go
  internal/provider/resource_subaccount_service_instance_test.go
Due: gofmt, golangci-lint, terraformfmt

fix: nil pointer exception in subaccounts entitlement read (#397)
  internal/provider/resource_subaccount_entitlement.go
Due: gofmt, golangci-lint

feat: handle outdated client protocol version (#400)
  internal/btpcli/client.go
  internal/btpcli/client_test.go
Due: gofmt, golangci-lint

Feat: configurable timeouts (#401)
  docs/resources/subaccount_environment_instance.md
  docs/resources/subaccount_service_instance.md
  examples/resources/btp_subaccount_environment_instance/resource.tf
  examples/resources/btp_subaccount_service_instance/resource.tf
  go.mod
  go.sum
  internal/provider/datasource_subaccount_environment_instance.go
  internal/provider/datasource_subaccount_service_instance.go
  internal/provider/fixtures/resource_subaccount_environment_instance.with_timeout.yaml
  internal/provider/fixtures/resource_subaccount_service_instance_with_timeouts.yaml
  internal/provider/resource_subaccount_environment_instance.go
  internal/provider/resource_subaccount_environment_instance_test.go
  internal/provider/resource_subaccount_service_instance.go
  internal/provider/resource_subaccount_service_instance_test.go
  internal/provider/type_subaccount_environment_instance.go
  internal/provider/type_subaccount_service_instance.go
  internal/tfutils/tfutils.go
Due: gofmt, golangci-lint, terraformfmt

fix: code formatting
  docs/resources/directory.md
  docs/resources/subaccount_environment_instance.md
  docs/resources/subaccount_service_instance.md
  examples/resources/btp_directory/resource.tf
  examples/resources/btp_subaccount_environment_instance/resource.tf
  examples/resources/btp_subaccount_service_instance/resource.tf
Due: terraformfmt

fix: code formatting (#403)
  docs/resources/directory.md
  docs/resources/subaccount_environment_instance.md
  docs/resources/subaccount_service_instance.md
  examples/resources/btp_directory/resource.tf
  examples/resources/btp_subaccount_environment_instance/resource.tf
  examples/resources/btp_subaccount_service_instance/resource.tf
Due: terraformfmt

feat: directory features - review comments
  internal/provider/resource_directory.go
  internal/provider/type_directory.go
  internal/tfutils/tfutils_test.go
Due: gofmt, golangci-lint

feat: directory entitlements - higher timeout of tests
  .github/workflows/test.yml
Due: none

feat: directory entitlements - rerecorded test fixture
  internal/provider/fixtures/resource_directory_features.yaml
Due: none

fix: Only add planName to subscribe request if it's not empty
  internal/btpcli/facade_accounts_subaccount.go
Due: gofmt, golangci-lint

feat: enable directory features and entitlements on directory level (#396)
  .github/workflows/test.yml
  docs/resources/directory.md
  docs/resources/directory_entitlement.md
  examples/resources/btp_directory/resource.tf
  examples/resources/btp_directory_entitlement/import.sh
  examples/resources/btp_directory_entitlement/resource.tf
  internal/btpcli/facade_accounts_directory.go
  internal/btpcli/facade_accounts_entitlement.go
  internal/btpcli/facade_accounts_entitlement_test.go
  internal/provider/fixtures/resource_directory_entitlement.amount_set.yaml
  internal/provider/fixtures/resource_directory_entitlement.no_amount.yaml
  internal/provider/fixtures/resource_directory_entitlement.no_amount_with_flags.yaml
  internal/provider/fixtures/resource_directory_entitlement.update.yaml
  internal/provider/fixtures/resource_directory_entitlement.update_with_flags.yaml
  internal/provider/fixtures/resource_directory_features.yaml
  internal/provider/provider.go
  internal/provider/provider_test.go
  internal/provider/resource_directory.go
  internal/provider/resource_directory_entitlement.go
  internal/provider/resource_directory_entitlement_test.go
  internal/provider/resource_directory_test.go
  internal/provider/resource_subaccount_entitlement.go
  internal/provider/type_directory.go
  internal/provider/type_directory_entitlement.go
  internal/provider/type_subaccount_entitlement.go
  internal/tfutils/tfutils.go
  internal/tfutils/tfutils_test.go
Due: gofmt, golangci-lint, terraformfmt

chore: new client version - alignment of fixture naming
  internal/provider/datasource_subaccount_app_test.go
  internal/provider/datasource_subaccount_service_binding_test.go
  internal/provider/datasource_subaccount_service_instance_test.go
  internal/provider/datasource_subaccount_service_instances_test.go
  internal/provider/datasource_subaccount_service_offering_test.go
  internal/provider/datasource_subaccount_service_offerings_test.go
  internal/provider/datasource_subaccount_service_plan_test.go
  internal/provider/datasource_subaccount_service_plans_test.go
  internal/provider/datasource_subaccount_subscription_test.go
  internal/provider/resource_directory_role_collection_assignment_test.go
  internal/provider/resource_globalaccount_role_collection_assignment_test.go
  internal/provider/resource_subaccount_role_collection_assignment_test.go
  internal/provider/resource_subaccount_service_binding_test.go
  internal/provider/resource_subaccount_service_instance_test.go
  internal/provider/resource_subaccount_subscription_test.go
  internal/provider/resource_subaccount_test.go
Due: gofmt, golangci-lint

chore: refinement of error handling
  internal/btpcli/client.go
  internal/btpcli/client_test.go
  internal/provider/datasource_directory_entitlements_test.go
  internal/provider/datasource_directory_labels_test.go
  internal/provider/datasource_directory_role_collection_test.go
  internal/provider/datasource_directory_role_collections_test.go
  internal/provider/datasource_directory_role_test.go
  internal/provider/datasource_directory_roles_test.go
  internal/provider/datasource_directory_test.go
  internal/provider/datasource_directory_user_test.go
  internal/provider/datasource_directory_users_test.go
  internal/provider/datasource_globalaccount_entitlements_test.go
  internal/provider/datasource_globalaccount_role_collection_test.go
  internal/provider/datasource_globalaccount_role_collections_test.go
  internal/provider/datasource_globalaccount_role_test.go
  internal/provider/datasource_globalaccount_roles_test.go
  internal/provider/datasource_globalaccount_test.go
  internal/provider/datasource_globalaccount_trust_configuration_test.go
  internal/provider/datasource_globalaccount_trust_configurations_test.go
  internal/provider/datasource_globalaccount_user_test.go
  internal/provider/datasource_globalaccount_users_test.go
  internal/provider/datasource_regions_test.go
  internal/provider/datasource_subaccount_entitlements_test.go
  internal/provider/datasource_subaccount_environment_instances_test.go
  internal/provider/datasource_subaccount_environments_test.go
  internal/provider/datasource_subaccount_labels_test.go
  internal/provider/datasource_subaccount_role_collection_test.go
  internal/provider/datasource_subaccount_role_collections_test.go
  internal/provider/datasource_subaccount_role_test.go
  internal/provider/datasource_subaccount_roles_test.go
  internal/provider/datasource_subaccount_test.go
  internal/provider/datasource_subaccount_trust_configuration_test.go
  internal/provider/datasource_subaccount_trust_configurations_test.go
  internal/provider/datasource_subaccount_user_test.go
  internal/provider/datasource_subaccount_users_test.go
  internal/provider/resource_subaccount_test.go
Due: gofmt, golangci-lint

chore: re-recording missing resource directory fixture
  internal/provider/fixtures/resource_directory.yaml
Due: none

chore: rework dependabot update of checkout action
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

chore: update of BTP CLI and documentation
  docs/index.md
  internal/btpcli/client.go
  internal/provider/provider.go
Due: gofmt, golangci-lint

chore: refinement password and token redaction
  internal/provider/provider_test.go
Due: gofmt, golangci-lint

Path conditions:
  gofmt: any of: *.go, but not: vendor/*
  golangci-lint: any of: *.go, but not: vendor/*
  terraformfmt: any of: *.tf, but not: vendor/*
